<sn-bar-indicator-group _cb data-group
                         *ngFor="let group of groups; let index = index"
                         [index]="index"
                         [groups]="groups.length">
  <sn-bar-indicator _cb *ngFor="let indicator of group.indicators"
                     [value]="indicator.value"
                     [title]="indicator.title"
                     [color]="indicator.color">
  </sn-bar-indicator>
</sn-bar-indicator-group>

<div _cb data-content>
  <ng-container *ngTemplateOutlet="circleBarContentTemplate"></ng-container>
</div>
