@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon/icon';

@mixin sn-pager($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    page: (
      padding: $sn-gutter-big $sn-gutter-normal,
      corner: 0,
      color: $sn-primary-text-light-color,
      hover: (
        background: transparent,
        color: $sn-primary-text-color
      ),
      focus: (
        shadow: none
      ),
      active: (
        background: transparent,
        color: $sn-primary-text-color,
        divider: (
          display: true,
          height: 4px,
          corner: 5px,
          color: $sn-secondary-color
        )
      )
    ),
    arrows: (
      color: $sn-primary-text-light-color,
      size: 10px,
      disabled: (
        color: $sn-muted-color
      )
    ),
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-pager-host)} {
    @if $declare {
      @include reset-default();
      display: block;
    }
  }

  #{$context} #{$wrapper} a {
    @if $declare {
      text-decoration: none;
      transition: background-color .3s;
      user-select: none;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      font-size: $sn-font-size-base;
    }

    @if map-has-key($vars, page) {
      $page: map-get($vars, page);
      padding: map-get($page, padding);
      border-radius: map-get($page, corner);
      color: map-get($page, color);
      &:hover {
        @if map-has-key($page, hover) {
          $hover: map-get($page, hover);
          background-color: map-get($hover, background);
          color: map-get($hover, color);
        }
      }

      &:focus {
        @if $declare {
          outline: 0;
        }
        @if map-has-key($page, focus) {
          $focus: map-get($page, focus);
          box-shadow: map-get($focus, shadow);
        }
      }

      @if map-has-key($page, active) {
        $active: map-get($page, active);
        @if map-has-key($active, divider) {
          $divider: map-get($active, divider);
          @if map-get($divider, display) == true {
            &:after {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: map-get($divider, height);
              border-radius: map-get($divider, corner);
              background-color: map-get($divider, color);
              width: 100%;
              display: none;
            }
          }
        }
      }
      &[data-active='true'] {
        @if $declare {
          pointer-events: none;
        }
        @if map-has-key($page, active) {
          $active: map-get($page, active);
          background-color: map-get($active, background);
          color: map-get($active, color);
          @if map-has-key($active, divider) {
            $divider: map-get($active, divider);
            @if map-get($divider, display) == true {
              &:after {
                display: block;
              }
            }
          }
        }
      }
    }

    &[data-disabled='true'] {
      @if $declare {
        cursor: default;
        pointer-events: none;
      }
      @if map-has-key($vars, arrows) {
        $arrows: map-get($vars, arrows);
        @if map-has-key($arrows, disabled) {
          $disabled: map-get($arrows, disabled);
          [data-sn-icon] {
            @include sn-icon((color: map-get($disabled, color)), '&');
          }
        }
      }
    }

    [data-sn-icon] {
      @if map-has-key($vars, arrows) {
        $arrows: map-get($vars, arrows);
        @include sn-icon((
          color: map-get($arrows, color),
          size: map-get($arrows, size)
        ), '&');
      }
    }
  }
}

@if $sn-debug {
  @debug 'pager compiled';
}
