<sn-stack _pg [orientation]="ui.orientation.horizontal"
          [gutter]="ui.gutter.small"
          [align]="ui.align.stretch"
          [justify]="ui.justify.center">
  <a _pg title="First"
     [attr.data-disabled]="selectedPage === 1"
     [snBinding]="{attributes: 'first' | getAttributes: attributes}"
     (click)="setPage(1); action.emit(pagerAction.start)">
    <sn-icon _pg [icon]="ui.icons.first"></sn-icon>
  </a>
  <a _pg title="Previous"
     [attr.data-disabled]="selectedPage === 1"
     [snBinding]="{attributes: 'previous' | getAttributes: attributes}"
     (click)="setPage(selectedPage - 1); action.emit(pagerAction.back)"
     data-page="1">
    <sn-icon _pg [icon]="ui.icons.chevronLeft"></sn-icon>
  </a>
  <a _pg *ngFor="let page of pages"
     [attr.data-active]="page === selectedPage"
     [attr.data-href]="link | formatLinkPipe: page"
     [snBinding]="{attributes: page | getAttributes: attributes}"
     (click)="setPage(page); action.emit(pagerAction.page)"
     tabindex="0">{{page}}</a>
  <a _pg title="Next"
     [attr.data-disabled]="selectedPage >= pagesCount"
     [snBinding]="{attributes: 'next' | getAttributes: attributes}"
     (click)="setPage(selectedPage + 1); action.emit(pagerAction.next)">
    <sn-icon _pg [icon]="ui.icons.chevronRight"></sn-icon>
  </a>
  <a _pg title="Last"
     [attr.data-disabled]="selectedPage >= pagesCount"
     [snBinding]="{attributes: 'last' | getAttributes: attributes}"
     (click)="setPage(pagesCount); action.emit(pagerAction.end)">
    <sn-icon _pg [icon]="ui.icons.last"></sn-icon>
  </a>
</sn-stack>
