<sn-container>

  <h1 i18n="@@label.theming">Theming</h1>

  <app-resources
    figma="https://www.figma.com/file/EIUNwZCXL9Nm5BKQKl43mfDr/Junte-UI-v1?node-id=2178%3A2452">
  </app-resources>

  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      We use <b>SASS constants</b> for implementing simple customizing common components styles. You can redefine
      everything in your project.
    </ng-container>

    <ng-container *ngSwitchCase="language.ru">
      Мы используем <b> константы SASS </b> для реализации простой настройки общих стилей компонентов. Вы можете переопределить
      все в вашем проекте.
    </ng-container>
  </p>

  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      We tried to create a final and sufficient list of constants for implementing themes including
    </ng-container>

    <ng-container *ngSwitchCase="language.ru">
      Мы попытались создать окончательный и достаточный список констант для реализации тем, включая
    </ng-container>
    <sn-label [color]="ui.color.black"
               label="black theme 😎"
               i18n-label="@@label.black_theme"></sn-label>
  </p>
  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      These constants are fully synchronized with our global style in the design system.
    </ng-container>

    <ng-container *ngSwitchCase="language.ru">
      Эти константы полностью синхронизированы с нашим глобальным стилем в дизайн-системе.
    </ng-container>
  </p>

  <h2 i18n="@@label.variables">Variables</h2>

  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      Constants are described in the common file
    </ng-container>

    <ng-container *ngSwitchCase="language.ru">
      Константы описаны в общем файле
    </ng-container>

    <sn-link [icon]="ui.icons.link"
              source="https://gitlab.com/junte/esanum/social/ui/blob/master/projects/esanum-ui/src/lib/assets/styles/sn-variables.scss"
              target="_blank"
              title="_variables.scss"></sn-link>
  </p>

  <table>
    <thead>
    <tr>
      <th i18n="@@label.variable">Variable</th>
      <th i18n="@@label.value">Value</th>
      <th i18n="@@label.preview">Preview</th>
    </tr>
    <tr>
      <th colspan="3" i18n="@@label.palette">Palette</th>
    </tr>
    <tbody>
    <tr>
      <td>
        <code>$sn-white-color</code>
      </td>
      <td>
        <code>#FFFFFF</code>
      </td>
      <td>
        <sn-label [color]="ui.color.white"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-black-color</code>
      </td>
      <td>
        <code>#000000</code>
      </td>
      <td>
        <sn-label [color]="ui.color.black"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-teal-color</code>
      </td>
      <td>
        <code>#1D2932</code>
      </td>
      <td>
        <sn-label [color]="ui.color.teal"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-yellow-color</code>
      </td>
      <td>
        <code>#F8DB42</code>
      </td>
      <td>
        <sn-label [color]="ui.color.yellow"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-orange-color</code>
      </td>
      <td>
        <code>#EE8030</code>
      </td>
      <td>
        <sn-label [color]="ui.color.orange"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-blue-color</code>
      </td>
      <td>
        <code>#E7F5FF</code>
      </td>
      <td>
        <sn-label [color]="ui.color.blue"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-blue-100-color</code>
      </td>
      <td>
        <code>#E6E9FA</code>
      </td>
      <td>
        <sn-label [color]="ui.color.blue100"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-green-color</code>
      </td>
      <td>
        <code>#00CCB1</code>
      </td>
      <td>
        <sn-label [color]="ui.color.green"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-green-dark-color</code>
      </td>
      <td>
        <code>#00B89F</code>
      </td>
      <td>
        <sn-label [color]="ui.color.greenDark"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-red-color</code>
      </td>
      <td>
        <code>#F25F5C</code>
      </td>
      <td>
        <sn-label [color]="ui.color.red"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-red-dark-color</code>
      </td>
      <td>
        <code>#C24C4A</code>
      </td>
      <td>
        <sn-label [color]="ui.color.redDark"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-purple-color</code>
      </td>
      <td>
        <code>#3949AB</code>
      </td>
      <td>
        <sn-label [color]="ui.color.purple"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-purple-dark-color</code>
      </td>
      <td>
        <code>#00227B</code>
      </td>
      <td>
        <sn-label [color]="ui.color.purpleDark"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-purple-light-color</code>
      </td>
      <td>
        <code>#6F74DD</code>
      </td>
      <td>
        <sn-label [color]="ui.color.purpleLight"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-purple-lighten-color</code>
      </td>
      <td>
        <code>#C4C9E7</code>
      </td>
      <td>
        <sn-label [color]="ui.color.purpleLighten"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-magenta-dark-color</code>
      </td>
      <td>
        <code>#933183</code>
      </td>
      <td>
        <sn-label [color]="ui.color.magentaDark"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gray-light-2-color</code>
      </td>
      <td>
        <code>#FBFBFB</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight2"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gray-light-5-color</code>
      </td>
      <td>
        <code>#F5F5F5</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight5"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gray-light-10-color</code>
      </td>
      <td>
        <code>#ECECEC</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight10"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gray-light-25-color</code>
      </td>
      <td>
        <code>#D0D0D0</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight25"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gray-light-50-color</code>
      </td>
      <td>
        <code>#A1A1A1</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight50"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gray-light-75-color</code>
      </td>
      <td>
        <code>#737373</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight75"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gray-color</code>
      </td>
      <td>
        <code>#444444</code>
      </td>
      <td>
        <sn-label [color]="ui.color.gray"></sn-label>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Schemes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-primary-light-10-color</code>
      </td>
      <td>
        <code>#E5EEEF</code>
      </td>
      <td>
        <sn-label [color]="ui.color.primaryLight10"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-primary-light-25-color</code>
      </td>
      <td>
        <code>#BFD4D7</code>
      </td>
      <td>
        <sn-label [color]="ui.color.primaryLight25"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-primary-light-50-color</code>
      </td>
      <td>
        <code>#7FA9B0</code>
      </td>
      <td>
        <sn-label [color]="ui.color.primaryLight50"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-primary-light-75-color</code>
      </td>
      <td>
        <code>#407f89</code>
      </td>
      <td>
        <sn-label [color]="ui.color.primaryLight75"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-primary-color</code>
      </td>
      <td>
        <code>#005461</code>
      </td>
      <td>
        <sn-label [color]="ui.color.primary"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-primary-dark-color</code>
      </td>
      <td>
        <code>#003e48</code>
      </td>
      <td>
        <sn-label [color]="ui.color.primaryDark"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-secondary-light-10-color</code>
      </td>
      <td>
        <code>#E5F6F7</code>
      </td>
      <td>
        <sn-label [color]="ui.color.secondaryLight10"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-secondary-light-25-color</code>
      </td>
      <td>
        <code>#BFE8EB</code>
      </td>
      <td>
        <sn-label [color]="ui.color.secondaryLight25"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-secondary-light-50-color</code>
      </td>
      <td>
        <code>#7FD2D6</code>
      </td>
      <td>
        <sn-label [color]="ui.color.secondaryLight50"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-secondary-light-75-color</code>
      </td>
      <td>
        <code>#40BCC2</code>
      </td>
      <td>
        <sn-label [color]="ui.color.secondaryLight75"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-secondary-color</code>
      </td>
      <td>
        <code>#00A5AE</code>
      </td>
      <td>
        <sn-label [color]="ui.color.secondary"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-secondary-dark-color</code>
      </td>
      <td>
        <code>#007C82</code>
      </td>
      <td>
        <sn-label [color]="ui.color.secondaryDark"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-success-color</code>
      </td>
      <td>
        <code>#76A530</code>
      </td>
      <td>
        <sn-label [color]="ui.color.success"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-warning-color</code>
      </td>
      <td>
        <code>$sn-olive-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.olive"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-information-color</code>
      </td>
      <td>
        <code>#3296C1</code>
      </td>
      <td>
        <sn-label [color]="ui.color.information"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-cme-color</code>
      </td>
      <td>
        <code>#D6A06F</code>
      </td>
      <td>
        <sn-label [color]="ui.color.cme"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-fail-color</code>
      </td>
      <td>
        <code>#BE182D</code>
      </td>
      <td>
        <sn-label [color]="ui.color.fail"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-fail-dark-color</code>
      </td>
      <td>
        <code>$sn-red-dark-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.redDark"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-accent-color</code>
      </td>
      <td>
        <code>$sn-red-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.red"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-accent-dark-color</code>
      </td>
      <td>
        <code>$sn-red-dark-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.redDark"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-muted-color</code>
      </td>
      <td>
        <code>$sn-gray-light-25-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight25"></sn-label>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Background</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-primary-background</code>
      </td>
      <td>
        <code>$sn-white-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.white"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-secondary-background</code>
      </td>
      <td>
        <code>$sn-gray-200-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight10"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-page-background</code>
      </td>
      <td>
        <code>$sn-gray-200-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight10"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-highlight-background</code>
      </td>
      <td>
        <code>$sn-secondary-200-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.secondaryLight25"></sn-label>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Gutters</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-gutter-base</code>
      </td>
      <td>
        <code>4px</code>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gutter-tiny</code>
      </td>
      <td>
        <code>$sn-gutter-base</code>
      </td>
      <td>
        <sn-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.tiny">
          <div block></div>
          <div block></div>
        </sn-stack>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gutter-small</code>
      </td>
      <td>
        <code>$sn-gutter-base * 2</code>
      </td>
      <td>
        <sn-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.small">
          <div block></div>
          <div block></div>
        </sn-stack>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gutter-normal</code>
      </td>
      <td>
        <code>$sn-gutter-base * 4</code>
      </td>
      <td>
        <sn-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.normal">
          <div block></div>
          <div block></div>
        </sn-stack>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gutter-big</code>
      </td>
      <td>
        <code>$sn-gutter-base * 5</code>
      </td>
      <td>
        <sn-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.big">
          <div block></div>
          <div block></div>
        </sn-stack>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gutter-large</code>
      </td>
      <td>
        <code>$sn-gutter-base * 6</code>
      </td>
      <td>
        <sn-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.large">
          <div block></div>
          <div block></div>
        </sn-stack>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-gutter-huge</code>
      </td>
      <td>
        <code>$sn-gutter-base * 8</code>
      </td>
      <td>
        <sn-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.huge">
          <div block></div>
          <div block></div>
        </sn-stack>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Corners</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-corner-base</code>
      </td>
      <td>
        <code>4px</code>
      </td>
      <td>
        <div block corner-normal></div>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-corner-small</code>
      </td>
      <td>
        <code>2px</code>
      </td>
      <td>
        <div block corner-small></div>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-corner-normal</code>
      </td>
      <td>
        <code>$sn-corner-base</code>
      </td>
      <td>
        <div block corner-normal></div>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-corner-large</code>
      </td>
      <td>
        <code>$sn-corner-base * 2</code>
      </td>
      <td>
        <div block corner-large></div>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Shadows</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-shadow-light</code>
      </td>
      <td>
        <code>0px 4px 10px rgba($sn-black-color, .15)</code>
      </td>
      <td>
        <div shadow light></div>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-shadow-normal</code>
      </td>
      <td>
        <code>0px 1px 2px rgba(0, 0, 0, .15)</code>
      </td>
      <td>
        <div shadow normal></div>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-shadow-primary</code>
      </td>
      <td>
        <code>0px 2px 8px rgba($sn-primary-500-color, .25)</code>
      </td>
      <td>
        <div shadow primary></div>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Outline shadows</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-outline-shadow-small</code>
      </td>
      <td>
        <code>0px 0px 0px 2px</code>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-outline-shadow-normal</code>
      </td>
      <td>
        <code>0px 0px 0px 4px</code>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">
        Grid break points
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-grid-gutter</code>
      </td>
      <td>
        <code>$sn-gutter-normal</code>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <code>$sn-mobile-breakpoint</code>
      </td>
      <td>
        <code>0</code>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <code>$sn-tablet-breakpoint</code>
      </td>
      <td>
        <code>768px</code>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <code>$sn-desktop-breakpoint</code>
      </td>
      <td>
        <code>992px</code>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <code>$sn-wide-breakpoint</code>
      </td>
      <td>
        <code>1200px</code>
      </td>
      <td></td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Text</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-primary-text-color</code>
      </td>
      <td>
        <code>$sn-gray-750-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.gray"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-primary-text-dark-color</code>
      </td>
      <td>
        <code>$sn-gray-750-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.gray"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-primary-text-light-color</code>
      </td>
      <td>
        <code>$sn-gray-700-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight75"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-primary-text-inverse-color</code>
      </td>
      <td>
        <code>$sn-white-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.white"></sn-label>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Typography</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-font-size-tiny</code>
      </td>
      <td>
        <code>10px</code>
      </td>
      <td style="font-size: 10px">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-size-small</code>
      </td>
      <td>
        <code>12px</code>
      </td>
      <td style="font-size: 12px">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-size-base</code>
      </td>
      <td>
        <code>14px</code>
      </td>
      <td style="font-size: 14px">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-size-normal</code>
      </td>
      <td>
        <code>16px</code>
      </td>
      <td style="font-size: 16px">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-size-big</code>
      </td>
      <td>
        <code>20px</code>
      </td>
      <td style="font-size: 20px">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-size-large</code>
      </td>
      <td>
        <code>24px</code>
      </td>
      <td style="font-size: 24px">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-size-huge</code>
      </td>
      <td>
        <code>32px</code>
      </td>
      <td style="font-size: 32px">Lorem ipsum</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-weight-light</code>
      </td>
      <td>
        <code>300</code>
      </td>
      <td style="font-weight: 300">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-weight-base</code>
      </td>
      <td>
        <code>400</code>
      </td>
      <td style="font-weight: 400">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-weight-semi-bold</code>
      </td>
      <td>
        <code>600</code>
      </td>
      <td style="font-weight: 600">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-weight-bold</code>
      </td>
      <td>
        <code>700</code>
      </td>
      <td style="font-weight: 700">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-weight-extra-bold</code>
      </td>
      <td>
        <code>800</code>
      </td>
      <td style="font-weight: 800">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-line-height-tiny</code>
      </td>
      <td>
        <code>1</code>
      </td>
      <td style="line-height: 1">
        Lorem ipsum dolor <br> Lorem ipsum dolor
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-line-height-small</code>
      </td>
      <td>
        <code>1.3</code>
      </td>
      <td style="line-height: 1.3">
        Lorem ipsum dolor <br> Lorem ipsum dolor
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-line-height-base</code>
      </td>
      <td>
        <code>1.5</code>
      </td>
      <td style="line-height: 1.5">
        Lorem ipsum dolor <br> Lorem ipsum dolor
      </td>
    </tr>
    <tr>
      <td>
        <code>line-height-large</code>
      </td>
      <td>
        <code>2.5</code>
      </td>
      <td style="line-height: 2.5">
        Lorem ipsum dolor <br> Lorem ipsum dolor
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-font-family-base</code>
      </td>
      <td>Open Sans</td>
      <td></td>
    </tr>
    <tr>
      <td>
        <code>$sn-headings-margin-bottom</code>
      </td>
      <td>
        <code>$sn-gutter-normal</code>
      </td>
      <td>
        <sn-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.normal">
          <div block></div>
          <div block></div>
        </sn-stack>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Form control</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-control-gutter</code>
      </td>
      <td>
        <code>$sn-gutter-small</code>
      </td>
      <td>
        <sn-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.small">
          <div block></div>
          <div block></div>
        </sn-stack>
      </td>
    <tr>
      <td>
        <code>$sn-control-border-color</code>
      </td>
      <td>
        <code>$sn-gray-600-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight50"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-control-switch-label-color</code>
      </td>
      <td>
        <code>$sn-primary-text-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.gray"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-control-background</code>
      </td>
      <td>
        <code>$sn-primary-background</code>
      </td>
      <td>
        <sn-label [color]="ui.color.white"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-control-disabled-border-color</code>
      </td>
      <td>
        <code>$sn-gray-600-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight50"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-control-disabled-indicator-icon-color</code>
      </td>
      <td>
        <code>$sn-gray-600-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight50"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-control-disabled-label-color</code>
      </td>
      <td>
        <code>$sn-primary-text-light-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight75"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-control-disabled-background</code>
      </td>
      <td>
        <code>$sn-gray-200-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight10"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-control-field-label-background</code>
      </td>
      <td>
        <code>$sn-secondary-background</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight10"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-control-field-label-color</code>
      </td>
      <td>
        <code>$sn-primary-text-light-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight75"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-control-field-label-border-color</code>
      </td>
      <td>
        <code>$sn-gray-100-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.grayLight5"></sn-label>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th colspan="3">Layout</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>$sn-body-color</code>
      </td>
      <td>
        <code>$sn-primary-text-color</code>
      </td>
      <td>
        <sn-label [color]="ui.color.gray"></sn-label>
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-app-layout-font-family</code>
      </td>
      <td>
        <code>$sn-font-family-base</code>
      </td>
      <td>
        Open Sans
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-lp-layout-font-family</code>
      </td>
      <td>
        'Montserrat', sans-serif
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-body-font-weight</code>
      </td>
      <td>
        <code>$sn-font-weight-base</code>
      </td>
      <td style="font-weight: 400">Lorem ipsum dolor</td>
    </tr>
    <tr>
      <td>
        <code>$sn-body-line-height</code>
      </td>
      <td>
        <code>$sn-line-height-base</code>
      </td>
      <td style="line-height: 1.5">
        Lorem ipsum dolor <br> Lorem ipsum dolor
      </td>
    </tr>
    <tr>
      <td>
        <code>$sn-body-font-size</code>
      </td>
      <td>
        <code>$sn-font-size-base</code>
      </td>
      <td style="font-size: 13px">Lorem ipsum dolor</td>
    </tr>
  </table>

</sn-container>
