@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'elements/dot/dot';

@mixin label-size($size, $wrapper) {
  padding: map-get($size, padding);
  font-size: map-get($size, font-size);

  #{$wrapper} [data-sn-icon] {
    @include sn-icon((size: map-get($size, icon-size)), '&');
  }
}

@mixin sn-label($passed: (), $context: null, $strategy: 'changes') {
  $defs: (
    corner: $sn-corner-small,
    background: $sn-primary-color,
    font-size: inherit,
    border: 1px solid $sn-primary-color,
    color: null,
    dot: (
      size: 10px
    ),
    icon: (
      color: null
    ),
    sizes: (
      small: (
        padding: 2px $sn-gutter-small,
        font-size: 10px,
        icon-size: 12px
      ),
      normal: (
        padding: 3px $sn-gutter-small,
        font-size: 12px,
        icon-size: 14px
      )
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-label-host)} {
    @if $declare {
      display: inline-block;
      box-sizing: border-box;
      [data-text] {
        white-space: nowrap;
      }

      &[data-sn-features*='clickable'] {
        cursor: pointer;
      }
    }
    font-size: map-get($vars, font-size);

    &[data-sn-outline='fill'] {
      background: map-get($vars, background);
    }

    &[data-sn-outline='fill'], &[data-sn-outline='ghost'] {
      border: map-get($vars, border);
      border-radius: map-get($vars, corner);
    }

    &[data-sn-outline='transparent'][data-sn-size] {
      padding: 0;
    }

    &[data-sn-outline='transparent'], &[data-sn-outline='ghost'] {
      background-color: transparent !important;
    }

    &[data-sn-color='secondary'] {
      background: $sn-secondary-color !important;
      border-color: $sn-secondary-color !important;
    }

    @if map-has-key($vars, sizes) {
      @each $size, $map in map-get($vars, sizes) {
        &[data-sn-size='#{$size}'] {
          @include label-size($map, $wrapper);
        }
      }
    }

    @if map-has-key($vars, dot) {
      $dot: map-get($vars, dot);
      #{$wrapper} [data-dot] {
        @include sn-dot((size: map-get($dot, size)), '&');
      }
    }
  }

  #{$context} #{$wrapper} [data-sn-icon] {
    line-height: 1;
  }

  #{$context} #{$wrapper} [data-text] {
    color: map-get($vars, color);
  }

  #{$context} #{$wrapper} [data-sn-icon] {
    @if map-has-key($vars, icon) {
      $icon: map-get($vars, icon);
      @include sn-icon((color: map-get($icon, color)), '&');
    }
  }
}

@if $sn-debug {
  @debug 'label compiled';
}
