<sn-container>

  <sn-app-page-header [icon]="localUi.icons.slider"
                      title="Slider"
                      i18n-title="@@label.slider"
                      [teaser]="handbook.forms.components.slider.teaser">

    <ng-template #headerActionsTemplate>
      <sn-link [icon]="ui.icons.gitlab"
               [outline]="ui.outline.ghost"
               [source]="gitlab"
               target="_blank" title="GitLab"
               i18n-title="@@action.gitlab">
      </sn-link>
    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-form [formGroup]="form">
                  <sn-stack [orientation]="ui.orientation.vertical" [align]="ui.align.stretch">
                    <sn-slider formControlName="slider"
                               [min]="minControl.value"
                               [max]="maxControl.value"
                               [step]="stepControl.value">
                    </sn-slider>
                    <div>Value: {{sliderControl.value}}</div>
                  </sn-stack>
                </sn-form>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-stack [orientation]="ui.orientation.horizontal">
                  <sn-form-item>
                    <sn-form-label for="min" i18n="@@label.min">Min</sn-form-label>
                    <sn-form-control name="min">
                      <sn-input formControlName="min"
                                [type]="ui.input.type.number"
                                i18n-placeholder="@@label.min"
                                placeholder="Min"></sn-input>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="max" i18n="@@label.max">Max</sn-form-label>
                    <sn-form-control name="max">
                      <sn-input formControlName="max"
                                [type]="ui.input.type.number"
                                i18n-placeholder="@@label.max"
                                placeholder="Max"></sn-input>
                    </sn-form-control>
                  </sn-form-item>
                </sn-stack>

                <sn-form-item>
                  <sn-form-label for="step" i18n="@@label.step">Step</sn-form-label>
                  <sn-form-control name="step">
                    <sn-input formControlName="step"
                              [type]="ui.input.type.number"
                              i18n-placeholder="@@label.step"
                              placeholder="Step"></sn-input>
                  </sn-form-control>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'slider-test', type: 'SliderTestComponent'}"
                scss="forms/slider"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="slider-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-slider ]]>
                  <ng-container *ngIf="maxControl.value">
                    <![CDATA[
                    [max]="ui.max.]]>{{maxControl.value}}<![CDATA["]]>
                  </ng-container>
                  <![CDATA[>
                </sn-slider>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-slider"
                           [api]="api.slider">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
