<sn-container>

  <sn-app-page-header [icon]="localUi.icons.gantt"
                      title="Gantt"
                      i18n-title="@@label.gantt"
                      [teaser]="handbook.collections.components.gantt.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>


  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-stack>
          <form [formGroup]="builder">
            <sn-stack [orientation]="ui.orientation.horizontal" [wrap]="ui.wrap.wrap" [spacing]="ui.gutter.normal">
              <sn-form-item [orientation]="ui.orientation.horizontal"
                            [gutter]="ui.gutter.small"
                            [align]="ui.align.center">
                <sn-form-label for="ganttType"
                               i18n="@@label.gender">Gantt type
                </sn-form-label>
                <sn-switcher formControlName="ganttType">
                  <sn-switcher-option label="Month"
                                      i18n-label="@@label.month"
                                      [value]="ganttType.month"></sn-switcher-option>
                  <sn-switcher-option label="Year"
                                      i18n-label="@@label.year"
                                      [value]="ganttType.year"></sn-switcher-option>
                </sn-switcher>
              </sn-form-item>

              <sn-form-item [orientation]="ui.orientation.horizontal"
                            [gutter]="ui.gutter.small"
                            [align]="ui.align.center">
                <sn-form-label for="width"
                               i18n="@@label.width">Width
                </sn-form-label>
                <sn-switcher formControlName="width"
                             placeholder="Default"
                             i18n-primary="@@label.default">
                  <sn-switcher-option label="Default"
                                      i18n-label="@@label.default"
                                      [icon]="localUi.icons.default"
                                      [value]="ui.width.default"></sn-switcher-option>
                  <sn-switcher-option label="Fluid"
                                      i18n-label="@@label.fluid"
                                      [icon]="localUi.icons.fluid"
                                      [value]="ui.width.fluid"></sn-switcher-option>
                </sn-switcher>
              </sn-form-item>

              <sn-button-group [scheme]="ui.scheme.secondary">
                <sn-button [icon]="ui.icons.reload"></sn-button>
                <sn-button (click)="add()" [icon]="ui.icons.add"></sn-button>
                <sn-button (click)="remove()" [icon]="ui.icons.delete"></sn-button>
              </sn-button-group>
            </sn-stack>
          </form>

          <app-browser-preview preview>
            <ng-template #document let-width="width" let-height="height">
              <sn-block [padding]="ui.gutter.none" [width]="ui.width.fluid">
                <sn-form [formGroup]="form" data-form>

                  <sn-gantt title="Employee"
                            i18n-title="@@label.employee"
                            formControlName="ganttDate"
                            [loading]="progress.loading || progress.add || progress.remove || progress.reload"
                            [width]="widthControl.value"
                            [type]="ganttTypeControl.value === 'month' ? ui.gantt.type.month : ui.gantt.type.year">
                    <ng-template #titleTemplate>
                      <strong>Test custom title</strong>
                    </ng-template>
                    <sn-gantt-line *ngFor="let request of requests"
                                   [title]="request.createdBy.login">
                      <ng-container *ngFor="let period of request.periods">
                        <sn-gantt-line-period [from]="period.from"
                                              [to]="period.to">
                          <ng-template #indicatorMonthTemplate let-current="current" let-today="today">
                            <div [attr.accepting]="period['status'] === statuses.accepting"
                                 [attr.accepted]="period['status'] === statuses.accepted"
                                 [attr.declined]="period['status'] === statuses.declined"
                                 [attr.used]="(period['to'] | dfnsDifferenceInDays:today) < 0"
                                 [attr.self-expense]="period['selfExpense']"
                                 [attr.short]="(period['to'] | dfnsDifferenceInDays:period['from']) < 3"
                                 [attr.over-from]="(period['from'] | fullMonth) < (current | fullMonth)"
                                 [attr.over-to]="(period['to'] | fullMonth) > (current | fullMonth)" period>
                              <span label>
                                {{(period['to'] | dfnsDifferenceInDays:period['from']) + 1 }} days
                              </span>
                            </div>
                          </ng-template>

                          <ng-template #indicatorYearTemplate let-current="current" let-today="today">
                            <div [attr.accepting]="period['status'] === statuses.accepting"
                                 [attr.accepted]="period['status'] === statuses.accepted"
                                 [attr.declined]="period['status'] === statuses.declined"
                                 [attr.used]="(period['to'] | dfnsDifferenceInDays:today) < 0"
                                 [attr.self-expense]="period['selfExpense']"
                                 [attr.short]="(period['to'] | dfnsDifferenceInMonths:period['from']) < 2"
                                 [attr.over-from]="(period['from'] | dfnsGetYear) < (current | dfnsGetYear)"
                                 [attr.over-to]="(period['to'] | dfnsGetYear) > (current | dfnsGetYear)" period>
                            <span label>
                              {{(period['to'] | dfnsDifferenceInDays:period['from']) + 1 }} days
                            </span>
                            </div>
                          </ng-template>
                        </sn-gantt-line-period>
                      </ng-container>
                    </sn-gantt-line>
                  </sn-gantt>
                </sn-form>
              </sn-block>
            </ng-template>
          </app-browser-preview>
        </sn-stack>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'gantt-test', type: 'GanttTestComponent'}"
                scss="collections/gantt"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="gantt-test.component.html" [language]="language.xml">
<!-- @formatter:off-->
<![CDATA[
  <form [formGroup]="form">
    <sn-gantt formControlName="gantt" [type]="ui.gantt.type.]]>{{ganttTypeControl.value}}<![CDATA[" title="Super" [loading]="loading">
    <ng-template #ganttToolsTemplate>
      <sn-button text="Reload" [icon]="ui.icons.reload"></sn-button>
    </ng-template>
    <ng-template #ganttTitleTemplate>
      <strong>Test custom title</strong>
    </ng-template>
      <sn-gantt-line *ngFor="let request of requests"
        [period]="request"
        [from]="request.from"
        [to]="request.to"
        [title]="request.createdBy.login">
        <ng-container *ngFor="let period of request.periods">
          <sn-gantt-line-period [from]="period.from"
                                 [to]="period.to">
            <ng-template ]]>{{ganttTypeControl.value === 'month' ? '#indicatorMonthTemplate' : '#indicatorYearTemplate'}}<![CDATA[ let-current="current" let-today="today">
              <div [attr.accepting]="period['status'] === statuses.accepting"
                [attr.accepted]="period['status'] === statuses.accepted"
                [attr.declined]="period['status'] === statuses.declined"
                [attr.used]="(period['to'] | dfnsDifferenceInDays:today) < 0"
                [attr.self-expense]="period['selfExpense']"
                [attr.short]="(period['to'] | after: current) - (period['from'] | before: current) < 3"
                [attr.over-from]="(period['from'] | ]]>{{ganttTypeControl.value === 'month' ? 'fullMonth' : 'dfnsGetYear'}}<![CDATA[) < (current | ]]>{{ganttTypeControl.value === 'month' ? 'fullMonth' : 'dfnsGetYear'}}<![CDATA[)"
                [attr.over-to]="(period['to'] | ]]>{{ganttTypeControl.value === 'month' ? 'fullMonth' : 'dfnsGetYear'}}<![CDATA[) > (current | ]]>{{ganttTypeControl.value === 'month' ? 'fullMonth' : 'dfnsGetYear'}}<![CDATA[)" period>
                <span label> ]]>
                  {{ <![CDATA[ (period['to'] | dfnsDifferenceInDays:period['from']) + 1 ]]> }} <![CDATA[ days
                </span>
              </div>
            </ng-template>
          </sn-gantt-line-period>
        </ng-container>
      </sn-gantt-line>
    </sn-gantt>
  </form>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-gantt"
                             [api]="api.gantt">
          </app-component-api>
          <app-component-api selector="sn-gantt-line"
                             [api]="api.ganttLine">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
