@import 'sn-variables';

:host {
  display: block;

  &[with-name='true'] {
    margin: $sn-gutter-normal;
    padding-top: $sn-gutter-normal;
  }
}

[data-sn-icon] {
  float: left;
  padding: $sn-gutter-base;
  margin: $sn-gutter-base;
  &[data-selected='true'] {
    outline: 1px solid $sn-primary-color;
}

}
[icons] {
  padding: $sn-gutter-tiny;
}
