<sn-form [formGroup]="selectIcon">
  <sn-accordion>
    <sn-accordion-section *ngFor="let tag of tags"
                           [title]="tag.name">
      <ng-template #accordionContentTemplate>
        <div formControlName="icon" data-icon *ngFor="let icon of (tag.icons | getIcons)"
             [snSelectable]="{value: {value: icon.icon, path: tag.path, name: icon.name}}">
          <sn-icon [icon]="icon.icon"
                    [attr.title]="icon.name">
          </sn-icon>
        </div>
      </ng-template>
    </sn-accordion-section>
  </sn-accordion>
</sn-form>
