@import 'sn-variables';
@import 'sn-hosts';
@import 'layout/responsive/responsive';
@import 'overlays/popover/popover';
@import 'forms/calendar/calendar';
@import 'forms/input/input';

@mixin sn-date-picker($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-date-picker-host)} {
    @if $declare {
      display: inline-block;
      min-width: 100px;
      &[data-sn-width='fluid'] {
        display: block;
        flex: 1;
      }
    }
    @include for-mobile() {
      @if $declare {
        border: 1px solid $sn-control-border-color;
        border-radius: $sn-corner-small;
        background-color: $sn-control-background;
        &[calendar-opened='true'] {
          #{$wrapper} [data-calendar-dropdown] {
            display: block;
          }
        }
        &[time-opened='true'] {
          #{$wrapper} [data-time-dropdown] {
            display: flex;
          }
        }
      }
    }
  }

  @include for-mobile() {
    #{$context} #{$wrapper} [data-input] {
      @if $declare {
        flex: 1;
        @include sn-input((
          scheme: (
            normal: (
              border-color: transparent,
              hover: (
                border-color: transparent
              ),
              focus: (
                border-color: transparent,
                shadow: none
              )
            )
          )
        ), '&');
      }
    }
  }

  #{$context} #{$wrapper} [data-input] {
    @if $declare {
      @include min-for-tablet() {
        &[data-date] {
          flex: 1 1 auto;
        }

        &[data-time] {
          flex: 0 4 auto;
          min-width: 100px;
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-calendar-dropdown] {
    @if $declare {
      flex: 1;
    }

    [data-calendar] {
      @include sn-calendar((layout: auto), '&');
    }

    @include for-mobile() {
      @if $declare {
        padding: $sn-gutter-normal;
        display: none;
      }
    }
  }

  #{$context} #{$wrapper} [data-time-dropdown] {
    @if $declare {
      padding: $sn-gutter-normal;

      [data-time-col] {
        width: 70px;
      }

      @include for-mobile() {
        display: none;
      }

      @include sn-input((
        sizes: (
          small: (
            chevron: 0
          ),
          normal: (
            chevron: 0
          )
        )
      ));
    }
  }
}

@if $sn-debug {
  @debug 'date-picker compiled';
}
