<ng-container [formGroup]="form">
  <sn-stack _dr [orientation]="ui.orientation.horizontal"
            [gutter]="(ui.breakpoint.mobile | breakpoint)
              ? ui.gutter.none : ui.gutter.normal">
    <ng-container *ngIf="type === datePickerType.date || type === datePickerType.dateTime">
      <sn-input _dr *snMinFor="ui.breakpoint.tablet"
                 data-input data-date
                 formControlName="date"
                 [placeholder]="placeholder || ''"
                 [snPopover]="{
                   contentTemplate: calendarTemplate,
                   trigger: ui.trigger.click,
                   behaviour: ui.behaviour.dropdown,
                   minWidth: '300px'
                 }"
                 (attached)="reference.popover = $event"
                 [icon]="ui.icons.calendar"
                 [mask]="config.locale.ui.masks.date"
                 [width]="ui.width.fluid"
                 [features]="features">
      </sn-input>

      <sn-input _dr *snFor="ui.breakpoint.mobile" data-input
                 formControlName="date"
                 [placeholder]="placeholder || ''"
                 [icon]="ui.icons.calendar"
                 (click)="calendarOpened = !calendarOpened"
                 [mask]="config.locale.ui.masks.date"
                 [width]="ui.width.fluid"
                 [features]="features">
      </sn-input>
    </ng-container>

    <ng-container *ngIf="type === datePickerType.time || type === datePickerType.dateTime">
      <sn-input _dr *snMinFor="ui.breakpoint.tablet"
                 data-input data-time
                 formControlName="time"
                 [icon]="ui.icons.time"
                 [snPopover]="{
                   contentTemplate: timeTemplate,
                   trigger: ui.trigger.click,
                   behaviour: ui.behaviour.dropdown,
                   features: [ui.feature.smarty],
                   minWidth: '150px'
                 }"
                 (attached)="reference.popover = $event"
                 [mask]="config.locale.ui.masks.time + (meridian || '')"
                 [features]="features">
      </sn-input>

      <sn-input _dr *snFor="ui.breakpoint.mobile" data-input
                 formControlName="time"
                 [icon]="ui.icons.time"
                 (click)="timeOpened = !timeOpened"
                 [mask]="config.locale.ui.masks.time + (meridian || '')"
                 [features]="features">
      </sn-input>
    </ng-container>
  </sn-stack>

  <ng-template #calendarTemplate>
    <sn-stack _dr data-calendar-dropdown [align]="ui.align.stretch">
      <sn-calendar _dr data-calendar [features]="[ui.feature.today]" formControlName="calendar"></sn-calendar>
    </sn-stack>
  </ng-template>

  <ng-template #timeTemplate>
    <sn-stack _dr data-time-dropdown [orientation]="ui.orientation.horizontal"
               [align]="ui.align.center">

      <sn-stack _dr [align]="ui.align.stretch" [gutter]="ui.gutter.small" data-time-col>
        <sn-button _dr [icon]="ui.icons.chevronUp"
                    [size]="ui.size.small"
                    (click)="hoursControl.setValue(+hoursControl.value + 1)">
        </sn-button>
        <sn-input _dr data-input
                   formControlName="hours"
                   [type]="ui.input.type.number">
        </sn-input>
        <sn-button _dr [icon]="ui.icons.chevronDown"
                    [size]="ui.size.small"
                    (click)="hoursControl.setValue(+hoursControl.value - 1)">
        </sn-button>
      </sn-stack>

      <sn-stack _dr [align]="ui.align.stretch" [gutter]="ui.gutter.small" data-time-col>
        <sn-button _dr [icon]="ui.icons.chevronUp"
                    [size]="ui.size.small"
                    (click)="minutesControl.setValue(+minutesControl.value + 1)">
        </sn-button>
        <sn-input _dr data-input
                   formControlName="minutes"
                   [type]="ui.input.type.number">
        </sn-input>
        <sn-button _dr [icon]="ui.icons.chevronDown"
                    [size]="ui.size.small"
                    (click)="minutesControl.setValue(+minutesControl.value - 1)">
        </sn-button>
      </sn-stack>

      <sn-stack _dr *ngIf="config.locale.dfns.code !== 'ru'"
                 [align]="ui.align.stretch"
                 [gutter]="ui.gutter.small" data-time-col>
        <sn-button _dr [text]="meridians.am" (click)="meridian = meridians.am"></sn-button>
        <sn-button _dr [text]="meridians.pm" (click)="meridian = meridians.pm"></sn-button>
      </sn-stack>
    </sn-stack>
  </ng-template>

  <ng-container *ngIf="(ui.breakpoint.mobile | breakpoint)">
    <ng-container *ngTemplateOutlet="calendarTemplate"></ng-container>
    <ng-container *ngTemplateOutlet="timeTemplate"></ng-container>
  </ng-container>
</ng-container>
