<ng-container [formGroup]="form">
  <ng-container formArrayName="switches">
    <ng-container *ngIf="!!switchesControl.length">
      <ng-container *ngIf="cols <= 1; else colTemplate">
        <sn-stack _sg [gutter]="spacing"
                  [orientation]="(ui.breakpoint.mobile | breakpoint)
                      ? ui.orientation.vertical : orientation"
                  [spacing]="spacing"
                  [align]="!(ui.breakpoint.mobile | breakpoint)
                      && orientation === ui.orientation.horizontal ? align: ui.align.stretch"
                  [wrap]="ui.wrap.wrap">
          <sn-switch _sg *ngFor="let item of switches; let i = index"
                     [formControlName]="i"
                     [align]="align"
                     [size]="size"
                     [style]="item.style"
                     [tags]="item.tags"
                     [icons]="item.icons"
                     [label]="item.label"
                     [value]="item.value">
            <ng-template *ngIf="!!item.labelTemplate" #switchLabelTemplate>
              <ng-container *ngTemplateOutlet="item.labelTemplate"></ng-container>
            </ng-template>
          </sn-switch>
        </sn-stack>
      </ng-container>
      <ng-template #colTemplate>
        <sn-row _sg [spacing]="spacing">
          <sn-col _sg *ngFor="let item of switches; let i = index" [tablet]="(12 / cols) | trunc">
            <sn-switch _sg [formControlName]="i"
                       [align]="align"
                       [size]="size"
                       [style]="item.style"
                       [tags]="item.tags"
                       [icons]="item.icons"
                       [label]="item.label"
                       [value]="item.value">
              <ng-template *ngIf="!!item.labelTemplate" #switchLabelTemplate>
                <ng-container *ngTemplateOutlet="item.labelTemplate"></ng-container>
              </ng-template>
            </sn-switch>
          </sn-col>
        </sn-row>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>


