<sn-container>

  <sn-app-page-header [icon]="localUi.icons.select"
                      title="Select"
                      i18n-title="@@label.selecr"
                      [teaser]="handbook.forms.components.select.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>

          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document>
                <form [formGroup]="form">
                  <sn-form-item>
                    <sn-select formControlName="select"
                               [keyField]="'id'"
                               [labelField]="'name'"
                               [groupField]="'universe'"
                               [groupFieldKey]="'id'"
                               [label]="labelControl.value ? selectLabel : null"
                               placeholder="{{ placeholderControl.value ? 'Select your hero' : '' }}"
                               i18n-placeholder="@@label.select_your_hero"
                               [context]="inlineControl.value ? ui.context.inline : null"
                               [mode]="modeControl.value"
                               [features]="[
                                  searchControl.value ? ui.feature.search : null,
                                  allowEmptyControl.value ? ui.feature.allowEmpty : null
                                ]"
                               [size]="sizeControl.value"
                               [placement]="placementControl.value"
                               [loader]="search()"
                               [icon]="iconControl.value ? selectIcon : null"
                               [emptyOptionsTemplate]="emptyTemplateControl.value ? emptyOptionsTemplate : null"
                               [optionsHeaderTemplate]="headerTemplateControl.value ? optionsHeaderTemplate : null"
                               [optionTemplate]="optionTemplateControl.value ? heroOptionTemplate : null"
                               [groupTemplate]="groupTemplateControl.value ? universeTemplate : null"
                               [state]="loadingControl.value ? ui.state.loading : null"
                               [creator]="createHero.bind(this)"
                               (selected)="selected.heroes.push($event)">
                      <sn-select-option *ngFor="let h of selected.heroes;trackBy:trackHero"
                                        [label]="h.name"
                                        [key]="h.id"
                                        [value]="h">
                      </sn-select-option>
                      <sn-select-option *ngFor="let h of created.heroes;trackBy:trackHero"
                                        [label]="h.name"
                                        [key]="h.id"
                                        [value]="h">
                      </sn-select-option>
                      <sn-select-option *ngFor="let h of heroes;trackBy:trackHero"
                                        [label]="h.name"
                                        [key]="h.id"
                                        [value]="h">
                      </sn-select-option>
                    </sn-select>
                    <ng-template #universeTemplate let-hero="value">
                      <b>{{hero.universe?.name}}</b>
                    </ng-template>
                    <ng-template #optionsHeaderTemplate let-query="query" let-close="close">
                      <sn-button text="Close"
                                 i18n-text="@@action.close"
                                 [size]="ui.size.small"
                                 [icon]="ui.icons.close"
                                 (click)="close()"></sn-button>
                    </ng-template>
                    <ng-template #emptyOptionsTemplate let-query="query" let-close="close">
                      <sn-stack [align]="ui.align.center">
                        <p>Hero <b>{{query}}</b> not found</p>
                        <sn-button text="Close"
                                   i18n-text="@@action.close"
                                   [size]="ui.size.small"
                                   [icon]="ui.icons.close"
                                   (click)="close()"></sn-button>
                      </sn-stack>
                    </ng-template>
                    <ng-template #heroOptionTemplate let-hero="value" let-selected="selected">
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [align]="ui.align.center"
                                [justify]="selected ? null : ui.justify.between">
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                  [gutter]="ui.gutter.small"
                                  [align]="ui.align.center">
                          <sn-avatar [icon]="ui.icons.question"
                                     [image]="hero.avatar"
                                     [size]="selected ? ui.size.tiny : ui.size.small"></sn-avatar>
                          <div>{{hero.name}}</div>
                        </sn-stack>
                        <sn-label *ngIf="hero.likes > 0" [label]="hero.likes + ' likes'"
                                  [color]="ui.color.green"></sn-label>
                      </sn-stack>
                    </ng-template>
                  </sn-form-item>
                </form>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="mode"
                                 i18n="@@label.mode">Mode
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="mode"
                               placeholder="Single"
                               i18n-placeholder="@@label.single"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Single"
                                        i18n-label="@@label.single"
                                        [icon]="localUi.icons.single"
                                        [key]="ui.select.mode.single"></sn-select-option>
                      <sn-select-option label="Multiple"
                                        i18n-label="@@label.multiple"
                                        [icon]="localUi.icons.multiple"
                                        [key]="ui.select.mode.multiple"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="size"
                                 i18n="@@label.size">Size
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.large"
                                        [key]="ui.size.large"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="placement"
                                 i18n="@@label.menu_placement">Menu placement
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="placement"
                               placeholder="Absolute"
                               i18n-placeholder="@@label.absolute"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Absolute"
                                        i18n-label="@@label.absolute"
                                        [key]="ui.placement.absolute"></sn-select-option>
                      <sn-select-option label="Fixed"
                                        i18n-label="@@label.fixed"
                                        [key]="ui.placement.fixed"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features</sn-form-label>
                  <sn-row [align]="ui.align.center">
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="allowEmpty"
                                   label="Allow empty"
                                   i18n-label="@@label.allow_empty"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="search"
                                   label="Search"
                                   i18n-label="@@label.search"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="label"
                                   i18n-label="@@label.label"
                                   label="Label"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="icon"
                                   i18n-label="@@label.icon"
                                   label="Icon"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="placeholder"
                                   label="Placeholder"
                                   i18n-label="@@label.placeholder"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="inline"
                                   label="Inline view"
                                   i18n-label="@@label.inline_view"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.states">States</sn-form-label>
                  <sn-row [align]="ui.align.center">
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="disabled"
                                   label="Disabled"
                                   i18n-label="@@label.disabled"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="loading"
                                   i18n-label="@@label.loading"
                                   label="Loading"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.templates">Templates</sn-form-label>
                  <sn-row [align]="ui.align.center">
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="headerTemplate"
                                   label="Options header"
                                   i18n-label="@@label.options_header"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="groupTemplate"
                                   label="Group template"
                                   i18n-label="@@label.group_template"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="optionTemplate"
                                   label="Custom option"
                                   i18n-label="@@label.custom_option"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="emptyTemplate"
                                   label="Empty options"
                                   i18n-label="@@label.empty_options"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>

        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use [test]="{selector:'select-test', type: 'SelectTestComponent'}"
                              scss="forms/select">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
                  <![CDATA[
                  import { Component, OnInit } from '@angular/core';
                  import { FormBuilder } from '@angular/forms';
                  import { UI } from '@esanum/ui';

                  @Component({
                  selector: 'app-select-test',
                  templateUrl: './select-test.component.html',
                  styleUrls: ['./select-test.component.scss']
                  })

                  export class SelectTestComponent implements OnInit {

                  ui = UI;

                    heroes = [
                      {
                        id: 1,
                        name: 'Ironman',
                        avatar: 'assets/images/heroes/ironman.svg',
                        likes: 381,
                        universe: {id: 1, name: 'Marvel'}},
                  {id: 2, name: 'Hulk', avatar: 'assets/images/heroes/hulk.svg', likes: 412, universe: {id: 1, name: 'Marvel'}}
                  ,
                  {id: 3, name: 'Batman', avatar: 'assets/images/heroes/batman.svg', likes: 221,
                  universe: {id: 2, name: 'DC'}},
                  {id: 4, name: 'Wonder Woman', avatar: 'assets/images/heroes/wonder.svg', likes: 739, universe: {id: 2, name: 'DC'}}
                  ];

                  selectControl = this.fb.control(null);

                  form = this.fb.group({
                  select: this.selectControl
                  });


                  constructor(private fb: FormBuilder) {
                  }

                  ngOnInit() {
                    }
                  }
                  ]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="select-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <form [formGroup]="form">
                  <sn-select formControlName="select"
                             [labelField]="'label'"
                             [keyField]="'key'" ]]>
                    <ng-container *ngIf="placeholderControl.value">
                      <![CDATA[[placeholder]="Select your hero"]]>
                    </ng-container>
                    <ng-container *ngIf="allowEmptyControl.value && searchControl.value; else only">
                      <![CDATA[
                      [features]="[ui.feature.allowEmpty, ui.feature.search]"]]>
                    </ng-container>
                    <ng-template #only>
                      <ng-container *ngIf="allowEmptyControl.value">
                        <![CDATA[
                        [features]="[ui.feature.allowEmpty]"]]>
                      </ng-container>
                      <ng-container *ngIf="searchControl.value">
                        <![CDATA[
                        [features]="[ui.feature.search]"]]>
                      </ng-container>
                    </ng-template>
                    <ng-container *ngIf="inlineControl.value">
                      <![CDATA[[context]="ui.context.popover"]]>
                    </ng-container>
                    <ng-container *ngIf="!!modeControl.value">
                      <![CDATA[[mode]="ui.select.mode.]]>{{modeControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="!!sizeControl.value">
                      <![CDATA[[size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="!!placementControl.value">
                      <![CDATA[[placement]="ui.placement.]]>{{placementControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="loadingControl.value">
                      <![CDATA[[state]="ui.state.loading"]]>
                    </ng-container>
                    <ng-container *ngIf="disabledControl.value">
                      <![CDATA[[disabled]="true"]]>
                    </ng-container>
                    <ng-container *ngIf="labelControl.value">
                      <![CDATA[[label]="'Hero:'"]]>
                    </ng-container>
                    <ng-container *ngIf="iconControl.value">
                      <![CDATA[[icon]="ui.icons.user"]]>
                    </ng-container>
                    <ng-container *ngIf="headerTemplateControl.value">
                      <![CDATA[[optionsHeaderTemplate]="optionsHeaderTemplate"]]>
                    </ng-container>
                    <ng-container *ngIf="optionTemplateControl.value">
                      <![CDATA[[optionTemplate]="heroOptionTemplate"]]>
                    </ng-container>
                    <ng-container *ngIf="groupTemplateControl.value">
                      <![CDATA[
                      [groupField]="'universe'"
                      [groupFieldKey]="'id'"
                      [groupTemplate]="universeTemplate"
                      ]]>
                    </ng-container>
                    <ng-container *ngIf="emptyTemplateControl.value">
                      <![CDATA[[emptyOptionsTemplate]="emptyOptionsTemplate"]]>
                    </ng-container>
                    <![CDATA[>]]>
                    <![CDATA[
                    <sn-select-option *ngFor="let option of heroes"
                                      [label]="option.label"
                                      [key]="option.key"
                                      [value]="option">
                    </sn-select-option>
                    ]]>
                    <ng-container *ngIf="headerTemplateControl.value">
                      <![CDATA[
                      <ng-template #optionsHeaderTemplate let-query="query" let-close="close">
                        <sn-button [text]="'Close'"
                                   [size]="ui.size.small"
                                   [icon]="ui.icons.close"
                                   (click)="close()"></sn-button>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <ng-container *ngIf="groupTemplateControl.value">
                      <![CDATA[
                      <ng-template #universeTemplate let-hero="value">
                        <span [innerHTML]="'<b>' + hero.universe.name + '</b>'"></span>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <ng-container *ngIf="optionTemplateControl.value">
                      <![CDATA[
                      <ng-template #heroOptionTemplate let-hero="value">
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                  [gutter]="ui.gutter.small"
                                  [align]="ui.align.center">
                          <sn-avatar [size]="ui.size.small"></sn-avatar>
                          <div [innerHTML]="hero.name"></div>
                        </sn-stack>
                        <sn-label [label]="hero.likes + ' likes'"
                                  [color]="ui.color.green"></sn-label>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <ng-container *ngIf="emptyTemplateControl.value">
                      <![CDATA[
                      <ng-template #emptyOptionsTemplate let-hero="query" let-close="close">
                        <sn-stack [align]="ui.align.center">
                          <p [innerHTML]="'Hero <b>' + hero + '</b> not found'"></p>
                          <sn-button [text]="'Close'"
                                     [size]="ui.size.small"
                                     [icon]="ui.icons.close"
                                     (click)="close()"></sn-button>
                        </sn-stack>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <![CDATA[
                  </sn-select>
                </form>
                ]]>
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-select"
                             [api]="api.select">
          </app-component-api>
          <app-component-api selector="sn-select-option"
                             [api]="api.selectOption">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
