@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

$type-vertical: 'vertical';
$type-horizontal: 'horizontal';

@mixin for-vertical-children($wrapper) {
  & > #{$wrapper} :not(:first-child):not([data-hidden='true']):not(router-outlet):not(router-outlet:first-child + *):not([data-hidden='true']:first-child + *) {
    @content;
  }
}

@mixin for-horizontal-children($wrapper) {
  & > #{$wrapper} :not(:last-child):not([data-hidden='true']):not(router-outlet) {
     @content;
  }
}

@mixin stack-spacing($gutter, $wrapper) {
  & {
    margin-top: -$gutter;

    > #{$wrapper}:not(router-outlet) {
      margin-top: $gutter;
    }
  }
}

@mixin sn-stack($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    gutters: (
      tiny: $sn-gutter-tiny,
      small: $sn-gutter-small,
      normal: $sn-gutter-normal,
      big: $sn-gutter-big,
      large: $sn-gutter-large,
      huge: $sn-gutter-huge
    ),
    padding: null,
    border: null,
    corner: null,
    background: null
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-stack-host)} {
    @if $declare {
      display: flex;
      text-align: left;

      &[data-sn-width='fluid'] {
        flex: 1;
        width: 100%;
      }

      &[data-sn-align='start'] {
        align-items: flex-start;
      }
      &[data-sn-align='center'] {
        align-items: center;
      }
      &[data-sn-align='end'] {
        align-items: flex-end;
      }
      &[data-sn-align='stretch'] {
        align-items: stretch;
      }
      &[data-sn-align='baseline'] {
        align-items: baseline;
      }

      &[data-sn-justify='start'] {
        justify-content: flex-start;
      }
      &[data-sn-justify='center'] {
        justify-content: center;
      }
      &[data-sn-justify='end'] {
        justify-content: flex-end;
      }
      &[data-sn-justify='between'] {
        justify-content: space-between;
      }
      &[data-sn-justify='around'] {
        justify-content: space-around;
      }
      &[data-sn-justify='evenly'] {
        justify-content: space-evenly;
      }

      &[data-sn-wrap='wrap'] {
        flex-wrap: wrap;
      }
      &[data-sn-wrap='nowrap'] {
        flex-wrap: nowrap;
      }
      &[data-sn-wrap='reverse'] {
        flex-wrap: wrap-reverse;
      }

      &[data-sn-orientation = '#{$type-vertical}'] {
        flex-direction: column;
      }
      &[data-sn-orientation = '#{$type-horizontal}'] {
        flex-direction: row;
      }
    }
    @if map-has-key($vars, gutters) {
      $gutters: map-get($vars, gutters);
      @each $gutter, $map in $gutters {
        &[data-sn-gutter = '#{$gutter}'] {
          &[data-sn-orientation = '#{$type-vertical}'] {
            @include for-vertical-children($wrapper) {
              margin-top: $map;

              &[data-sn-top-shift = #{$sn-gutter-tiny-name}] {
                margin-top: calc(-#{$sn-gutter-tiny} + #{$map});
              }

              &[data-sn-top-shift = #{$sn-gutter-small-name}] {
                margin-top: calc(-#{$sn-gutter-small} + #{$map});
              }

              &[data-sn-top-shift = #{$sn-gutter-normal-name}] {
                margin-top: calc(-#{$sn-gutter-normal} + #{$map});
              }

              &[data-sn-top-shift = #{$sn-gutter-big-name}] {
                margin-top: calc(-#{$sn-gutter-big} + #{$map});
              }

              &[data-sn-top-shift = #{$sn-gutter-large-name}] {
                margin-top: calc(-#{$sn-gutter-large} + #{$map});
              }

              &[data-sn-top-shift = #{$sn-gutter-huge-name}] {
                margin-top: calc(-#{$sn-gutter-huge} + #{$map});
              }
            };
          }

          &[data-sn-orientation = '#{$type-horizontal}'] {
            @include for-horizontal-children($wrapper) {
              margin-right: $map;
            }
          }
        }
        &[data-sn-spacing = '#{$gutter}'] {
          &[data-sn-orientation = '#{$type-horizontal}'] {
            @include stack-spacing($map, $wrapper);
          }
        }
        &[data-sn-padding='#{$gutter}'] {
          padding: $map;
        }
      }
    }
    padding: map-get($vars, padding);
    border: map-get($vars, border);
    border-radius: map-get($vars, corner);
    background: map-get($vars, background);
    @content;
  }
}

@if $sn-debug {
  @debug 'stack compiled';
}
