<form _fm>
  <header _fm *ngIf="!!title || !!titleTemplate">
    <h3 _fm *ngIf="!!title && !titleTemplate">{{title}}</h3>
    <ng-container *ngIf="!!titleTemplate">
      <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
    </ng-container>
  </header>

  <div _fm data-content>
    <ng-content></ng-content>
  </div>

  <footer _fm *ngIf="!!footerTemplate">
    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
  </footer>

  <div _fm data-loading *ngIf="state === ui.state.loading">
    <sn-spinner _fm [size]="ui.size.large"></sn-spinner>
  </div>
  <div _fm data-error *ngIf="state === ui.state.error">
    <sn-icon _fm [icon]="ui.icons.sad"></sn-icon>
  </div>
  <div _fm data-success *ngIf="_state.success" [@success]="_state.success">
    <sn-icon _fm [icon]="ui.icons.animated.success" [color]="ui.color.green"></sn-icon>
  </div>
</form>
