<sn-container>

  <sn-app-page-header [icon]="localUi.icons.imageUploader"
                      title="Image uploader"
                      i18n-title="@@label.image_uploader"
                      [teaser]="handbook.forms.components.imageUploader.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-form [formGroup]="form">
                  <sn-stack [orientation]="ui.orientation.horizontal">
                    <sn-image-uploader formControlName="avatar"
                                       valueField="id"
                                       urlField="original"
                                       [shape]="shapeControl.value"
                                       [min]="minControl.value"
                                       [max]="maxControl.value"
                                       [step]="stepControl.value"
                                       [area]="area"
                                       [features]="croppingControl.value ? [ui.feature.cropping] : []"
                                       [uploader]="uploadAvatar()">
                      <ng-template #imageTemplate let-image="image">
                        <sn-avatar [size]="ui.size.large" [image]="image"></sn-avatar>
                      </ng-template>
                    </sn-image-uploader>

                    <ng-container *ngIf="!!avatar">
                      <sn-stack [gutter]="ui.gutter.small">
                        <div>left: {{avatar.left}}</div>
                        <div>top: {{avatar.top}}</div>
                        <div>width: {{avatar.width}}</div>
                        <div>height: {{avatar.height}}</div>
                        <div>scale: {{avatar.scale}}</div>
                        <div>file: {{avatar.file.name}}</div>
                      </sn-stack>
                    </ng-container>
                  </sn-stack>
                </sn-form>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <!--                <input type="file" (change)="load($event)" id="file-upload"/>-->
                <sn-form-item>
                  <sn-form-label for="shape"
                                 i18n="@@label.shape">Shape
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="shape"
                               placeholder="Circle"
                               i18n-placeholder="@@label.circle"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Circle"
                                        i18n-label="@@label.circle"
                                        [icon]="localUi.icons.circle"
                                        [key]="ui.shape.circle"></sn-select-option>
                      <sn-select-option label="Square"
                                        i18n-label="@@label.square"
                                        [icon]="localUi.icons.square"
                                        [key]="ui.shape.square"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-row>
                  <sn-col [span]="6">
                    <sn-form-item>
                      <sn-form-label for="min"
                                     i18n="@@label.min">Min
                      </sn-form-label>
                      <sn-form-control name="min">
                        <sn-input formControlName="min" placeholder="Min"
                                  i18n-placeholder="@@label.min"
                                  [type]="ui.input.type.number"
                                  [min]="0.01"
                                  [max]="maxControl.value"
                                  [step]="0.01">
                        </sn-input>
                      </sn-form-control>
                    </sn-form-item>
                  </sn-col>

                  <sn-col [span]="6">
                    <sn-form-item>
                      <sn-form-label for="max"
                                     i18n="@@label.max">Max
                      </sn-form-label>
                      <sn-form-control name="max">
                        <sn-input formControlName="max" placeholder="Max"
                                  i18n-placeholder="@@label.max"
                                  [type]="ui.input.type.number"
                                  [min]="minControl.value"
                                  [step]="0.5">
                        </sn-input>
                      </sn-form-control>
                    </sn-form-item>
                  </sn-col>
                </sn-row>

                <sn-row>
                  <sn-col [span]="6">
                    <sn-form-item>
                      <sn-form-label for="step"
                                     i18n="@@label.step">Step
                      </sn-form-label>
                      <sn-form-control name="step">
                        <sn-input formControlName="step" placeholder="Step"
                                  i18n-placeholder="@@label.step"
                                  [type]="ui.input.type.number"
                                  [min]="0.01"
                                  [max]="maxControl.value"
                                  [step]="0.01">
                        </sn-input>
                      </sn-form-control>
                    </sn-form-item>
                  </sn-col>
                </sn-row>

                <sn-row>
                  <sn-col [span]="6">
                    <sn-form-item>
                      <sn-form-label for="areaWidth"
                                     i18n="@@label.area_width">Area Width
                      </sn-form-label>
                      <sn-form-control name="areaWidth">
                        <sn-input formControlName="areaWidth" placeholder="Area Width"
                                  i18n-placeholder="@@label.area_width"
                                  [type]="ui.input.type.number"
                                  [min]="100"
                                  [max]="500">
                        </sn-input>
                      </sn-form-control>
                    </sn-form-item>
                  </sn-col>

                  <sn-col [span]="6">
                    <sn-form-item>
                      <sn-form-label for="areaHeight"
                                     i18n="@@label.area_height">Area Height
                      </sn-form-label>
                      <sn-form-control name="areaHeight">
                        <sn-input formControlName="areaHeight" placeholder="Area Height"
                                  i18n-placeholder="@@label.area_height "
                                  [type]="ui.input.type.number"
                                  [min]="100"
                                  [max]="500">
                        </sn-input>
                      </sn-form-control>
                    </sn-form-item>
                  </sn-col>

                  <sn-form-item>
                    <sn-form-label i18n="@@label.features">Features
                    </sn-form-label>
                    <sn-row>
                      <sn-col [span]="12">
                        <sn-checkbox formControlName="cropping"
                                     label="With cropping"
                                     i18n-label="@@label.with_cropping">
                        </sn-checkbox>
                      </sn-col>
                    </sn-row>
                  </sn-form-item>
                </sn-row>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'image-uploader-test', type: 'ImageUploaderTestComponent'}"
                scss="forms/image-uploader"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="image-uploader-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-image-uploader ]]>
                  <ng-container *ngIf="shapeControl.value">
                    <![CDATA[
                    shape="]]>{{shapeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <![CDATA[>
                </sn-image-uploader>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-image-uploader"
                           [api]="api.imageUploader">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
