<sn-container>

  <sn-app-page-header [icon]="localUi.icons.label"
                      title="Label"
                      i18n-title="@@label.label"
                      [teaser]="handbook.elements.components.label.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-stack [orientation]="ui.orientation.horizontal">
                  <sn-label label="Todo"
                            i18n-label="@@label.todo"
                            [icon]="iconControl.value ? ui.icons.home : null"
                            [size]="sizeControl.value"
                            [outline]="outlineControl.value"
                            [color]="colorControl.value"
                            [features]="clickableControl.value ? [ui.feature.textBrightness, ui.feature.clickable] : [ui.feature.textBrightness]">
                    <sn-dot *ngIf="dotControl.value"
                            [color]="ui.color.red"></sn-dot>
                  </sn-label>
                  <sn-label label="Doing"
                            i18n-label="@@label.doing"
                            [icon]="iconControl.value ? ui.icons.figma : null"
                            [size]="sizeControl.value"
                            [outline]="outlineControl.value"
                            [color]="colorControl.value"
                            [features]="clickableControl.value ? [ui.feature.textBrightness, ui.feature.clickable] : [ui.feature.textBrightness]">
                    <sn-dot *ngIf="dotControl.value"
                            [color]="ui.color.red"></sn-dot>
                  </sn-label>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="size"
                                 i18n="@@label.size">Size
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="color" i18n="@@label.background_color">Background color</sn-form-label>
                  <sn-form-control>
                    <app-color-picker formControlName="color"></app-color-picker>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="outline" i18n="@@label.outline">Outline
                  </sn-form-label>
                  <sn-switcher formControlName="outline"
                               [features]="ui.feature.allowEmpty">
                    <sn-switcher-option label="Fill"
                                        i18n-label="@@label.fill"
                                        [value]="ui.outline.fill"></sn-switcher-option>
                    <sn-switcher-option label="Ghost"
                                        i18n-label="@@label.ghost"
                                        [value]="ui.outline.ghost"></sn-switcher-option>
                    <sn-switcher-option label="Transparent"
                                        i18n-label="@@label.transparent"
                                        [value]="ui.outline.transparent"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="icon"
                                   label="Icon"
                                   i18n-label="@@label.icon"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="dot"
                                   label="Dot"
                                   i18n-label="@@label.dot"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="clickable"
                                   i18n-label="@@label.clickable"
                                   label="Clickable"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'label-test', type: 'LabelTestComponent'}"
                scss="elements/label"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="label-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-label label="Doing" ]]>
                  <ng-container *ngIf="iconControl.value">
                    <![CDATA[
                    [icon]="ui.icons.animated.runningMan"]]>
                  </ng-container>
                  <ng-container *ngIf="sizeControl.value">
                    <![CDATA[
                    [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="clickableControl.value">
                    <![CDATA[
                    [features]="[ui.feature.clickable]"]]>
                  </ng-container>
                  <ng-container *ngIf="colorControl.value">
                    <![CDATA[
                    color="]]>{{colorControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="outlineControl.value">
                    <![CDATA[
                    [outline]="ui.outline.]]>{{outlineControl.value}}<![CDATA["]]>
                  </ng-container>
                  <![CDATA[>]]>
                  <ng-container *ngIf="dotControl.value">
                    <![CDATA[
                    <sn-dot></sn-dot>
                    ]]>
                  </ng-container>
                  <![CDATA[
                </sn-label>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-label"
                           [api]="api.label">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
