<sn-container>

  <sn-app-page-header [icon]="localUi.icons.pager"
                      title="Pager"
                      i18n-title="@@label.pager"
                      [teaser]="handbook.navigation.components.pager.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <form [formGroup]="form">
                  <sn-stack [align]="ui.align.stretch">
                    <sn-block [width]="ui.width.fluid">
                      <sn-row>
                        <sn-col *ngFor="let number of (pageSizeControl.value | mockArray:
                          (modeControl.value === ui.pager.mode.offset ? offsetControl.value
                            : ((pageControl.value - 1) * pageSizeControl.value)))"
                                [desktop]="3">
                          <div block>
                            {{number + 1}}
                          </div>
                        </sn-col>
                      </sn-row>
                    </sn-block>
                    <sn-pager [count]="countControl.value"
                              [mode]="modeControl.value"
                              [size]="pagerSizeControl.value"
                              [pageSize]="pageSizeControl.value"
                              [formControl]="form.get(modeControl.value === ui.pager.mode.offset ? 'offset' : 'page')">
                    </sn-pager>
                  </sn-stack>
                </form>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder" form>
              <sn-form-item>
                <sn-form-label for="count" i18n="@@label.pages_count">
                  Items count
                </sn-form-label>
                <sn-form-control>
                  <sn-switcher formControlName="count">
                    <sn-switcher-option *ngFor="let count of [20,50,100]"
                                        [label]="count.toString()"
                                        [value]="count">
                    </sn-switcher-option>
                  </sn-switcher>
                </sn-form-control>
              </sn-form-item>

              <sn-form-item>
                <sn-form-label for="mode" i18n="@@label.mode">
                  Pager mode
                </sn-form-label>
                <sn-form-control>
                  <sn-switcher formControlName="mode">
                    <sn-switcher-option [label]="ui.pager.mode.offset"
                                        [value]="ui.pager.mode.offset">
                    </sn-switcher-option>
                    <sn-switcher-option [label]="ui.pager.mode.page"
                                        [value]="ui.pager.mode.page">
                    </sn-switcher-option>
                  </sn-switcher>
                </sn-form-control>
              </sn-form-item>

              <sn-form-item>
                <sn-form-label for="pageSize" i18n="@@label.page_size">
                  Page size
                </sn-form-label>
                <sn-form-control>
                  <sn-switcher formControlName="pageSize">
                    <sn-switcher-option *ngFor="let size of [10,15,20]"
                                        [label]="size.toString()"
                                        [value]="size">
                    </sn-switcher-option>
                  </sn-switcher>
                </sn-form-control>
              </sn-form-item>

              <sn-form-item>
                <sn-form-label for="pagerSize" i18n="@@label.page_size">
                  Pager size
                </sn-form-label>
                <sn-form-control>
                  <sn-switcher formControlName="pagerSize">
                    <sn-switcher-option *ngFor="let size of [1,2,3]"
                                        [label]="size.toString()"
                                        [value]="size">
                    </sn-switcher-option>
                  </sn-switcher>
                </sn-form-control>
              </sn-form-item>

            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'pager-test', type: 'PagerTestComponent'}"
                scss="navigation/pager">
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight>
                <!-- @formatter:off-->
                <![CDATA[
                <sn-pager
                  ]]>
                  <ng-container *ngIf="!!countControl.value">
                    <![CDATA[
                    [count]="]]>{{countControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="!!pageSizeControl.value">
                    <![CDATA[
                    [pageSize]="]]>{{pageSizeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="!!pagerSizeControl.value">
                    <![CDATA[
                    [size]="]]>{{pagerSizeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="!!modeControl.value">
                    <![CDATA[
                    [mode]="]]>{{modeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <![CDATA[>
                </sn-pager>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-pager"
                           [api]="api.pager">
        </app-component-api>
      </ng-template>
    </sn-tab>

  </sn-tabs>

</sn-container>
