@import "sn-variables";
@import "sn-typography";

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  touch-action: manipulation;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-weight: $sn-body-font-weight;
  line-height: $sn-body-line-height;
  font-size: $sn-body-font-size;
  color: $sn-body-color;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

[data-extra-small] {
  @extend %extra-small-text;
}

[data-extra-small-bold] {
  @extend %extra-small-bold-text;
}

[data-small] {
  @extend %small-text;
}

[data-small-bold] {
  @extend %small-bold-text;
}

[data-standard] {
  @extend %standard-text;
}

[data-standard-bold] {
  @extend %standard-bold-text;
}

[data-large] {
  @extend %large-text;
}

[data-large-bold] {
  @extend %large-bold-text;
}

h1, h2, h3, h4, h5 {
  margin-bottom: $sn-headings-margin-bottom;
  &:first-child {
    margin-top: 0;
  }
}

input, textarea, select, button, blockquote {
  font-family: $sn-font-family-base;
  font-size: $sn-font-size-base;
}

input, textarea, select, button {
  font-family: $sn-font-family-base;
  font-size: $sn-font-size-base;
}

