@import "sn-variables";

input, textarea, select {
  height: 38px;
  outline: 0;
  background-color: $sn-control-background;
  color: $sn-primary-text-color;
  padding: 0 $sn-gutter-normal;
  border-radius: $sn-corner-small;
  border: 1px solid $sn-control-border-color;
  box-sizing: border-box;
  transition: all .3s;
  &:disabled {
    background-color: $sn-control-disabled-background;
    pointer-events: none;
  }
  &:hover {
    border-color: $sn-primary-color;
  }
  &:focus {
    box-shadow: $sn-shadow-primary;
    border-color: $sn-primary-color;
  }
}

textarea {
  height: auto;
}

blockquote {
  font-style: italic;
}

button {
  color: $sn-white-color;
  background-color: $sn-primary-color;
  padding: 0 38px;
  font-size: $sn-font-size-base;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: 0;
  user-select: none;
  box-sizing: border-box;
  border-radius: $sn-corner-large;
  cursor: pointer;
  border: none;
  position: relative;
  &:hover, &:focus {
    background-color: $sn-primary-dark-color;
  }
  &:focus {
    box-shadow: 0 1px 5px $sn-primary-color;
  }
}
