@import "sn-variables";

%h1 {
  font-size: $sn-font-size-huge;
  line-height: 40px;
  color: $sn-primary-color;
  font-weight: $sn-font-weight-bold;
}

%h2 {
  font-size: $sn-font-size-large;
  line-height: 32px;
  color: $sn-primary-color;
  font-weight: $sn-font-weight-bold;
}

%h3 {
  font-size: $sn-font-size-big;
  line-height: 28px;
  color: $sn-primary-color;
  font-weight: $sn-font-weight-bold;
}

%h4 {
  font-size: $sn-font-size-normal;
  line-height: 24px;
  color: $sn-primary-color;
  font-weight: $sn-font-weight-bold;
}

%h5 {
  font-size: $sn-font-size-base;
  line-height: 20px;
  color: $sn-primary-color;
  font-weight: $sn-font-weight-bold;
}

%extra-small-text {
  font-size: $sn-font-size-small;
  line-height: 16px;
  color: $sn-primary-text-color;
  font-weight: $sn-font-weight-base;
}

%small-text {
  font-size: $sn-font-size-base;
  line-height: 20px;
  color: $sn-primary-text-color;
  font-weight: $sn-font-weight-base;
}

%standard-text {
  font-size: $sn-font-size-normal;
  line-height: 24px;
  color: $sn-primary-text-color;
  font-weight: $sn-font-weight-base;
}

%large-text {
  font-size: $sn-font-size-big;
  line-height: 28px;
  color: $sn-primary-text-color;
  font-weight: $sn-font-weight-base;
}

%extra-small-bold-text {
  @extend %extra-small-text;
  font-weight: $sn-font-weight-bold;
}

%small-bold-text {
  @extend %small-text;
  font-weight: $sn-font-weight-bold;
}

%standard-bold-text {
   @extend %standard-text;
   font-weight: $sn-font-weight-bold;
}

%large-bold-text {
  @extend %large-text;
  font-weight: $sn-font-weight-bold;
}
