$sn-debug: false !default;
$sn-ng-deep: false !default;

$sn-theme-type: 'light' !default;

$sn-white-color: white !default;
$sn-black-color: black !default;
$sn-teal-color: #1B998B !default;
$sn-yellow-color: #F8DB42 !default;
$sn-orange-color: #F9814E !default;
$sn-olive-color: #BAAA00 !default;
$sn-maroon-color: #AD4856 !default;
$sn-brown-color: #9D663E !default;
$sn-indigo-color: #66579E !default;

$sn-blue-color: #087AAF !default;
$sn-blue-100-color: #E6E9FA !default;

$sn-green-color: #7C9933 !default;
$sn-green-dark-color: #00B89F !default;
$sn-red-color: #F25F5C !default;
$sn-red-dark-color: #B54745 !default;

$sn-aqua-color: #45BFDA !default;
$sn-aqua-dark-color: #008EA8 !default;
$sn-aqua-light-color: #80F2FF !default;

$sn-purple-color: #985D88 !default;
$sn-purple-dark-color: #00227B !default;
$sn-purple-light-color: #6F74DD !default;
$sn-purple-lighten-color: #C4C9E7 !default;

$sn-magenta-dark-color: #933183 !default;

$sn-gray-light-2-color: #FBFBFB !default;
$sn-gray-light-5-color: #F5F5F5 !default;
$sn-gray-light-10-color: #ECECEC !default;
$sn-gray-light-25-color: #D0D0D0 !default;
$sn-gray-light-50-color: #A1A1A1 !default;
$sn-gray-light-75-color: #737373 !default;
$sn-gray-color: #444444 !default;

$sn-primary-light-10-color: #E5EEEF !default;
$sn-primary-light-25-color: #BFD4D7 !default;
$sn-primary-light-50-color: #7FA9B0 !default;
$sn-primary-light-75-color: #407f89 !default;
$sn-primary-color: #005461 !default;
$sn-primary-dark-color: #003e48 !default;

$sn-secondary-light-10-color: #E5F6F7 !default;
$sn-secondary-light-25-color: #BFE8EB !default;
$sn-secondary-light-50-color: #7FD2D6 !default;
$sn-secondary-light-75-color: #40BCC2 !default;
$sn-secondary-color: #00A5AE !default;
$sn-secondary-dark-color: #007C82 !default;

$sn-success-color: #76A530 !default;
$sn-success-dark-color: darken($sn-success-color, 10%) !default;

$sn-warning-color: $sn-olive-color !default;

$sn-information-color: #3296C1 !default;

$sn-cme-color: #D6A06F !default;

$sn-fail-color: #BE182D !default;
$sn-fail-dark-color: $sn-red-dark-color !default;

$sn-accent-color: $sn-red-color !default;
$sn-accent-dark-color: $sn-red-dark-color !default;

$sn-muted-color: $sn-gray-light-10-color !default;

$sn-outline-fill-name: 'fill';
$sn-outline-ghost-name: 'ghost';
$sn-outline-transparent-name: 'transparent';

$sn-primary-background: $sn-white-color !default;
$sn-secondary-background: $sn-secondary-light-10-color !default;
$sn-highlight-background: $sn-secondary-light-25-color !default;

$sn-page-background: $sn-gray-light-10-color !default;

$sn-gutter-base: 4px !default;

$sn-gutter-none: 0 !default;
$sn-gutter-tiny: $sn-gutter-base !default;
$sn-gutter-small: $sn-gutter-base * 2 !default;
$sn-gutter-normal: $sn-gutter-base * 4 !default;
$sn-gutter-big: $sn-gutter-base * 5 !default;
$sn-gutter-large: $sn-gutter-base * 6 !default;
$sn-gutter-huge: $sn-gutter-base * 8 !default;

$sn-corner-base: 4px !default;
$sn-corner-small: 2px !default;
$sn-corner-normal: $sn-corner-base !default;
$sn-corner-large: $sn-corner-base * 2 !default;

$box-shadow-color: rgba(0, 0, 0, .15);
$sn-shadow-light: 0px 4px 10px rgba($sn-black-color, .15) !default;
$sn-shadow-normal: 0px 1px 2px $box-shadow-color !default;
$sn-shadow-big: 0px 0px 10px rgba(0, 0, 0, 0.2) !default;
$sn-shadow-primary: 0px 2px 8px rgba($sn-primary-color, .25) !default;
$sn-outline-shadow-small: 0 0 0 2px;
$sn-outline-shadow-normal: 0 0 0 4px;

$sn-grid-gutter: $sn-gutter-normal !default;
$sn-mobile-breakpoint: 0;
$sn-tablet-breakpoint: 767px;
$sn-desktop-breakpoint: 992px;
$sn-wide-breakpoint: 1200px;

$sn-grid-breakpoints: (
  mobile: $sn-mobile-breakpoint,
  tablet: $sn-tablet-breakpoint,
  desktop: $sn-desktop-breakpoint,
  wide: $sn-wide-breakpoint
) !default;

$sn-primary-text-color: $sn-gray-color !default;
$sn-primary-text-dark-color: $sn-gray-color !default;
$sn-primary-text-light-color: $sn-gray-light-75-color !default;
$sn-primary-text-inverse-color: $sn-white-color !default;

$sn-font-size-tiny: 10px !default;
$sn-font-size-small: 12px !default;
$sn-font-size-base: 14px !default;
$sn-font-size-normal: 16px !default;
$sn-font-size-big: 20px !default;
$sn-font-size-large: 24px !default;
$sn-font-size-huge: 32px !default;

$sn-font-weight-light: 300 !default;
$sn-font-weight-base: 400 !default;
$sn-font-weight-semi-bold: 600 !default;
$sn-font-weight-bold: 700 !default;
$sn-font-weight-extra-bold: 800 !default;

$sn-line-height-base: 1.5 !default;
$sn-line-height-large: 2.5 !default;
$sn-line-height-small: 1.3 !default;
$sn-line-height-tiny: 1 !default;

$sn-font-family-base: "Open Sans", Tahoma !default;

$sn-page-header-font-size: 18px;
$sn-scrollbar-width: 12px;
$sn-headings-margin-bottom: $sn-gutter-normal !default;

$sn-control-gutter: $sn-gutter-small !default;
$sn-control-border-color: $sn-gray-light-50-color !default;
$sn-control-switch-label-color: $sn-primary-text-color !default;
$sn-control-background: $sn-primary-background;

$sn-control-field-label-background: $sn-secondary-background !default;
$sn-control-field-label-padding: 0 $sn-gutter-small !default;
$sn-control-field-label-color: $sn-primary-text-light-color !default;
$sn-control-field-label-border-color: $sn-gray-light-5-color !default;

$sn-control-disabled-border-color: $sn-gray-light-50-color !default;
$sn-control-disabled-indicator-icon-color: $sn-gray-light-50-color !default;
$sn-control-disabled-label-color: $sn-primary-text-light-color !default;
$sn-control-disabled-background: $sn-gray-light-10-color !default;

$sn-scheme-primary-name: 'primary';
$sn-scheme-secondary-name: 'secondary';
$sn-scheme-success-name: 'success';
$sn-scheme-fail-name: 'fail';

$sn-state-normal-name: 'normal';
$sn-state-success-name: 'success';
$sn-state-failed-name: 'failed';

$sn-size-tiny-name: 'tiny';
$sn-size-small-name: 'small';
$sn-size-normal-name: 'normal';
$sn-size-large-name: 'large';

$sn-gutter-none-name: 'none';
$sn-gutter-tiny-name: 'tiny';
$sn-gutter-small-name: 'small';
$sn-gutter-normal-name: 'normal';
$sn-gutter-big-name: 'big';
$sn-gutter-large-name: 'large';
$sn-gutter-huge-name: 'huge';

$sn-body-color: $sn-primary-text-color !default;
$sn-app-layout-font-family: $sn-font-family-base !default;
$sn-lp-layout-font-family: 'Montserrat', sans-serif !default;
$sn-body-font-weight: $sn-font-weight-base !default;
$sn-body-line-height: $sn-line-height-base !default;
$sn-body-font-size: $sn-font-size-normal !default;
