@import 'sn-variables';
@import 'sn-functions';

$slider-height: 16px;
$slided-height: 4px;

:host {
  display: flex;
  align-items: center;
  height: $slider-height;
  width: 100%;
  position: relative;
}

[data-slided] {
  position: absolute;
  left: 0;
  width: 0;
  height: $slided-height;
  background: $sn-primary-color;
}

[data-pointer] {
  position: relative;
  left: 0;
  width: $slider-height;
  height: $slider-height;
  border-radius: 50%;
  z-index: 1;
  background-color: $sn-primary-color;
}

[data-to-slide] {
  position: absolute;
  right: 0;
  width: 100%;
  height: $slided-height;
  background: $sn-primary-light-25-color;
}

form {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;

  input {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
    cursor: pointer;

    &[type=range]::-moz-range-thumb {
      background: $sn-white-color;
    }
  }
}
