<div _sl data-slided [style.width]="(+rangeControl.value | getPercent:min:max) + '%'"></div>
<div _sl data-pointer [style.left]="'calc(' + (+rangeControl.value | getPercent:min:max) + '% - 8px)'"></div>
<div _sl data-to-slide [style.width]="100 - (+rangeControl.value | getPercent:min:max) + '%'"></div>

<form _sl [formGroup]="form">
  <input _sl type="range" [min]="min" [max]="max" [step]="step"
         formControlName="range">
</form>
