<sn-container>

  <sn-app-page-header [icon]="localUi.icons.form"
                      title="Form"
                      i18n-title="@@label.form"
                      [teaser]="handbook.forms.components.form.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch">

          <sn-form [formGroup]="builder">
            <sn-stack [orientation]="ui.orientation.horizontal"
                      [align]="ui.align.center"
                      [wrap]="ui.wrap.wrap"
                      [spacing]="ui.gutter.normal">

              <sn-form-item>
                <sn-form-control>
                  <sn-checkbox formControlName="title"
                               i18n-label="@@label.title"
                               label="Title"></sn-checkbox>
                </sn-form-control>
              </sn-form-item>

              <sn-form-item [orientation]="ui.orientation.horizontal"
                            [gutter]="ui.gutter.small"
                            [align]="ui.align.center">
                <sn-form-label for="state">States
                </sn-form-label>
                <sn-switcher formControlName="state"
                             [features]="[ui.feature.allowEmpty]">
                  <sn-switcher-option label="Loading"
                                      i18n-label="@@label.loading"
                                      [icon]="ui.icons.animated.spinner"
                                      [value]="ui.state.loading"></sn-switcher-option>
                  <sn-switcher-option label="Error"
                                      i18n-label="@@label.error"
                                      [icon]="ui.icons.warning"
                                      [value]="ui.state.error"></sn-switcher-option>
                </sn-switcher>
              </sn-form-item>

              <sn-button [scheme]="ui.scheme.success"
                         text="Success"
                         i18n-text="@@action.success"
                         (click)="formTest.success()"></sn-button>
            </sn-stack>
          </sn-form>

          <app-browser-preview preview>
            <ng-template #document let-width="width" let-height="height">
              <sn-block [padding]="ui.gutter.normal" [width]="ui.width.fluid">
                <sn-form #formTest [formGroup]="form"
                         [title]="titleControl.value ? 'Registration' : null"
                         [state]="stateControl.value"
                         (checked)="errors = $event"
                         (submitted)="submit()">

                  <sn-stack [align]="ui.align.stretch">

                    <sn-message *ngIf="errors | includes:form.get('personals').get('firstName')"
                                [scheme]="ui.scheme.fail">First Name must be at least 3 characters long
                    </sn-message>

                    <sn-message *ngIf="errors | includes:form.get('password')"
                                [scheme]="ui.scheme.fail">Password must be at least 5 characters long
                    </sn-message>

                    <ng-container formGroupName="personals">
                      <sn-row>
                        <sn-col [tablet]="6" [mobile]="12">
                          <sn-form-item>
                            <sn-form-label for="firstName"
                                           i18n="@@label.your_name">Your Name
                            </sn-form-label>
                            <sn-form-control name="firstName">
                              <sn-input formControlName="firstName" [type]="ui.input.type.text"></sn-input>
                              <sn-form-message [validator]="ui.validator.required">
                                This field is required
                              </sn-form-message>
                            </sn-form-control>
                          </sn-form-item>
                        </sn-col>

                        <sn-col [tablet]="6" [mobile]="12">
                          <sn-form-item>
                            <sn-form-label for="lastName"
                                           i18n="@@label.your_last_name">Your Last name
                            </sn-form-label>
                            <sn-form-control name="lastName">
                              <sn-input formControlName="lastName" [type]="ui.input.type.text"></sn-input>
                            </sn-form-control>
                          </sn-form-item>
                        </sn-col>
                      </sn-row>
                    </ng-container>

                    <sn-form-item>
                      <sn-form-label for="password"
                                     i18n="@@label.password">Password
                      </sn-form-label>
                      <sn-form-control name="password">
                        <sn-input formControlName="password" [type]="ui.input.type.password"></sn-input>
                        <sn-form-message [validator]="ui.validator.required"
                                         i18n="@@message.this_field_is_required">
                          This field is required
                        </sn-form-message>
                      </sn-form-control>
                    </sn-form-item>

                    <sn-form-item>
                      <sn-form-label for="phone"
                                     i18n="@@label.phone">Phone
                      </sn-form-label>
                      <sn-form-control name="phone">
                        <sn-input formControlName="phone"
                                  name="phone"
                                  i18n-name="@@label.phone"
                                  [autocomplete]="ui.input.autocomplete.on"
                                  mask="+7(___) ___-__-__"></sn-input>

                        <sn-form-message validator="phone" i18n="@@message.bad_phone_number">
                          Bad phone number
                        </sn-form-message>
                      </sn-form-control>
                    </sn-form-item>

                    <sn-form-item>
                      <sn-form-label for="gender"
                                     i18n="@@label.gender">Gender
                      </sn-form-label>
                      <sn-radio-group formControlName="gender">
                        <sn-stack [orientation]="ui.orientation.horizontal">
                          <sn-radio label="Man"
                                    i18n-label="@@label.man"
                                    [value]="gender.man"></sn-radio>
                          <sn-radio label="Woman"
                                    i18n-label="@@label.woman"
                                    [value]="gender.woman"></sn-radio>
                        </sn-stack>
                      </sn-radio-group>
                    </sn-form-item>

                    <sn-row>
                      <sn-col [tablet]="6" [mobile]="12">
                        <sn-form-item>
                          <sn-form-label for="birthday"
                                         i18n="@@label.birthday">Birthday
                          </sn-form-label>
                          <sn-date-picker formControlName="birthday"></sn-date-picker>
                        </sn-form-item>
                      </sn-col>

                      <sn-col [tablet]="6" [mobile]="12">
                        <sn-form-item>
                          <sn-form-label for="country"
                                         i18n="@@label.country">Country
                          </sn-form-label>
                          <sn-form-control>
                            <sn-select formControlName="country"
                                       placeholder="Country"
                                       i18n-placeholder="@@label.country"
                                       [features]="[ui.feature.search]">
                              <sn-select-option *ngFor="let country of countries" [label]="country"
                                                [key]="country"></sn-select-option>
                            </sn-select>
                          </sn-form-control>
                        </sn-form-item>
                      </sn-col>

                    </sn-row>

                    <sn-form-item>
                      <sn-form-label for="status"
                                     i18n="@@label.marital_status">Marital Status
                      </sn-form-label>
                      <sn-switcher formControlName="status">
                        <sn-switcher-option *ngFor="let stat of status" [label]="stat"
                                            [value]="stat"></sn-switcher-option>
                      </sn-switcher>
                    </sn-form-item>

                    <sn-form-item>
                      <sn-form-label for="pets"
                                     i18n="@@label.your_pets">Your pets:
                      </sn-form-label>
                      <sn-form-control>
                        <sn-checkbox-group formControlName="pets"
                                           [orientation]="ui.orientation.horizontal">
                          <sn-checkbox *ngFor="let pet of pets" [label]="pet" [value]="pet"></sn-checkbox>
                        </sn-checkbox-group>
                      </sn-form-control>
                    </sn-form-item>

                    <sn-form-item>
                      <sn-form-control>
                        <sn-switch formControlName="notification"
                                   i18n-label="@@label.enable_notifications"
                                   label="Enable notifications"></sn-switch>
                      </sn-form-control>
                    </sn-form-item>

                    <ng-template #formFooterTemplate>
                      <sn-stack [width]="ui.width.fluid"
                                [align]="ui.align.end">
                        <sn-button text="Save"
                                   i18n-text="@@action.save"
                                   [disabled]="!form.valid"
                                   [icon]="ui.icons.save"
                                   [type]="ui.button.type.submit"
                                   [snModal]="{content: saveModal, title: {text: 'Submitted'}}">
                        </sn-button>
                      </sn-stack>
                    </ng-template>

                    <ng-template #saveModal>
                      <pre [innerHTML]="submitted"></pre>
                    </ng-template>

                  </sn-stack>
                </sn-form>
              </sn-block>
            </ng-template>
          </app-browser-preview>

        </sn-stack>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'form-test', type: 'FormTestComponent'}"
                scss="forms/form">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
                  <![CDATA[
                  import { Component } from '@angular/core';
                  import { UI } from '@esanum/ui';
                  import { FormBuilder, Validators } from '@angular/forms';

                  enum Gender {
                  man = 'man',
                  woman = 'woman'
                  }

                  @Component({
                  selector: 'app-form-test',
                  templateUrl: './form-test.component.html',
                  styleUrls: ['./form-test.component.scss']
                  })

                  gender = Gender;
                  countries: string[] = ['Russia', 'Australia', 'Austria', 'Brazil', 'Germany', 'Latvia', 'Monaco',
                  'Ukraine'];
                  pets: string[] = ['cat', 'dog', 'fish', 'parrot'];
                  status: string[] = ['married', 'not married', 'is actively looking'];

                  nameControl = this.fb.control(null);
                  lastNameControl = this.fb.control(null);
                  emailControl = this.fb.control(null);
                  passwordControl = this.fb.control(null);
                  genderControl = this.fb.control(Gender.man);
                  birthdayControl = this.fb.control(new Date());
                  countryControl = this.fb.control(this.countries[0]);
                  notificationControl = this.fb.control(true);
                  petsControl = this.fb.control(null);
                  statusControl = this.fb.control(this.status[0]);

                  form = this.fb.group({
                  name: this.nameControl,
                  lastName: this.lastNameControl,
                  email: this.emailControl,
                  password: this.passwordControl,
                  gender: this.genderControl,
                  birthday: this.birthdayControl,
                  country: this.countryControl,
                  notification: this.notificationControl,
                  pets: this.petsControl,
                  status: this.statusControl,
                  });

                  constructor(private fb: FormBuilder) {
                  }
                  ]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="form-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-form [formGroup]="form" ]]>

                  <ng-container *ngIf="!!titleControl.value">
                    <![CDATA[
                    title="Registration"]]>
                  </ng-container>
                  <ng-container *ngIf="!!stateControl.value">
                    <![CDATA[
                    [state]="]]>{{stateControl.value}}<![CDATA["]]>
                  </ng-container>
                  <![CDATA[>
                  <sn-stack [align]="ui.align.stretch">

                    <sn-row>
                      <sn-col [tablet]="6" [mobile]="12">
                        <sn-form-item>
                          <sn-form-label for="name">Your Name</sn-form-label>
                          <sn-form-control>
                            <sn-input formControlName="name" [type]="ui.input.type.text"></sn-input>
                          </sn-form-control>
                        </sn-form-item>
                      </sn-col>

                      <sn-col [tablet]="6" [mobile]="12">
                        <sn-form-item>
                          <sn-form-label for="lastName">Your Last name</sn-form-label>
                          <sn-form-control>
                            <sn-input formControlName="lastName" [type]="ui.input.type.text"></sn-input>
                          </sn-form-control>
                        </sn-form-item>
                      </sn-col>
                    </sn-row>

                    <sn-form-item>
                      <sn-form-label for="email">Your E-mail</sn-form-label>
                      <sn-form-control>
                        <sn-input formControlName="email" [type]="ui.input.type.text"></sn-input>
                      </sn-form-control>
                    </sn-form-item>

                    <sn-form-item>
                      <sn-form-label for="password">Password</sn-form-label>
                      <sn-form-control>
                        <sn-input formControlName="password" [type]="ui.input.type.password"></sn-input>
                      </sn-form-control>
                    </sn-form-item>

                    <sn-form-item>
                      <sn-form-label for="gender">Gender</sn-form-label>
                      <sn-radio-group formControlName="gender">
                        <sn-stack [orientation]="ui.orientation.horizontal">
                          <sn-radio label="Man" [value]="gender.man"></sn-radio>
                          <sn-radio label="Woman" [value]="gender.woman"></sn-radio>
                        </sn-stack>
                      </sn-radio-group>
                    </sn-form-item>

                    <sn-row>
                      <sn-col [tablet]="6" [mobile]="12">
                        <sn-form-item>
                          <sn-form-label for="birthday">Birthday</sn-form-label>
                          <sn-date-picker formControlName="birthday"></sn-date-picker>
                        </sn-form-item>
                      </sn-col>

                      <sn-col [tablet]="6" [mobile]="12">
                        <sn-form-item>
                          <sn-form-label for="country">Country</sn-form-label>
                          <sn-form-control>
                            <sn-select formControlName="country" placeholder="Country"
                                       [features]="[ui.feature.search]">
                              <sn-select-option *ngFor="let country of countries" [label]="country"
                                                [key]="country"></sn-select-option>
                            </sn-select>
                          </sn-form-control>
                        </sn-form-item>
                      </sn-col>
                    </sn-row>

                    <sn-form-item>
                      <sn-form-label for="status">Marital Status</sn-form-label>
                      <sn-switcher formControlName="status">
                        <sn-switcher-option *ngFor="let stat of status" [label]="stat"
                                            [value]="stat"></sn-switcher-option>
                      </sn-switcher>
                    </sn-form-item>

                    <sn-form-item>
                      <sn-form-label for="pets">Your pets:</sn-form-label>
                      <sn-form-control>
                        <sn-checkbox-group formControlName="pets">
                          <sn-stack [orientation]="ui.orientation.horizontal">
                            <sn-checkbox *ngFor="let pet of pets" [label]="pet" [value]="pet"></sn-checkbox>
                          </sn-stack>
                        </sn-checkbox-group>
                      </sn-form-control>
                    </sn-form-item>

                    <sn-form-item>
                      <sn-form-control>
                        <sn-switch formControlName="notification" label="Enable notifications"></sn-switch>
                      </sn-form-control>
                    </sn-form-item>

                    <ng-template #formFooterTemplate>
                      <sn-stack [width]="ui.width.fluid" [align]="ui.align.end">
                        <sn-button text="Save"
                                   [icon]="ui.icons.save"
                                   [type]="ui.button.type.submit">
                        </sn-button>
                      </sn-stack>
                    </ng-template>

                  </sn-stack>
                </sn-form>
                ]]>
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-form"
                             [api]="api.form">
          </app-component-api>
          <app-component-api selector="sn-form-control"
                             [api]="api.formControl">
          </app-component-api>
          <app-component-api selector="sn-form-label"
                             [api]="api.formLabel">
          </app-component-api>
          <app-component-api selector="sn-form-message"
                             [api]="api.formMessage">
          </app-component-api>
          <app-component-api selector="sn-form-item"
                             [api]="api.formItem">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>

  </sn-tabs>

</sn-container>
