<sn-container>

  <sn-app-page-header [icon]="localUi.icons.popover"
                      title="Popover"
                      i18n-title="@@label.popover"
                      [teaser]="handbook.overlays.components.popover.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>


  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document let-height="height">
                <sn-stack [orientation]="ui.orientation.vertical">

                  <sn-button [snPopover]="{
                                title: titleControl.value ? 'Title' : null,
                                trigger: triggerControl.value,
                                content: contentTypeControl.value === 'default' ? 'Any text' : null,
                                contentTemplate: contentTypeControl.value === 'custom' ? contentTemplate : null,
                                position: layoutControl.value,
                                behaviour: dropdownControl.value ? ui.behaviour.dropdown : null,
                                features: [ui.feature.smarty]
                              }"
                             [text]="triggerControl.value == ui.trigger.click ? 'Click me' : 'Hover on me'"
                             i18n-text="@@action.click_me">
                  </sn-button>

                  <ng-template #contentTemplate>
                    <sn-stack [orientation]="ui.orientation.vertical">
                      <span i18n="@@label.it_is_custom_content">It is custom content!</span>
                      <sn-stack [orientation]="ui.orientation.horizontal">
                        <sn-button text="Ok"
                                   i18n-text="@@action.ok"></sn-button>
                        <sn-button text="Cancel"
                                   i18n-text="@@action.cancel"></sn-button>
                      </sn-stack>
                    </sn-stack>
                  </ng-template>

                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="trigger"
                                 i18n="@@label.trigger_type">Trigger type
                  </sn-form-label>
                  <sn-switcher formControlName="trigger">
                    <sn-switcher-option label="Hover"
                                        i18n-label="@@label.hover"
                                        [icon]="localUi.icons.hover"
                                        [value]="triggerType.hover"></sn-switcher-option>
                    <sn-switcher-option label="Click"
                                        i18n-label="@@label.click"
                                        [icon]="localUi.icons.click"
                                        [value]="triggerType.click"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.content_type">Content type
                  </sn-form-label>
                  <sn-switcher formControlName="type">
                    <sn-switcher-option label="Default"
                                        i18n-label="@@label.default"
                                        [icon]="localUi.icons.left"
                                        [value]="contentType.default"></sn-switcher-option>
                    <sn-switcher-option label="Custom template"
                                        i18n-label="@@label.custom_template"
                                        [icon]="localUi.icons.template"
                                        [value]="contentType.custom"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="layout"
                                 i18n="@@label.layout">Layout
                  </sn-form-label>
                  <sn-select formControlName="layout">
                    <sn-select-option label="Top"
                                      i18n-label="@@label.top"
                                      [icon]="localUi.icons.position.top"
                                      [key]="ui.position.top"></sn-select-option>
                    <sn-select-option label="Right"
                                      i18n-label="@@label.right"
                                      [icon]="localUi.icons.end"
                                      [key]="ui.position.right"></sn-select-option>
                    <sn-select-option label="Left"
                                      i18n-label="@@label.left"
                                      [icon]="localUi.icons.start"
                                      [key]="ui.position.left"></sn-select-option>
                    <sn-select-option label="Bottom"
                                      i18n-label="@@label.bottom"
                                      [icon]="localUi.icons.position.bottom"
                                      [key]="ui.position.bottom"></sn-select-option>
                    <sn-select-option label="Right Bottom"
                                      i18n-label="@@label.right_bottom"
                                      [icon]="localUi.icons.position.bottom"
                                      [key]="ui.position.rightBottom"></sn-select-option>
                  </sn-select>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-control>
                    <sn-checkbox formControlName="title"
                                 label="Title"
                                 i18n-label="@@label.title"></sn-checkbox>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-control>
                    <sn-checkbox formControlName="dropdown"
                                 label="Dropdown"
                                 i18n-label="@@label.dropdown"></sn-checkbox>
                  </sn-form-control>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'popover-test', type: 'PopoverTestComponent'}"
                scss="overlays/popover"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="popover-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
  <sn-button [snPopover]="{]]>
    <ng-container *ngIf="titleControl.value">
      <![CDATA[title: 'Title',]]>
    </ng-container>
    <![CDATA[
    trigger:]]> {{triggerControl.value === 'click' ? 'ui.trigger.click' : 'ui.trigger.hover'}}<![CDATA[, ]]>

    <ng-container *ngIf="contentTypeControl.value === 'default'">
      <![CDATA[content: 'Any text',]]>
    </ng-container>
    <ng-container *ngIf="contentTypeControl.value === 'custom'">
      <![CDATA[contentTemplate: contentTemplate,]]>
    </ng-container>
    <![CDATA[
    position: ui.position.]]>{{layoutControl.value}}<![CDATA[}"
    text="Click me">
  </sn-button>
]]>

<ng-container *ngIf="contentTypeControl.value === 'custom'">
  <![CDATA[
  <ng-template #contentTemplate>
    <sn-stack [orientation]="ui.orientation.vertical">
      <span>It is custom content!</span>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-button text="Ok"
                    i18n-text="@@action.ok"></sn-button>
        <sn-button text="Cancel"
                    i18n-text="@@action.cancel"></sn-button>
      </sn-stack>
    </sn-stack>
  </ng-template>
  ]]>
</ng-container>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
