@import '../../component';
@import 'sn-variables';

:host-context([theme='dark']) {
  [data-content] {
    color: $sn-white-color;
  }
}

[placements] {
  width: 50%;
  align-self: center;

  [stack] {
    sn-button:last-of-type {
      margin: 0;
    }
  }
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}
