<sn-stack _ph [orientation]="ui.orientation.horizontal"
          [align]="ui.align.center"
          [justify]="ui.justify.between"
          [wrap]="ui.wrap.wrap"
          [gutter]="ui.gutter.none"
          [spacing]="ui.gutter.normal">
  <sn-stack _ph [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
    <div _ph data-thumbnail *ngIf="!!icon">
      <sn-icon _ph data-icon [icon]="icon"></sn-icon>
    </div>
    <sn-stack _ph [gutter]="ui.gutter.none">
      <div _ph data-title>{{title}}</div>
      <div _ph data-teaser *ngIf="!!teaser">{{teaser}}</div>
    </sn-stack>
  </sn-stack>
  <sn-stack _ph [orientation]="ui.orientation.horizontal"
            [gutter]="ui.gutter.small"
            [align]="ui.align.stretch">
    <ng-container *ngTemplateOutlet="headerActionsTemplate"></ng-container>
  </sn-stack>
</sn-stack>


