<sn-container>

  <sn-app-page-header [icon]="localUi.icons.switcher"
                      title="Switcher"
                      i18n-title="@@label.switcher"
                      [teaser]="handbook.forms.components.switcher.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>

          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <sn-block #block data-block title="Your hero"
                          i18n-title="@@label.your_hero" [width]="ui.width.fluid">
                  <sn-form [formGroup]="form" (submitted)="submit()">
                    <sn-stack [align]="ui.align.stretch">
                      <sn-form-item>
                        <sn-form-label for="hero"
                                       i18n="@@label.select_hero">Select hero
                        </sn-form-label>
                        <sn-form-control name="hero">
                          <sn-switcher formControlName="hero"
                                       [loading]="loadingControl.value"
                                       [features]="[
                                          indicatorControl.value ? ui.feature.badge : null,
                                          selectAllControl.value ? ui.feature.selectAll : null,
                                          allowEmptyControl.value ? ui.feature.allowEmpty : null,
                                          adaptedControl.value ? ui.feature.adapted : null,
                                          marksControl.value ? ui.feature.marks : null
                                        ] | filterEmpty"
                                       [attr.max-height]="heightControl.value"
                                       [mode]="modeControl.value"
                                       [orientation]="orientationControl.value">
                            <sn-switcher-option label="No one"
                                                i18n-label="@@label.no_one"
                                                [value]="null"
                                                [disabled]="disabledOptionControl.value"
                                                [icon]="ui.icons.sad">
                            </sn-switcher-option>
                            <sn-switcher-option label="Spiderman"
                                                i18n-label="@@label.spiderman"
                                                [value]="hero.spiderman"
                                                [disabled]="disabledOptionControl.value"
                                                [icon]="iconControl.value ? localUi.icons.spiderman : null">
                              <sn-dot *ngIf="dotControl.value"
                                      [color]="ui.color.red"></sn-dot>
                              <sn-badge *ngIf="badgeControl.value"
                                        [color]="ui.color.red"
                                        [value]="5"></sn-badge>
                              <ng-container *ngIf="templateControl.value">
                                <ng-template #optionTemplate>
                                  <sn-stack [orientation]="ui.orientation.horizontal"
                                            [align]="ui.align.center">
                                    <sn-stack [orientation]="ui.orientation.horizontal"
                                              [gutter]="ui.gutter.small"
                                              [align]="ui.align.center">
                                      <sn-avatar image="assets/images/heroes/spiderman.svg"
                                                 [size]="ui.size.small"></sn-avatar>
                                      <div>Spiderman</div>
                                    </sn-stack>
                                    <sn-label label="15"
                                              [color]="ui.color.red"></sn-label>
                                  </sn-stack>
                                </ng-template>
                              </ng-container>
                            </sn-switcher-option>
                            <sn-switcher-option label="Ironman"
                                                i18n-label="@@label.ironman"
                                                [value]="hero.ironman"
                                                [icon]="iconControl.value ? localUi.icons.ironman : null">
                              <sn-dot *ngIf="dotControl.value"
                                      [color]="ui.color.yellow"></sn-dot>
                              <sn-badge *ngIf="badgeControl.value"
                                        [color]="ui.color.yellow"
                                        [value]="5"></sn-badge>
                              <ng-container *ngIf="templateControl.value">
                                <ng-template #optionTemplate>
                                  <sn-stack [orientation]="ui.orientation.horizontal"
                                            [align]="ui.align.center">
                                    <sn-stack [orientation]="ui.orientation.horizontal"
                                              [gutter]="ui.gutter.small"
                                              [align]="ui.align.center">
                                      <sn-avatar image="assets/images/heroes/ironman.svg"
                                                 [size]="ui.size.small"></sn-avatar>
                                      <div>Ironman</div>
                                    </sn-stack>
                                    <sn-label label="20"
                                              [color]="ui.color.yellow"></sn-label>
                                  </sn-stack>
                                </ng-template>
                              </ng-container>
                            </sn-switcher-option>
                            <sn-switcher-option label="Captain America"
                                                i18n-label="@@label.captain_america"
                                                [value]="hero.captainAmerica"
                                                [icon]="iconControl.value ? localUi.icons.capitan : null">
                              <sn-dot *ngIf="dotControl.value"
                                      [color]="ui.color.blue100"></sn-dot>
                              <sn-badge *ngIf="badgeControl.value"
                                        [color]="ui.color.blue100"
                                        [value]="5"></sn-badge>
                              <ng-container *ngIf="templateControl.value">
                                <ng-template #optionTemplate>
                                  <sn-stack [orientation]="ui.orientation.horizontal"
                                            [align]="ui.align.center">
                                    <sn-stack [orientation]="ui.orientation.horizontal"
                                              [gutter]="ui.gutter.small"
                                              [align]="ui.align.center">
                                      <sn-avatar image="assets/images/heroes/captain.svg"
                                                 [size]="ui.size.small"></sn-avatar>
                                      <div>Captain America</div>
                                    </sn-stack>
                                    <sn-label label="25"
                                              [color]="ui.color.blue100"></sn-label>
                                  </sn-stack>
                                </ng-template>
                              </ng-container>
                            </sn-switcher-option>
                          </sn-switcher>

                          <sn-form-message [validator]="ui.validator.required"
                                           i18n="@@message.please_select_the_hero">
                            Please select the hero
                          </sn-form-message>
                        </sn-form-control>
                      </sn-form-item>

                      <ng-template #multipleTemplate>
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                  [align]="ui.align.center"
                                  [justify]="ui.justify.center">
                          <ng-template #emptyTemplate>
                            <sn-avatar [size]="ui.size.large" [icon]="ui.icons.question"></sn-avatar>
                          </ng-template>
                          <sn-avatars-list [max]="6" [size]="ui.size.large">
                            <sn-avatar *ngIf="heroControl.value | includes:hero.spiderman"
                                       image="assets/images/heroes/spiderman.svg"></sn-avatar>
                            <sn-avatar *ngIf="heroControl.value | includes:hero.ironman"
                                       image="assets/images/heroes/ironman.svg"></sn-avatar>
                            <sn-avatar *ngIf="heroControl.value | includes:hero.captainAmerica"
                                       image="assets/images/heroes/captain.svg"></sn-avatar>
                            <sn-avatar *ngIf="heroControl.value | includes:hero.superman"
                                       image="assets/images/heroes/superman.svg"></sn-avatar>
                            <sn-avatar *ngIf="!heroControl.value"
                                       [icon]="ui.icons.question"></sn-avatar>
                          </sn-avatars-list>
                        </sn-stack>
                      </ng-template>
                      <ng-container
                        *ngIf="!modeControl.value || modeControl.value === ui.select.mode.single else multipleTemplate"
                        [ngSwitch]="heroControl.value">
                        <sn-avatar data-avatar *ngSwitchCase="hero.spiderman"
                                   [size]="ui.size.large"
                                   image="assets/images/heroes/spiderman.svg"></sn-avatar>
                        <sn-avatar data-avatar *ngSwitchCase="hero.ironman"
                                   [size]="ui.size.large"
                                   image="assets/images/heroes/ironman.svg"></sn-avatar>
                        <sn-avatar data-avatar *ngSwitchCase="hero.captainAmerica"
                                   [size]="ui.size.large"
                                   image="assets/images/heroes/captain.svg"></sn-avatar>
                        <sn-avatar data-avatar *ngSwitchDefault [size]="ui.size.large"
                                   [icon]="ui.icons.question"></sn-avatar>
                      </ng-container>
                    </sn-stack>
                    <ng-template #formFooterTemplate>
                      <sn-row [justify]="ui.justify.between">
                        <sn-col [tablet]="5" [mobile]="12">
                          <sn-button text="Submit"
                                     i18n-text="@@action.submit"
                                     [width]="ui.width.fluid"
                                     [type]="ui.button.type.submit"></sn-button>
                        </sn-col>

                        <sn-col [tablet]="5" [mobile]="12">
                          <sn-button text="Reset"
                                     i18n-text="@@action.reset"
                                     [width]="ui.width.fluid"
                                     [scheme]="ui.scheme.secondary"
                                     (click)="form.reset()"></sn-button>
                        </sn-col>
                      </sn-row>
                    </ng-template>
                  </sn-form>
                </sn-block>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="mode"
                                 i18n="@@label.mode">Mode
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="mode"
                               placeholder="Single"
                               i18n-placeholder="@@label.single"
                               [features]="ui.feature.allowEmpty">
                      <sn-select-option label="Single"
                                        i18n-label="@@label.single"
                                        [icon]="localUi.icons.single"
                                        [key]="ui.select.mode.single"></sn-select-option>
                      <sn-select-option label="Multiple"
                                        i18n-label="@@label.multiple"
                                        [icon]="localUi.icons.multiple"
                                        [key]="ui.select.mode.multiple"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="orientation"
                                 i18n="@@label.orientation">Orientation
                  </sn-form-label>
                  <sn-select formControlName="orientation"
                             placeholder="Horizontal"
                             [features]="[ui.feature.allowEmpty]">
                    <sn-select-option label="Horizontal"
                                      i18n-label="@@label.horizontal"
                                      [icon]="localUi.icons.horizontal"
                                      [key]="ui.orientation.horizontal"></sn-select-option>
                    <sn-select-option label="Vertical"
                                      i18n-label="@@label.vertical"
                                      [icon]="localUi.icons.vertical"
                                      [key]="ui.orientation.vertical"></sn-select-option>
                  </sn-select>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="icon"
                                   label="Icon"
                                   i18n-label="@@label.icon"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="dot"
                                   label="Dot"
                                   i18n-label="@@label.dot"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="badge"
                                   label="Badge"
                                   i18n-label="@@label.badge"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="template"
                                   label="Custom option"
                                   i18n-label="@@label.custom_option"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="indicator"
                                   i18n-label="@@label.count_indicator"
                                   label="Count indicator"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="allowEmpty"
                                   label="Allow empty"
                                   i18n-label="@@label.allow_empty"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="marks"
                                   label="Display marks"
                                   i18n-label="@@label.display_marks"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="height"
                                   i18n-label="@@label.height_limit"
                                   label="Height limit"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="selectAll"
                                   i18n-label="@@label.select_all"
                                   label="Select all"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="adapted"
                                   i18n-label="@@label.adapted"
                                   label="Adapted"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>
                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.state">State
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="disabled"
                                   label="Disabled"
                                   i18n-label="@@label.disabled"></sn-checkbox>
                    </sn-col>

                    <sn-col [span]="4">
                      <sn-checkbox formControlName="disabledOption"
                                   i18n-label="@@label.disabled_option"
                                   label="Disabled option"></sn-checkbox>
                    </sn-col>

                    <sn-col [span]="4">
                      <sn-checkbox formControlName="loading"
                                   i18n-label="@@label.loading"
                                   label="Loading"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>

        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'switcher-test', type: 'SwitcherTestComponent'}"
                scss="forms/switcher">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
<![CDATA[
import { Component } from '@angular/core';
import { FormBuilder } from '@angular/forms';
import { UI } from 'esanum-ui';

                  enum Hero {
                  spiderman = 'spiderman',
                  ironman = 'ironman',
                  captainAmerica = 'captain_america'
                  }

@Component({
  selector: 'app-switcher-test',
  templateUrl: './switcher-test.component.html',
  styleUrls: ['./switcher-test.component.scss']
})
]]>
<![CDATA[
export class SwitcherTestComponent {

  ui = UI;
  hero = Hero;

  form = this.fb.group({
    hero: this.fb.control(null)
  });

  constructor(private fb: FormBuilder) {
  }
}
]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="switcher-test.component.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-switcher formControlName="hero"
]]>
  <ng-container *ngIf="orientationControl.value">
    <![CDATA[
    [orientation]="ui.orientation.]]>{{orientationControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="modeControl.value">
    <![CDATA[
    [mode]="ui.select.mode.]]>{{modeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="indicatorControl.value || selectAllControl.value || allowEmptyControl.value">
    <![CDATA[
    [features]="[]]>{{[
    indicatorControl.value ? ui.feature.badge : null,
    selectAllControl.value ? ui.feature.selectAll : null,
    allowEmptyControl.value ? ui.feature.allowEmpty : null,
    adaptedControl.value ? ui.feature.adapted : null,
    marksControl.value ? ui.feature.marks : null
    ] | filterEmpty | join}}<![CDATA[]"]]>
</ng-container>
<![CDATA[>]]>
<![CDATA[
  <sn-switcher-option label="No one"
                       [value]="null"]]>
    <ng-container *ngIf="iconControl.value">
      <![CDATA[
      [icon]="ui.icons.sad"]]>
    </ng-container>
    <![CDATA[ >
  </sn-switcher-option>
  <sn-switcher-option label="Spiderman" [value]="hero.spiderman" ]]>
    <ng-container *ngIf="iconControl.value">
      <![CDATA[
      [icon]="localUi.icons.spiderman"]]>
    </ng-container>
    <![CDATA[>]]>
    <ng-container *ngIf="dotControl.value">
      <![CDATA[
      <sn-dot [color]="ui.color.red"></sn-dot>
      ]]>
    </ng-container>
    <ng-container *ngIf="badgeControl.value">
      <![CDATA[
      <sn-badge [value]="5"></sn-badge>
      ]]>
    </ng-container>
    <ng-container *ngIf="templateControl.value">
      <![CDATA[
      <ng-template #optionTemplate>
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [align]="ui.align.center">
          <sn-stack [orientation]="ui.orientation.horizontal"
                     [gutter]="ui.gutter.small"
                     [align]="ui.align.center">
            <sn-avatar image="assets/images/heroes/spiderman.svg"
                        [size]="ui.size.small"></sn-avatar>
            <div>Spiderman</div>
          </sn-stack>
          <sn-label label="15"
                     [color]="ui.color.red"></sn-label>
        </sn-stack>
      </ng-template>
      ]]>
    </ng-container>
    <![CDATA[
  </sn-switcher-option>
  ]]>
  <![CDATA[
  <sn-switcher-option label="Ironman" [value]="hero.ironman" ]]>
    <ng-container *ngIf="iconControl.value">
      <![CDATA[
      [icon]="localUi.icons.ironman"]]>
    </ng-container>
      <![CDATA[>]]>
    <ng-container *ngIf="dotControl.value">
      <![CDATA[
      <sn-dot [color]="ui.color.yellow"></sn-dot>
      ]]>
    </ng-container>
      <ng-container *ngIf="badgeControl.value">
        <![CDATA[
        <sn-badge [value]="5"></sn-badge>
        ]]>
      </ng-container>
    <ng-container *ngIf="templateControl.value">
      <![CDATA[
      <ng-template #optionTemplate>
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [align]="ui.align.center">
          <sn-stack [orientation]="ui.orientation.horizontal"
                     [gutter]="ui.gutter.small"
                     [align]="ui.align.center">
            <sn-avatar image="assets/images/heroes/ironman.svg"
                        [size]="ui.size.small"></sn-avatar>
            <div>Ironman</div>
          </sn-stack>
          <sn-label label="20"
                     [color]="ui.color.yellow"></sn-label>
        </sn-stack>
      </ng-template>]]>
    </ng-container>
    <![CDATA[
  </sn-switcher-option>
  ]]>
  <![CDATA[
  <sn-switcher-option label="Captain America" [value]="hero.captainAmerica" ]]>
    <ng-container *ngIf="iconControl.value">
      <![CDATA[
      [icon]="localUi.icons.capitan"]]>
    </ng-container>
      <![CDATA[>]]>
    <ng-container *ngIf="dotControl.value">
      <![CDATA[
      <sn-dot [color]="ui.color.blue100"></sn-dot>
      ]]>
    </ng-container>
    <ng-container *ngIf="badgeControl.value">
      <![CDATA[
      <sn-badge [value]="5"></sn-badge>
      ]]>
    </ng-container>
    <ng-container *ngIf="templateControl.value">
      <![CDATA[
      <ng-template #optionTemplate>
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [align]="ui.align.center">
          <sn-stack [orientation]="ui.orientation.horizontal"
                     [gutter]="ui.gutter.small"
                     [align]="ui.align.center">
            <sn-avatar image="assets/images/heroes/captain.svg"
                        [size]="ui.size.small"></sn-avatar>
            <div>Captain America</div>
          </sn-stack>
          <sn-label label="25"
                     [color]="ui.color.blue100"></sn-label>
        </sn-stack>
      </ng-template>]]>
    </ng-container>
    <![CDATA[
  </sn-switcher-option>
</sn-switcher>
]]>
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-switcher"
                             [api]="api.switcher">
          </app-component-api>
          <app-component-api selector="sn-switcher-option"
                             [api]="api.switcherOption">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
