<div _cm *ngIf="!!template; else text" data-message>
  <ng-container *ngTemplateOutlet="template"></ng-container>
</div>

<ng-template #text>
  <div _cm data-message>{{message}}</div>
</ng-template>

<sn-stack _cm [orientation]="ui.orientation.horizontal" [justify]="ui.justify.between">
  <sn-button _cm [type]="ui.button.type.submit"
              [text]="'action.ok' | translate"
              (click)="ok.emit()"></sn-button>
  <sn-button _cm [scheme]="ui.scheme.secondary"
              [text]="'action.cancel' | translate"
              (click)="cancel.emit()"></sn-button>
</sn-stack>

