<sn-stack _ti data-toast
          [@visibility]="state"
          [orientation]="ui.orientation.horizontal"
          [align]="ui.align.center"
          [justify]="ui.justify.between"
          [gutter]="ui.gutter.small">
  <ng-container #container>
    <ng-container *ngIf="!!options.content; else defaultTemplate">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </ng-container>
  </ng-container>

  <ng-template #defaultTemplate>
    <sn-icon _ti data-icon
             [icon]="icon"></sn-icon>
    <sn-stack _ti [gutter]="ui.gutter.none">
      <span _ti data-title
            *ngIf="!!options.title"
            [innerHTML]="options.title | sanitizeHtml">
      </span>
      <span _ti data-message
            *ngIf="!!options.message"
            [innerHTML]="options.message | sanitizeHtml">
      </span>
    </sn-stack>
  </ng-template>
  <sn-button _ti data-close
             [outline]="ui.outline.transparent"
             [size]="size"
             [icon]="ui.icons.close"
             (click)="close()">
  </sn-button>
</sn-stack>
