@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon';
@import 'forms/button';

@mixin toast-item-size($size, $wrapper) {
  #{$wrapper} [data-toast] {
    font-size: map-get($size, font-size);

    [data-title] {
      font-size: map-get($size, font-size) * 1.2;
    }

    [data-icon] {
      @include sn-icon((size: map-get($size, icon-size)), '&');
    }
  }
}

@mixin toast-item-scheme($scheme, $wrapper) {
  #{$wrapper} [data-toast] {
    border-left: 2px solid #{map-get($scheme, color)};

    [data-title] {
      color: map-get($scheme, color);
    }

    [data-icon] {
      @include sn-icon((color: map-get($scheme, color)), '&');
    }
  }
}

@mixin sn-toast-item($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    width: null,
    font-size: null,
    icon-size: null,
    schemes: (
      primary: (
        color: $sn-primary-color,
      ),
      secondary: (
        color: $sn-secondary-color,
      ),
      success: (
        color: $sn-success-color,
      ),
      fail: (
        color: $sn-fail-color,
      ),
      accent: (
        color: $sn-accent-color,
      )
    ),
    sizes: (
      tiny: (
        font-size: $sn-font-size-tiny,
        icon-size: 20px
      ),
      small: (
        font-size: $sn-font-size-small,
        icon-size: 24px
      ),
      normal: (
        font-size: $sn-font-size-base,
        icon-size: 28px
      ),
      large: (
        font-size: $sn-font-size-normal,
        icon-size: 32px
      )
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-toast-item-host)} {
    @if $declare {
      #{$wrapper} [data-toast] {
        background-color: $sn-primary-background;
        border-radius: $sn-corner-small;
        box-shadow: $sn-shadow-big;
        padding: $sn-gutter-small;

        @if map-has-key($vars, width) {
          width: map-get($vars, width);
        }

        @if map-has-key($vars, font-size) {
          font-size: map-get($vars, font-size);
        }

        [data-icon] {
          @if map-has-key($vars, icon-size) {
            @include sn-icon((size: map-get($vars, icon-size)), '&');
          }
        }

        [data-title] {
          font-weight: $sn-font-weight-bold;
        }

        [data-close] {
          @include sn-button((color: $sn-primary-text-color), '&');
        }
      }
    }

    @if map-has-key($vars, schemes) {
      @each $scheme, $map in map-get($vars, schemes) {
        &[data-sn-scheme='#{$scheme}'] {
          @include toast-item-scheme($map, $wrapper);
        }
      }
    }

    @if map-has-key($vars, sizes) {
      @each $size, $map in map-get($vars, sizes) {
        &[data-sn-size='#{$size}'] {
          @include toast-item-size($map, $wrapper);
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'toast item compiled';
}
