<svg _id viewBox="0 0 32 32" fill="none">
  <circle _id class="progress"
          [style.stroke-dasharray]="value + ' 100'"
          [style.stroke]="color"
          [style.stroke-width]="width"
          r="15.925" cx="16" cy="16">
  </circle>
</svg>
