<sn-container>

  <sn-app-page-header [icon]="localUi.icons.message"
                      title="Message"
                      i18n-title="@@label.message"
                      [teaser]="handbook.other.components.message.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-stack [orientation]="ui.orientation.horizontal">
                  <sn-message [scheme]="schemeControl.value"
                              [icon]="iconControl.value ? ui.icons.information: null">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi cumque distinctio eveniet, fugit
                    illo laboriosam libero molestiae ut voluptatem. Animi asperiores beatae commodi distinctio dolores,
                    earum esse, est eum ex explicabo incidunt necessitatibus non perferendis, sapiente sequi totam ut.
                    Eveniet illum iure modi mollitia obcaecati possimus ullam veniam veritatis.
                  </sn-message>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label for="scheme"
                                 i18n="@@label.scheme">Scheme
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="scheme"
                               placeholder="Primary"
                               i18n-placeholder="@@label.primary"
                               [features]="[ui.feature.allowEmpty]"
                               [optionTemplate]="selectOptionTemplate">
                      <sn-select-option label="Primary"
                                        i18n-label="@@label.primary"
                                        [key]="ui.scheme.primary"
                                        [value]="{color: ui.color.purple}"></sn-select-option>
                      <sn-select-option label="Secondary"
                                        i18n-label="@@label.secondary"
                                        [key]="ui.scheme.secondary"
                                        [value]="{color: ui.color.secondaryLight10}"></sn-select-option>
                      <sn-select-option label="Success"
                                        i18n-label="@@label.success"
                                        [key]="ui.scheme.success"
                                        [value]="{color: ui.color.green}"></sn-select-option>
                      <sn-select-option label="Fail"
                                        i18n-label="@@label.fail"
                                        [key]="ui.scheme.fail"
                                        [value]="{color: ui.color.red}"></sn-select-option>
                      <sn-select-option label="Accent"
                                        i18n-label="@@label.accent"
                                        [key]="ui.scheme.accent"
                                        [value]="{color: ui.color.magentaDark}"></sn-select-option>
                      <ng-template #selectOptionTemplate let-value="value" let-scheme="label">
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                  [align]="ui.align.center"
                                  [gutter]="ui.gutter.small">
                          <sn-dot [color]="value.color"></sn-dot>
                          <div>{{scheme}}</div>
                        </sn-stack>
                      </ng-template>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-checkbox formControlName="icon"
                               label="Icon"
                               i18n-label="@@label.icon">
                  </sn-checkbox>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'message-test', type: 'MessageTestComponent'}"
                scss="shared/message"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="message-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-message
  ]]>
  <ng-container *ngIf="schemeControl.value">
    <![CDATA[
    [scheme]="ui.scheme.]]>{{schemeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="iconControl.value">
    <![CDATA[
    [icon]="ui.icons.information"]]>
  </ng-container>
  <![CDATA[>
</sn-message>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-message"
                           [api]="api.message">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>

