@import 'sn-variables';
@import '../../component';
@import 'elements/icon';
@import 'layout/responsive';
$sn-ng-deep: true;

:host-context([theme='esanum']) {
  [data-home] {
    background-color: #407f89;
  }
}

[data-home] {
  @include sn-icon((
    size: 30px,
    color: $sn-white-color
  ), '&');

  background-color: $sn-primary-light-75-color;
  border-radius: 50%;
  width: 60px;
  justify-content: center;
  align-items: center;
  height: 60px;
  display: flex;
  @include for-mobile() {
    @include sn-icon((
      size: 30px
    ), '&');
  }
}

[data-page] {
  padding: $sn-gutter-normal;
}
