<ng-container *ngFor="let avatar of avatars; let i = index;">
  <sn-avatar _at *ngIf="i < max" [attr.data-avatar-index]="i"
             [image]="avatar.image"
             [icon]="avatar.icon"
             [name]="avatar.name"
             [surname]="avatar.surname"
             [size]="size">
  </sn-avatar>
</ng-container>
