<sn-container>

  <sn-app-page-header [icon]="localUi.icons.layout"
                      title="Application"
                      i18n-title="@@label.application"
                      [teaser]="handbook.layout.components.application.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">

    <div teaser>
      <p [ngSwitch]="locale">
        <ng-container *ngSwitchDefault>
          Each WEB application requires base components for working:
          logo, main menu, user bar, side menu, breadcrumbs, footer, etc.
        </ng-container>
        <ng-container *ngSwitchCase="language.ru">
          Каждое WEB-приложение требует для работы базовых компонентов:
          логотип, главное меню, панель пользователя, боковое меню, хлебные крошки, нижний колонтитул и т. д.
        </ng-container>
      </p>
    </div>

    <sn-tabs #tabs [features]="[ui.feature.adapted]">

      <sn-tab title="Preview"
              i18n-title="@@label.preview"
              [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <sn-stack>
            <sn-form [formGroup]="builder">

              <sn-form-item>
                <sn-form-label i18n="@@label.features">Features
                </sn-form-label>
                <sn-row>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="busyness"
                                 label="Busyness"
                                 i18n-label="@@label.busyness"></sn-checkbox>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="header"
                                 label="Header"
                                 i18n-label="@@label.header"></sn-checkbox>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="logo"
                                 label="Logo"
                                 i18n-label="@@label.logo"></sn-checkbox>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="menu"
                                 label="Menu"
                                 i18n-label="@@label.menu"></sn-checkbox>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="action"
                                 label="Actions"
                                 i18n-label="@@label.action"></sn-checkbox>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="userMenu"
                                 label="User bar"
                                 i18n-label="@@label.userMenu"></sn-checkbox>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="aside"
                                 label="Aside"
                                 i18n-label="@@label.aside"></sn-checkbox>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="footer"
                                 label="Footer"
                                 i18n-label="@@label.footer"></sn-checkbox>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="pageHeader"
                                 label="Page header"></sn-checkbox>
                  </sn-col>
                  <sn-col [span]="4">
                    <sn-checkbox formControlName="breadcrumbs"
                                 label="Breadcrumbs"></sn-checkbox>
                  </sn-col>
                </sn-row>
              </sn-form-item>
            </sn-form>

            <app-browser-preview preview>
              <ng-template #document let-height="height">
                <sn-app-layout>
                  <sn-app-busyness *ngIf="busynessControl.value" data-busyness></sn-app-busyness>
                  <sn-app-header *ngIf="headerControl.value">
                    <ng-template #headerLogoTemplate *ngIf="logoControl.value">
                      <img height="30"
                           [src]="breakpoint.current === ui.breakpoint.mobile ? 'assets/images/linkedin-logo-small.svg' : 'assets/images/linkedin-logo.svg'">
                    </ng-template>

                    <sn-menu #headerTopMenu *ngIf="menuControl.value">
                      <sn-menu-item title="Home"
                                    i18n-title="@@label.home"
                                    [link]="['handbook/home']"
                                    [icon]="ui.icons.home"></sn-menu-item>
                      <sn-menu-item title="My network"
                                    i18n-title="@@label.my_network"
                                    [link]="['handbook/home']"
                                    [icon]="localUi.icons.network"></sn-menu-item>
                      <sn-menu-item title="Jobs"
                                    i18n-title="@@label.jobs"
                                    [link]="['handbook/home']"
                                    [icon]="localUi.icons.jobs"></sn-menu-item>
                      <sn-menu-item title="Messages"
                                    i18n-title="@@label.messages"
                                    [link]="['handbook/home']"
                                    [icon]="ui.icons.messages"></sn-menu-item>
                    </sn-menu>

                    <ng-template #headerActionsTemplate *ngIf="actionControl.value">
                      <sn-app-header-actions actions>
                        <sn-app-header-action>
                          <ng-template #actionLabelTemplate>
                            <sn-icon [icon]="ui.icons.animated.bell"></sn-icon>
                          </ng-template>
                          <ng-template #actionContentTemplate>
                            <sn-stack>
                              <p>You have 5 new messages</p>
                              <sn-skeleton [lines]="5" [animated]="false"></sn-skeleton>
                            </sn-stack>
                          </ng-template>
                        </sn-app-header-action>
                        <sn-app-header-action>
                          <ng-template #actionLabelTemplate>
                            <sn-icon [icon]="ui.icons.calendar"></sn-icon>
                          </ng-template>
                          <ng-template #actionContentTemplate>
                            <sn-stack [align]="ui.align.stretch">
                              <p>Your personal events calendar</p>
                              <sn-calendar></sn-calendar>
                            </sn-stack>
                          </ng-template>
                        </sn-app-header-action>
                      </sn-app-header-actions>
                    </ng-template>

                    <ng-template #headerUserbarTemplate *ngIf="userMenuControl.value" let-hide="hide">
                      <sn-app-header-userbar [context]="{header: {hide: hide}}">
                        <span data-name>Elon Musk</span>
                        <ng-template #userbarAvatarTemplate>
                          <sn-avatar [size]="ui.size.small"
                                     image="assets/images/elon.jpeg"></sn-avatar>
                        </ng-template>
                        <ng-template #userbarMenuTemplate let-hide="hide">
                          <sn-menu data-usermenu
                                   [orientation]="ui.orientation.vertical"
                                   (selected)="hide()">
                            <sn-menu-item title="Profile"
                                          i18n-title="@@label.profile"
                                          [link]="['/components/site/stack']"
                                          [icon]="ui.icons.profile"></sn-menu-item>
                            <sn-menu-item title="Settings"
                                          i18n-title="@@label.settings"
                                          [link]="['/components/site/application']"
                                          [icon]="ui.icons.animated.settings"></sn-menu-item>
                            <sn-menu-item title="Logout"
                                          i18n-title="@@label.logout"
                                          [link]="['/components/site/grid']"
                                          [icon]="ui.icons.home"></sn-menu-item>
                          </sn-menu>
                        </ng-template>
                      </sn-app-header-userbar>
                    </ng-template>
                  </sn-app-header>

                  <ng-template #withoutAsideTemplate let-aside="aside">
                    <sn-app-content [aside]="aside">
                      <sn-app-body>
                        <sn-breadcrumbs *ngIf="breadcrumbsControl.value" [aside]="aside"></sn-breadcrumbs>
                        <sn-container>
                          <sn-app-page-header *ngIf="pageHeaderControl.value"
                                              [icon]="localUi.icons.layout"
                                              title="Esanum UI"
                                              teaser="Angular UI framework"
                                              i18n-title="@@label.application"></sn-app-page-header>
                          <sn-block [width]="ui.width.fluid">
                            <sn-skeleton [lines]="8" [animated]="false"></sn-skeleton>
                          </sn-block>
                        </sn-container>
                      </sn-app-body>
                      <sn-app-footer *ngIf="footerControl.value">
                        <p>
                          <small>No any rights are not reserved! 2099 &copy;</small>
                        </p>
                      </sn-app-footer>
                    </sn-app-content>
                  </ng-template>

                  <ng-container *ngIf="asideControl.value; else withoutAsideTemplate">
                    <sn-app-aside #aside>
                      <ng-template let-collapsed="collapsed" #asideContentTemplate>
                        <div data-aside>
                          <sn-stack [align]="ui.align.center">
                            <sn-avatar [size]="collapsed ? ui.size.small : ui.size.large"
                                       [image]="'assets/images/elon.jpeg'"></sn-avatar>
                            <sn-stack *ngIf="!collapsed" [gutter]="ui.gutter.tiny"
                                      [align]="ui.align.center">
                              <div>Elon Musk</div>
                              <sn-label label="CEO of SpaceX"
                                        [color]="ui.color.grayLight10"></sn-label>
                            </sn-stack>
                          </sn-stack>
                        </div>
                      </ng-template>

                      <sn-menu [orientation]="ui.orientation.vertical"
                               [gutter]="ui.size.small">
                        <sn-menu-item title="General"
                                      i18n-title="@@label.general"
                                      [icon]="localUi.icons.general">
                          <sn-sub-menu>
                            <sn-sub-menu-item title="About"
                                              i18n-title="@@label.about"></sn-sub-menu-item>
                            <sn-sub-menu-item title="Education"
                                              i18n-title="@@label.education"
                                              [icon]="ui.icons.knowledge"></sn-sub-menu-item>
                          </sn-sub-menu>
                        </sn-menu-item>

                        <sn-menu-item title="Profession"
                                      i18n-title="@@label.profession"
                                      [icon]="localUi.icons.certificate">
                          <sn-sub-menu>
                            <sn-sub-menu-item title="Skills"
                                              i18n-title="@@label.skills"
                                              [icon]="ui.icons.skull"></sn-sub-menu-item>
                            <sn-sub-menu-item title="Experience"
                                              i18n-title="@@label.experience"></sn-sub-menu-item>
                            <sn-sub-menu-item title="Certificates"
                                              i18n-title="@@label.certificates"></sn-sub-menu-item>
                          </sn-sub-menu>
                        </sn-menu-item>
                      </sn-menu>
                    </sn-app-aside>
                    <ng-container *ngTemplateOutlet="withoutAsideTemplate;context: {aside: aside}"></ng-container>
                  </ng-container>

                </sn-app-layout>
              </ng-template>
            </app-browser-preview>
          </sn-stack>
        </ng-template>
      </sn-tab>

      <sn-tab title="Code"
              i18n-title="@@label.code"
              [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <sn-accordion [active]="[1]">
            <sn-accordion-section title="How to start"
                                  i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'layout-test', type: 'AppLayoutTestComponent'}"
                  scss="layout/app"></app-how-to-use>
              </ng-template>
            </sn-accordion-section>
            <sn-accordion-section title="Component template"
                                  i18n-title="@@label.component_template">
              <ng-template #accordionContentTemplate>
                <app-code-highlight file="app-layout-test.template.html">
                  <![CDATA[
                  <sn-app-layout [position]="ui.placement.fixed">
                    ]]>
                    <ng-container *ngIf="busynessControl.value">
                      <![CDATA[
                      <sn-app-busyness></sn-app-busyness>
                      ]]>
                    </ng-container>
                    <ng-container *ngIf="headerControl.value">
                      <![CDATA[
                      <sn-app-header>]]>
                        <ng-container *ngIf="logoControl.value">
                          <![CDATA[
                          <ng-template #headerLogoTemplate>
                            <img>
                          </ng-template>
                          ]]>
                        </ng-container>
                        <ng-container *ngIf="menuControl.value">
                          <![CDATA[
                          <sn-menu #headerTopMenu>
                            <sn-menu-item [icon]="ui.icons.home"
                                          title="Home"></sn-menu-item>
                            <sn-menu-item
                              title="My network"></sn-menu-item>
                            <sn-menu-item
                              title="Jobs"></sn-menu-item>
                            <sn-menu-item
                              title="Messages"></sn-menu-item>
                          </sn-menu>
                          ]]>
                        </ng-container>
                        <ng-container *ngIf="actionControl.value">
                          <![CDATA[
                          <ng-template #headerActionsTemplate>
                            <sn-app-header-actions>
                              <sn-app-header-action>
                                <ng-template #actionLabelTemplate>
                                  <sn-icon [icon]="ui.icons.animated.bell"></sn-icon>
                                </ng-template>
                                <ng-template #actionContentTemplate>
                                  <sn-stack>
                                    <p>You have 5 new messages</p>
                                    <sn-skeleton [lines]="5" [animated]="false"></sn-skeleton>
                                  </sn-stack>
                                </ng-template>
                              </sn-app-header-action>
                              <sn-app-header-action>
                                <ng-template #actionLabelTemplate>
                                  <sn-icon [icon]="ui.icons.calendar"></sn-icon>
                                </ng-template>
                                <ng-template #actionContentTemplate>
                                  <sn-stack>
                                    <p>Your personal events calendar</p>
                                    <sn-calendar></sn-calendar>
                                  </sn-stack>
                                </ng-template>
                              </sn-app-header-action>
                            </sn-app-header-actions>
                          </ng-template>
                          ]]>
                        </ng-container>
                        <ng-container *ngIf="userMenuControl.value">
                          <![CDATA[
                          <ng-template #headerUserbarTemplate let-hide="hide">
                            <sn-app-header-userbar [context]="{header: {hide: hide}}">
                              <ng-template #userbarAvatarTemplate>
                                <sn-avatar [size]="ui.size.small"></sn-avatar>
                              </ng-template>
                              <ng-template #userbarMenuTemplate let-hide="hide">
                                <sn-menu [orientation]="ui.orientation.vertical"
                                         [gutter]="ui.gutter.small"
                                         (selected)="hide()">
                                  <sn-menu-item title="Profile"
                                                [icon]="ui.icons.profile"
                                                [link]="['/profile']"></sn-menu-item>
                                  <sn-menu-item title="Settings"
                                                [icon]="ui.icons.animated.settings"
                                                [link]="['/settings']"></sn-menu-item>
                                  <sn-menu-item title="Logout"
                                                [icon]="ui.icons.home"
                                                [link]="['/logout']"></sn-menu-item>
                                </sn-menu>
                              </ng-template>
                            </sn-app-header-userbar>
                          </ng-template>
                          ]]>
                        </ng-container>
                        <![CDATA[
                      </sn-app-header>
                      ]]>
                    </ng-container>
                    <ng-container *ngIf="asideControl.value">
                      <![CDATA[
                      <sn-app-aside #aside>
                        <ng-template let-collapsed="collapsed" #asideContentTemplate>
                          <sn-stack [align]="ui.align.stretch">
                            <sn-stack [align]="ui.align.center">
                              <sn-avatar [size]="collapsed ? ui.size.small : ui.size.large"
                              ></sn-avatar>
                              <sn-stack *ngIf="!collapsed" [gutter]="ui.gutter.tiny"
                                        [align]="ui.align.center">
                                <div>Elon Musk</div>
                                <sn-label label="CEO of SpaceX"
                                          [color]="ui.color.grayLight10"></sn-label>
                              </sn-stack>
                            </sn-stack>

                            <sn-menu [orientation]="ui.orientation.vertical"
                                     [gutter]="ui.size.small">
                              <sn-menu-item title="General" [icon]="localUi.icons.general">
                                <sn-sub-menu>
                                  <sn-sub-menu-item title="About"></sn-sub-menu-item>
                                  <sn-sub-menu-item title="Education"
                                                    [icon]="ui.icons.knowledge"></sn-sub-menu-item>
                                </sn-sub-menu>
                              </sn-menu-item>

                              <sn-menu-item title="Profession" [icon]="localUi.icons.certificate">
                                <sn-sub-menu>
                                  <sn-sub-menu-item title="Skills"
                                                    [icon]="ui.icons.skull"></sn-sub-menu-item>
                                  <sn-sub-menu-item title="Experience"></sn-sub-menu-item>
                                  <sn-sub-menu-item title="Certificates"></sn-sub-menu-item>
                                </sn-sub-menu>
                              </sn-menu-item>
                            </sn-menu>
                          </sn-stack>
                        </ng-template>
                      </sn-app-aside>
                      ]]>
                    </ng-container>
                    <![CDATA[
                    <sn-app-content
                      ]]>
                      <ng-container *ngIf="asideControl.value">
                        <![CDATA[ [aside]="aside"]]>
                      </ng-container>
                      <![CDATA[>
                      <sn-app-body>]]>
                        <ng-container *ngIf="breadcrumbsControl.value">
                          <![CDATA[
                          <sn-breadcrumb ]]>
                            <ng-container *ngIf="asideControl.value">
                              <![CDATA[ [aside]="aside"]]>
                            </ng-container>
                            <![CDATA[>
                          </sn-breadcrumb>
                          ]]>
                        </ng-container>
                        <ng-container *ngIf="pageHeaderControl.value">
                          <![CDATA[
                          <sn-app-page-header [icon]="localUi.icons.layout"
                                              title="Esanum UI"
                                              teaser="Angular UI framework"></sn-app-page-header>
                          ]]>
                        </ng-container>
                        <![CDATA[
                      </sn-app-body>
                      ]]>
                      <ng-container *ngIf="footerControl.value">
                        <![CDATA[
                        <sn-app-footer>
                          <small>Esanum 2021</small>
                        </sn-app-footer>
                        ]]>
                      </ng-container>
                      <![CDATA[
                    </sn-app-content>
                  </sn-app-layout>
                  ]]>
                </app-code-highlight>
              </ng-template>
            </sn-accordion-section>
          </sn-accordion>
        </ng-template>
      </sn-tab>

      <sn-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <sn-stack [align]="ui.align.stretch">
            <app-component-api selector="sn-app-layout"
                               [api]="api.appLayout">
            </app-component-api>
            <app-component-api selector="sn-app-header"
                               [api]="api.appHeader">
            </app-component-api>
            <app-component-api selector="sn-app-aside"
                               [api]="api.appAside">
            </app-component-api>
            <app-component-api selector="sn-app-header-userbar"
                               [api]="api.appHeaderUserbar">
            </app-component-api>
            <app-component-api selector="sn-app-header-actions"
                               [api]="api.appActions">
            </app-component-api>
            <app-component-api selector="sn-app-header-action"
                               [api]="api.appAction">
            </app-component-api>
            <app-component-api selector="sn-app-content"
                               [api]="api.appContent">
            </app-component-api>
            <app-component-api selector="sn-app-page-header"
                               [api]="api.appPageHeader">
            </app-component-api>
          </sn-stack>
        </ng-template>
      </sn-tab>

      <sn-tab title="Design system"
              i18n-title="@@label.system" [icon]="ui.icons.figma">
        <ng-template #tabContentTemplate>
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/yKIp2EGu6DY" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </ng-template>
      </sn-tab>

    </sn-tabs>

  </sn-stack>

</sn-container>
