@import 'sn-variables';
@import '../../component';
@import 'layout/responsive';
@import 'layout/app';
@import 'navigation/menu';
$sn-ng-deep: true;

[preview] ::ng-deep > [wrapper] {
  padding: 0 !important;
}

[data-aside] {
  padding-top: $sn-gutter-normal;
}

[data-name] {
  color: $sn-white-color;
  @include max-for-tablet() {
    color: $sn-primary-color;
  }
}

[data-busyness] {
  display: flex !important;
  @include sn-app-busyness((position: absolute), '&');
}
