@import 'sn-variables';
@import 'elements/icon';
$sn-ng-deep: true;

:host {
  display: block;
}

:host-context([theme='esanum']) {
  h3 {
    color: #005461;
  }
}

h1, h2 {
  text-align: center;
}

h3 {
  color: $sn-primary-color;
}

h1 {
  span {
    border: 3px solid $sn-primary-text-color;
    border-radius: $sn-corner-normal;
    padding: 0 $sn-gutter-small;
    background: $sn-secondary-background;
    color: $sn-green-dark-color;
  }
}

h2 [arnold] {
  @include sn-icon((
    size: 48px
  ), '&');
}

p {
  sn-icon {
    @include sn-icon((
      size: 16px
    ), '&');
  }
}

h5 {
  sn-icon {
    @include sn-icon((
      size: 20px
    ), '&');
  }
}

app-code-highlight::ng-deep {
  pre {
    background-color: $sn-white-color;
  }
}
