<sn-container>
  <h1>Esanum <span>UI</span></h1>

  <h2 [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      Very strong
      <sn-icon arnold [icon]="ui.icons.arnold"></sn-icon>
      framework!
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      Очень крутой
      <sn-icon arnold [icon]="ui.icons.arnold"></sn-icon>
      фреймворк!
    </ng-container>
  </h2>

  <h5 [ngSwitch]="locale">
    <b>Esanum UI</b>
    <ng-container *ngSwitchDefault>
      is a collection of quality UI components for Angular
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      это коллекция качественных UI компонентов для Angular
    </ng-container>
    <sn-icon [icon]="ui.icons.angular"></sn-icon>
    with design system in Figma
    <sn-icon [icon]="ui.icons.figma"></sn-icon>
  </h5>

  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      We love Angular and we want to implement all beautiful apps from
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      Мы любим Angular и хотим реализовать все прекрасные приложения
    </ng-container>
    <sn-link source="https://dribbble.com/" title="dribbble.com"
              target="_blank"
              [icon]="ui.icons.dribbble"></sn-link>
  </p>
  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      We believe in brilliant 💎 code & design! When it's combined together we are seeing awesome solutions!
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      Мы верим в блестящий код и дизайн! Когда все вместе, мы видим потрясающие решения!
    </ng-container>
  </p>
  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      Using our common design system you can build brilliant design and prototype of your app and then easily
      move into the code!
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      Используя нашу общую систему дизайна, вы можете создать блестящий дизайн и прототип своего приложения, а затем легко
      перейти в код!
    </ng-container>
  </p>

  <h3 i18n="@@label.compability">Compatibility</h3>
  <p [ngSwitch]="locale">
    <sn-link source="https://nodejs.org/en/about/releases/"
             target="_blank" title="Node.js">
    </sn-link>
    <ng-container *ngSwitchDefault>
      up to v14 LTS Fermium
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      вплоть до версии 14 LTS Fermium
    </ng-container>
  </p>
  <p [ngSwitch]="locale">
    <sn-link source="https://angular.io/guide/releases#support-policy-and-schedule"
              target="_blank" title="Angular 9">
    </sn-link>
    <ng-container *ngSwitchDefault>
      or higher 🚀
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      или выше 🚀
    </ng-container>
  </p>
  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      Modern browsers and Internet Explorer 11+
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      Современные браузеры и Internet Explorer 11+
    </ng-container>
  </p>

  <img src="https://gitlab.com/junte/esanum/social/ui/badges/master/pipeline.svg">

  <h3 i18n="@@label.how_to_install">How to install</h3>

  <sn-timeline>
    <sn-timeline-item title="Installation Angular CLI"
                       i18n-title="@@label.installation_angular_cli">
      <ng-template #timelineItemContentTemplate>
        <app-code-highlight [language]="highlight.language.bash">
          <!-- @formatter:off-->
<![CDATA[
sudo npm install -g @angular/cli
]]>
          <!-- @formatter:on-->
        </app-code-highlight>
      </ng-template>
    </sn-timeline-item>

    <sn-timeline-item title="Create a new Project"
                       i18n-title="@@label.create_a_new_project">
      <ng-template #timelineItemContentTemplate>
        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            A new project can be created using Angular CLI tools.
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Новый проект может быть создан с помощью Angular CLI
          </ng-container>
        </p>
        <app-code-highlight [language]="highlight.language.bash">
          <!-- @formatter:off-->
<![CDATA[
ng new esanum-ui-test --style=scss --routing=false
cd esanum-ui-test
]]>
          <!-- @formatter:on-->
        </app-code-highlight>
      </ng-template>
    </sn-timeline-item>

    <sn-timeline-item title="Installation Esanum UI" i18n-title="@@label.installation_esanum_ui">
      <ng-template #timelineItemContentTemplate>
        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            Install <b>Esanum UI</b> package
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Установите пакет <b>Esanum UI</b>
          </ng-container>
          <sn-link source="https://gitlab.com/junte/esanum/social/ui" target="_blank" title="npm"></sn-link>
        </p>
        <app-code-highlight [language]="highlight.language.bash">
          <!-- @formatter:off-->
<![CDATA[
npm install @esanum/ui  --save-dev
]]>
          <!-- @formatter:on-->
        </app-code-highlight>
      </ng-template>
    </sn-timeline-item>

    <sn-timeline-item title="Import Esanum UI module"
                       i18n-title="@@label.import_esanum_ui_module">
      <ng-template #timelineItemContentTemplate>
        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            Import <code>Esanum UI</code> & <code>Browser Animations</code> modules into your app module in
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Импортируйте <code>Esanum UI</code> & <code>Browser Animations</code> модули в свой app модуль в файле
          </ng-container>
          <code>src/app/app.module.ts</code>
        </p>
        <app-code-highlight [language]="highlight.language.typescript">
          <!-- @formatter:off-->
<![CDATA[
import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { EsanumUiModule } from '@esanum/ui';
import { BrowserAnimationsModule } from '@angular/platform-browser/animations';

import { AppComponent } from './app.component';

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    EsanumUiModule.forRoot(),
    BrowserAnimationsModule
  ],
  bootstrap: [AppComponent]
})
export class AppModule { }
]]>
          <!-- @formatter:on-->
        </app-code-highlight>
        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            For using overlays add <code>Popover</code> & <code>Modal</code> into your app component in
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Чтобы использовать всплывающие окна, добавьте <code>Popover</code> & <code>Modal</code> в свой app компонент в файле
          </ng-container>
          <code>src/app/app.component.html</code></p>
        <app-code-highlight [language]="highlight.language.bash">
          <!-- @formatter:off-->
<![CDATA[
<sn-popover></sn-popover>
<sn-modal></sn-modal>
]]>
          <!-- @formatter:on-->
        </app-code-highlight>

      </ng-template>
    </sn-timeline-item>

    <sn-timeline-item title="Import styles & assets"
                       i18n-title="@@label.import_styles_and_assets">
      <ng-template #timelineItemContentTemplate>
        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            Install the font using the command
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Установите шрифт используя команду
          </ng-container>
        </p>
        <app-code-highlight [language]="highlight.language.bash">

            <!-- @formatter:off-->
<![CDATA[
npm i @openfonts/open-sans_cyrillic
]]>
            <!-- @formatter:on-->
        </app-code-highlight>
        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            Import styles and assets in
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Импортируйте styles и assets в файле
          </ng-container>
          <code>angular.json</code></p>
        <app-code-highlight [language]="highlight.language.json">
          <pre>

          <!-- @formatter:off-->
<![CDATA[
{
  "options": {
    "assets": [
      {
        "glob": "**/*",
        "input": "node_modules/@esanum/ui/lib/assets/icons/animated/",
        "output": "./assets/icons/animated/"
      },
      {
        "glob": "**/*",
        "input": "node_modules/@esanum/ui/lib/assets/icons/svg/",
        "output": "./assets/icons/svg/"
      }
    ],
    "styles": [
      "src/styles.scss",
      "node_modules/@openfonts/open-sans_cyrillic/index.css"
    ]
  }
}
]]>
            <!-- @formatter:on-->
          </pre>
        </app-code-highlight>

        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            Import the styles into the global app styles
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Импортируйте стили в глобальный файл стилей приложения
          </ng-container>
          <code>src/styles.scss</code>
        </p>

        <app-code-highlight [language]="highlight.language.css">
          <pre>
<![CDATA[
/* You can add global styles to this file, and also import other style files */
@import "~@esanum/ui/lib/assets/styles/sn-all";
@import "~@esanum/ui/lib/assets/styles/sn-common";
body {
  font-family: $sn-font-family-base;
  font-weight: $sn-font-weight-light;
  font-size: $sn-font-size-normal;
  color: $sn-primary-text-color;
  margin: 20px;
}
]]>
    </pre>
  </app-code-highlight>

  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      Bingo 👏 Start your project.
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      Бинго 👏 Запускайте ваш проект.
    </ng-container>
  </p>
  <app-code-highlight [language]="highlight.language.bash">
    <!-- @formatter:off-->
<![CDATA[
ng serve
]]>
    <!-- @formatter:on-->
  </app-code-highlight>

  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      It is a very fast but rude installation with importing all components & assets.
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      Это очень быстрая, но грубая установка с импортированием всех компонентов и ассетов.
    </ng-container>
  </p>

      </ng-template>
    </sn-timeline-item>

    <sn-timeline-item title="How to try"
                       i18n-title="@@label.how_to_try">
      <ng-template #timelineItemContentTemplate>
        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            You can go to research all components specifications.
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Вы можете исследовать все спецификации компонентов.
          </ng-container>
        </p>

        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            For fast test add link to <code>UI</code> enum in
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Для быстрого тестирования добавьте ссылку на <code>UI</code> enum в файле
          </ng-container>
          <code>src/app/app.component.ts</code></p>
        <app-code-highlight [language]="highlight.language.typescript">
          <!-- @formatter:off-->
<![CDATA[
import { Component } from '@angular/core';
import { UI } from '@esanum/ui';
@Component({
    selector: 'app-root',
    templateUrl: './app.component.html',
    styleUrls: ['./app.component.scss']
})
export class AppComponent {
    ui = UI; // link to esanum UI enum
}
]]>
          <!-- @formatter:on-->
        </app-code-highlight>

        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            Add <code>sn-button</code> in to your
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Добавьте <code>sn-button</code> в ваш
          </ng-container>
          <code>src/app/app.component.html</code>
         </p>

        <app-code-highlight [language]="highlight.language.html">
          <!-- @formatter:off-->
<![CDATA[
<sn-button text="Click on me"
    [icon]="ui.icons.user">
    <sn-badge [value]="5"></sn-badge>
</sn-button>
]]>
          <!-- @formatter:on-->
        </app-code-highlight>

        <p [ngSwitch]="locale">
          <ng-container *ngSwitchDefault>
            You should see the button 😎
          </ng-container>
          <ng-container *ngSwitchCase="language.ru">
            Вы должны увидеть кнопку 😎
          </ng-container>
        </p>
      </ng-template>
    </sn-timeline-item>
  </sn-timeline>

  <p [ngSwitch]="locale">
    <ng-container *ngSwitchDefault>
      Problems 🙀? Please, add an issue here 👉
    </ng-container>
    <ng-container *ngSwitchCase="language.ru">
      Проблемы 🙀? Пожалуйста, добавьте их здесь 👉
    </ng-container>
    <sn-link
    title="Issues tracker"
    i18n-title="@@label.issues_tracker"
    [outline]="ui.outline.ghost"
    source="https://gitlab.com/junte/esanum/social/ui/-/issues"></sn-link>
  </p>

  <sn-stack [align]="ui.align.start">
    <h2 i18n="@@label.polyfills">Polyfills</h2>
    <p [ngSwitch]="locale">
      <ng-container *ngSwitchDefault>
        Include this polyfills to <code>polyfills.ts</code> for correct library working:
      </ng-container>
      <ng-container *ngSwitchCase="language.ru">
        Добавьте эти полифиллы в <code>polyfills.ts</code> для корректной работы библиотеки:
      </ng-container>
    </p>
    <sn-stack [orientation]="ui.orientation.horizontal">
      <h3>Element.children</h3>
      <sn-label label="IE 11"></sn-label>
    </sn-stack>

    <p [ngSwitch]="locale">
      <ng-container *ngSwitchDefault>
        Add file
      </ng-container>
      <ng-container *ngSwitchCase="language.ru">
        Добавьте файл
      </ng-container>
      <code>src/polyfills/element-children.js</code>
     </p>
    <app-code-highlight [language]="highlight.language.typescript" file="src/polyfills/element-children">
<![CDATA[
(function (constructor) {
  if (constructor && constructor.prototype && constructor.prototype.children == null) {
    Object.defineProperty(constructor.prototype, 'children', {
      get: function () {
        var i = 0, node, nodes = this.childNodes, children = [];
        while (node = nodes[i++]) {
          if (node.nodeType === 1) { children.push(node); }
        }
        return children;
      }
    });
  }
})(window.Node || window.Element);
]]></app-code-highlight>
    <span [ngSwitch]="locale">
      <ng-container *ngSwitchDefault>
        Add <code>import './polyfills/element-children';</code> to your <code>src/polyfills.ts</code>
      </ng-container>
      <ng-container *ngSwitchCase="language.ru">
        Добавьте <code>import './polyfills/element-children';</code> в свой <code>src/polyfills.ts</code>
      </ng-container>
    </span>
  </sn-stack>
</sn-container>
