<sn-block [width]="ui.width.fluid" [padding]="ui.gutter.none">
  <sn-form [formGroup]="form">
    <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.normal">
      <sn-table #table [features]="[
        (sections |includes: tableSections.search) ? ui.feature.search : null,
        (sections |includes: tableSections.reload) ? ui.feature.reload : null
      ]" formControlName="table">

        <ng-template *ngIf="(sections |includes: tableSections.actions)" #tableActionsTemplate>
          <sn-button text="Reset"
                      i18n-text="@@action.reset"
                      [icon]="ui.icons.cancel"
                      [outline]="ui.outline.transparent"
                      (click)="tableControl.setValue({q: null, first: 10, offset: null})"></sn-button>
        </ng-template>

        <ng-template *ngIf="(sections |includes: tableSections.filter)" #tableFiltersTemplate>
          <sn-select formControlName="ability"
                      placeholder="Select ability"
                      i18n-placeholder="@@label.select_ability"
                      [features]="[ui.feature.allowEmpty]">
            <sn-select-option *ngFor="let ability of abilities"
                               [label]="ability"
                               [key]="ability"></sn-select-option>
          </sn-select>
        </ng-template>

        <sn-table-column title="#" sort="id" width="30px">
          <ng-template #tableCellTemplate let-id="id">
            {{id}}
          </ng-template>
        </sn-table-column>

        <sn-table-column title="Hero"
                          i18n-title="@@label.hero"
                          sort="hero">
          <ng-template #tableCellTemplate let-hero="hero" let-avatar="avatar">
            <sn-stack [orientation]="ui.orientation.horizontal"
                       [gutter]="ui.gutter.small"
                       [align]="ui.align.center">
              <sn-avatar [icon]="ui.icons.question"
                          [image]="avatar"
                          [size]="ui.size.small"></sn-avatar>
              <div>{{hero}}</div>
            </sn-stack>
          </ng-template>
        </sn-table-column>

        <sn-table-column title="Ability"
                          i18n-title="@@label.ability"
                          sort="ability">
          <ng-template #tableCellTemplate let-ability="ability">
            {{ability}}
          </ng-template>
        </sn-table-column>

        <ng-template *ngIf="(sections |includes: tableSections.rowActions)"
                     #tableRowActionsTemplate let-row="row" let-hide="hide">
          <sn-menu [orientation]="ui.orientation.vertical" [gutter]="ui.gutter.small">
            <sn-menu-item title="Edit"
                           i18n-title="@@action.edit"
                           (click)="hide()"></sn-menu-item>
            <sn-menu-item title="Delete"
                           i18n-title="@@action.delete"
                           (click)="hide()"></sn-menu-item>
          </sn-menu>
        </ng-template>

      </sn-table>
    </sn-stack>
  </sn-form>
</sn-block>
