@import '../../component';

:host {
  display: block;
}

[data-legend] {
  height: 100%;
  span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $sn-font-size-base;
    line-height: 1.4;
    &[data-text] {
      flex: 1;
    }
  }
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}
