<ng-template #emptyOptionsDefaultTemplate>
  <sn-icon _se [icon]="ui.icons.neutral"></sn-icon>
</ng-template>

<ng-template #optionDefaultTemplate let-icon="icon" let-label="label">
  <sn-stack _se [orientation]="ui.orientation.horizontal"
            [gutter]="ui.gutter.small"
            [align]="ui.align.center">
    <sn-icon _se *ngIf="!!icon" [icon]="icon"></sn-icon>
    <div _se data-option-default>{{label}}</div>
  </sn-stack>
</ng-template>

<sn-stack _se #layoutRef data-select
          [orientation]="ui.orientation.horizontal"
          [gutter]="ui.gutter.tiny"
          [align]="ui.align.center"
          tabindex="0">
  <div _se *ngIf="!!label" data-label>{{label}}</div>
  <sn-icon _se #iconRef
           *ngIf="!!icon && !label"
           [icon]="icon"></sn-icon>
  <ul _se #selectedRef>
    <ng-container *ngIf="selected.length > 0">
      <li _se *ngFor="let key of selected"
          (click)="mode == ui.select.mode.single ? (opened ? close() : open()) : null"
          [attr.data-with-template]="!!optionTemplate">
        <ng-template #noOptionTemplate>
          <div _se data-empty></div>
        </ng-template>
        <div _se data-options-wrapper
             *ngIf="(key | getOption:options:changes.selected:changes.options) as o;else noOptionTemplate">
          <ng-container *ngTemplateOutlet="!!optionTemplate ? optionTemplate
            : optionDefaultTemplate;context: {icon: o.icon, label: o.label, value: o.value, selected: true}">
          </ng-container>
        </div>
        <button _se data-close type="button" (click)="remove(key)">
          <sn-icon _se [icon]="ui.icons.closeSmall"></sn-icon>
        </button>
      </li>
    </ng-container>

    <li _se data-query
        [formGroup]="form"
        (click)="opened && !queryControl.value ? close() : open()">
      <input _se #queryRef formControlName="query"
             [placeholder]="mode != ui.select.mode.multiple || selected.length == 0 ? placeholder : ''"
             [autocomplete]="autocomplete"
             (keydown)="createOption(queryControl.value, $event)">
    </li>
  </ul>
  <div _se data-loading *ngIf="state === ui.state.loading">
    <sn-spinner _se data-spinner></sn-spinner>
  </div>
  <button _se data-toggle type="button" (click)="opened ? close() : open()">
    <sn-icon _se [icon]="opened ? ui.icons.selectOpen : ui.icons.selectClose"></sn-icon>
  </button>
</sn-stack>

<ng-template #optionsTemplate>
  <div _se data-options *ngIf="opened" [attr.data-loading]="progress.options$ | async">
    <ng-template #noOptionsTemplate>
      <div _se data-skeleton>
        <sn-skeleton _se *ngIf="progress.options$ | async; else optionsNotFoundTemplate"
                     [type]="ui.skeleton.type.text" [lines]="5"></sn-skeleton>
      </div>
      <ng-template #optionsNotFoundTemplate>
        <div _se data-empty-options>
          <ng-container *ngTemplateOutlet="!!emptyOptionsTemplate ? emptyOptionsTemplate
              : emptyOptionsDefaultTemplate;context: {query: queryControl.value, close: close.bind(this)}">
          </ng-container>
        </div>
      </ng-template>
    </ng-template>
    <ng-container *ngIf="((!!queryControl.value ? options.found : options.persisted)
    | getOptions:changes.selected:changes.options) as options">
      <ng-container *ngIf="options.length > 0;else noOptionsTemplate">
        <div _se data-loading *ngIf="progress.options$ | async">
          <sn-spinner _se data-spinner></sn-spinner>
        </div>
        <sn-stack _se [align]="ui.align.stretch">
          <div _se data-options-header *ngIf="!!optionsHeaderTemplate">
            <ng-container *ngTemplateOutlet="optionsHeaderTemplate;context: {close: close.bind(this)}"></ng-container>
          </div>
          <ul _se [attr.data-windows]="device.platform.windows">
            <ng-container *ngFor="let o of options;let i = index;trackBy:trackOption">
              <ng-container *ngIf="!!groupField && !!o.value[groupField]">
                <ng-container *ngIf="o | trackGroup:(i> 0 ? options[i-1] : null):groupField:groupFieldKey">
                  <ng-container *ngTemplateOutlet="groupTemplate;
                    context: {icon: o.icon, label: o.label, value: o.value}"></ng-container>
                </ng-container>
              </ng-container>
              <li _se data-option [attr.data-selected]="selected | includes:o.key"
                  (click)="toggle(o)">
                <ng-container *ngTemplateOutlet="!!optionTemplate ? optionTemplate
              : optionDefaultTemplate;context: {icon: o.icon, label: o.label, value: o.value}">
                </ng-container>
              </li>
            </ng-container>
          </ul>
        </sn-stack>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-container *ngIf="!!inline">
  <ng-container *ngTemplateOutlet="optionsTemplate"></ng-container>
</ng-container>
