<sn-container>
  <sn-app-page-header [icon]="section.icon"
                       title="Dynamic Data"
                       i18n-title="@@label.dynamic_data"></sn-app-page-header>
  <app-section [section]="section"></app-section>
</sn-container>
