<sn-container>

  <sn-app-page-header [icon]="ui.icons.image"
                      title="Picture"
                      i18n-title="@@label.picture"
                      [teaser]="handbook.elements.components.picture.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-picture [src]="typeControl.value === sketches.image ? 'assets/images/elon.jpeg' : null"
                            [icon]="typeControl.value === sketches.icon ? ui.icons.user : null"
                            [width]="widthControl.value + 'px'"
                            [height]="heightControl.value + 'px'"
                            [fit]="fitControl.value"
                            [loading]="loadingControl.value"
                            [position]="positionControl.value"
                            [alt]="altControl.value ? 'Elon Musk' : null"
                            [title]="titleControl.value ? 'Elon Musk' : null"
                            [attributes]="customControl ? {'test': 'assets/images/elon.jpeg'} : null"
                            [gravityPoint]="gravityControl.value ? {x: xControl.value, y: yControl.value} : null"
                            [sizes]="typeControl.value === sketches.image && gravityControl.value ? sizes : []"
                            [features]="!!gravityControl.value ? [ui.feature.debug] : []">
                  <ng-template *ngIf="copyrightControl.value" #pictureCopyrightTemplate>
                    <div data-copyright>Copyright Text</div>
                  </ng-template>
                </sn-picture>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-switcher formControlName="type">
                  <sn-switcher-option label="Image"
                                      i18n-label="@@label.image"
                                      [value]="sketches.image"></sn-switcher-option>
                  <sn-switcher-option label="Icon"
                                      i18n-label="@@label.icon"
                                      [value]="sketches.icon"></sn-switcher-option>
                </sn-switcher>

                <sn-form-item>
                  <sn-row>
                    <sn-col [tablet]="6" [mobile]="12">
                      <sn-form-label for="width"
                                     i18n="@@label.width">Width
                      </sn-form-label>
                      <sn-input formControlName="width"
                                [min]="1"
                                [type]="ui.input.type.number"></sn-input>
                    </sn-col>
                    <sn-col [tablet]="6" [mobile]="12">
                      <sn-form-label for="height"
                                     i18n="@@label.height">Height
                      </sn-form-label>
                      <sn-input formControlName="height"
                                [min]="1"
                                [type]="ui.input.type.number"></sn-input>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="fit"
                                 i18n="@@label.fit">Fit
                  </sn-form-label>
                  <sn-switcher formControlName="fit"
                               placeholder="Width"
                               [features]="[ui.feature.allowEmpty]"
                               i18n-placeholder="@@label.width">
                    <sn-switcher-option label="Width"
                                        i18n-label="@@label.width"
                                        [value]="ui.fit.width"></sn-switcher-option>
                    <sn-switcher-option label="Height"
                                        i18n-label="@@label.height"
                                        [value]="ui.fit.height"></sn-switcher-option>
                    <sn-switcher-option label="Auto"
                                        i18n-label="@@label.auto"
                                        [value]="ui.fit.auto"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="position"
                                 i18n="@@label.position">Picture position
                  </sn-form-label>
                  <sn-select formControlName="position"
                             placeholder="Center"
                             i18n-placeholder="@@label.center">
                    <sn-select-option label="Center"
                                      i18n-label="@@label.center"
                                      [key]="ui.position.center"
                                      [icon]="localUi.icons.center"></sn-select-option>
                    <sn-select-option *ngIf="fitControl.value === fit.height"
                                      label="Left"
                                      i18n-label="@@label.left"
                                      [key]="ui.position.left"
                                      [icon]="localUi.icons.left"></sn-select-option>
                    <sn-select-option *ngIf="fitControl.value === fit.height"
                                      label="Right"
                                      i18n-label="@@label.right"
                                      [key]="ui.position.right"
                                      [icon]="localUi.icons.right"></sn-select-option>
                    <sn-select-option *ngIf="!fitControl.value || fitControl.value === fit.width"
                                      label="Top"
                                      i18n-label="@@label.top"
                                      [key]="ui.position.top"
                                      [icon]="localUi.icons.position.top"></sn-select-option>
                    <sn-select-option *ngIf="!fitControl.value || fitControl.value === fit.width"
                                      label="Bottom"
                                      i18n-label="@@label.bottom"
                                      [key]="ui.position.bottom"
                                      [icon]="localUi.icons.position.bottom"></sn-select-option>
                  </sn-select>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="features"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="loading" label="Loading"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="copyright" label="Copyright"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="Attributes"
                                 i18n="@@label.attributes">Picture attributes
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="alt" label="Alt"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="title" label="Title"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="custom" label="Custom"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-checkbox formControlName="gravity" label="Gravity point (%)"></sn-checkbox>
                </sn-form-item>

                <sn-form-item>
                  <sn-row>
                    <sn-col [tablet]="6" [mobile]="12">
                      <sn-input formControlName="x"
                                placeholder="x"
                                [width]="ui.width.fluid"
                                [min]="1"
                                [max]="100"
                                [type]="ui.input.type.number"></sn-input>
                    </sn-col>
                    <sn-col [tablet]="6" [mobile]="12">
                      <sn-input formControlName="y"
                                placeholder="y"
                                [min]="1"
                                [max]="100"
                                [width]="ui.width.fluid"
                                [type]="ui.input.type.number"></sn-input>
                    </sn-col>
                  </sn-row>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'picture-test', type: 'PictureTestComponent'}"
                scss="elements/picture"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="picture-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-picture ]]>
  <ng-container [ngSwitch]="typeControl.value">
    <ng-container *ngSwitchCase="sketches.icon">
      <![CDATA[
      [icon]="ui.icons.user"]]>
    </ng-container>
    <ng-container *ngSwitchCase="sketches.image">
      <![CDATA[
      [src]="assets/images/elon.jpeg"]]>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="fitControl.value">
    <![CDATA[
    [fit]="ui.fit.]]>{{fitControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="positionControl.value">
    <![CDATA[
    [position]="ui.position.]]>{{positionControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="widthControl.value">
    <![CDATA[
    [width]="]]>{{widthControl.value}}<![CDATA[px"]]>
  </ng-container>
  <ng-container *ngIf="heightControl.value">
    <![CDATA[
    [height]="]]>{{heightControl.value}}<![CDATA[px"]]>
  </ng-container>
  <ng-container *ngIf="altControl.value && typeControl.value == sketches.image">
    <![CDATA[
    [alt]="Elon Musk"]]>
  </ng-container>
  <ng-container *ngIf="titleControl.value && typeControl.value == sketches.image">
    <![CDATA[
    [title]="Elon Musk"]]>
  </ng-container>
  <ng-container *ngIf="customControl.value && typeControl.value == sketches.image">
    <![CDATA[
    [attributes]="{'srcset': 'assets/images/elon.jpeg'}"]]>
  </ng-container>
  <ng-container *ngIf="loadingControl.value">
    <![CDATA[
    [loading]="true"]]>
  </ng-container>
  <![CDATA[>]]>
  <ng-container *ngIf="copyrightControl.value && typeControl.value == sketches.image">
    <![CDATA[
    <ng-template #pictureCopyrightTemplate>Copyright Text</ng-template>]]>
  </ng-container>
  <![CDATA[
</sn-picture>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-picture"
                           [api]="api.picture">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>

