@import 'sn-variables';
@import '../../component';

[data-copyright] {
  position: absolute;
  color: $sn-white-color;
  font-size: $sn-font-size-normal;
  left: $sn-gutter-normal;
  bottom: $sn-gutter-normal;
}

sn-picture[data-features*="debug"] {
  &:after, &:before {
    content: '';
    position: absolute;
    border: 1px dashed white;
    z-index: 1;
  }

  &:after {
    top: 0;
    bottom: 0;
    left: 50%;
  }

  &:before {
    top: 50%;
    left: 0;
    right: 0;
  }
}
