<ng-template #noDataTemplate>
  <ng-container *ngIf="loading; else emptyDataTemplate">
    <tr _gt data-loading>
      <td _gt [attr.colspan]="(current | snGetDaysInMonth) + 2">
        <sn-skeleton _gt [type]="ui.skeleton.type.text" [lines]="8"></sn-skeleton>
      </td>
    </tr>
  </ng-container>
  <ng-template #emptyDataTemplate>
    <tr _gt data-nodata>
      <td _gt [attr.colspan]="(current | snGetDaysInMonth) + 1">
        <sn-icon _gt [icon]="ui.icons.neutral"></sn-icon>
      </td>
    </tr>
  </ng-template>
</ng-template>

<ng-template #titleDefaultTemplate let-title="title">
  {{title}}
</ng-template>
<ng-template #lineTitleDefaultTemplate let-title="title">
  {{title}}
</ng-template>

<div _gt data-spinner *ngIf="!!lines.length && loading">
  <sn-spinner _gt [size]="ui.size.large"></sn-spinner>
</div>

<ng-template #ganttYearTemplate>
  <ng-container *snMinFor="ui.breakpoint.tablet">
    <table _gt data-year border="0" cellpadding="5" [cellSpacing]="0">
      <thead _gt>
      <tr _gt>
        <td _gt data-gutter></td>
        <td _gt data-empty>
          <ng-container *ngIf="toolsTemplate">
            <ng-container *ngTemplateOutlet="toolsTemplate"></ng-container>
          </ng-container>
        </td>
        <td _gt data-controls [attr.colspan]="12">
          <div _gt data-month>
            <button _gt (click)="current = subYears(current, 1)">
              <sn-icon _gt [icon]="ui.icons.chevronLeft"></sn-icon>
            </button>
            <div _gt>
              {{current | snFormat: 'yyyy'}}
            </div>
            <button _gt (click)="current = addYears(current, 1)">
              <sn-icon _gt [icon]="ui.icons.chevronRight"></sn-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr _gt data-timeline>
        <td _gt data-gutter></td>
        <td _gt>
          <ng-container *ngTemplateOutlet="!!titleTemplate ? titleTemplate : titleDefaultTemplate;context: this"></ng-container>
        </td>
        <td _gt data-day *ngFor="let month of (current | snStartOfYear | betweenMonths:(current | snEndOfYear))"
            [attr.current]="month">
          {{month | monthName}}
        </td>
      </tr>
      </thead>
      <tbody _gt>

      <ng-container *ngIf="lines?.length> 0; else noDataTemplate">
        <ng-container *ngFor="let line of lines">

          <ng-template #emptyYearPeriodsTabletTemplate>
            <tr _gt>
              <td _gt data-gutter></td>
              <td _gt data-title>
                <ng-container *ngTemplateOutlet="line.titleTemplate || lineTitleDefaultTemplate; context: {title: line.title}"></ng-container>
              </td>
              <td _gt data-day *ngFor="let day of (current | datesInMonth)">
              </td>
            </tr>
          </ng-template>

          <ng-container *ngIf="line.periods?.length> 0; else emptyYearPeriodsTabletTemplate">
            <tr _gt *ngFor="let period of line.periods; let i = index">
              <ng-container *ngIf="i === 0">
                <td _gt data-gutter [attr.rowspan]="line.periods.length"></td>
                <td _gt data-title [attr.rowspan]="line.periods.length">
                  <ng-container *ngTemplateOutlet="line.titleTemplate || lineTitleDefaultTemplate; context: {title: line.title}"></ng-container>
                </td>
              </ng-container>

              <ng-template #periodTemplate let-from="from" let-to="to" let-start="start" let-end="end"
                           let-period="period">
                <td _gt *ngFor="let d of start | betweenMonths:from | pop"></td>
                <td _gt [attr.colspan]="(from | betweenMonths:to).length">
                  <ng-container *ngIf="!((period.to | snIsBefore:start) || (period.from | snIsAfter:end))">
                    <ng-container *ngTemplateOutlet="period.indicatorYearTemplate;
                      context: {period: period, current: current, today: today}">
                    </ng-container>
                  </ng-container>
                </td>
                <td _gt *ngFor="let d of to | betweenMonths:end | pop"></td>
              </ng-template>

              <ng-container *ngTemplateOutlet="periodTemplate;context:
                {start: current | snStartOfYear,
                  end: current | snEndOfYear,
                  period: period,
                  current: current,
                  from: [[period.from, current | snStartOfYear] | snMax, current | snEndOfYear] | snMin,
                  to: [[period.to, current | snEndOfYear] | snMin, current | snStartOfYear] | snMax}">
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>

      </tbody>
    </table>
  </ng-container>


  <ng-container *snFor="ui.breakpoint.mobile">
    <sn-stack _gt [align]="ui.align.stretch">
      <ng-container *ngIf="toolsTemplate">
        <ng-container *ngTemplateOutlet="toolsTemplate"></ng-container>
      </ng-container>

      <sn-accordion _gt *ngIf="lines?.length> 0">
        <sn-accordion-section _gt *ngFor="let line of lines" [title]="line.title">
          <ng-template #accordionContentTemplate>

            <table _gt cellpadding="3" [cellSpacing]="0" data-mobile>
              <tbody _gt>

              <ng-template #emptyYearPeriodsMobileTemplate>
                <tr _gt data-nodata>
                  <td _gt [attr.colspan]="(current | snGetDaysInMonth) + 1">
                    <sn-icon _gt [icon]="ui.icons.neutral"></sn-icon>
                  </td>
                </tr>
              </ng-template>

              <ng-container *ngIf="line.periods?.length> 0; else emptyYearPeriodsMobileTemplate">
                <div _gt data-controls>
                  <div _gt data-month>
                    <button _gt (click)="current = subYears(current, 1)">
                      <sn-icon _gt [icon]="ui.icons.chevronLeft"></sn-icon>
                    </button>
                    <div _gt>
                      {{current | snFormat: 'yyyy'}}
                    </div>
                    <button _gt (click)="current = addYears(current, 1)">
                      <sn-icon _gt [icon]="ui.icons.chevronRight"></sn-icon>
                    </button>
                  </div>
                </div>

                <tr _gt *ngFor="let month of (current | snStartOfYear | betweenMonths:(current | snEndOfYear))"
                    [attr.current]="month">
                  <td _gt data-day>{{month | monthName}}</td>
                  <ng-container *ngFor="let period of line.periods; let i = index">

                    <ng-template #periodTemplate let-from="from" let-to="to" let-start="start" let-end="end"
                                 let-period="period">
                      <ng-container *ngIf="!(month | isWithinInterval:(from | snStartOfMonth):(to | snEndOfMonth))">
                        <td _gt></td>
                      </ng-container>
                      <ng-container *ngIf="from | snIsSameMonth:month">
                        <td _gt [attr.rowspan]="(from | betweenMonths:to).length">
                          <ng-container *ngIf="!((period.to | snIsBefore:start) || (period.from | snIsAfter:end))">
                            <ng-container *ngTemplateOutlet="period.indicatorYearTemplate;
                                                              context: {period: period, current: current, today: today}">
                            </ng-container>
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-template>

                    <ng-container *ngTemplateOutlet="periodTemplate;context:
                        { start: current | snStartOfYear,
                          end: current | snEndOfYear,
                          period: period,
                          current: current,
                          from: [[period.from, current | snStartOfYear] | snMax, current | snEndOfYear] | snMin,
                          to: [[period.to, current | snEndOfYear] | snMin, current | snStartOfYear] | snMax}">
                    </ng-container>

                  </ng-container>
                </tr>
              </ng-container>
              </tbody>
            </table>

          </ng-template>
        </sn-accordion-section>
      </sn-accordion>
    </sn-stack>

  </ng-container>
</ng-template>

<ng-container *ngIf="type === types.month; else ganttYearTemplate">
  <ng-container *snMinFor="ui.breakpoint.tablet">
    <table _gt border="0" cellpadding="5" [cellSpacing]="0">
      <thead _gt>
      <tr _gt>
        <td _gt data-gutter></td>
        <td _gt data-empty>
          <ng-container *ngIf="toolsTemplate">
            <ng-container *ngTemplateOutlet="toolsTemplate"></ng-container>
          </ng-container>
        </td>
        <td _gt data-controls [attr.colspan]="(current | snGetDaysInMonth)">
          <div _gt data-month>
            <button _gt (click)="current = subMonths(current, 1)">
              <sn-icon _gt [icon]="ui.icons.chevronLeft"></sn-icon>
            </button>
            <div _gt>
              {{current | snFormat: 'MMMM'}}, {{current | snFormat: 'yyyy'}}
            </div>
            <button _gt (click)="current = addMonths(current, 1)">
              <sn-icon _gt [icon]="ui.icons.chevronRight"></sn-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr _gt data-timeline>
        <td _gt data-gutter></td>
        <td _gt>
          <ng-container *ngTemplateOutlet="!!titleTemplate ? titleTemplate : titleDefaultTemplate;context: this"></ng-container>
        </td>
        <td _gt data-day *ngFor="let day of (current | datesInMonth)"
            [attr.data-current]="day | snIsToday"
            [attr.data-weekend]="day | snIsWeekend"
            #calendarDay>
          {{day | snGetDate}}
        </td>
      </tr>
      </thead>
      <tbody _gt>
      <div _gt data-current-line #currentLine></div>

      <ng-container *ngIf="lines?.length> 0; else noDataTemplate">
        <ng-container *ngFor="let line of lines">

          <ng-template #emptyMonthPeriodsTabletTemplate>
            <tr _gt>
              <td _gt data-gutter></td>
              <td _gt data-title>
                <ng-container *ngTemplateOutlet="line.titleTemplate || lineTitleDefaultTemplate; context: {title: line.title}"></ng-container>
              </td>
              <td _gt data-day *ngFor="let day of (current | datesInMonth)">
              </td>
            </tr>
          </ng-template>

          <ng-container *ngIf="line.periods?.length> 0; else emptyMonthPeriodsTabletTemplate">
            <tr _gt *ngFor="let period of line.periods; let i = index">

              <ng-container *ngIf="i === 0">
                <td _gt data-gutter [attr.rowspan]="line.periods.length"></td>
                <td _gt data-title [attr.rowspan]="line.periods.length">
                  <ng-container *ngTemplateOutlet="line.titleTemplate || lineTitleDefaultTemplate; context: {title: line.title}"></ng-container>
                </td>
              </ng-container>

              <ng-template #periodTemplate let-from="from" let-to="to" let-start="start" let-end="end"
                           let-period="period">
                <td _gt *ngFor="let d of start | betweenDays:from | pop"></td>
                <td _gt [attr.colspan]="(from | betweenDays:to).length">
                  <ng-container *ngIf="!((period.to | snIsBefore:start) || (period.from | snIsAfter:end))">
                    <ng-container *ngTemplateOutlet="period.indicatorMonthTemplate;
                      context: {period: period, current: current, today: today}">
                    </ng-container>
                  </ng-container>
                </td>
                <td _gt *ngFor="let d of to | betweenDays:end | pop"></td>
              </ng-template>

              <ng-container *ngTemplateOutlet="periodTemplate;context:
                {start: current | snStartOfMonth,
                  end: current | snEndOfMonth,
                  period: period,
                  current: current,
                  from: [[period.from, current | snStartOfMonth] | snMax, current | snEndOfMonth] | snMin,
                  to: [[period.to, current | snEndOfMonth] | snMin, current | snStartOfMonth] | snMax}">
              </ng-container>

            </tr>
          </ng-container>
        </ng-container>

      </ng-container>
      </tbody>
    </table>
  </ng-container>


  <ng-container *snFor="ui.breakpoint.mobile">
    <sn-accordion _gt *ngIf="lines?.length> 0">
      <sn-accordion-section _gt *ngFor="let line of lines" [title]="line.title">
        <ng-template #accordionContentTemplate>
          <div _gt>
            <ng-container *ngIf="toolsTemplate">
              <ng-container *ngTemplateOutlet="toolsTemplate"></ng-container>
            </ng-container>
          </div>
          <div _gt data-controls>
            <div _gt data-month>
              <button _gt (click)="current = subMonths(current, 1)">
                <sn-icon _gt [icon]="ui.icons.chevronLeft"></sn-icon>
              </button>
              <div _gt>
                {{current | snFormat: 'MMMM'}}, {{current | snFormat: 'yyyy'}}
              </div>
              <button _gt (click)="current = addMonths(current, 1)">
                <sn-icon _gt [icon]="ui.icons.chevronRight"></sn-icon>
              </button>
            </div>
          </div>
          <table _gt cellpadding="3" [cellSpacing]="0" data-mobile>
            <tbody _gt>

            <ng-template #emptyMonthPeriodsMobileTemplate>
              <tr _gt data-nodata>
                <td _gt>
                  <sn-icon _gt [icon]="ui.icons.neutral"></sn-icon>
                </td>
              </tr>
            </ng-template>

            <ng-container *ngIf="line.periods?.length> 0; else emptyMonthPeriodsMobileTemplate">

              <tr _gt *ngFor="let day of (current | datesInMonth)">
                <td _gt data-day
                    [attr.data-current]="day | snIsToday"
                    [attr.data-weekend]="day | snIsWeekend"
                    #calendarDay>
                  {{day | snGetDate}}
                </td>
                <ng-container *ngFor="let period of line.periods; let i = index">

                  <ng-template #periodTemplate let-from="from" let-to="to" let-start="start" let-end="end"
                               let-period="period">

                    <ng-container *ngIf="!(day | isWithinInterval:(from | snStartOfDay):(to | snEndOfDay))">
                      <td _gt></td>
                    </ng-container>
                    <ng-container *ngIf="from | isSameDay:day">
                      <td _gt [attr.rowspan]="(from | betweenDays:to).length">
                        <ng-container *ngIf="!((period.to | snIsBefore:start) || (period.from | snIsAfter:end))">
                          <ng-container *ngTemplateOutlet="period.indicatorMonthTemplate;
                               context: {period: period, current: current, today: today}">
                          </ng-container>
                        </ng-container>
                      </td>
                    </ng-container>
                  </ng-template>

                  <ng-container *ngTemplateOutlet="periodTemplate;context:
                       {start: current | snStartOfMonth,
                        end: current | snEndOfMonth,
                        period: period,
                        current: current,
                        from: [[period.from, current | snStartOfMonth] | snMax, current | snEndOfMonth] | snMin,
                        to: [[period.to, current | snEndOfMonth] | snMin, current | snStartOfMonth] | snMax}">
                  </ng-container>

                </ng-container>
              </tr>
            </ng-container>

            </tbody>
          </table>
        </ng-template>
      </sn-accordion-section>
    </sn-accordion>
  </ng-container>
</ng-container>
