@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'forms/button/button';
@import 'layout/responsive';

@mixin sn-calendar($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    layout: fixed,
    day: (
      padding: null,
      selected: (
        background-color: null,
        color: null
      )
    ),
    metrics: (
      width: null
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  %cell {
    min-width: 38px;
    font-size: $sn-font-size-small;
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    cursor: pointer;
  }

  #{if($context, $context, $sn-calendar-host)} {
    @if $declare {
      @include reset-default();
      display: block;
      box-sizing: border-box;
      background-color: $sn-primary-background;

      &[data-sn-disabled='true'] {
        cursor: default;
        pointer-events: none;

        #{$wrapper} table {
          tbody tr td, th {
            color: $sn-control-disabled-label-color;
            background-color: $sn-control-disabled-background;
          }
        }
      }
    }
  }

  #{$wrapper} #{$context} table {
    table-layout: map-get($vars, layout);
    @if $declare {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }

    @if map-has-key($vars, metrics) and map-get(map-get($vars, metrics), width) {
      $metrics: map-get($vars, metrics);
      table-layout: fixed;
      [data-metrics] {
        width: map-get($metrics, width);
      }
    }

    [data-divider] {
      @if $declare {
        width: 2px;
      }
    }

    thead {
      [data-year-controls],
      [data-month-controls] {
        padding-bottom: $sn-gutter-normal;
      }

      [data-has-header-template='true'] {
        @if $declare {
          background-color: $sn-secondary-background;

          [data-day-controls] {
            padding: $sn-gutter-small;
          }
        }
      }

      [data-arrow], [data-date] {
        @if $declare {
          @include button-default();
        }
      }

      [data-date], [data-years] {
        @if $declare {
          width: 100%;
          min-width: 150px;

          @include for-wide() {
            width: 30%;
          }
        }
      }

      [data-years] {
        @if $declare {
          font-size: $sn-font-size-normal;
          text-align: center;
          color: $sn-control-disabled-label-color;
        }
      }

      [data-days] {
        > th {
          @if $declare {
            padding: $sn-gutter-normal $sn-gutter-tiny;
            color: $sn-primary-text-light-color;
            font-weight: $sn-font-weight-bold;
          }
        }
      }

      [data-metrics] {
        @if $declare {
          font-weight: $sn-font-weight-semi-bold;
        }
      }

      th[data-metric] {
        @if $declare {
          font-weight: $sn-font-weight-semi-bold;
        }
      }
    }

    tbody {
      tr {
        td {
          @if $declare {
            box-shadow: inset -1px 0px 0px $sn-highlight-background,
            inset 0px -1px 0px $sn-highlight-background;

            &[data-selected-day='true'] {
              box-shadow: inset 0 0 0 2px $sn-primary-light-75-color;
            }

            &:last-child {
              box-shadow: inset 0px -1px 0px $sn-highlight-background;
            }

            &[data-metric] {
              box-shadow: inset -1px 0px 0px $sn-white-color,
              inset 0px -1px 0px $sn-white-color;
            }
          }
        }

        &:last-child {
          @if $declare {
            td {
              box-shadow: inset -1px 0px 0px $sn-highlight-background;

              &:last-child {
                box-shadow: none;
              }

              &[data-metric] {
                box-shadow: inset -1px 0px 0px $sn-white-color;
              }
            }
          }
        }

        &[data-current-week='true'] {
          @if $declare {
            [data-day], [data-metric],
            [data-day][data-has-day-template='false']:nth-child(6),
            [data-day][data-readonly='false']:nth-child(6),
            [data-day][data-has-day-template='false']:nth-child(7),
            [data-day][data-readonly='false']:nth-child(7) {
              background-color: $sn-highlight-background;
            }

            [data-day][data-today='true']:nth-child(6),
            [data-day][data-today='true']:nth-child(7) {
              background-color: $sn-primary-light-75-color;
              color: $sn-white-color;
            }
          }
        }

        td {
          &[data-selected-day='false'][data-readonly='false']:hover,
          &[data-selected-month='false']:hover,
          &[data-selected-year='false']:hover {
            background-color: $sn-secondary-background;
            color: $sn-primary-text-dark-color;
          }

          &:focus {
            box-shadow: inset $sn-outline-shadow-small $sn-primary-light-75-color;
            outline: 0;
          }

          &[data-current-month='false'][data-today='false'] {
            color: $sn-primary-text-light-color;

            > * {
              opacity: .3;
            }
          }

          &[data-day][data-today='true'],
          &[data-day][data-today='true']:nth-child(6),
          &[data-day][data-today='true']:nth-child(7),
          &[data-month][data-current-month='true'],
          &[data-year][data-current-year='true'] {
            background-color: $sn-primary-light-75-color;
            color: $sn-white-color;
          }

          &[data-day] {
            @extend %cell;

            &[data-readonly='true'] {
              cursor: default;
            }

            &[data-has-day-template='true'] {
              vertical-align: top;
              text-align: left;
            }

            &[data-has-day-template='false']:nth-child(6),
            &[data-readonly='false']:nth-child(6),
            &[data-has-day-template='false']:nth-child(7),
            &[data-readonly='false']:nth-child(7) {
              background-color: $sn-secondary-background;
            }

            [data-default] {
              @if $declare {
                padding: $sn-gutter-small $sn-gutter-tiny;
              }
            }
          }

          &[data-month],
          &[data-year] {
            @extend %cell;
            height: 68px;
          }


          @if map-has-key($vars, day) {
            $day: map-get($vars, day);
            padding: map-get($day, padding);
            &[data-selected-day='true'] {
              @if map-has-key($day, selected) {
                $selected: map-get($day, selected);
                background-color: map-get($selected, background-color);
                color: map-get($selected, color);
                [data-default] {
                  color: map-get($selected, color);
                }
              }
            }
          }

          &[data-divider] {
            box-shadow: none;
          }

          &[data-metric] {
            @if $declare {
              background-color: $sn-secondary-background;
            }
          }
        }
      }
    }

    td, th {
      @if $declare {
        vertical-align: middle;
        text-align: center;
        position: relative;
      }
    }
  }
}

@if $sn-debug {
  @debug 'calendar compiled';
}
