<sn-stack _cr [align]="ui.align.stretch">
  <table _cr>
    <ng-container [ngSwitch]="view">

      <ng-container *ngSwitchCase="viewType.selectYear">
        <thead _cr>
        <tr _cr>
          <td _cr data-year-controls colspan="4">
            <sn-stack _cr [orientation]="ui.orientation.horizontal"
                      [align]="ui.align.center"
                      [justify]="ui.justify.center"
                      [gutter]="ui.gutter.none"
                      [width]="ui.width.fluid">
              <button _cr data-arrow (click)="backYears()">
                <sn-icon _cr [icon]="ui.icons.chevronLeft"></sn-icon>
              </button>

              <span _cr data-years>
                  {{(period | snGetYear) - 4}} - {{(period | snGetYear) + 7}}
                </span>

              <button _cr data-arrow (click)="forwardYears()">
                <sn-icon _cr [icon]="ui.icons.chevronRight"></sn-icon>
              </button>
            </sn-stack>
          </td>
        </tr>
        </thead>

        <tbody _cr>
        <tr _cr *ngFor="let row of years">
          <td _cr data-year *ngFor="let year of row"
              [attr.data-current-year]="year | snIsThisYear"
              [attr.data-selected-year]="(year | snStartOfYear) | snIsEqual: (current | snStartOfYear)"
              (click)="period = year; view = viewType.selectMonth">
            {{year | snFormat: 'yyyy'}}
          </td>
        </tr>
        </tbody>
      </ng-container>

      <ng-container *ngSwitchCase="viewType.selectMonth">
        <thead _cr>
        <tr _cr>
          <td _cr data-month-controls colspan="4">
            <sn-stack _cr [orientation]="ui.orientation.horizontal"
                      [align]="ui.align.center"
                      [justify]="ui.justify.center"
                      [gutter]="ui.gutter.none"
                      [width]="ui.width.fluid">
              <button _cr data-arrow (click)="backYear()">
                <sn-icon _cr [icon]="ui.icons.chevronLeft"></sn-icon>
              </button>

              <button _cr data-date (click)="view = viewType.selectYear">
                {{period | snFormat: 'yyyy'}}
              </button>

              <button _cr data-arrow (click)="forwardYear()">
                <sn-icon _cr [icon]="ui.icons.chevronRight"></sn-icon>
              </button>
            </sn-stack>
          </td>
        </tr>
        </thead>

        <tbody _cr>
        <tr _cr *ngFor="let row of months">
          <td _cr data-month *ngFor="let month of row"
              [attr.data-current-month]="month | snIsThisMonth"
              [attr.data-selected-month]="(month | snStartOfMonth) | snIsEqual: (current | snStartOfMonth)"
              (click)="period = month; view = viewType.selectDay">
            {{month | snFormat: 'LLL'}}
          </td>
        </tr>
        </tbody>
      </ng-container>

      <ng-container *ngSwitchCase="viewType.selectDay">
        <thead _cr>
        <tr _cr [attr.data-has-header-template]="!!headerTemplate">
          <td _cr data-day-controls colspan="7">
            <sn-stack _cr [orientation]="ui.orientation.horizontal"
                      [align]="ui.align.center">
              <sn-stack _cr *ngIf="!!headerTemplate"
                        [orientation]="ui.orientation.horizontal">
                <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
              </sn-stack>

              <sn-stack _cr [orientation]="ui.orientation.horizontal"
                        [align]="ui.align.center"
                        [justify]="ui.justify.center"
                        [gutter]="ui.gutter.none"
                        [width]="ui.width.fluid">
                <button _cr data-arrow (click)="backMonth()">
                  <sn-icon _cr [icon]="ui.icons.chevronLeft"></sn-icon>
                </button>

                <button _cr data-date (click)="view = viewType.selectMonth">
                  {{period | snFormat: 'LLLL'}}, {{period | snFormat: 'yyyy'}}
                </button>

                <button _cr data-arrow (click)="forwardMonth()">
                  <sn-icon _cr [icon]="ui.icons.chevronRight"></sn-icon>
                </button>
              </sn-stack>
            </sn-stack>
          </td>

          <ng-container *ngIf="!!metrics.length">
            <td _cr data-divider></td>
            <td _cr data-metrics
                [translate]="'label.metrics'"
                [attr.colspan]="metrics.length">Metrics
            </td>
          </ng-container>
        </tr>

        <tr _cr data-days>
          <th _cr *ngFor="let weekDay of [0,1,2,3,4,5,6]">{{weekDay | snWeekdayName:'x2'}}</th>
          <ng-container *ngIf="!!metrics.length">
            <th _cr data-divider></th>
            <th _cr data-metric *ngFor="let m of metrics">{{m.title}}</th>
          </ng-container>
        </tr>
        </thead>

        <tbody _cr>
        <tr _cr *ngFor="let w of weeks"
            [attr.data-current-week]="(current | snStartOfWeek) | snIsEqual: (w.date | snStartOfWeek)">
          <td _cr data-day *ngFor="let d of w.days"
              [attr.data-readonly]="readonly"
              [attr.data-has-day-template]="!!dayTemplate"
              [attr.data-today]="d | snIsToday"
              [attr.data-current-month]="(d | snStartOfMonth) | snIsEqual: (period | snStartOfMonth)"
              [attr.data-selected-day]="(d | snStartOfDay) | snIsEqual: (current | snStartOfDay)"
              [attr.tabindex]="readonly ? null : 0"
              (click)="readonly ? null : select(d)">
            <ng-container *ngTemplateOutlet="!!dayTemplate ? dayTemplate: defaultDayTemplate;context:{date: d}">
            </ng-container>
          </td>

          <ng-template #defaultDayTemplate let-date="date">
            <div _cr data-default>{{date | snGetDate}}</div>
          </ng-template>

          <ng-container *ngIf="!!metrics.length">
            <td _cr data-divider></td>
            <td _cr data-metric *ngFor="let m of metrics;let i = index;">
              <ng-container *ngTemplateOutlet="metricTemplate;context:{metric: i, date: w.date}">
              </ng-container>
            </td>
          </ng-container>
        </tr>
        </tbody>
      </ng-container>

    </ng-container>
  </table>

  <sn-stack _cr *ngIf="features | includes : ui.feature.today" [align]="ui.align.center">
    <sn-button _cr [scheme]="ui.scheme.secondary"
               [size]="ui.size.small"
               [icon]="ui.icons.today"
               [text]="'action.today' | translate"
               (click)="today()">
    </sn-button>
  </sn-stack>
</sn-stack>
