@import 'sn-variables';
@import 'sn-hosts';
@import 'sn-functions';

@mixin sn-empty($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    message: (
      color: $sn-primary-light-75-color,
      font-weight: $sn-font-weight-semi-bold,
      font-size: $sn-font-size-normal
    ),
    description: (
      color: $sn-primary-text-light-color
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-empty-host)} {
    @if $declare {
      display: block;
    }
  }

  #{$context} #{$wrapper} [data-message] {
    @if map-has-key($vars, message) {
      $message: map-get($vars, message);
      color: map-get($message, color);
      font-weight: map-get($message, font-weight);
      font-size: map-get($message, font-size);
    }
  }

  #{$context} #{$wrapper} [data-description] {
    @if map-has-key($vars, description) {
      $description: map-get($vars, description);
      color: map-get($description, color);
    }
  }
}
