@import 'sn-variables';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon/icon';

@mixin sn-chart($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    width: null,
    height: null,
    fill: null
  );

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-chart-host)} {
    @if $declare {
      @include reset-default();
      display: flex;
    }
  }

  #{$context} [data-wrapper] {
    @if $declare {
      flex: 1;
    }

    table {
      @if $declare {
        border-spacing: 0;
        width: 100%;
      }

      td, th {
        @if $declare {
          text-align: left;
          vertical-align: middle;
          padding: 0 $sn-gutter-small;
          &:first-child {
            padding: 0 $sn-gutter-large;
          }
        }
      }

      thead {
        @if $declare {
          background-color: $sn-secondary-background;
        }
      }

      tbody {
        tr {
          @if $declare {
            cursor: pointer;
            position: relative;
            &:hover, &[selected='true'] {
              td {
                background-color: $sn-purple-light-color;
                color: $sn-white-color;
              }
            }
            &:not(:last-child) {
              td:not(:last-child) {
                border-bottom: 1px solid $sn-muted-color;
              }
            }
            &:last-child {
              td:first-child {
                border-bottom-left-radius: $sn-corner-normal;
              }
            }
            &[data-nodata] {
              height: 200px;
              pointer-events: none;
              border-bottom: 0;

              td {
                vertical-align: middle;
                text-align: center;
                padding: $sn-gutter-normal;

                [data-sn-icon] {
                  @include sn-icon((
                    color: $sn-muted-color,
                    size: 80px
                  ), '&');
                }
              }

              &:last-child {
                td:last-child {
                  border-bottom-right-radius: $sn-corner-normal;
                }
              }
            }
          }
        }

        td {
          @if $declare {
            background-color: $sn-primary-background;
            box-sizing: border-box;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            min-width: 50px;
            width: 50px;
            max-width: 100px;
            text-align: right;
            user-select: none;
            &:first-child {
              text-align: left;
              min-width: 150px;
              width: 300px;
            }
            &:last-child {
              color: $sn-gray-color;
              text-align: center;
            }
            [data-content] {
              overflow: hidden;
            }
          }
        }
      }
    }
  }

  #{$context} svg {
    @if $declare {
      background-color: $sn-secondary-background;
      text {
        fill: $sn-white-color;
      }
    }
  }
}

@if $sn-debug {
  @debug 'chart compiled';
}
