<div _ct data-wrapper>
  <table _ct>
    <thead _ct>
    <tr _ct [style.height.px]="heightIndicator" [style.min-height.px]="heightIndicator">
      <th _ct>
        {{title}}
      </th>
      <th _ct colspan="2">
        {{metric}}
      </th>
    </tr>
    </thead>
    <tbody _ct>
    <ng-container *ngIf="indicators.length; else loadingTemplate">
      <tr _ct *ngFor="let indicator of indicators; trackBy: trackByFn"
          (click)="selected = indicator.data"
          [attr.selected]="(!!keyField && !!selected
            ? selected[keyField] === indicator.data[keyField]
            : (selected === indicator.data))"
          [style.height.px]="heightIndicator"
          [style.max-height.px]="heightIndicator"
          [style.min-height.px]="heightIndicator">
        <td _ct>
          <ng-container *ngIf="indicator.titleTemplate; else indicatorTitle">
            <div _ct data-content [style.max-height.px]="heightIndicator - 1">
              <ng-container *ngTemplateOutlet="indicator.titleTemplate; context: indicator"></ng-container>
            </div>
          </ng-container>
          <ng-template #indicatorTitle>
            {{indicator.title}}
          </ng-template>
        </td>
        <td _ct>
          {{indicator.label}}
        </td>
        <td _ct [style.background-color]="indicator.color | lightenDarken : -20">
          <span _ct [style.color]="indicator.color | lightenDarken : -20 | textBrightness">
            {{indicator.value | number: '1.0-0'}}%
          </span>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<svg _ct *ngIf="indicators.length"
     [style.min-width]="widthMark + widthPolygon"
     [attr.width]="widthMark + widthPolygon"
     [attr.height]="heightSvg" xmlns="http://www.w3.org/2000/svg">

  <ng-container *ngFor="let indicator of indicators; trackBy: trackByFn; let i = index; let first = first">
    <polygon _ct
             [attr.points]="'0 ' + (first ? heightIndicator : heightIndicator * (i + 1)) + ' ' + widthPolygon + ' ' + (first ? 0 : (i - 1 | sumIndicators: indicators) | percentToNumber: heightSvg) + ' ' + widthPolygon + ' ' + ((i | sumIndicators: indicators) | percentToNumber: heightSvg) + ' 0 ' + heightIndicator * (i + 2)"
             [attr.fill]="indicator.color | lightenDarken: 10"></polygon>
    <rect _ct [attr.x]="widthPolygon"
          [attr.y]="first ? 0 : (i - 1 | sumIndicators: indicators) | percentToNumber: heightSvg"
          [attr.width]="widthMark"
          [attr.height]="indicator.value | percentToNumber : heightSvg"
          [attr.fill]="indicator.color">
    </rect>
  </ng-container>

</svg>

<ng-template #loadingTemplate>
  <tr _ct data-nodata>
    <td _ct [attr.colspan]="3">
      <sn-skeleton _ct *ngIf="state === ui.state.loading; else noDataTemplate" [lines]="5"></sn-skeleton>
      <ng-template #noDataTemplate>
        <sn-icon _ct [icon]="ui.icons.neutral"></sn-icon>
      </ng-template>
    </td>
  </tr>
</ng-template>
