<sn-stack _br data-breadcrumbs
          *ngIf="breadcrumbs.length> 1"
          [orientation]="ui.orientation.horizontal"
          [gutter]="ui.gutter.small"
          [spacing]="ui.gutter.tiny"
          [wrap]="wrap"
          [align]="ui.align.center">
  <ng-container *ngFor="let crumb of breadcrumbs">
    <div _br data-breadcrumb>
      <ng-container *ngIf="!!linkTemplate; else defaultLinkTemplate">
        <ng-container *ngTemplateOutlet="linkTemplate; context: {crumb: crumb}"></ng-container>
      </ng-container>

      <ng-template #defaultLinkTemplate>
        <a _br [href]="crumb.route.snapshot | getUrl"
           [attr.data-disabled]="crumb.disabled"
           [innerHTML]="crumb.title"
           (click)="go(crumb, $event)">
        </a>
      </ng-template>
    </div>
    <sn-icon _br [icon]="ui.icons.chevronRight"></sn-icon>
  </ng-container>
</sn-stack>
<div _br data-right-fader></div>
