@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'layout/responsive/responsive';
@import 'layout/block/block';

@keyframes sn-scale-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.9);
  }
}

@keyframes sn-scale-out {
  0% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

@mixin sn-modal($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    padding: (
      top: $sn-gutter-large,
      left: $sn-gutter-large,
      right: $sn-gutter-large,
      bottom: $sn-gutter-large
    ),
    title: (
      padding: $sn-gutter-normal $sn-gutter-large
    ),
    z-index: (
      overlay: 98,
      modal: 99
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-modal-host)} {
    @if $declare {
      @include reset-default();
      display: block;
      @include min-for-tablet() {
        &:not([data-sn-device-tags*='firefox']) {
          [data-modal] [data-content] {
            @if map-has-key($vars, padding) {
              $padding: map-get($vars, padding);
              padding-right: map-get($padding, right) - $sn-scrollbar-width;
            }
          }
        }
      }

      @include for-mobile() {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        max-width: 100%;
        max-height: 100vh;
        overflow-y: auto;
        padding: $sn-gutter-small;
        box-sizing: border-box;

        &[data-sn-device-tags*='window'] {
          @include sn-scrollbar();
        }
      }


      &[data-sn-scheme='ghost'] [data-modal] {

        background-color: transparent;
        box-shadow: none;

        [data-header] {
          padding: 0;

          [data-title] {
            visibility: hidden;
          }

          button {
            margin-bottom: $sn-gutter-base;
            width: 28px;
            border-radius: 50%;
            background-color: $sn-primary-background;
            color: $sn-primary-color;
          }
        }

        [data-content] {
          background-color: $sn-primary-background;
          border-radius: $sn-corner-normal;
          box-shadow: $sn-shadow-normal;

          &::-webkit-scrollbar, &::-webkit-scrollbar-track {
            border-radius: $sn-corner-normal;
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-overlay] {
    @if $declare {
      position: fixed;
      background-color: rgba(0, 0, 0, .4);
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }

    @if map-has-key($vars, z-index) {
      $z-index: map-get($vars, z-index);
      z-index: map-get($z-index, overlay);
    }
  }

  #{$context} #{$wrapper} [data-modal] {
    @if $declare {
      display: flex;
      flex-direction: column;
      transform: scale(1);
      position: fixed;
      min-width: min-content;
      max-width: 100%;
      max-height: 100%;
      top: 100%;
      box-shadow: $sn-shadow-normal;
      border-radius: $sn-corner-normal;
      background-color: $sn-primary-background;
    }

    @if map-has-key($vars, z-index) {
      $z-index: map-get($vars, z-index);
      z-index: map-get($z-index, modal);
    }

    @include for-mobile() {
      @if $declare {
        min-width: 100%;
        position: relative;
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
      }
    }

    [data-header] {
      @if map-has-key($vars, title) {
        $title: map-get($vars, title);
        padding: map-get($title, padding);
      }

      @if $declare {
        border-top-left-radius: $sn-corner-normal;
        border-top-right-radius: $sn-corner-normal;

        [data-text] {
          font-size: $sn-font-size-large;
          line-height: 32px;
          font-weight: $sn-font-weight-bold;
          color: $sn-primary-text-color;
        }

        button {
          @include button-default();
        }
      }
    }

    [data-content] {
      @if map-has-key($vars, padding) {
        $padding: map-get($vars, padding);
        padding-top: map-get($padding, top);
        padding-left: map-get($padding, left);
        padding-bottom: map-get($padding, bottom);
        padding-right: map-get($padding, right);
      }
      @if $declare {
        font-size: $sn-font-size-base;
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
        @include sn-scrollbar();
        @include for-mobile() {
          overflow: visible;
          max-height: none !important;
          max-width: 100% !important;
        }
      }
    }

  }
}

@if $sn-debug {
  @debug 'modal compiled';
}
