<ng-template #modalContentTemplate>
  <sn-stack _ml data-header
            [orientation]="ui.orientation.horizontal"
            [justify]="ui.justify.between"
            [align]="ui.align.center">
    <sn-stack _ml data-title
              *ngIf="!!options?.title"
              [orientation]="ui.orientation.horizontal"
              [gutter]="ui.gutter.small">
      <sn-icon _ml *ngIf="!!options.title.icon"
               [icon]="options.title.icon"></sn-icon>
      <span _ml data-text [innerHTML]="options.title.text | sanitizeHtml"></span>
    </sn-stack>

    <button _ml *ngIf="!options.hold" (click)="close(modalClosedReason.user)">
      <sn-icon _ml [icon]="ui.icons.close"></sn-icon>
    </button>
  </sn-stack>
  <div _ml data-content
       [ngStyle]="{
         'max-height': options.maxHeight,
         'max-width': options.maxWidth,
         'width': (ui.breakpoint.mobile | breakpoint) ? '100%' : options.width
       }"
       [attr.data-windows]="device.platform.windows">
    <ng-container #container>
      <ng-container *ngIf="!!contentTemplate">
        <ng-container *ngTemplateOutlet="contentTemplate; context: {close: close.bind(this)}"></ng-container>
      </ng-container>
    </ng-container>
  </div>
  <ng-container *ngIf="!!options.footer">
    <ng-container *ngTemplateOutlet="options.footer; context: {close: close.bind(this)}"></ng-container>
  </ng-container>
</ng-template>

<ng-container [ngSwitch]="options?.scheme">
  <div _ml data-modal *ngSwitchCase="ui.modal.scheme.ghost"
       [@.disabled]="(ui.breakpoint.mobile | breakpoint)"
       [@move]="opened ? 'visible' : 'hidden'"
       (@move.start)='start($event)'
       (@move.done)='done($event)'>
    <ng-container *ngTemplateOutlet="modalContentTemplate"></ng-container>
  </div>

  <ng-container *ngSwitchDefault>
    <div _ml data-modal
              [@.disabled]="(ui.breakpoint.mobile | breakpoint)"
              [@move]="opened ? 'visible' : 'hidden'"
              (@move.start)='start($event)'
              (@move.done)='done($event)'>
      <ng-container *ngTemplateOutlet="modalContentTemplate"></ng-container>
    </div>
  </ng-container>
</ng-container>

<div _ml #backdrop data-overlay *ngIf="!!opened"
     (click)="!options.hold && options.closeOutside ? close(modalClosedReason.user) : null"
     [@.disabled]="(ui.breakpoint.mobile | breakpoint)"
     [@blackout]="opened">
</div>

