<ng-template #avatarTemplate>
  <div _sk data-avatar
       [ngStyle]="{
         'height': height,
         'min-height': height,
         'width': width,
         'min-width': width
       }"
       [attr.data-avatar]="type === ui.skeleton.type.avatar">
  </div>
</ng-template>
<ng-container [ngSwitch]="type">
  <sn-stack _sk *ngSwitchCase="ui.skeleton.type.text" [gutter]="ui.gutter.big">
    <div _sk data-line *ngFor="let l of lines | mockArray"></div>
  </sn-stack>
  <ng-container *ngSwitchCase="ui.skeleton.type.avatar">
    <ng-container *ngTemplateOutlet="avatarTemplate"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="ui.skeleton.type.image">
    <ng-container *ngTemplateOutlet="avatarTemplate"></ng-container>
  </ng-container>
  <div _sk *ngSwitchCase="ui.skeleton.type.card" data-card></div>
</ng-container>
