<div _pb data-legend>
  <ng-container *ngTemplateOutlet="progressBarLegendTemplate"></ng-container>
</div>
<div _pb data-bar>
  <div _pb *ngIf="value>= 0" data-progress
       [style.width.%]="value> 100 ? 100 : value"
       [style.background-color]="value | getColor:lines:color"
       [attr.data-fail]="value> 100"></div>
</div>
