@import "sn-variables";
@import "sn-utils";
@import "sn-hosts";

@mixin sn-progress-bar($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    styles: (
      default: (
        width: 100%,
        height: 3px,
        corner: 0,
        background: $sn-muted-color
      ),
      filled: (
        width: 100%,
        height: 28px,
        corner: $sn-corner-base,
        background: $sn-secondary-light-10-color
      )
    ),
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-progress-bar-host)} {
    @if $declare {
      @include reset-default();
      display: flex;
      flex-direction: column;
    }

    @if map-has-key($vars, styles) {
      $styles: map-get($vars, styles);
      @each $style, $map in $styles {
        &[data-sn-style='#{$style}'] {
          border-radius: map-get($map, corner);

          [data-bar] {
            width: map-get($map, width);
            background-color: map-get($map, background);
            min-height: map-get($map, height);
            height: map-get($map, height);
          }
        }
      }
    }

    &[data-sn-style='filled'] {
      position: relative;
      overflow: hidden;
      #{$wrapper} [data-legend] {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0 $sn-gutter-small;
      }
    }
  }

  #{$context} [data-bar] {
    @if $declare {
      border-radius: 1px;
      box-sizing: border-box;
      [data-progress] {
        height: 100%;
        border-radius: 1px;

        &[data-fail='true'] {
          background-color: $sn-fail-color;
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'progress-bar compiled';
}
