@import 'sn-variables';
@import '../../component';

:host-context([theme='dark']) {
  [data-footer] {
    background-color: #121212;
  }
}

:host {
  display: block;
}

[data-footer] {
  padding: $sn-gutter-normal;
  border-bottom-left-radius: $sn-corner-normal;
  border-bottom-right-radius: $sn-corner-normal;
}

[cancel] {
  margin-top: $sn-gutter-normal;
}
