<sn-container>

  <sn-app-page-header [icon]="localUi.icons.modal"
                      title="Modal"
                      i18n-title="@@label.modal"
                      [teaser]="handbook.overlays.components.modal.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <sn-row>
                  <sn-col [mobile]="12" [tablet]="4">
                    <sn-button (click)="typeControl.value === contentType.templateRef ? openModal() : openCalendar()"
                               [width]="ui.width.fluid"
                               text="Open from code"
                               i18n-text="@@action.open_modal"></sn-button>
                  </sn-col>
                  <sn-col [mobile]="12" [tablet]="4">
                    <sn-button [snModal]="{title: titleControl.value ? {text: 'Title', icon: iconControl.value ? ui.icons.settings : null} : null,
                                        content: contentDirective, footer: footerControl.value ? footer : null,
                                        hold: holdControl.value,
                                        closeOutside: closeOutsideControl.value,
                                        maxWidth: widthControl.value, maxHeight: heightControl.value}"
                               [width]="ui.width.fluid"
                               i18n-text="@@action.open_in_directive"
                               text="Open in directive">
                    </sn-button>
                  </sn-col>
                </sn-row>

                <ng-template #content let-close="close">
                  <iframe giphy src="https://giphy.com/embed/3og0ICmyySyzbmnxqE"
                          width="480"
                          height="270"
                          frameBorder="0">
                  </iframe>
                  <form [formGroup]="selectForm">
                    <sn-form-item>
                      <sn-select formControlName="select"
                                 [keyField]="'id'"
                                 [labelField]="'name'"
                                 placeholder="Select your hero"
                                 i18n-placeholder="@@label.select_your_hero"
                                 [features]="[ui.feature.search]"
                                 [icon]="iconControl.value ? ui.icons.user : null">
                        <sn-select-option *ngFor="let h of heroes;trackBy:trackHero"
                                          [label]="h.name"
                                          [key]="h.id"
                                          [value]="h">
                        </sn-select-option>
                      </sn-select>
                    </sn-form-item>
                  </form>
                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </div>
                  <sn-button *ngIf="holdControl.value && !footerControl.value"
                             text="Cancel"
                             i18n-text="@@action.cancel"
                             (click)="close()"
                             cancel>
                  </sn-button>
                </ng-template>

                <ng-template #contentDirective let-close="close">
                  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aperiam culpa, cumque debitis dicta ducimus et excepturi illum iste nulla tempora.
                  </div>
                  <sn-button *ngIf="holdControl.value && !footerControl.value"
                             text="Cancel"
                             i18n-text="@@action.cancel"
                             (click)="close()"
                             cancel></sn-button>
                </ng-template>

                <ng-template #footer let-close="close">
                  <sn-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.center" data-footer>
                    <sn-button text="Ok"
                               i18n-text="@@action.ok"
                               (click)="close()"></sn-button>
                  </sn-stack>
                </ng-template>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.content_type">Content type
                  </sn-form-label>
                  <sn-switcher formControlName="type">
                    <sn-switcher-option label="Template"
                                        i18n-label="@@label.template"
                                        [icon]="localUi.icons.template"
                                        [value]="contentType.templateRef"></sn-switcher-option>
                    <sn-switcher-option label="Component"
                                        i18n-label="@@label.component"
                                        [icon]="localUi.icons.component"
                                        [value]="contentType.componentRef"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="width"
                                 i18n="@@label.max_width">Max width
                  </sn-form-label>
                  <sn-switcher formControlName="width">
                    <sn-switcher-option label="700" [value]="size.large"></sn-switcher-option>
                    <sn-switcher-option label="400" [value]="size.small"></sn-switcher-option>
                    <sn-switcher-option label="600" [value]="size.normal"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="height"
                                 i18n="@@label.max_height">Max height
                  </sn-form-label>
                  <sn-switcher formControlName="height">
                    <sn-switcher-option label="200" [value]="size.tiny"></sn-switcher-option>
                    <sn-switcher-option label="400" [value]="size.small"></sn-switcher-option>
                    <sn-switcher-option label="600" [value]="size.normal"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.hold">Hold</sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="hold"
                                   label="Hold"
                                   i18n-label="@@label.enable_closing"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="closeOutside"
                                   label="Close outside"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="title"
                                   label="Title"
                                   i18n-label="@@label.title"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="5">
                      <sn-checkbox formControlName="icon"
                                   label="Icon for title"
                                   i18n-label="@@label.icon_for_title"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="footer"
                                   label="Footer"
                                   i18n-label="@@label.footer"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'modal-test', type: 'ModalTestComponent'}"
                scss="overlays/modal">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
<![CDATA[
import { FormBuilder } from '@angular/forms';
import { ModalOptions, ModalService, UI } from 'esanum-ui';

@Component({
  selector: 'app-modal-test',
  templateUrl: './modal-test.component.html',
  styleUrls: ['./modal-test.component.scss']
})

export class ModalTestComponent{
  ui = UI;
]]>
<ng-container *ngIf="footerControl.value">
<![CDATA[
  @ViewChild('footer', {static: false})
  footer: TemplateRef<any>;
]]>
</ng-container>
<ng-container *ngIf="typeControl.value === contentType.templateRef">
<![CDATA[
  @ViewChild('content', {static: false})
  content: TemplateRef<any>;

  constructor(private modalService: ModalService) {
  }

  openModal() {
    const options = new ModalOptions({]]>
      <ng-container *ngIf="widthControl.value">
        <![CDATA[maxWidth:]]> {{this.widthControl.value}}<![CDATA[,]]>
      </ng-container>
      <ng-container *ngIf="heightControl.value">
        <![CDATA[maxHeight:]]> {{this.heightControl.value}}<![CDATA[,]]>
      </ng-container>
      <ng-container *ngIf="holdControl.value">
        <![CDATA[hold: true,]]>
      </ng-container>
      <ng-container *ngIf="!holdControl.value">
        <![CDATA[hold: false,]]>
      </ng-container>
      <ng-container *ngIf="closeOutsideControl.value">
        <![CDATA[closeOutside: true,]]>
      </ng-container>
      <ng-container *ngIf="!closeOutsideControl.value">
        <![CDATA[closeOutside: false,]]>
      </ng-container>

      <ng-container *ngIf="titleControl.value || iconControl.value">
        <![CDATA[title: {]]>
        <ng-container *ngIf="titleControl.value">
          <![CDATA[ text: 'Modal']]>
        </ng-container>
        <ng-container *ngIf="iconControl.value">
          <![CDATA[ icon: UI.icons.settings]]>
        </ng-container>
        <![CDATA[}, ]]>
      </ng-container>

      <ng-container *ngIf="footerControl.value">
        <![CDATA[footer: this.footer]]>
      </ng-container>
    <![CDATA[ });
    this.modalService.open(this.content, options);
  } ]]>
</ng-container>
<ng-container *ngIf="typeControl.value === contentType.componentRef">
<![CDATA[
  constructor(private modalService: ModalService,
              private injector: Injector,
              private cfr: ComponentFactoryResolver) {
  }
  openModal() {
    const options = new ModalOptions({]]>
      <ng-container *ngIf="widthControl.value">
        <![CDATA[maxWidth:]]> {{this.widthControl.value}}<![CDATA[,]]>
      </ng-container>
      <ng-container *ngIf="heightControl.value">
        <![CDATA[maxHeight:]]> {{this.heightControl.value}}<![CDATA[,]]>
      </ng-container>
      <ng-container *ngIf="holdControl.value">
        <![CDATA[hold: true,]]>
      </ng-container>
      <ng-container *ngIf="!holdControl.value">
        <![CDATA[hold: false,]]>
      </ng-container>
      <ng-container *ngIf="closeOutsideControl.value">
        <![CDATA[closeOutside: true,]]>
      </ng-container>
      <ng-container *ngIf="!closeOutsideControl.value">
        <![CDATA[closeOutside: false,]]>
      </ng-container>

    <ng-container *ngIf="titleControl.value || iconControl.value">
      <![CDATA[title: {]]>
      <ng-container *ngIf="titleControl.value">
        <![CDATA[ text: 'Calendar']]>
      </ng-container>
      <ng-container *ngIf="iconControl.value">
        <![CDATA[ icon: UI.icons.calendar]]>
      </ng-container>
      <![CDATA[}, ]]>
    </ng-container>

    <ng-container *ngIf="footerControl.value">
      <![CDATA[footer: this.footer]]>
    </ng-container>
    <![CDATA[ });
    this.modalService.open(this.content, options);
  } ]]>
</ng-container>
<![CDATA[
  close() {
    this.modalService.close();
  }
} ]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="modal-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-button (click)="openModal()"
            text="Open modal"></sn-button>
]]>
<ng-container *ngIf="typeControl.value === contentType.templateRef">
  <![CDATA[
  <ng-template #content ]]>
    <ng-container *ngIf="holdControl.value && !footerControl.value">
      <![CDATA[ let-close="close" ]]>
    </ng-container>
    <![CDATA[>
    <iframe src="https://giphy.com/embed/3og0ICmyySyzbmnxqE"
            width="480" height="270" frameBorder="0"></iframe>
    ]]>
    <ng-container *ngIf="holdControl.value && !footerControl.value">
      <![CDATA[ <sn-button text="Cancel" (click)="close()"></sn-button> ]]>
    </ng-container>
    <![CDATA[
  </ng-template>]]>
</ng-container>

<ng-container *ngIf="footerControl.value">
  <![CDATA[
  <ng-template #footer let-close="close">
    <sn-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.center">
      <sn-button text="Ok" (click)="close()"></sn-button>
    </sn-stack>
  </ng-template>
  ]]>
</ng-container>

<![CDATA[
<sn-button text="Open in directive" [snModal]= ]]><![CDATA["{]]>
<ng-container *ngIf="widthControl.value">
  <![CDATA[
  maxWidth: ]]>{{widthControl.value}}<![CDATA[,]]>
</ng-container>
  <ng-container *ngIf="heightControl.value">
    <![CDATA[
    maxHeight: ]]>{{heightControl.value}}<![CDATA[,]]>
  </ng-container>
  <ng-container *ngIf="holdControl.value">
    <![CDATA[,]]>
  </ng-container>
  <ng-container *ngIf="holdControl.value">
    <![CDATA[
    hold: ]]>{{holdControl.value ? 'true' : 'false'}}<![CDATA[,]]>
  </ng-container>
   <ng-container *ngIf="closeOutsideControl.value">
    <![CDATA[
    closeOutside: ]]>{{closeOutsideControl.value ? 'true' : 'false'}}<![CDATA[,]]>
  </ng-container>
  <ng-container *ngIf="titleControl.value">
    <![CDATA[
    title: {text: ]]>{{titleControl.value ? "'Title'" : null}}<![CDATA[}}]]>
  </ng-container>
  <ng-container *ngIf="iconControl.value">
    <![CDATA[,]]>
  </ng-container>
  <ng-container *ngIf="iconControl.value">
    <![CDATA[
    icon: ]]>{{iconControl.value ? 'ui.icons.settings' : null}}<![CDATA[}]]>
  </ng-container>
  <ng-container *ngIf="footerControl.value">
    <![CDATA[,]]>
  </ng-container>
  <ng-container *ngIf="footerControl.value">
    <![CDATA[
    footer: ]]>{{footerControl.value ? 'footer' : null}}
  </ng-container>
  <![CDATA[ }" ></sn-button> ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch">
          <app-component-api selector="sn-modal"
                             [api]="api.modal">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
