<svg _sp viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path _sp data-stroke-spinner1 d="M26.59 19C25.55 23 21.6 27 16.0001 27C10.4 27 6.55 23 5.41003 19" stroke="white" stroke-width="2" stroke-linecap="round"></path>
  <path _sp data-stroke-spinner2 d="M5.41003 13C6.55 9 10.4046 5 16.0001 5C21.5956 5 25.55 9 26.59 13" stroke="white" stroke-width="2" stroke-linecap="round"></path>
</svg>
