<sn-container>
  <sn-app-page-header title="Animations"
                      i18n-title="@@label.animations"
                      [icon]="localUi.icons.animations"
                      [teaser]="handbook.other.components.animations.teaser">

    <ng-template #headerActionsTemplate>
      <sn-link [icon]="ui.icons.gitlab"
               [outline]="ui.outline.ghost"
               [source]="gitlab"
               target="_blank" title="GitLab"
               i18n-title="@@action.gitlab">
      </sn-link>
    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-stack [orientation]="ui.orientation.horizontal">
                  <sn-link [source]="['first']" title="First"></sn-link>
                  <sn-link [source]="['second']" title="Second"></sn-link>
                </sn-stack>
                <div [@moveFromRight]="{value: animate(o), params:
                  {enterTiming: enterTimingControl.value, leaveTiming: leaveTimingControl.value}}">
                  <router-outlet #o="outlet"></router-outlet>
                </div>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label for="enterTiming">Enter Timing</sn-form-label>
                  <sn-form-control>
                    <sn-input formControlName="enterTiming" [type]="ui.input.type.number"></sn-input>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="leaveTiming">Leave Timing</sn-form-label>
                  <sn-form-control>
                    <sn-input formControlName="leaveTiming" [type]="ui.input.type.number"></sn-input>
                  </sn-form-control>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use [test]="{selector: 'animations-test'}">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
<![CDATA[
import { Component } from '@angular/core';
import { UI, moveFromRight } from '@esanum/ui';

@Component({
  selector: 'app-animations-test',
  templateUrl: './animations-test.component.html',
  animationa: [moveFromRight]
})
export class AnimationsTestComponent {
ui = UI; // link to esanum UI enum
}]]>
<!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Animations template"
                                i18n-title="@@label.animations_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="animations-test.template.html">
                <!-- @formatter:off-->
<![CDATA[<div [@moveFromRight]="{value: animate(o), params:
  {enterTiming: ]]>{{enterTimingControl.value}}<![CDATA[, leaveTiming: ]]>{{leaveTimingControl.value}}<![CDATA[}}">
  <router-outlet #o="outlet"></router-outlet>
</div>]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>

          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
