<div _cd *ngIf="!!icon && !cardActionsTemplate" data-indicator>
  <sn-icon _cd [icon]="icon"></sn-icon>
</div>

<ng-template #cardImageTemplate>
  <img _cd data-image [src]="picture.url" [width]="picture.width" [height]="picture.height">
</ng-template>

<sn-stack _cd data-card
           [attr.data-focused]="focused"
           [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.none"
           [align]="ui.align.stretch">
  <div _cd data-line *ngIf="!!color" [style.background-color]="color"></div>

  <div _cd data-drag *ngIf="!!dragTemplate">
    <ng-container *ngTemplateOutlet="dragTemplate;context: {icon: ui.icons.drag}"></ng-container>
  </div>

  <sn-stack _cd data-main [align]="ui.align.stretch">
    <div _cd *ngIf="!!headerTemplate" data-header>
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </div>
    <sn-stack _cd data-body
               [attr.tabindex]="(features | includes : ui.feature.clickable) ? 1 : null"
               [align]="ui.align.stretch"
               [gutter]="spacing"
               [orientation]="((features | includes : ui.feature.adapted)
                  && (ui.breakpoint.mobile | breakpoint))
                    || orientation === ui.orientation.vertical
                      ? ui.orientation.vertical : ui.orientation.horizontal"
               (focusin)="focused = true"
               (focusout)="focused = false"
               (click)="!!features && features.includes(ui.feature.clickable) ? selected.emit() : null">
      <div _cd data-picture *ngIf="!!picture && picture.position === ui.position.left">
        <ng-container *ngIf="!!picture.template; else cardImageTemplate">
          <ng-container *ngTemplateOutlet="picture.template"></ng-container>
        </ng-container>
      </div>
      <div _cd data-content>
        <div _cd *ngIf="!!title || !!titleTemplate" data-title>
          <div _cd data-text *ngIf="!!title && !titleTemplate">{{title}}</div>
          <ng-container *ngIf="!!titleTemplate">
            <ng-container *ngTemplateOutlet="titleTemplate"></ng-container>
          </ng-container>
        </div>
        <ng-content></ng-content>
      </div>
      <div _cd data-picture *ngIf="!!picture && picture.position === ui.position.right">
        <ng-container *ngIf="!!picture.template; else cardImageTemplate">
          <ng-container *ngTemplateOutlet="picture.template"></ng-container>
        </ng-container>
      </div>
    </sn-stack>

    <div _cd *ngIf="!!footerTemplate" data-footer>
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
  </sn-stack>

</sn-stack>

<button _cd *ngIf="!!cardActionsTemplate"
            data-action
            (attached)="popover = $event"
            [snPopover]="{
              contentTemplate: dropdownTemplate,
              position: ui.position.right,
              trigger: ui.trigger.click
            }">
  <sn-icon _cd [icon]="ui.icons.actions"></sn-icon>
</button>

<ng-template #dropdownTemplate>
  <ng-container *ngTemplateOutlet="cardActionsTemplate; context: {hide: hideActions.bind(this)}"></ng-container>
</ng-template>

<div _cd *ngIf="state === ui.state.loading" data-load>
  <sn-spinner _cd [size]="ui.size.large"></sn-spinner>
</div>
<div _cd *ngIf="state === ui.state.error" data-error>
  <sn-icon _cd [icon]="ui.icons.sad"></sn-icon>
</div>

