<sn-container>

  <sn-app-page-header [icon]="localUi.icons.datePicker"
                      title="Date Picker"
                      i18n-title="@@label.date_picker"
                      [teaser]="handbook.forms.components.datePicker.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <sn-stack [align]="ui.align.stretch">
                  <sn-form [formGroup]="form">
                    <sn-date-picker formControlName="flightDate"
                                    placeholder="Please enter the date"
                                    i18n-placeholder="@@label.please_enter_the_date"
                                    [type]="typeControl.value"
                                    [features]="clearControl.value ? [ui.feature.allowEmpty] : null">
                    </sn-date-picker>
                  </sn-form>
                  <sn-stack *ngIf="!!flightDateControl.value"
                            [orientation]="ui.orientation.horizontal"
                            [align]="ui.align.center"
                            [gutter]="ui.gutter.small">
                    <div>You choose:</div>
                    <sn-label [label]="flightDateControl.value | dfnsFormat:
                    typeControl.value === ui.datePicker.type.dateTime ? 'dd.MM.yyyy HH:mm'
                      : (typeControl.value === ui.datePicker.type.time ? 'HH:mm' : 'dd.MM.yyyy')"></sn-label>
                  </sn-stack>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">

              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-control>
                    <sn-select formControlName="type"
                               placeholder="Type"
                               i18n-placeholder="@@label.type"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Date"
                                        i18n-label="@@label.date"
                                        [key]="ui.datePicker.type.date"
                                        [icon]="localUi.icons.datePicker"></sn-select-option>
                      <sn-select-option label="Time"
                                        i18n-label="@@label.time"
                                        [key]="ui.datePicker.type.time"
                                        [icon]="localUi.icons.timer"></sn-select-option>
                      <sn-select-option label="Date Time"
                                        i18n-label="@@label.dateTime"
                                        [key]="ui.datePicker.type.dateTime"
                                        [icon]="localUi.icons.calendar"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.state">State</sn-form-label>
                  <sn-form-control>
                    <sn-checkbox formControlName="disable"
                                 label="Disabled"
                                 i18n-label="@@label.disabled"
                                 [value]="false"></sn-checkbox>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features</sn-form-label>
                  <sn-form-control>
                    <sn-checkbox formControlName="clear"
                                 i18n-label="@@label.clear"
                                 label="Clear"></sn-checkbox>
                  </sn-form-control>
                </sn-form-item>
              </sn-stack>

            </sn-form>
            <!--builder-->
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'date-picker-test', type: 'DatePickerTestComponent'}"
                scss="forms/date-picker">
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Date Picker component template"
                                i18n-title="@@label.date_picker_component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="date-picker-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-date-picker ]]>
                  <ng-container *ngIf="!!typeControl.value">
                    <![CDATA[[type]="]]>{{typeControl.value}}<![CDATA[["]]>
                  </ng-container>
                  <![CDATA[>
                </sn-date-picker>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-date-picker"
                           [api]="api.datePicker">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
