@import 'sn-variables';
@import 'sn-utils';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'layout/skeleton/skeleton';
@import 'forms/button/button';

@mixin sn-switcher($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    corner: $sn-corner-base,
    min-width: 150px,
    vertical: (
      max-height: null
    ),
    option: (
      height: 38px,
      active: (
        background: $sn-primary-color,
        color: $sn-white-color
      ),
      align: null
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-switcher-host)} {
    @if $declare {
      @include reset-default();
      display: inline-block;
      position: relative;
    }

    min-width: map-get($vars, min-width);

    &[data-sn-width='fluid'] {
      @if $declare {
        display: block;
        flex: 1;
      }
    }

    #{$wrapper} [data-options] {
      [data-option] {
        @if $declare {
          background-color: $sn-primary-background;
          color: $sn-primary-text-color;
          user-select: none;
          cursor: pointer;
          padding: 0 $sn-gutter-small;
          font-size: $sn-font-size-base;

          &[data-selected='false']:hover {
            background-color: $sn-secondary-background;
          }

          &:focus {
            outline: 0;
          }

          &[data-sn-disabled='true'] {
            color: $sn-control-disabled-label-color;
            background-color: $sn-control-disabled-background;
            pointer-events: none;

            &[data-selected='true'] {
              opacity: .65;
            }
          }

          &[data-selected='false']:focus {
            background-color: rgba($sn-primary-light-75-color, .3);
          }

          [data-title] {
            flex: 1;
            min-width: 0;

            [data-label] {
              flex: 0 1 auto;
              line-height: $sn-line-height-small;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }

    &[data-sn-orientation='vertical'] {
      @if map-has-key($vars, vertical) {
        $vertical: map-get($vars, vertical);
        @if map-get($vertical, max-height) != null {
          #{$wrapper} [data-scroll] {
            max-height: map-get($vertical, max-height);
            overflow-y: auto;
            overflow-x: hidden;

            &[data-windows='true'] {
              @include sn-scrollbar();
            }
          }
        }
      }
    }

    &[data-sn-orientation='horizontal'] {
      #{$wrapper} [data-options] {
        [data-option] {
          @if $declare {
            flex: 1;
            justify-content: center;
          }
          @if map-has-key($vars, option) {
            $option: map-get($vars, option);
            [data-title] {
              justify-content: map-get($option, align);
            }
          }
        }
      }
    }

    &[data-sn-disabled='true'] {
      @if $declare {
        cursor: default;
        pointer-events: none;

        #{$wrapper} [data-options] {
          [data-option] {
            color: $sn-control-disabled-label-color;
            background-color: $sn-control-disabled-background;

            &[data-selected='true'] {
              opacity: .65;
            }
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-switcher] {
    @if $declare {
      border: 1px solid $sn-control-border-color;
      overflow: hidden;
    }
    border-radius: map-get($vars, corner);

    [data-scroll] {
      @if $declare {
        margin-right: -1px;
      }
    }

    [data-options] {
      @if map-has-key($vars, option) {
        $option: map-get($vars, option);
        [data-option] {
          padding: map-get($option, padding);
          min-height: map-get($option, height);

          &[data-custom-option] {
            padding: $sn-gutter-small;
            min-height: 0;
          }

          &[data-selected='true'] {
            @if map-has-key($option, active) {
              $active: map-get($option, active);
              color: map-get($active, color);
              background-color: map-get($active, background);
            }

            [data-icon] {
              @include sn-icon((color: $sn-white-color), '&');
            }
          }

          [data-icon] {
            @include sn-icon((color: $sn-primary-text-color, size: 24px), '&');
          }
        }

        [data-switch] {
          @if $declare {
            position: relative;
            background-color: $sn-control-background;
            border: 1px solid $sn-primary-light-75-color;
            box-sizing: border-box;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s;
            min-width: 18px;
            width: 18px;
            min-height: 18px;
            height: 18px;
          }

          @if $declare {
            &[data-single='true'] {
              border-radius: 50%;

              [data-indicator] {
                border-radius: 50%;
              }
            }

            &[data-single='false'] {
              border-radius: $sn-corner-base;

              [data-indicator] {
                border-radius: 2px;
              }
            }

            [data-indicator] {
              background-color: $sn-primary-light-75-color;
              min-width: 10px;
              width: 10px;
              min-height: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-count] {
    @if $declare {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-50%, 50%);
    }
  }

  #{$context} #{$wrapper} [data-placeholder] {
    @if $declare {
      flex: 1;
    }

    @if map-has-key($vars, option) {
      $option: map-get($vars, option);
      height: map-get($option, height);
      min-height: map-get($option, height);
    }

    &:nth-child(odd) {
      @if $declare {
        background-color: $sn-secondary-background;
      }
    }

    &:nth-child(even) {
      @if $declare {
        background-color: darken($sn-secondary-background, 5%);
      }
    }

    @if map-has-key($vars, horizontal) {
      $horizontal: map-get($vars, horizontal);
      height: map-get($horizontal, height);
    }
  }

  [data-button] {
    @if $declare {
      margin-top: $sn-gutter-tiny;
      @include sn-button((padding: 0 2px), '&');
    }
  }
}

@if $sn-debug {
  @debug 'switcher compiled';
}
