<sn-container>

  <sn-app-page-header [icon]="localUi.icons.confirm"
                      title="Confirm"
                      i18n-title="@@label.confirm"
                      [teaser]="handbook.other.components.confirm.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-stack [orientation]="ui.orientation.horizontal">
                  <ng-container *ngIf="usingControl.value === usingType.popover">
                    <sn-button [snPopover]="{
                                  contentTemplate: confirmPopover,
                                  trigger: ui.trigger.click
                                }"
                               text="Open in popover"
                               i18n-text="@@action.open_in_popover">
                    </sn-button>
                    <ng-template #confirmPopover>

                      <ng-container *ngIf="contentControl.value === contentType.message">
                        <sn-confirm message="Delete this ticket?"
                                    i18n-message="@@message.delete_this_ticket"></sn-confirm>
                      </ng-container>
                      <ng-container *ngIf="contentControl.value === contentType.template">
                        <sn-confirm [template]="template"></sn-confirm>
                      </ng-container>

                    </ng-template>
                  </ng-container>
                  <ng-container *ngIf="usingControl.value === usingType.modal">
                    <sn-button [snModal]="{content: confirmModal, title: {text: 'Modal title'}}"
                               i18n-text="@@action.open.in.modal"
                               text="Open in modal">
                    </sn-button>
                    <ng-template #confirmModal>

                      <ng-container *ngIf="contentControl.value === contentType.message">
                        <sn-confirm message="Delete this ticket?"
                                    i18n-message="@@message.delete_this_ticket"
                                    (ok)="modalService.close()"
                                    (cancel)="modalService.close()"></sn-confirm>

                      </ng-container>
                      <ng-container *ngIf="contentControl.value === contentType.template">
                        <sn-confirm [template]="template"
                                    (ok)="modalService.close()"
                                    (cancel)="modalService.close()"></sn-confirm>
                      </ng-container>

                    </ng-template>
                  </ng-container>

                  <ng-template #template>
                    <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
                      <sn-icon [icon]="ui.icons.edit"></sn-icon>
                      <span i18n="@@label.edit_this_ticket">Edit this ticket?</span>
                    </sn-stack>
                  </ng-template>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="using"
                                 i18n="@@label.using">Using
                  </sn-form-label>
                  <sn-switcher formControlName="using">
                    <sn-switcher-option label="Popover"
                                        i18n-label="@@label.popover"
                                        [icon]="localUi.icons.popover"
                                        [value]="usingType.popover">
                    </sn-switcher-option>
                    <sn-switcher-option label="Modal"
                                        i18n-label="@@label.modal"
                                        [icon]="localUi.icons.modal"
                                        [value]="usingType.modal">
                    </sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="content"
                                 i18n="@@label.content_type">Content type
                  </sn-form-label>
                  <sn-switcher formControlName="content">
                    <sn-switcher-option label="Message"
                                        i18n-label="@@label.message"
                                        [icon]="localUi.icons.message"
                                        [value]="contentType.message">
                    </sn-switcher-option>
                    <sn-switcher-option label="Template"
                                        i18n-label="@@label.template"
                                        [icon]="localUi.icons.template"
                                        [value]="contentType.template">
                    </sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'confirm-test', type: 'ConfirmTestComponent'}"
                scss="shared/confirm">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
<![CDATA[
import { Component } from '@angular/core';
import { UI,]]>
<ng-container *ngIf="usingControl.value === usingType.modal">
  <![CDATA[
  ModalService
  ]]>
</ng-container>
<![CDATA[ } from 'esanum-ui';

@Component({
  selector: 'app-confirm-test',
  templateUrl: './confirm-test.component.html',
  styleUrls: ['./confirm-test.component.scss']
})

export class ConfirmTestComponent {
ui = UI;
]]>
<ng-container *ngIf="usingControl.value === usingType.modal">
<![CDATA[
  constructor(private modalService: ModalService) {
  } ]]>
</ng-container>
<![CDATA[
} ]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="confirm-test.template.html">
                <!-- @formatter:off-->

<ng-container *ngIf="usingControl.value === usingType.popover">
  <![CDATA[
  <sn-button [snPopover]="{
                contentTemplate: confirmPopover,
                trigger: ui.trigger.click
              }"
              text="Open in popover">
  </sn-button>
  <ng-template #confirmPopover>
  ]]>
    <ng-container *ngIf="contentControl.value === contentType.message">
      <![CDATA[ <sn-confirm message="Delete this ticket?"></sn-confirm>]]>
    </ng-container>

    <ng-container *ngIf="contentControl.value === contentType.template">
      <![CDATA[
      <sn-confirm [template]="template"></sn-confirm>
      <ng-template #template>
        <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
          <sn-icon [icon]="ui.icons.edit"></sn-icon>
          <span>Edit this ticket?</span>
        </sn-stack>
      </ng-template>
      ]]>
    </ng-container>
  <![CDATA[
  </ng-template>
  ]]>
</ng-container>

<ng-container *ngIf="usingControl.value === usingType.modal">
  <![CDATA[
  <sn-button [snModal]="{content: confirmModal}"
              text="Open in modal">
  </sn-button>
  <ng-template #confirmModal>
    ]]>
    <ng-container *ngIf="contentControl.value === contentType.message">
      <![CDATA[
      <sn-confirm message="Delete this ticket?"
                   (ok)="modalService.close()"
                   (cancel)="modalService.close()"></sn-confirm>]]>
    </ng-container>
    <ng-container *ngIf="contentControl.value === contentType.template">
      <![CDATA[
      <sn-confirm [template]="template"></sn-confirm>
      <ng-template #template>
        <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
          <sn-icon [icon]="ui.icons.edit"></sn-icon>
          <span>Edit this ticket?</span>
        </sn-stack>
      </ng-template> ]]>
    </ng-container>
    <![CDATA[
  </ng-template>]]>
</ng-container>

                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-confirm"
                           [api]="api.confirm">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
