<sn-container>

  <sn-app-page-header [icon]="localUi.icons.badge"
                      title="Badge"
                      i18n-title="@@label.badge"
                      [teaser]="handbook.elements.components.badge.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-stack [orientation]="ui.orientation.horizontal"
                          [align]="ui.align.center">
                  <div block>
                    <sn-icon [icon]="ui.icons.bell"></sn-icon>
                    <sn-badge [value]="valueControl.value"
                              [text]="textControl.value ? 'Text' : null"
                              [overflow]="overflowControl.value ? overflowControl.value : null"
                              [position]="positionControl.value"
                              [color]="colorControl.value">
                    </sn-badge>
                  </div>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="position"
                                 i18n="@@label.position">Position
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="position" placeholder="Inline"
                               i18n-placeholder="@@label.inline"
                               [features]="ui.feature.allowEmpty">
                      <sn-select-option label="Inline"
                                        i18n-label="@@label.inline"
                                        [icon]="localUi.icons.baseline"
                                        [key]="ui.position.inline"></sn-select-option>
                      <sn-select-option label="Right top"
                                        i18n-label="@@label.right_top"
                                        [icon]="localUi.icons.position.rightTop"
                                        [key]="ui.position.rightTop"></sn-select-option>
                      <sn-select-option label="Left top"
                                        i18n-label="@@label.left_top"
                                        [icon]="localUi.icons.position.leftTop"
                                        [key]="ui.position.leftTop"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="color" i18n="@@label.background_color">Color</sn-form-label>
                  <sn-form-control>
                    <app-color-picker formControlName="color"></app-color-picker>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="4">
                      <sn-checkbox formControlName="text"
                                   label="Text"
                                   i18n-label="@@label.text"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="value"
                                 i18n="@@label.value">Value
                  </sn-form-label>
                  <sn-switcher formControlName="value">
                    <sn-switcher-option label="5" [value]="5"></sn-switcher-option>
                    <sn-switcher-option label="10" [value]="10"></sn-switcher-option>
                    <sn-switcher-option label="100" [value]="100"></sn-switcher-option>
                    <sn-switcher-option label="1000" [value]="1000"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="overflow"
                                 i18n="@@label.overflow">Overflow
                  </sn-form-label>
                  <sn-switcher formControlName="overflow"
                               placeholder="99"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="9" [value]="9"></sn-switcher-option>
                    <sn-switcher-option label="99" [value]="99"></sn-switcher-option>
                    <sn-switcher-option label="999" [value]="999"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'badge-test', type: 'BadgeTestComponent'}"
                scss="elements/badge"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="badge-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-badge
]]>
  <ng-container *ngIf="!textControl.value">
    <![CDATA[
    [value]="]]>{{valueControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="!textControl.value && overflowControl.value">
    <![CDATA[
    [overflow]="]]>{{overflowControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="positionControl.value">
    <![CDATA[
    [position]="ui.position.]]>{{positionControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="colorControl.value">
    <![CDATA[
    [color]="]]>{{colorControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="textControl.value">
    <![CDATA[
    [text]="'Text'"]]>
  </ng-container>
  <![CDATA[>
</sn-badge>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-badge"
                           [api]="api.badge">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
