<ng-template #defaultTitleTemplate>
  <sn-stack _co
            [orientation]="orientation === ui.orientation.vertical ? ui.orientation.vertical : ui.orientation.horizontal"
            [gutter]="ui.gutter.small"
            [align]="ui.align.center">
    <sn-icon _co *ngIf="!!icon" [icon]="icon"></sn-icon>
    <span _co>{{title}}</span>
  </sn-stack>
</ng-template>

<a _co data-title
   tabindex="0"
   [attr.data-with-template]="!!titleTemplate"
   (click)="opened = !opened; $event.preventDefault()">
  <ng-container *ngTemplateOutlet="!!titleTemplate ? titleTemplate : defaultTitleTemplate"></ng-container>
  <sn-icon _co data-chevron *ngIf="orientation === ui.orientation.horizontal"
           [icon]="ui.icons.selectClose"
           [@rotate]="opened ? 'open' : 'close'"></sn-icon>
</a>

<div _co data-content *ngIf="opened">
  <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</div>
