@import 'sn-variables';
@import 'sn-hosts';

@mixin sn-radio-group($passed: (), $context: null, $strategy: 'changes') {

  $defs: ();

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-radio-group-host)} {
    @if $declare {
      display: block;
      width: 100%;
    }
  }
}

@if $sn-debug {
  @debug 'radio-group compiled';
}
