@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-form-label($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    color: $sn-primary-text-light-color,
    font-size: $sn-font-size-small
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-form-label-host)} {
    @if $declare {
      display: inline-block;
    }
  }

  #{$context} #{$wrapper} label {
    font-size: map-get($vars, font-size);
    color: map-get($vars, color);
  }

  #{$context} #{$wrapper} [data-required] {
    @if $declare {
      margin-left: $sn-gutter-tiny;
      color: $sn-red-color;
    }
  }

}

@if $sn-debug {
  @debug 'form-label compiled';
}
