<ng-template #labelDefaultTemplate>
  <label _ra *ngIf="!!label" [innerHTML]="label | sanitizeHtml"></label>
</ng-template>

<ng-container [formGroup]="form">
  <ng-template #radioTemplate>
    <input _ra formControlName="radio"
           type="radio"
           [attr.custom]="!!labelTemplate">
  </ng-template>
  <input _ra *ngIf="!!features && (features | includes: ui.feature.allowEmpty); else radioTemplate"
         formControlName="radio"
         type="checkbox"
         [attr.custom]="!!labelTemplate">
  <sn-stack _ra data-radio
            [orientation]="ui.orientation.horizontal"
            [gutter]="ui.gutter.small"
            [align]="align">
    <div _ra data-switch>
      <span _ra *ngIf="radioControl.value"
            data-indicator
            [@scale]="animate"></span>
    </div>
    <div _ra data-label
         [snBinding]="{attributes: attributes}">
      <ng-container *ngTemplateOutlet="!!labelTemplate ? labelTemplate : labelDefaultTemplate"></ng-container>
    </div>
  </sn-stack>
</ng-container>
