@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';

@mixin radio-size($size, $wrapper) {
  #{$wrapper} [data-switch] {
    min-width: map-get($size, indicator);
    width: map-get($size, indicator);
    min-height: map-get($size, indicator);
    height: map-get($size, indicator);
  }
  #{$wrapper} [data-indicator] {
    width: map-get($size, icon);
    height: map-get($size, icon);
  }
  #{$wrapper} input {
    &[custom='true'] {
      width: map-get($size, indicator);
    }
  }
  #{$wrapper} [data-label] {
    font-size: map-get($size, font-size);
  }
}

@mixin sn-radio($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    sizes: (
      tiny: (
        indicator: 12px,
        icon: 4px,
        font-size: $sn-font-size-tiny
      ),
      small: (
        indicator: 14px,
        icon: 6px,
        font-size: $sn-font-size-small
      ),
      normal: (
        indicator: 18px,
        icon: 8px,
        font-size: $sn-font-size-base
      ),
      large: (
        indicator: 24px,
        icon: 14px,
        font-size: $sn-font-size-normal
      )
    ),
    switch: (
      background-color: $sn-control-background,
      border-color: $sn-control-border-color,
      margin: 0,
      checked: (
        background: $sn-secondary-color,
        border-color: $sn-secondary-color,
      ),
      disabled: (
        background-color: $sn-control-disabled-background,
        border-color: $sn-control-disabled-border-color
      ),
      focus: (
        shadow: $sn-outline-shadow-normal $sn-secondary-light-10-color
      ),
      hover: (
        border-color: $sn-secondary-color,
        background: $sn-secondary-light-10-color
      )
    ),
    indicator: (
      background-color: $sn-white-color
    ),
    label: (
      color: $sn-control-switch-label-color,
      overflow: false,
      margin: 0,
      disabled: (
        color: $sn-control-disabled-label-color
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-radio-host)} {
    @if $declare {
      display: flex;
      align-items: center;
      position: relative;
    }

    @if map-has-key($vars, sizes) {
      $sizes: map-get($vars, sizes);
      @each $size, $map in $sizes {
        &[data-sn-size = '#{$size}'] {
          @include radio-size($map, $wrapper);
        }
      }
    }

    &[data-sn-checked='true'] {
      & > [data-radio] > [data-switch] {
        @if map-has-key($vars, switch) {
          $switch: map-get($vars, switch);
          @if map-has-key($switch, checked) {
            $checked: map-get($switch, checked);
            background: map-get($checked, background);
            border-color: map-get($checked, background);
          }
        }
      }

      &:hover {
        & > [data-radio] > [data-switch] {
          background: $sn-secondary-dark-color;
          border-color: $sn-secondary-dark-color;
        }
      }
    }
  }

  #{$context} #{$wrapper} input {
    @if $declare {
      position: absolute;
      top: 0;
      z-index: 1;
      cursor: pointer;
      opacity: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    &:disabled {
      @if $declare {
        cursor: default;
        pointer-events: none;
      }

      @if map-has-key($vars, switch) {
        $switch: map-get($vars, switch);
        @if map-has-key($switch, disabled) {
          $disabled: map-get($switch, disabled);
          & + [data-radio] > [data-switch] {
            background-color: map-get($disabled, background-color);
            border-color: map-get($disabled, border-color);
          }
        }
      }

      & ~ label {
        @if map-has-key($vars, label) {
          $label: map-get($vars, label);
          @if map-has-key($label, disabled) {
            $disabled: map-get($label, disabled);
            color: map-get($disabled, color);
          }
        }
      }
    }

    &:focus {
      & + [data-radio] > [data-switch] {
        @if map-has-key($vars, switch) {
          $switch: map-get($vars, switch);
          @if map-has-key($switch, focus) {
            $focus: map-get($switch, focus);
            box-shadow: map-get($focus, shadow);
          }
        }
      }
    }

    &:hover {
      & + [data-radio] > [data-switch] {
        @if map-has-key($vars, switch) {
          $switch: map-get($vars, switch);
          @if map-has-key($switch, hover) {
            $hover: map-get($switch, hover);
            border-color: map-get($hover, border-color);
            background: map-get($hover, background);
          }
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-radio] {
    width: 100%;
  }

  #{$context} #{$wrapper} [data-switch] {
    @if $declare {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      box-sizing: border-box;
      text-align: center;
      border-radius: 50%;
      transition: all .3s;
    }

    @if map-has-key($vars, switch) {
      $switch: map-get($vars, switch);
      background-color: map-get($switch, background-color);
      border: if(map-get($switch, border-color), 1px solid map-get($switch, border-color), null);
      margin: map-get($switch, margin);
    }

    [data-indicator] {
      @if $declare {
        display: inline-block;
        transform-origin: center;
        transition: all .3s;
        border-radius: 50%;
        @if map-has-key($vars, indicator) {
          $indicator: map-get($vars, indicator);
          background-color: map-get($indicator, background-color);
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-label] {
    @if $declare {
      user-select: none;
      flex: 1;
      line-height: 1.2;
    }
    @if map-has-key($vars, label) {
      $label: map-get($vars, label);
      color: map-get($label, color);
      margin: map-get($label, margin);
      @if map-get($label, overflow) == true {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

@if $sn-debug {
  @debug 'radio compiled';
}
