<sn-container>

  <sn-app-page-header [icon]="localUi.icons.dot"
                      title="Dot"
                      i18n-title="@@label.dot"
                      [teaser]="handbook.elements.components.dot.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
        <sn-link [outline]="ui.outline.ghost"
                 [source]="['benchmark']"
                 title="Benchmark"
                 i18n-title="@@action.benchmark">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-dot data-dot
                        [color]="colorControl.value"
                        [features]="pulseControl.value ? [ui.feature.pulse] : null">
                </sn-dot>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label for="color" i18n="@@label.background_color">Color</sn-form-label>
                  <sn-form-control>
                    <app-color-picker formControlName="color"></app-color-picker>
                  </sn-form-control>
                </sn-form-item>
                <sn-form-item>
                  <sn-checkbox formControlName="pulse" label="Pulse" i18n-label="@@label.pulse"></sn-checkbox>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'dot-test', type: 'DotTestComponent'}"
                scss="elements/dot"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="dot-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-dot ]]>
                  <ng-container *ngIf="colorControl.value">
                    <![CDATA[
                    color="]]>{{colorControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="pulseControl.value">
                    <![CDATA[
                    [features]="[ui.feature.pulse]"]]>
                  </ng-container>
                  <![CDATA[>
                </sn-dot>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-dot"
                           [api]="api.dot">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
