@import 'sn-variables';
@import '../../component';
@import 'elements/icon';
@import "sn-typography";

$sn-ng-deep: true;

:host {
  display: block;
}

h1 {
  color: $sn-primary-light-75-color;
  font-size: $sn-font-size-big;
  margin: $sn-gutter-normal 0;
  font-weight: $sn-font-weight-bold;
}
[data-name] {
  @extend %h4;
  color: $sn-primary-light-75-color;
}

[data-card] {
  height: 100%;

  [data-sn-icon] {
    @include sn-icon((size: 30px, color: $sn-primary-light-75-color), '&');
  }
}
