<ng-template #tabTemplate let-tab="tab">
  <sn-stack _tb data-label
            [orientation]="ui.orientation.horizontal"
            [gutter]="ui.gutter.small"
            [align]="ui.align.center">
    <sn-icon _tb *ngIf="tab.icon" [icon]="tab.icon"></sn-icon>
    <sn-stack _tb *ngIf="!!tab.title || !!tab.badges.length"
              [orientation]="ui.orientation.horizontal"
              [align]="ui.align.center">
      <span _tb>{{tab.title}}</span>
      <sn-stack _tb *ngIf="tab.badges.length"
                [orientation]="ui.orientation.horizontal"
                [gutter]="ui.gutter.tiny"
                [align]="ui.align.center">
        <sn-badge _tb data-badge *ngFor="let badge of tab.badges"
                  [color]="badge.color"
                  [text]="badge.text"
                  [value]="badge.value"
                  [position]="ui.position.inline">
        </sn-badge>
      </sn-stack>
    </sn-stack>
  </sn-stack>
</ng-template>

<div _tb data-scroll>
  <sn-stack _tb data-tabs
            [orientation]="ui.orientation.horizontal"
            [gutter]="ui.gutter.none">
    <a _tb #links data-wrapper *ngFor="let tab of tabs; let i = index"
       tabindex="0"
       [spaLink]="!!tab.anchor ? {hash: tab.anchor} : null"
       [attr.data-active]="i === active"
       (click)="active = i; changed.emit(i)">
      <div _tb data-tab [attr.data-with-template]="!!tab.titleTemplate">
        <ng-container *ngIf="tab.titleTemplate; else defaultTitleTemplate">
          <ng-container *ngTemplateOutlet="tab.titleTemplate"></ng-container>
        </ng-container>
        <ng-template #defaultTitleTemplate>
          <ng-template #noAdaptedTemplate>
            <ng-container *ngTemplateOutlet="tabTemplate; context: {tab: tab}"></ng-container>
          </ng-template>
          <ng-container *ngIf="features | includes : ui.feature.adapted; else noAdaptedTemplate">
            <ng-container *snMinFor="ui.breakpoint.tablet">
              <ng-container *ngTemplateOutlet="noAdaptedTemplate"></ng-container>
            </ng-container>
            <ng-container *snFor="ui.breakpoint.mobile">
              <sn-icon _tb *ngIf="tab.icon" [icon]="tab.icon"></sn-icon>
            </ng-container>
          </ng-container>
        </ng-template>
        <div _tb *ngIf="tab.state.flash" [@flash]="tab.state.flash" data-ripple></div>
      </div>
    </a>
  </sn-stack>

  <div _tb data-way>
    <div _tb data-line
         [style.width.px]="activeTabWidth"
         [@move]="{value: 'void', params: {distance: distance}}"
         (@move.start)="setWidth()"></div>
  </div>
</div>

<ng-container *ngFor="let tab of tabs;let i = index">
  <div _tb data-content *ngIf="i === active && tab.tabContentTemplate"
       [attr.data-padding]="tab.padding">
    <ng-container *ngTemplateOutlet="tab.tabContentTemplate"></ng-container>
  </div>
</ng-container>
