@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'sn-utils';
@import 'elements/icon/icon';
@import 'elements/badge/badge';
@import 'layout/responsive/responsive';

$tab-marker-height: 4px;

@mixin sn-tabs($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    outline: (
      fill: (
        tab: (
          padding: $sn-gutter-normal $sn-gutter-normal ($sn-gutter-small + $tab-marker-height) $sn-gutter-normal,
          corner: $sn-corner-normal $sn-corner-normal 0 0,
        ),
        content: (
          padding: $sn-gutter-normal
        )
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-tabs-host)} {
    @if $declare {
      display: block;
      max-width: 100%;
      border-top-left-radius: $sn-corner-normal;
      border-top-right-radius: $sn-corner-normal;
    }

    &[data-sn-outline='ghost'] {
      padding: $sn-gutter-small $sn-gutter-normal $sn-gutter-normal $sn-gutter-normal;
      background-color: $sn-primary-background;
      border: 1px solid $sn-page-background;

      [data-wrapper] {
        &:hover {
          [data-tab][data-with-template='false'] {
            color: $sn-primary-light-75-color;

            [data-label] [data-sn-icon] {
              @include sn-icon((color: $sn-primary-light-75-color), '&');
            }
          }
        }

        &[data-active='true'] {
          [data-tab][data-with-template='false'] {
            @if $declare {
              color: $sn-primary-light-75-color;
            }

            [data-label] [data-sn-icon] {
              @include sn-icon((color: $sn-primary-light-75-color), '&');
            }
          }
        }
      }

      [data-content] {
        background-color: $sn-primary-background;
        box-sizing: border-box;
        border-bottom-left-radius: $sn-corner-normal;
        border-bottom-right-radius: $sn-corner-normal;
      }
    }

    &[data-sn-outline='fill'] {
      #{$wrapper} [data-scroll] {
        background-color: $sn-primary-color;
        padding: 0 $sn-gutter-normal;

        @if map-has-key($vars, outline) {
          $outline: map-get($vars, outline);
          @if map-has-key($outline, fill) {
            $fill: map-get($outline, fill);
            @if map-has-key($fill, tab) {
              $tab: map-get($fill, tab);
              border-radius: map-get($tab, corner);
            }
          }
        }

        [data-tabs] [data-wrapper] {
          &[data-active='true'] {
            [data-tab][data-with-template='false'] {
              @if $declare {
                color: $sn-white-color;

                [data-label] [data-sn-icon] {
                  @include sn-icon((color: $sn-white-color), '&');
                }
              }
            }
          }

          &[data-active='false']:hover {
            [data-tab][data-with-template='false'] {
              color: $sn-secondary-color;

              [data-label] [data-sn-icon] {
                @include sn-icon((color: $sn-secondary-color), '&');
              }
            }
          }

          [data-tab] {
            color: $sn-white-color;
            @if map-has-key($vars, outline) {
              $outline: map-get($vars, outline);
              @if map-has-key($outline, fill) {
                $fill: map-get($outline, fill);
                @if map-has-key($fill, tab) {
                  $tab: map-get($fill, tab);
                  padding: map-get($tab, padding);
                }
              }
            }
            @include sn-icon((color: $sn-white-color));
          }
        }

        [data-way] {
          background-color: $sn-primary-color;

          [data-line] {
            background-color: $sn-secondary-color;
          }
        }
      }

      #{$wrapper} [data-content] {
        @if map-has-key($vars, outline) {
          $outline: map-get($vars, outline);
          @if map-has-key($outline, fill) {
            $fill: map-get($outline, fill);
            @if map-has-key($fill, content) {
              $content: map-get($fill, content);
              padding: map-get($content, padding);
            }
          }
        }
      }
    }
  }

  #{$context} [data-scroll] {
    overflow-x: auto;

    @include for-mobile() {
      @include sn-no-scrollbar();
    }
  }

  #{$context} [data-tabs] {
    @if $declare {
      border-top-left-radius: $sn-corner-normal;
      border-top-right-radius: $sn-corner-normal;
      position: relative;
    }

    [data-wrapper] {
      @if $declare {
        position: relative;
        text-decoration: none;
        display: block;
        color: inherit;
        outline-offset: -1px;
      }

      [data-tab] {
        @if $declare {
          cursor: pointer;
          color: $sn-primary-text-color;
          font-size: $sn-font-size-base;
          line-height: 1.6;
          position: relative;
          user-select: none;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: $sn-gutter-small $sn-gutter-normal ($sn-gutter-small + $tab-marker-height) $sn-gutter-normal;
          &[data-with-template='false'] {
            color: $sn-primary-text-color;
            font-size: $sn-font-size-base;
            line-height: 1.6;
          }
        }

        [data-label] {
          @if $declare {
            position: relative;
            z-index: 1;
          }

          [data-badge] {
            @include sn-badge((size: 21px), '&');
          }

          [data-sn-icon] {
            position: relative;
            z-index: 1;
          }
        }

        [data-ripple] {
          @if $declare {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: $sn-secondary-background;
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }

  #{$context} [data-way] {
    width: 100%;
    min-width: 100%;
    height: 2px;
    background-color: $sn-secondary-background;
    border-radius: 5px;
    position: relative;
    z-index: 1;

    [data-line] {
      @if $declare {
        position: absolute;
        top: -2px;
        left: 0;
        height: $tab-marker-height;
        border-radius: 5px;
        background-color: $sn-primary-light-75-color;
      }
    }
  }

  #{$context} [data-content] {
    @if $declare {
      position: relative;
      padding: $sn-gutter-normal 0;
    }
  }
}

@if $sn-debug {
  @debug 'tabs compiled';
}
