@import '../../component';
@import 'layout/responsive';
@import 'elements/icon';
@import 'layout/card';

$sn-ng-deep: true;

[data-card] {
  min-width: 400px;
  @include for-mobile() {
    min-width: 100%;
    max-width: 100%;
  }

  &[data-orientation='vertical'] {
    @include sn-card((width: 400px), '&');
  }

  [data-header] {
    color: $sn-primary-text-light-color;
    font-size: $sn-font-size-small;
    @include sn-icon((size: 20px), '&');
  }

  [data-title] {
    font-size: $sn-font-size-normal;
  }

  [data-followers] {
    color: $sn-primary-text-light-color;
    font-size: $sn-font-size-normal;
  }
}
