<sn-container>

  <sn-app-page-header [icon]="localUi.icons.card"
                      title="Card"
                      i18n-title="@@label.card"
                      [teaser]="handbook.layout.components.card.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">
    <div teaser>
      <p></p>
    </div>
  </sn-stack>

  <sn-tabs #tabs [features]="[ui.feature.adapted]" (changed)="selected($event)">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document let-height="height">
                <sn-card data-card
                         title="Captain America"
                         i18n-title="@@label.captain_america"
                         [color]="colorControl.value"
                         [width]="widthControl.value"
                         [padding]="paddingControl.value"
                         [state]="stateControl.value"
                         [orientation]="orientationControl.value"
                         [icon]="iconControl.value ? ui.icons.information : null"
                         [picture]="pictureControl.value === type.template ? {
                            url: null, template: cardPictureTemplate,
                            position: positionControl.value === ui.position.right ? ui.position.right : ui.position.left
                          } : pictureControl.value === type.url ? {
                            url: 'assets/images/heroes/captain.jpg',
                            position: positionControl.value === ui.position.right ? ui.position.right : ui.position.left
                          } : null"
                         [spacing]="spacingControl.value"
                         [features]="[
                            clickableControl.value ? ui.feature.clickable : null,
                            adaptedControl.value ? ui.feature.adapted : null
                          ]">
                  <sn-stack data-content [orientation]="ui.orientation.horizontal">
                    <sn-skeleton [lines]="5" [animated]="false"></sn-skeleton>
                  </sn-stack>
                  <ng-template *ngIf="dragControl.value" #cardDragTemplate let-icon="icon">
                    <button>
                      <sn-icon [icon]="icon"></sn-icon>
                    </button>
                  </ng-template>
                  <ng-template *ngIf="headerControl.value" #cardHeaderTemplate>
                    <sn-stack data-header [orientation]="ui.orientation.horizontal"
                              [gutter]="ui.gutter.small"
                              [align]="ui.align.center">
                      <span>{{today | date:'yyyy-MM-dd'}}</span>
                    </sn-stack>
                  </ng-template>
                  <ng-template *ngIf="titleControl.value" #cardTitleTemplate>
                    <sn-stack data-title [orientation]="ui.orientation.horizontal"
                              [gutter]="ui.gutter.small"
                              [align]="ui.align.center">
                      <sn-avatar [image]="heroes.captain.avatar" [size]="ui.size.tiny"></sn-avatar>
                      <span i18n="{{heroes.captain.name}}">{{heroes.captain.name}}</span>
                    </sn-stack>
                  </ng-template>
                  <ng-template #cardPictureTemplate>
                    <sn-avatar image="assets/images/heroes/captain.jpg"></sn-avatar>
                  </ng-template>
                  <ng-template *ngIf="footerControl.value" #cardFooterTemplate>
                    <sn-stack data-title [orientation]="ui.orientation.horizontal"
                              [gutter]="ui.gutter.small"
                              [justify]="ui.justify.between"
                              [align]="ui.align.center">
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [align]="ui.align.center">
                        <sn-avatar [size]="ui.size.tiny"></sn-avatar>
                        <span data-followers>89 followers</span>
                      </sn-stack>
                      <sn-label label="{{heroes.captain.likes}} likes" [color]="ui.color.green"></sn-label>
                    </sn-stack>
                  </ng-template>
                  <ng-template *ngIf="actionsControl.value" #cardActionsTemplate let-hide="hide">
                    <sn-menu [orientation]="ui.orientation.vertical">
                      <sn-menu-item title="Edit"
                                    i18n-title="@@label.edit"
                                    (click)="hide()"></sn-menu-item>
                      <sn-menu-item title="Copy"
                                    i18n-title="@@label.copy"
                                    (click)="hide()"></sn-menu-item>
                    </sn-menu>
                  </ng-template>
                </sn-card>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">
                <sn-form-item>
                  <sn-form-label for="padding"
                                 i18n="@@label.padding">Padding
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="padding"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="None"
                                        i18n-label="@@label.none"
                                        [key]="ui.gutter.none"></sn-select-option>
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.padding.tiny"
                                        [key]="ui.gutter.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.padding.small"
                                        [key]="ui.gutter.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.padding.normal"
                                        [key]="ui.gutter.normal"></sn-select-option>
                      <sn-select-option label="Big"
                                        i18n-label="@@label.big"
                                        [icon]="localUi.icons.padding.big"
                                        [key]="ui.gutter.big"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.padding.large"
                                        [key]="ui.gutter.large"></sn-select-option>
                      <sn-select-option label="Huge"
                                        i18n-label="@@label.huge"
                                        [icon]="localUi.icons.padding.huge"
                                        [key]="ui.gutter.huge"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="width"
                                 i18n="@@label.width">Width
                  </sn-form-label>
                  <sn-switcher formControlName="width"
                               placeholder="Default"
                               i18n-primary="@@label.default"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Default"
                                        i18n-label="@@label.default"
                                        [icon]="localUi.icons.default"
                                        [value]="ui.width.default"></sn-switcher-option>
                    <sn-switcher-option label="Fluid"
                                        i18n-label="@@label.fluid"
                                        [icon]="localUi.icons.fluid"
                                        [value]="ui.width.fluid"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="state"
                                 i18n="@@label.states">States
                  </sn-form-label>
                  <sn-switcher formControlName="state"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Loading"
                                        i18n-label="@@label.loading"
                                        [icon]="ui.icons.animated.spinner"
                                        [value]="ui.state.loading"></sn-switcher-option>
                    <sn-switcher-option label="Error"
                                        i18n-label="@@label.error"
                                        [icon]="ui.icons.warning"
                                        [value]="ui.state.error"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="color">Indicator color</sn-form-label>
                  <sn-form-control>
                    <app-color-picker formControlName="color"></app-color-picker>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="picture" i18n="@@label.picture">Picture
                  </sn-form-label>
                  <sn-switcher formControlName="picture"
                               placeholder="url"
                               i18n-placeholder="@@label.url"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Url"
                                        i18n-label="@@label.url"
                                        value="url"
                                        [icon]="localUi.icons.component"></sn-switcher-option>
                    <sn-switcher-option label="Template"
                                        i18n-label="@@label.template"
                                        value="template"
                                        [icon]="localUi.icons.template"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="orientation"
                                 i18n="@@label.orientation">Orientation
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="orientation"
                               placeholder="Horizontal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Horizontal"
                                        i18n-label="@@label.horizontal"
                                        [icon]="localUi.icons.horizontal"
                                        [key]="ui.orientation.horizontal"></sn-select-option>
                      <sn-select-option label="Vertical"
                                        i18n-label="@@label.vertical"
                                        [icon]="localUi.icons.vertical"
                                        [key]="ui.orientation.vertical"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="position" i18n="@@label.position">Picture position
                  </sn-form-label>
                  <sn-switcher formControlName="position"
                               placeholder="Left"
                               i18n-placeholder="@@label.left"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Left"
                                        i18n-label="@@label.left"
                                        [icon]="localUi.icons.start"
                                        [value]="ui.position.left"></sn-switcher-option>
                    <sn-switcher-option label="Right"
                                        i18n-label="@@label.right"
                                        [icon]="localUi.icons.end"
                                        [value]="ui.position.right"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="spacing" i18n="@@label.spacing">Spacing</sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="spacing"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="None"
                                        i18n-label="@@label.none"
                                        [key]="ui.gutter.none"></sn-select-option>
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.gutter.tiny"
                                        [key]="ui.gutter.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.gutter.small"
                                        [key]="ui.gutter.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.gutter.normal"
                                        [key]="ui.gutter.normal"></sn-select-option>
                      <sn-select-option label="Big"
                                        i18n-label="@@label.big"
                                        [icon]="localUi.icons.gutter.big"
                                        [key]="ui.gutter.big"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.gutter.large"
                                        [key]="ui.gutter.large"></sn-select-option>
                      <sn-select-option label="Huge"
                                        i18n-label="@@label.huge"
                                        [icon]="localUi.icons.gutter.huge"
                                        [key]="ui.gutter.huge"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.templates">Templates</sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="title"
                                   label="Title"
                                   i18n-label="@@label.title"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="header"
                                   label="Header"
                                   i18n-label="@@label.header"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="footer"
                                   label="Footer"
                                   i18n-label="@@label.footer"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="actions"
                                   i18n-label="@@label.actions"
                                   label="Actions"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="drag"
                                   label="Drag"
                                   i18n-label="@@label.drag"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features</sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="clickable"
                                   i18n-label="@@label.clickable"
                                   label="Clickable"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="adapted"
                                   i18n-label="@@label.adapted"
                                   label="Adapted"></sn-checkbox>
                    </sn-col>

                    <sn-col [span]="6">
                      <sn-checkbox formControlName="icon"
                                   i18n-label="@@label.icon"
                                   label="Icon"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'card-test', type: 'CardTestComponent'}"
                scss="layout/card"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="card-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-card
                  ]]>
                  <ng-container *ngIf="!titleControl.value">
                    title="Card title"
                  </ng-container>
                  <ng-container *ngIf="paddingControl.value">
                    <![CDATA[
                    [padding]="ui.gutter.]]>{{paddingControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="orientationControl.value">
                    <![CDATA[
                    [orientation]="ui.orientation.]]>{{orientationControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="widthControl.value">
                    <![CDATA[
                    [width]="ui.width.]]>{{widthControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="stateControl.value">
                    <![CDATA[
                    [state]="ui.state.]]>{{stateControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="adaptedControl.value && clickableControl.value; else only">
                    <![CDATA[
                    [features]="[ui.feature.adapted, ui.feature.clickable]"]]>
                  </ng-container>
                  <ng-template #only>
                    <ng-container *ngIf="clickableControl.value">
                      <![CDATA[
                      [features]="[ui.feature.clickable]"]]>
                    </ng-container>
                    <ng-container *ngIf="adaptedControl.value">
                      <![CDATA[
                      [features]="[ui.feature.adapted]"]]>
                    </ng-container>
                  </ng-template>
                  <ng-container *ngIf="iconControl.value">
                    <![CDATA[
                    [icon]="ui.icons.menu"]]>
                  </ng-container>
                  <ng-container *ngIf="colorControl.value">
                    <![CDATA[
                    color="]]>{{colorControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="pictureControl.value === type.url && !positionControl.value">
                    <![CDATA[
                    [picture]="]]><![CDATA[{url: 'assets/images/steve.jpeg', width: 70, height: 70}]]><![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="pictureControl.value === type.template && !positionControl.value">
                    <![CDATA[
                    [picture]="]]><![CDATA[{template: cardPictureTemplate, width: 70, height: 70}]]><![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="pictureControl.value === type.url && !!positionControl.value">
                    <![CDATA[
                    [picture]="]]><![CDATA[{url: 'assets/images/steve.jpeg', position: ]]>{{
                    positionControl.value === ui.position.right ? 'ui.position.right' : 'ui.position.left'}}
                    <![CDATA[, width: 70, height: 70}]]><![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="pictureControl.value === type.template && !!positionControl.value">
                    <![CDATA[
                    [picture]="]]><![CDATA[{template: cardPictureTemplate, position: ]]>{{
                    positionControl.value === ui.position.right ? 'ui.position.right' : 'ui.position.left'}}
                    <![CDATA[, width: 70, height: 70}]]><![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="spacingControl.value">
                    <![CDATA[
                    color="ui.gutter.]]>{{spacingControl.value}}<![CDATA["]]>
                  </ng-container>
                  <![CDATA[>]]>
                  <ng-container *ngIf="headerControl.value">
                    <![CDATA[
                    <ng-template #cardHeaderTemplate>
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [gutter]="ui.gutter.small"
                                [align]="ui.align.center">
                        <span>]]>{{today | date:'yyyy-MM-dd'}}<![CDATA[</span>
                      </sn-stack>
                    </ng-template>
                    ]]>
                  </ng-container>
                  <ng-container *ngIf="dragControl.value">
                    <![CDATA[
                    <ng-template #cardDragTemplate>
                      <button><sn-icon [icon]="ui.icons.drag"></sn-icon></button>
                    </ng-template>
                    ]]>
                  </ng-container>
                  <ng-container *ngIf="titleControl.value">
                    <![CDATA[
                    <ng-template #cardTitleTemplate>
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [gutter]="ui.gutter.small"
                                [align]="ui.align.center">
                        <sn-avatar image="assets/images/shield.jpeg" [size]="ui.size.tiny"></sn-avatar>
                        <span>Capitan America</span>
                      </sn-stack>
                    </ng-template>
                    ]]>
                  </ng-container>
                  <ng-container *ngIf="footerControl.value">
                    <![CDATA[
                    <ng-template #cardFooterTemplate>
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [gutter]="ui.gutter.small"
                                [justify]="ui.justify.between"
                                [align]="ui.align.center">
                        <sn-stack [orientation]="ui.orientation.horizontal"
                                  [align]="ui.align.center">
                          <sn-avatar [size]="ui.size.tiny"></sn-avatar>
                          <span data-followers>89 followers</span>
                        </sn-stack>
                        <sn-label label="221 likes" [color]="ui.color.green"></sn-label>
                      </sn-stack>
                    </ng-template>
                    ]]>
                  </ng-container>
                  <ng-container *ngIf="actionsControl.value">
                    <![CDATA[
                    <ng-template #cardActionsTemplate let-hide="hide">
                      <sn-menu [orientation]="ui.orientation.vertical">
                        <sn-menu-item title="Edit" (click)="hide()"></sn-menu-item>
                        <sn-menu-item title="Copy" (click)="hide()"></sn-menu-item>
                      </sn-menu>
                    </ng-template>
                    ]]>
                  </ng-container>
                  <ng-container *ngIf="pictureControl.value === type.template">
                    <![CDATA[
                    <ng-template #cardPictureTemplate>
                      <sn-avatar image="assets/images/capitan.jpeg"></sn-avatar>
                    </ng-template>
                    ]]>
                  </ng-container>
                  <![CDATA[
                  <sn-stack [orientation]="ui.orientation.horizontal">
                    <sn-skeleton [type]="ui.skeleton.type.image" [animated]="false"></sn-skeleton>
                    <sn-skeleton [lines]="5" [animated]="false"></sn-skeleton>
                  </sn-stack>
                </sn-card>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="sn-card"
                           [api]="api.card">
        </app-component-api>
      </ng-template>
    </sn-tab>

    <sn-tab #examples title="Examples"
            i18n-title="@@label.examples"
            [icon]="ui.icons.stackblitz">
      <ng-template #tabContentTemplate>
        <div #example></div>
      </ng-template>
    </sn-tab>

  </sn-tabs>

</sn-container>
