<p *ngIf="!!file" i18n="@@message.the_code_to">
  <sn-link [icon]="copied ? ui.icons.animated.success : ui.icons.copy"
           [outline]="ui.outline.ghost"
           title="Copy"
           i18n-text="@@action.copy"
           [snClipboard]="code"
           (onSuccess)="copy()">
  </sn-link>
  the code to <code>{{file}}</code>
</p>

<pre [highlight]="code" [languages]="[language]"></pre>

<pre #pre (cdkObserveContent)="render()" hidden>
  <ng-content></ng-content>
</pre>
