@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-grid-col($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    grid-columns: 12
  );

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-col-host)} {
    @if $declare {
      display: block;
      box-sizing: border-box;
      position: relative;
    }

    @each $breakpoints, $value in $sn-grid-breakpoints {
      @media screen and (min-width: $value) {
        @for $i from 1 through map-get($vars, grid-columns) {
          &[data-sn-#{$breakpoints} = '#{$i}'] {
            $width: $i/map-get($vars, grid-columns);
            flex: 0 0 percentage($width);
            max-width: percentage($width);
          }
        }
      }
    }

    @for $i from 1 through map-get($vars, grid-columns) {
      &[data-sn-span = '#{$i}'] {
        $width: $i/map-get($vars, grid-columns);
        flex: 0 0 percentage($width);
        max-width: percentage($width);
      }
    }
  }
}

@if $sn-debug {
  @debug 'col compiled';
}
