@import 'sn-variables';
@import 'sn-utils';
@import 'sn-functions';
@import 'sn-hosts';

@mixin sn-carousel($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    item: (
      padding: null
    ),
    arrow: (
      bottom: 50%,
      color: $sn-white-color,
      weight: 4px
    ),
    dot: (
      color: $sn-primary-background
    )
  );
  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-carousel-host)} {
    @if $declare {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }

  #{$context} #{$wrapper} [data-item] {
    @if $declare {
      height: fit-content;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }

    &[data-with-arrows="true"] {
      @if map-has-key($vars, item) {
        $item: map-get($vars, item);
        padding: map-get($item, padding);
      }
    }
  }

  #{$context} [data-raw] {
    display: none;
  }

  #{$context} #{$wrapper} [data-arrow] {
    @if $declare {
      border: none;
      background-color: transparent;
      outline: 0;
      position: absolute;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5em;
      color: white;
      font-weight: bold;
      font-size: 2em;
      user-select: none;
      height: 30%;
      opacity: .8;
      transform: translate(0, 50%);

      @include for-mobile() {
        bottom: 20%;
      }

      &:hover, &:focus {
        opacity: 1;
      }

      &[data-next] {
        right: 0;
      }

      &[data-prev] {
        left: 0;
      }

      span {
        display: block;
        width: 0.5em;
        height: 0.5em;

        &[data-left] {
          transform: rotate(45deg);
        }

        &[data-right] {
          transform: rotate(225deg);
        }
      }
    }

    @if map-has-key($vars, arrow) {
      $arrow: map-get($vars, arrow);
      bottom: map-get($arrow, bottom);
      span {
        border-left-width: map-get($arrow, weight);
        border-left-style: solid;
        border-left-color: map-get($arrow, color);
        border-bottom-width: map-get($arrow, weight);
        border-bottom-style: solid;
        border-bottom-color: map-get($arrow, color);
      }
    }
  }

  #{$context} #{$wrapper} [data-dots] {
    @if $declare {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);

      [data-dot] {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        opacity: .6;
        margin: 0 4px;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }

        &.active {
          opacity: 1;
        }
      }
    }

    [data-dot] {
      @if map-has-key($vars, dot) {
        $dot: map-get($vars, dot);
        background: map-get($dot, color);
      }
    }
  }
}

@if $sn-debug {
  @debug 'carousel compiled';
}
