<ng-container *ngFor="let item of items; let i = index">
  <div _ca data-item #carouselItem
       [style.min-height.px]="height"
       [attr.data-with-arrows]="!!arrows"
       [@visibility]="{
           value: animation
                  + '-'
                  + (current === i ? carouselVisibility.visible : carouselVisibility.hidden)
                  + '-'
                  + currentOrientation,
           params: {speed: animationSpeed}
         }">
    <ng-container *ngTemplateOutlet="item.content"></ng-container>
  </div>
</ng-container>

<ng-container *ngIf="arrows && items.length > 1">
  <button _ca data-arrow data-prev (click)="slide = current - 1">
    <span _ca data-left></span>
  </button>
  <button _ca data-arrow data-next (click)="slide = current + 1">
    <span _ca data-right></span>
  </button>
</ng-container>

<sn-stack _ca *ngIf="dots && items.length > 1" data-dots
          [orientation]="ui.orientation.horizontal">
  <div _ca data-dot
       *ngFor="let index of (items.length | mockArray)"
       (click)="slide = index"
       [class.active]="this.current === index">
  </div>
</sn-stack>
