@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin message-scheme($scheme) {
  & {
    background-color: #{map-get($scheme, background-color)};
    border-color: #{map-get($scheme, border-color)};
  }
}

@mixin sn-message($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    text-align: left,
    schemes: (
      primary: (
        background-color: $sn-primary-background,
        border-color: $sn-muted-color
      ),
      secondary: (
        background-color: $sn-secondary-background,
        border-color: $sn-muted-color
      ),
      success: (
        background-color: rgba($sn-success-color, .3),
        border-color: $sn-success-color
      ),
      fail: (
        background-color: rgba($sn-fail-color, .3),
        border-color: $sn-fail-color
      ),
      accent: (
        background-color: rgba($sn-accent-color, .3),
        border-color: $sn-accent-color
      )
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-message-host)} {
    @if $declare {
      display: block;
      border-radius: $sn-corner-small;
      padding: $sn-gutter-normal;
      border: 1px solid;
    }

    @if map-has-key($vars, schemes) {
      @each $scheme, $map in map-get($vars, schemes) {
        &[data-sn-scheme='#{$scheme}'] {
          @include message-scheme($map);
        }
      }
    }

    #{$context} #{$wrapper} [data-message] {
      @if map-has-key($vars, text-align) {
        width: 100%;
        text-align: map-get($vars, text-align);
      }
    }
  }
}
