@import 'sn-variables';
@import 'sn-functions';
@import 'sn-utils';
@import 'sn-hosts';

@mixin sn-toast($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    max-width: 400px
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-toast-host)} {
    @if $declare {
      @include reset-default();
      display: none;
      position: fixed;
      z-index: 105;
      max-width: map-get($vars, max-width);
      top: 0;
      right: 0;
    }
  }
}

@if $sn-debug {
  @debug 'toast compiled';
}
