@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'layout/app/variables';
@import 'navigation/menu/menu';
@import 'navigation/link/link';
@import 'elements/icon/icon';
@import 'forms/button/button';
@import 'layout/responsive/responsive';

@mixin sn-app-header($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    position: absolute,
    background: $sn-primary-dark-color,
    padding: 0 $sn-gutter-big,
    height: $app-header-height
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-app-header-host)} {
    @if $declare {
      display: flex;
      justify-content: space-between;
      flex: 0 0 auto;
      box-sizing: border-box;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }
    background-color: map-get($vars, background);
    padding: map-get($vars, padding);
    min-height: map-get($vars, height);
    position: map-get($vars, position);

    > [data-menu] {
      @if $declare {
        display: flex;
        align-items: center;
      }
    }

    @include min-for-desktop() {
      @include sn-link((color: $sn-white-color, hover-color: $sn-white-color, inverse-color: $sn-primary-color));
    }

    @include sn-menu((
      top: (
        item: (
          corner: $sn-corner-small,
          color: $sn-white-color,
          active: (
            color: $sn-white-color,
            underline: true,
            underline-color: $sn-white-color,
            background-color: transparent,
            shadow: none
          ),
          icon: (
            color: $sn-white-color
          ),
          padding: $sn-gutter-small,
          hover: (
            color: $sn-white-color,
            background-color: rgba($sn-primary-light-75-color, .5)
          )
        )
      )
    ));
  }

  hr {
    @if $declare {
      width: 100%;
      border: none;
      height: 1px;
      background: $sn-secondary-background;
    }
  }

  #{$context} #{$wrapper} [data-logo] {
    @if $declare {
      display: flex;
      align-items: center;
      margin-right: $sn-gutter-huge;
      & * {
        display: block;
      }
    }
  }

  #{$context} #{$wrapper} [data-burger] {
    @if $declare {
      @include sn-button((color: $sn-white-color,
        hover-color: $sn-white-color, icon: (size: 40px)), '&');
    }
  }

  #{$context} #{$wrapper} [data-actions] {
    @if $declare {
      margin-left: auto;
    }
  }

  #{$context} #{$wrapper} [data-content] {
    @if $declare {
      display: flex;
      align-items: center;
    }
  }
}

@if $sn-debug {
  @debug 'app-header compiled';
}
