<sn-container>

  <sn-app-page-header [icon]="localUi.icons.switch"
                      title="Switch"
                      i18n-title="@@label.switch"
                      [teaser]="handbook.forms.components.switch.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>

          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <form [formGroup]="form">
                  <ng-template #groupTemplate>
                    <sn-stack [orientation]="(colsControl.value <= 1 && breakpoint.current !== ui.breakpoint.mobile)
                      ? ui.orientation.horizontal : ui.orientation.vertical"
                              [wrap]="ui.wrap.wrap"
                              [gutter]="ui.gutter.big"
                              [align]="ui.align.stretch">
                      <sn-form-control name="hero">
                        <sn-switch-group formControlName="hero"
                                         [orientation]="orientationControl.value"
                                         [spacing]="spacingControl.value"
                                         [cols]="colsControl.value"
                                         [align]="alignControl.value"
                                         [size]="sizeControl.value">
                          <sn-switch *ngFor="let hero of heroes | keyvalue: originalOrder | slice:0:6"
                                     [style]="styleControl.value"
                                     [label]="labelControl.value ? hero.value.name : null"
                                     [tags]="tagsControl.value ? {on: 'On', off: 'Off'} : null"
                                     [icons]="iconsControl.value ? {on: ui.icons.solar, off: ui.icons.moon} : null"
                                     [value]="hero.value.code">
                            <ng-template #switchLabelTemplate *ngIf="customLabelControl.value">
                              <sn-stack [orientation]="ui.orientation.horizontal" data-custom
                                        [align]="ui.align.center"
                                        [justify]="ui.justify.between">
                                <sn-stack [orientation]="ui.orientation.horizontal"
                                          [gutter]="ui.gutter.small"
                                          [align]="ui.align.center">
                                  <sn-avatar [image]="hero.value.avatar" [size]="ui.size.tiny"></sn-avatar>
                                  <span data-hero i18n="{{hero.value.i18n}}">{{hero.value.name}}</span>
                                </sn-stack>
                                <sn-label data-universe [label]="hero.value.universe.name"
                                          [color]="hero.value.universe.color"></sn-label>
                              </sn-stack>
                            </ng-template>
                          </sn-switch>
                        </sn-switch-group>

                        <sn-form-message [validator]="ui.validator.required"
                                         i18n="@@label.please_select_any_hero">
                          Please select any hero
                        </sn-form-message>
                      </sn-form-control>
                      <sn-stack *ngIf="heroControl.value?.length" [align]="ui.align.center">
                        <sn-avatars-list [size]="breakpoint.current !== ui.breakpoint.mobile
                          ? ui.size.large : ui.size.normal" [max]="6">
                          <ng-container *ngFor="let code of heroControl.value">
                            <sn-avatar [size]="ui.size.large"
                                       [image]="heroes[code].avatar"></sn-avatar>
                          </ng-container>
                        </sn-avatars-list>
                      </sn-stack>
                    </sn-stack>
                  </ng-template>

                  <sn-stack *ngIf="typeControl.value === switchType.single else groupTemplate"
                            [align]="ui.align.stretch">
                    <sn-switch formControlName="switch"
                               [style]="styleControl.value"
                               [size]="sizeControl.value"
                               [align]="alignControl.value"
                               [label]="labelControl.value ? 'Are you happy?' : null"
                               [tags]="tagsControl.value ? {on: 'On', off: 'Off'} : null"
                               [icons]="iconsControl.value ? {on: ui.icons.solar, off: ui.icons.moon} : null">
                      <ng-template #switchLabelTemplate *ngIf="customLabelControl.value">
                        <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
                          <span>Show heroes</span>
                          <sn-label label="200 likes"></sn-label>
                        </sn-stack>
                      </ng-template>
                    </sn-switch>

                    <iframe giphy *ngIf="switchControl.value;else unHappyTemplate"
                            src="https://giphy.com/embed/3og0ICmyySyzbmnxqE"
                            width="480"
                            height="270"
                            frameBorder="0"></iframe>
                    <ng-template #unHappyTemplate>
                      <iframe giphy src="https://giphy.com/embed/d2lcHJTG5Tscg"
                              width="480"
                              height="270"
                              frameBorder="0"></iframe>
                    </ng-template>

                  </sn-stack>
                </form>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.type">Type
                  </sn-form-label>
                  <sn-form-control name="type">
                    <sn-switcher formControlName="type" [orientation]="ui.orientation.horizontal">
                      <sn-switcher-option label="Single"
                                          [value]="switchType.single">
                      </sn-switcher-option>
                      <sn-switcher-option label="Group"
                                          [value]="switchType.group">
                      </sn-switcher-option>
                    </sn-switcher>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item *ngIf="typeControl.value === switchType.group">
                  <sn-form-label for="orientation"
                                 i18n="@@label.orientation">Orientation
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="orientation"
                               placeholder="Vertical"
                               i18n-placeholder="@@label.vertical"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Horizontal"
                                        i18n-label="@@label.horizontal"
                                        [icon]="localUi.icons.horizontal"
                                        [key]="ui.orientation.horizontal"></sn-select-option>
                      <sn-select-option label="Vertical"
                                        i18n-label="@@label.vertical"
                                        [icon]="localUi.icons.vertical"
                                        [key]="ui.orientation.vertical"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item *ngIf="typeControl.value === switchType.group">
                  <sn-form-label for="spacing"
                                 i18n="@@label.spacing">Spacing
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="spacing"
                               placeholder="Small"
                               i18n-placeholder="@@label.small"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="None"
                                        i18n-label="@@label.none"
                                        [key]="ui.gutter.none"></sn-select-option>
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.gutter.tiny"
                                        [key]="ui.gutter.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.gutter.small"
                                        [key]="ui.gutter.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.gutter.normal"
                                        [key]="ui.gutter.normal"></sn-select-option>
                      <sn-select-option label="Big"
                                        i18n-label="@@label.big"
                                        [icon]="localUi.icons.gutter.big"
                                        [key]="ui.gutter.big"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.gutter.large"
                                        [key]="ui.gutter.large"></sn-select-option>
                      <sn-select-option label="Huge"
                                        i18n-label="@@label.huge"
                                        [icon]="localUi.icons.gutter.huge"
                                        [key]="ui.gutter.huge"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item *ngIf="typeControl.value === switchType.group">
                  <sn-form-label for="cols"
                                 i18n="@@label.cols">Columns
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="cols"
                               placeholder="1"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option *ngFor="let col of [1,2,3]"
                                        [label]="col.toString()"
                                        [key]="col"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="style"
                                 i18n="@@label.style">Style
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="style"
                               placeholder="Hipster"
                               i18n-placeholder="@@label.hipster"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Default"
                                        i18n-label="@@label.default"
                                        [key]="ui.switch.style.default"></sn-select-option>
                      <sn-select-option label="Hipster"
                                        i18n-label="@@label.hipster"
                                        [key]="ui.switch.style.hipster"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="size"
                                 i18n="@@label.size">Size
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.tiny"
                                        [key]="ui.size.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.large"
                                        [key]="ui.size.large"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="align"
                                 i18n="@@label.align">Align
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="align"
                               placeholder="Center"
                               i18n-placeholder="@@label.center"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Start"
                                        i18n-label="@@label.start"
                                        [icon]="localUi.icons.start"
                                        [key]="ui.align.start"></sn-select-option>
                      <sn-select-option label="Center"
                                        i18n-label="@@label.center"
                                        [icon]="localUi.icons.center"
                                        [key]="ui.align.center"></sn-select-option>
                      <sn-select-option label="End"
                                        i18n-label="@@label.end"
                                        [icon]="localUi.icons.end"
                                        [key]="ui.align.end"></sn-select-option>
                      <sn-select-option label="Baseline"
                                        i18n-label="@@label.baseline"
                                        [icon]="localUi.icons.baseline"
                                        [key]="ui.align.baseline"></sn-select-option>
                      <sn-select-option label="Stretch"
                                        i18n-label="@@label.scretch"
                                        [icon]="localUi.icons.stretch"
                                        [key]="ui.align.stretch"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="label"
                                   label="Label"
                                   i18n-label="@@label.label"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="customLabel"
                                   label="Custom label"
                                   i18n-label="@@label.custom-label"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="tags"
                                   label="Tags"
                                   i18n-label="@@label.tags"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="icons"
                                   label="Icons"
                                   i18n-label="@@label.icons"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.state">State
                  </sn-form-label>
                  <sn-checkbox formControlName="disabled"
                               label="Disabled"
                               i18n-label="@@label.disabled"></sn-checkbox>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>

        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'switch-test', type: 'SwitchTestComponent'}"
                scss="forms/switch"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="switch-test.component.html">
                <!-- @formatter:off-->
                <ng-container *ngIf="typeControl.value === switchType.single">
                  <![CDATA[
                  <sn-switch ]]>
                    <ng-container *ngIf="styleControl.value">
                      <![CDATA[
                      [style]="ui.switch.style.]]>{{styleControl.value}}<![CDATA["]]>
                    </ng-container>

                    <ng-container *ngIf="sizeControl.value">
                      <![CDATA[
                      [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                    </ng-container>

                    <ng-container *ngIf="alignControl.value">
                      <![CDATA[
                      [align]="ui.align.]]>{{alignControl.value}}<![CDATA["]]>
                    </ng-container>

                    <ng-container *ngIf="labelControl.value && !customLabelControl.value">
                      <![CDATA[
                      label="Are you happy?"]]>
                    </ng-container>

                    <ng-container *ngIf="tagsControl.value">
                      <![CDATA[
                      [tags]="{on: 'On', off: 'Off'}"]]>
                    </ng-container>

                    <ng-container *ngIf="iconsControl.value">
                      <![CDATA[
                      [icons]="{on: ui.icons.solar, off: ui.icons.moon}"]]>
                    </ng-container>

                    <![CDATA[>]]>
                    <ng-container *ngIf="customLabelControl.value">
                      <![CDATA[
                      <ng-template #switchLabelTemplate>
                        <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
                          <span>Show heroes</span>
                          <sn-label label="200 likes"></sn-label>
                        </sn-stack>
                      </ng-template>
                      ]]>
                    </ng-container>
                    <![CDATA[
                  </sn-switch>
                  ]]>
                </ng-container>

                <ng-container *ngIf="typeControl.value === switchType.group">

                  <![CDATA[
                  <sn-switch-group ]]>
                    <ng-container *ngIf="orientationControl.value">
                      <![CDATA[
                      [orientation]="ui.orientation.]]>{{orientationControl.value}}<![CDATA["]]>
                    </ng-container>

                    <ng-container *ngIf="spacingControl.value">
                      <![CDATA[
                      [spacing]="ui.gutter.]]>{{spacingControl.value}}<![CDATA["]]>
                    </ng-container>

                    <ng-container *ngIf="colsControl.value">
                      <![CDATA[
                      [cols]="]]>{{colsControl.value}}<![CDATA["]]>
                    </ng-container>

                    <ng-container *ngIf="sizeControl.value">
                      <![CDATA[
                      [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                    </ng-container>

                    <ng-container *ngIf="alignControl.value">
                      <![CDATA[
                      [align]="ui.align.]]>{{alignControl.value}}<![CDATA["]]>
                    </ng-container>

                    <![CDATA[>]]>

                    <![CDATA[
                    <sn-switch ]]>
                      <ng-container *ngIf="styleControl.value">
                        <![CDATA[
                        [style]="ui.switch.style.]]>{{styleControl.value}}<![CDATA["]]>
                      </ng-container>

                      <ng-container *ngIf="labelControl.value && !customLabelControl.value">
                        <![CDATA[
                        label="Are you happy?"]]>
                      </ng-container>

                      <ng-container *ngIf="tagsControl.value">
                        <![CDATA[
                        [tags]="{on: 'On', off: 'Off'}"]]>
                      </ng-container>

                      <ng-container *ngIf="iconsControl.value">
                        <![CDATA[
                        [icons]="{on: ui.icons.solar, off: ui.icons.moon}"]]>
                      </ng-container>

                      <![CDATA[>]]>
                      <ng-container *ngIf="customLabelControl.value">
                        <![CDATA[
                        <ng-template #switchLabelTemplate>
                          <sn-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
                            <span>Show heroes</span>
                            <sn-label label="200 likes"></sn-label>
                          </sn-stack>
                        </ng-template>
                        ]]>
                      </ng-container>
                      <![CDATA[
                    </sn-switch>
                    ]]>

                    <![CDATA[
                  </sn-switch-group>
                  ]]>
                </ng-container>
              </app-code-highlight>
              <app-code-highlight file="switch-test.component.ts"
                                  [language]="language.typescript">
                <![CDATA[
                import { Component, OnInit } from '@angular/core';
                import { FormBuilder } from '@angular/forms';

                @Component({
                selector: 'app-switch-test',
                templateUrl: './switch-test.component.html',
                styleUrls: ['./switch-test.component.scss']
                })
                export class SwitchTestComponent implements OnInit {
                switchControl = this.fb.control(false);

                form = this.fb.group({
                switch: this.switchControl,
                });

  constructor(private fb: FormBuilder) {
                }

                ngOnInit() {
                this.disabledControl.valueChanges.subscribe((disabled) => {
                disabled ? this.switchControl.disable({emitEvent: false}) : this.switchControl.enable({emitEvent: false}
                );
                });
                }
                }]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-switch"
                             [api]="api.switch">
          </app-component-api>
          <app-component-api selector="sn-switch-group"
                             [api]="api.switchGroup">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
