<div _av data-wrapper>
  <ng-template #noImage>
    <ng-template #noInitials>
      <sn-icon _av *ngIf="!!icon" [icon]="icon"></sn-icon>
    </ng-template>

    <span _av *ngIf="(!!name || !!surname); else noInitials" data-text >
      {{((name?.charAt(0) || '') + (surname?.charAt(0) || '')) | uppercase}}
    </span>
  </ng-template>

  <img _av *ngIf="!!image; else noImage"
       data-image
       [src]="image"
       [snBinding]="{attributes: attributes}">
</div>
<sn-dot _av data-dot *ngIf="dot" [color]="dot.color"></sn-dot>
