@import "sn-variables";

$sizes: (
  tiny: (
    avatar: 30px,
    icon: 12px,
    font: 10px,
    dot: 10px
  ),
  small: (
    avatar: 40px,
    icon: 16px,
    font: 12px,
    dot: 10px
  ),
  normal: (
    avatar: 60px,
    icon: 24px,
    font: 15px,
    dot: 15px
  ),
  large: (
    avatar: 80px,
    icon: 32px,
    font: 18px,
    dot: 20px
  )
);
