<ng-template #defaultContentTemplate>
  <div _pr data-content>
    {{options.content}}
  </div>
</ng-template>

<svg _pr #arrow data-arrow fill="none" width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
  <g _pr clip-path="url(#popover_marker_clip)">
    <g _pr data-inner>
      <path _pr d="M4 14C8.41827 14 11 22 13 22C15 22 17.5817 14 22 14L4 14Z"></path>
    </g>
    <rect _pr y="6" width="26" height="8"></rect>
  </g>
  <defs _pr>
    <filter _pr id="popover_marker_shadow-light" x="-4" y="6" width="34" height="24" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
      <feFlood _pr flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feColorMatrix _pr in="SourceAlpha" type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
      <feGaussianBlur _pr stdDeviation="4"></feGaussianBlur>
      <feColorMatrix _pr type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
      <feBlend _pr mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
      <feBlend _pr mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
    </filter>
    <filter _pr id="popover_marker_shadow-dark" x="-4" y="6" width="34" height="24" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
      <feFlood _pr flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feColorMatrix _pr in="SourceAlpha" type="matrix"
                     values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
      <feGaussianBlur _pr stdDeviation="4"></feGaussianBlur>
      <feColorMatrix _pr type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"></feColorMatrix>
      <feBlend _pr mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
      <feBlend _pr mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
    </filter>
    <clipPath _pr id="popover_marker_clip">
      <rect _pr width="26" height="26"></rect>
    </clipPath>
  </defs>
</svg>

<div _pr data-wrapper role="popover"
     [attr.data-windows]="device.platform.windows"
     [attr.data-padding]="options.padding"
     [ngStyle]="{'max-height': options.maxHeight, 'max-width': options.maxWidth}">
  <div _pr data-title *ngIf="options.title">{{options.title}}</div>

  <ng-container *ngTemplateOutlet="!!options.contentTemplate
    ? options.contentTemplate : defaultContentTemplate">
  </ng-container>
</div>
