@import 'sn-variables';
@import 'elements/label';
@import 'navigation/menu';
@import 'navigation/link';
@import 'elements/icon';
@import 'elements/label';
@import 'layout/responsive';
@import 'layout/grid';
@import 'layout/app';
@import 'layout/lp';

$sn-ng-deep: true;

:host-context([theme='dark']) {

  @include for-mobile() {
    @include sn-lp-header((
      background: (default: $sn-primary-dark-color)
    ));
  }

  @include sn-lp-header((
    menu: (
      desktop: (
        top: (
          item: (
            color: #E5F6F7
          )
        )
      )
    )
  ));

  [data-about] {
    @include min-for-tablet() {
      background: $sn-primary-dark-color url(../../assets/images/about-bg-dark.svg) right bottom no-repeat;
    }
  }

  [data-about] {
    background-color: $sn-primary-dark-color;

    h3 {
      color: $sn-white-color;
    }

    [data-content] {
      h1, p {
        color: $sn-white-color;
      }
    }
  }
}

:host {
  display: block;
  @include sn-lp-header((position: absolute));
}

[data-logo] {
  position: relative;
  cursor: pointer;
  height: 38px;

  img {
    width: auto;
    height: 100%;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

@include for-mobile() {
  @include sn-lp-header((
    background: (default: $sn-secondary-background)
  ), null);
}

[data-about] {
  @include min-for-tablet() {
    background: $sn-primary-background url(../../assets/images/about-bg.svg) right bottom no-repeat;
  }
  z-index: 1;
  @include for-mobile() {
    @include sn-lp-slide((
      padding: (
        bottom: $sn-gutter-large
      )
    ), '&');
    min-height: calc(100vh - #{$lp-header-height});
  }

  [data-content] {
    font-size: 1.5rem;
    position: relative;
    @include max-for-tablet() {
      font-size: 1.4rem;
    }
    @include for-mobile() {
      font-size: 1rem;
    }

    h1 {
      text-align: left;
      font-size: 2em;
      font-weight: $sn-font-weight-semi-bold;
      color: $sn-secondary-dark-color;
      margin-top: 80px;
      line-height: 1.4;
      position: relative;

      span {
        color: $sn-accent-color;
      }

      [data-label] {
        @include sn-label(
            (
              background: $sn-accent-color,
              font-size: $sn-font-size-base,
              border: none !important),
            '&');
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        height: 28px;
        font-weight: $sn-font-weight-base;
      }
    }

    [data-web-apps] {
      font-size: .75em;
      color: $sn-primary-text-dark-color;
    }
  }

  [data-tutorial] {
    position: relative;
    z-index: 1;
    margin-top: 50px;
    @include max-for-tablet() {
      align-self: center;
    }

    @include sn-link((
      corner: 34px,
      font-size: 18px,
      text-transform: uppercase,
      font-weight: $sn-font-weight-semi-bold,
      padding: $sn-gutter-small $sn-gutter-large,
      color: $sn-accent-color,
      hover-color: $sn-accent-dark-color,
      background: $sn-accent-color,
      icon: (
        margin-right: $sn-gutter-normal,
        size: 28px
      )
    ), '&');
  }
}
