@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';

@mixin checkbox-size($size, $wrapper) {
  #{$wrapper} [data-switch] {
    min-width: map-get($size, indicator);
    width: map-get($size, indicator);
    min-height: map-get($size, indicator);
    height: map-get($size, indicator);

    [data-sn-icon] {
      @include sn-icon((size: map-get($size, icon)), '&');
    }
  }
  #{$wrapper} input {
    &[custom='true'] {
      width: map-get($size, indicator);
    }
  }
  #{$wrapper} label {
    font-size: map-get($size, font-size);
  }
}

@mixin sn-checkbox($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    sizes: (
      tiny: (
        indicator: 12px,
        icon: 6px,
        font-size: $sn-font-size-tiny
      ),
      small: (
        indicator: 14px,
        icon: 8px,
        font-size: $sn-font-size-small
      ),
      normal: (
        indicator: 18px,
        icon: 8px,
        font-size: $sn-font-size-base
      ),
      large: (
        indicator: 24px,
        icon: 14px,
        font-size: $sn-font-size-normal
      )
    ),
    label: (
      color: $sn-control-switch-label-color,
      overflow: false
    ),
    switch: (
      background: $sn-control-background,
      border-color: $sn-control-border-color,
      margin-top: null,
      active: (
        background: $sn-secondary-color,
        icon: (
          color: $sn-white-color
        )
      ),
      hover: (
        border-color: $sn-secondary-color,
        background: $sn-secondary-light-10-color
      ),
      focus: (
        shadow: $sn-outline-shadow-normal $sn-secondary-light-10-color
      ),
      disabled: (
        border-color: $sn-control-disabled-border-color,
        background: $sn-control-disabled-background,
        icon-color: $sn-white-color,
        label-color: $sn-control-disabled-label-color
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-checkbox-host)} {
    @if $declare {
      display: flex;
      align-items: center;
      position: relative;
      max-width: 100%;
    }

    @if map-has-key($vars, sizes) {
      $sizes: map-get($vars, sizes);
      @each $size, $map in $sizes {
        &[data-sn-size = '#{$size}'] {
          @include checkbox-size($map, $wrapper);
        }
      }
    }
  }

  #{$context} #{$wrapper} input {
    @if $declare {
      position: absolute;
      top: 0;
      z-index: 1;
      cursor: pointer;
      opacity: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    &:checked + [data-checkbox] > [data-switch] {
      @if map-has-key($vars, switch) {
        $switch: map-get($vars, switch);
        @if map-has-key($switch, active) {
          $active: map-get($switch, active);
          background: map-get($active, background);
          border-color: map-get($active, background);
          @if map-has-key($active, icon) {
            $icon: map-get($active, icon);
            > [data-sn-icon] {
              @include sn-icon((color: map-get($icon, color)), '&');
            }
          }
        }
      }
    }

    &:disabled {
      @if $declare {
        cursor: default;
        pointer-events: none;
      }

      &:checked {
        @if map-has-key($vars, switch) {
          $switch: map-get($vars, switch);
          @if map-has-key($switch, disabled) {
            $disabled: map-get($switch, disabled);
            & + [data-checkbox] > [data-switch] {

              & > [data-sn-icon] {
                @include sn-icon((color: map-get($disabled, icon-color)), '&');
              }
            }
          }
        }
      }

      @if map-has-key($vars, switch) {
        $switch: map-get($vars, switch);
        @if map-has-key($switch, disabled) {
          $disabled: map-get($switch, disabled);
          & ~ [data-checkbox] > label {
            color: map-get($disabled, label-color);
          }
          & + [data-checkbox] > [data-switch] {
            background-color: map-get($disabled, background);
            border-color: map-get($disabled, border-color);
          }
        }
      }
    }

    &:focus {
      & + [data-checkbox] > [data-switch] {
        @if map-has-key($vars, switch) {
          $switch: map-get($vars, switch);
          @if map-has-key($switch, focus) {
            $focus: map-get($switch, focus);
            @if $declare {
              box-shadow: map-get($focus, shadow);
            }
          }
        }
      }
    }

    &:hover {
      & + [data-checkbox] > [data-switch] {
        @if map-has-key($vars, switch) {
          $switch: map-get($vars, switch);
          @if map-has-key($switch, hover) {
            $hover: map-get($switch, hover);
            border-color: map-get($hover, border-color);
            background: map-get($hover, background);
          }
        }
      }

      &:checked + [data-checkbox] > [data-switch] {
        background: $sn-secondary-dark-color;
        border-color: $sn-secondary-dark-color;
      }
    }
  }

  #{$context} #{$wrapper} [data-switch] {
    @if $declare {
      position: relative;
      border-radius: $sn-corner-base;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      box-sizing: border-box;
    }
    @if map-has-key($vars, switch) {
      $switch: map-get($vars, switch);
      border: 1px solid map-get($switch, border-color);
      background-color: map-get($switch, background);
      margin-top: map-get($switch, margin-top);
    }
  }

  #{$context} #{$wrapper} [data-checkbox] {
    max-width: 100%;
    flex: 1;

    label {
      user-select: none;
      flex: 1;
    }

    [data-label] {
      flex: 1;
      @if map-has-key($vars, label) {
        $label: map-get($vars, label);
        color: map-get($label, color);
        @if map-get($label, overflow) == true {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'checkbox compiled';
}
