<ng-template #labelDefaultTemplate>
  <label _ch *ngIf="label" [innerHTML]="label | sanitizeHtml"></label>
</ng-template>

<ng-container [formGroup]="form">
  <input _ch formControlName="checkbox" type="checkbox" [attr.custom]="!!labelTemplate">
  <sn-stack _ch data-checkbox [orientation]="ui.orientation.horizontal"
            [gutter]="ui.gutter.small"
            [align]="align">
    <div _ch data-switch>
      <sn-icon _ch *ngIf="checkboxControl.value" [icon]="ui.icons.checked" [@scale]="animate"></sn-icon>
    </div>
    <div _ch data-label [snBinding]="{attributes: attributes}">
      <ng-container *ngTemplateOutlet="!!labelTemplate ? labelTemplate : labelDefaultTemplate"></ng-container>
    </div>
  </sn-stack>
</ng-container>
