<sn-stack _lr>
  <sn-button _lr [icon]="ui.icons.arrowUp" [size]="ui.size.tiny" (click)="up()"></sn-button>
  <sn-button _lr [icon]="ui.icons.arrowDown" [size]="ui.size.tiny" (click)="down()"></sn-button>
</sn-stack>
