<ng-container [formGroup]="switcher">
  <sn-switch _ts data-switch formControlName="theme"
             [style]="ui.switch.style.default"
             [icons]="{on: ui.icons.solar, off: ui.icons.moon}"
             [tags]="{on: 'Light', off: 'Dark'}">

  </sn-switch>
</ng-container>
