<sn-container>

  <sn-app-page-header [icon]="localUi.icons.button"
                      title="Button"
                      i18n-title="@@label.button"
                      [teaser]="handbook.forms.components.button.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
        <sn-link [icon]="ui.icons.benchmark" [outline]="ui.outline.ghost"
                 [source]="['benchmark']"
                 title="Benchmark"
                 i18n-title="@@action.benchmark">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-stack [align]="ui.align.stretch">
                  <sn-block title="Button"
                            i18n-title="@@label.button"
                            [width]="ui.width.fluid">
                    <sn-button [text]="elementsControl.value.includes('text') ? 'Button' : null"
                               [scheme]="schemeControl.value"
                               [size]="sizeControl.value"
                               [outline]="outlineControl.value"
                               [width]="widthControl.value"
                               [type]="typeControl.value"
                               [loading]="loadingControl.value"
                               [disabled]="disabledControl.value"
                               [shape]="shapeControl.value"
                               [spacing]="spacingControl.value"
                               [ariaLabel]="ariaLabelControl.value ? 'Button' : null"
                               [icon]="elementsControl.value.includes('icon') ? {icon: ui.icons.user,
                                        position: positionControl.value === ui.position.right
                                          ? ui.position.right : ui.position.left} : null">
                      <sn-badge *ngIf="elementsControl.value.includes('badge')"
                                [value]="5"></sn-badge>
                    </sn-button>
                  </sn-block>
                  <sn-block title="Group"
                            i18n-title="@@label.group"
                            [width]="ui.width.fluid">
                    <sn-button-group [scheme]="schemeControl.value"
                                     [size]="sizeControl.value"
                                     [outline]="outlineControl.value"
                                     [width]="widthControl.value"
                                     [features]="adaptedControl.value ? [ui.feature.adapted] : []">
                      <sn-button [text]="elementsControl.value.includes('text') ? 'Button' : null"
                                 [type]="typeControl.value"
                                 [loading]="loadingControl.value"
                                 [disabled]="disabledControl.value"
                                 [spacing]="spacingControl.value"
                                 [ariaLabel]="ariaLabelControl.value ? 'Button' : null"
                                 [icon]="elementsControl.value.includes('icon') ? {icon: ui.icons.user,
                                          position: positionControl.value === ui.position.right ? ui.position.right : ui.position.left} : null">
                        <sn-badge *ngIf="elementsControl.value.includes('badge')"
                                  [value]="5"></sn-badge>
                      </sn-button>
                      <sn-button [text]="elementsControl.value.includes('text') ? 'Button' : null"
                                 [type]="typeControl.value"
                                 [loading]="loadingControl.value"
                                 [disabled]="disabledControl.value"
                                 [spacing]="spacingControl.value"
                                 [ariaLabel]="ariaLabelControl.value ? 'Button' : null"
                                 [icon]="elementsControl.value.includes('icon') ? {icon: ui.icons.gitlab,
                                          position: positionControl.value === ui.position.right ? ui.position.right : ui.position.left} : null">
                        <sn-badge *ngIf="elementsControl.value.includes('badge')"
                                  [value]="5"></sn-badge>
                      </sn-button>
                      <sn-button [text]="elementsControl.value.includes('text') ? 'Button' : null"
                                 [type]="typeControl.value"
                                 [loading]="loadingControl.value"
                                 [disabled]="disabledControl.value"
                                 [spacing]="spacingControl.value"
                                 [ariaLabel]="ariaLabelControl.value ? 'Button' : null"
                                 [icon]="elementsControl.value.includes('icon') ? {icon: ui.icons.figma,
                                          position: positionControl.value === ui.position.right ? ui.position.right : ui.position.left} : null">
                        <sn-badge *ngIf="elementsControl.value.includes('badge')"
                                  [value]="5"></sn-badge>
                      </sn-button>
                    </sn-button-group>
                  </sn-block>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="scheme"
                                 i18n="@@label.scheme">Scheme
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="scheme"
                               placeholder="Primary"
                               i18n-placeholder="@@label.primary"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Primary"
                                        i18n-label="@@label.primary"
                                        [icon]="localUi.icons.primary"
                                        [key]="ui.scheme.primary"></sn-select-option>
                      <sn-select-option label="Secondary"
                                        i18n-label="@@label.secondary"
                                        [icon]="localUi.icons.secondary"
                                        [key]="ui.scheme.secondary"></sn-select-option>
                      <sn-select-option label="Success"
                                        i18n-label="@@label.success"
                                        [icon]="localUi.icons.success"
                                        [key]="ui.scheme.success"></sn-select-option>
                      <sn-select-option label="Fail"
                                        i18n-label="@@label.fail"
                                        [icon]="localUi.icons.fail"
                                        [key]="ui.scheme.fail"></sn-select-option>
                      <sn-select-option label="Accent"
                                        i18n-label="@@label.accent"
                                        [icon]="localUi.icons.accent"
                                        [key]="ui.scheme.accent"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="size"
                                 i18n="@@label.size">Size
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.tiny"
                                        [key]="ui.size.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.large"
                                        [key]="ui.size.large"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="outline"
                                 i18n="@@label.outline">Outline
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="outline"
                               placeholder="Fill"
                               i18n-placeholder="@@label.fill"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Fill"
                                        i18n-label="@@label.fill"
                                        [icon]="localUi.icons.fill"
                                        [key]="ui.outline.fill"></sn-select-option>
                      <sn-select-option label="Transparent"
                                        i18n-label="@@label.transparent"
                                        [icon]="localUi.icons.transparent"
                                        [key]="ui.outline.transparent"></sn-select-option>
                      <sn-select-option label="Ghost"
                                        i18n-label="@@label.ghost"
                                        [icon]="localUi.icons.ghost"
                                        [key]="ui.outline.ghost"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="width"
                                 i18n="@@label.width">Width
                  </sn-form-label>
                  <sn-switcher formControlName="width"
                               placeholder="Default"
                               i18n-placeholder="@@label.default"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Default"
                                        i18n-label="@@label.default"
                                        [icon]="localUi.icons.default"
                                        [value]="ui.width.default"></sn-switcher-option>
                    <sn-switcher-option label="Fluid"
                                        i18n-label="@@label.fluid"
                                        [icon]="localUi.icons.fluid"
                                        [value]="ui.width.fluid"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.type">Type
                  </sn-form-label>
                  <sn-switcher formControlName="type"
                               placeholder="Button"
                               i18n-placeholder="@@label.button"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Button"
                                        i18n-label="@@label.button"
                                        [icon]="localUi.icons.button"
                                        [value]="ui.button.type.button"></sn-switcher-option>
                    <sn-switcher-option label="Submit"
                                        i18n-label="@@label.submit"
                                        [icon]="localUi.icons.submit"
                                        [value]="ui.button.type.submit"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.state">State
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="loading"
                                   label="Loading"
                                   i18n-label="@@label.loading"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="disabled"
                                   label="Disabled"
                                   i18n-label="@@label.disabled"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="elements"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-checkbox-group formControlName="elements" [cols]="3">
                    <sn-checkbox label="Text"
                                 value="text"
                                 i18n-label="@@label.text"></sn-checkbox>
                    <sn-checkbox label="Icon"
                                 value="icon"
                                 i18n-label="@@label.icon"></sn-checkbox>
                    <sn-checkbox label="Badge"
                                 value="badge"
                                 i18n-label="@@label.badge"></sn-checkbox>
                  </sn-checkbox-group>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="spacing"
                                 i18n="@@label.size">Spacing
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="spacing"
                               placeholder="Small"
                               i18n-placeholder="@@label.small"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="None"
                                        i18n-label="@@label.none"
                                        [key]="ui.gutter.none"></sn-select-option>
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.gutter.tiny"
                                        [key]="ui.gutter.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.gutter.small"
                                        [key]="ui.gutter.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.gutter.normal"
                                        [key]="ui.gutter.normal"></sn-select-option>
                      <sn-select-option label="Big"
                                        i18n-label="@@label.big"
                                        [icon]="localUi.icons.gutter.big"
                                        [key]="ui.gutter.big"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.gutter.large"
                                        [key]="ui.gutter.large"></sn-select-option>
                      <sn-select-option label="Huge"
                                        i18n-label="@@label.huge"
                                        [icon]="localUi.icons.gutter.huge"
                                        [key]="ui.gutter.huge"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="shape"
                                 i18n="@@label.shape">Shape
                  </sn-form-label>
                  <sn-switcher formControlName="shape"
                               [features]="ui.feature.allowEmpty"
                               placeholder="Square"
                               i18n-placeholder="@@label.square"
                               [features]="[ui.feature.allowEmpty]">
                    <sn-switcher-option label="Square"
                                        i18n-label="@@label.square"
                                        [icon]="localUi.icons.square"
                                        [value]="ui.shape.square"></sn-switcher-option>
                    <sn-switcher-option label="Circle"
                                        i18n-label="@@label.circle"
                                        [icon]="localUi.icons.circle"
                                        [value]="ui.shape.circle"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="position">Icon position
                  </sn-form-label>
                  <sn-switcher formControlName="position"
                               placeholder="Left"
                               i18n-placeholder="@@label.left">
                    <sn-switcher-option label="Left"
                                        i18n-label="@@label.left"
                                        [icon]="localUi.icons.start"
                                        [value]="ui.position.left"></sn-switcher-option>
                    <sn-switcher-option label="Right"
                                        i18n-label="@@label.right"
                                        [icon]="localUi.icons.end"
                                        [value]="ui.position.right"></sn-switcher-option>
                  </sn-switcher>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="adapted"
                                   label="Adapted"
                                   value="adapted"
                                   i18n-label="@@label.adapted">
                      </sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="ariaLabel"
                                   label="Aria-label"
                                   i18n-label="@@label.ariaLabel">
                      </sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'button-test', type: 'ButtonTestComponent'}"
                scss="forms/button"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Button component template"
                                i18n-title="@@label.button_component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="button-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-button
                  ]]>
                  <ng-container *ngIf="elementsControl.value.includes('text')">
                    <![CDATA[
                    text="Button"]]>
                  </ng-container>
                  <ng-container *ngIf="ariaLabelControl.value">
                    <![CDATA[
                    [ariaLabel]="'Button'"]]>
                  </ng-container>
                  <ng-container *ngIf="shapeControl.value">
                    <![CDATA[
                    [shape]="ui.shape.]]>{{shapeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="schemeControl.value">
                    <![CDATA[
                    [scheme]="ui.scheme.]]>{{schemeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="sizeControl.value">
                    <![CDATA[
                    [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="outlineControl.value">
                    <![CDATA[
                    [outline]="ui.outline.]]>{{outlineControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="spacingControl.value">
                    <![CDATA[
                    [spacing]="ui.gutter.]]>{{spacingControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="widthControl.value">
                    <![CDATA[
                    [width]="ui.width.]]>{{widthControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="typeControl.value">
                    <![CDATA[
                    [type]="ui.button.type.]]>{{typeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="loadingControl.value">
                    <![CDATA[
                    [loading]="]]>{{loadingControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="disabledControl.value">
                    <![CDATA[
                    [disabled]="]]>{{disabledControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="elementsControl.value.includes('icon') && !positionControl.value">
                    <![CDATA[
                    [icon]="ui.icons.user"]]>
                  </ng-container>
                  <ng-container *ngIf="elementsControl.value.includes('icon') && !!positionControl.value">
                    <![CDATA[
                    [icon]="{icon: ui.icons.user, position: ]]>{{
                    positionControl.value === ui.position.right ? 'ui.position.right' : 'ui.position.left'}}<![CDATA[}
                    "]]>
                  </ng-container>
                  <![CDATA[>]]>
                  <ng-container *ngIf="elementsControl.value.includes('badge')">
                    <![CDATA[
                    <sn-badge [value]="5"></sn-badge>
                    ]]>
                  </ng-container>
                  <![CDATA[
                </sn-button>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>

          </sn-accordion-section>
          <sn-accordion-section title="Buttons group component template"
                                i18n-title="@@label.buttons_group_component">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="button-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-button-group
                  ]]>
                  <ng-container *ngIf="schemeControl.value">
                    <![CDATA[
                    [scheme]="ui.scheme.]]>{{schemeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="sizeControl.value">
                    <![CDATA[
                    [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="outlineControl.value">
                    <![CDATA[
                    [outline]="ui.outline.]]>{{outlineControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="widthControl.value">
                    <![CDATA[
                    [width]="ui.width.]]>{{widthControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="adaptedControl.value">
                    <![CDATA[
                    [features]="[ui.feature.adapted]"]]>
                  </ng-container>
                  <![CDATA[>]]>
                  <ng-container *ngFor="let btn of 3 | mockArray">
                    <![CDATA[
                    <sn-button
                      ]]>
                      <ng-container *ngIf="elementsControl.value.includes('text')">
                        <![CDATA[
                        text="Button"]]>
                      </ng-container>
                      <ng-container *ngIf="ariaLabelControl.value">
                        <![CDATA[
                        [ariaLabel]="'Button'"]]>
                      </ng-container>
                      <ng-container *ngIf="typeControl.value">
                        <![CDATA[
                        [type]="ui.button.type.]]>{{typeControl.value}}<![CDATA["]]>
                      </ng-container>
                      <ng-container *ngIf="spacingControl.value">
                        <![CDATA[
                        [spacing]="ui.spacing.]]>{{spacingControl.value}}<![CDATA["]]>
                      </ng-container>
                      <ng-container *ngIf="loadingControl.value">
                        <![CDATA[
                        [loading]="]]>{{loadingControl.value}}<![CDATA["]]>
                      </ng-container>
                      <ng-container *ngIf="disabledControl.value">
                        <![CDATA[
                        [disabled]="]]>{{disabledControl.value}}<![CDATA["]]>
                      </ng-container>
                      <ng-container *ngIf="elementsControl.value.includes('icon') && !positionControl.value">
                        <![CDATA[
                        [icon]="ui.icons.user"]]>
                      </ng-container>
                      <ng-container *ngIf="elementsControl.value.includes('icon') && !!positionControl.value">
                        <![CDATA[
                        [icon]="{icon: ui.icons.user, position: ]]>
                        {{positionControl.value === ui.position.right ? 'ui.position.right' : 'ui.position.left'}}
                        <![CDATA[}"]]>
                      </ng-container>
                      <![CDATA[>]]>
                      <ng-container *ngIf="elementsControl.value.includes('badge')">
                        <![CDATA[
                        <sn-badge [value]="5"></sn-badge>
                        ]]>
                      </ng-container>
                      <![CDATA[
                    </sn-button>
                    ]]>
                  </ng-container>
                  <![CDATA[
                </sn-button-group>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-button"
                             [api]="api.button">
          </app-component-api>
          <app-component-api selector="sn-button-group"
                             [api]="api.buttonGroup">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
