<sn-container>

  <sn-app-page-header [icon]="localUi.icons.toast"
                      title="Toast"
                      i18n-title="@@label.toast"
                      [teaser]="handbook.overlays.components.toast.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>
    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview>
              <ng-template #document>
                <sn-stack [orientation]="ui.orientation.horizontal">
                  <sn-row>
                    <sn-col [mobile]="12" [tablet]="6">
                      <sn-button [snToast]="{
                                    title: titleControl.value ? 'Lorem ipsum' : null,
                                    message: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida, eros sit amet efficitur cursus, lectus erat pretium nisi, eu dictum tellus neque et orci.',
                                    icon: iconControl.value ? ui.icons.rocket : null,
                                    content: contentControl.value ? contentTemplate : null,
                                    scheme: schemeControl.value,
                                    size: sizeControl.value,
                                    closeDelay: closeControl.value
                                 }"
                                 text="Show in directive"
                                 [width]="ui.width.fluid">
                      </sn-button>
                    </sn-col>
                    <sn-col [mobile]="12" [tablet]="6">
                      <sn-button text="Show from code"
                                 [width]="ui.width.fluid"
                                 (click)="showToast()">
                      </sn-button>
                    </sn-col>

                    <ng-template #contentTemplate>
                      <iframe src="https://giphy.com/embed/3o7qE5ceqLBHRR0C64" width="400" height="185" frameBorder="0"></iframe>
                    </ng-template>
                  </sn-row>
                </sn-stack>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="scheme"
                                 i18n="@@label.scheme">Scheme
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="scheme"
                               placeholder="Primary"
                               i18n-placeholder="@@label.primary">
                      <sn-select-option label="Primary"
                                        i18n-label="@@label.primary"
                                        [icon]="localUi.icons.primary"
                                        [key]="ui.scheme.primary"></sn-select-option>
                      <sn-select-option label="Secondary"
                                        i18n-label="@@label.secondary"
                                        [icon]="localUi.icons.secondary"
                                        [key]="ui.scheme.secondary"></sn-select-option>
                      <sn-select-option label="Success"
                                        i18n-label="@@label.success"
                                        [icon]="localUi.icons.success"
                                        [key]="ui.scheme.success"></sn-select-option>
                      <sn-select-option label="Fail"
                                        i18n-label="@@label.fail"
                                        [icon]="localUi.icons.fail"
                                        [key]="ui.scheme.fail"></sn-select-option>
                      <sn-select-option label="Accent"
                                        i18n-label="@@label.accent"
                                        [icon]="localUi.icons.accent"
                                        [key]="ui.scheme.accent"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="size"
                                 i18n="@@label.size">Size
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Small"
                               i18n-placeholder="@@label.small">
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.tiny"
                                        [key]="ui.size.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normal"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.large"
                                        [key]="ui.size.large"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="close"
                                 i18n="@@label.close_delay">Close Delay
                  </sn-form-label>
                  <sn-form-control>
                    <sn-input formControlName="close"
                              [type]="ui.input.type.number">
                    </sn-input>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="features"
                                 i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="title" label="Title"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="icon" label="Custom icon"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="content" label="Custom content"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'toast-test', type: 'ToastTestComponent'}"
                scss="overlays/toast">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
                  <![CDATA[
                  import { ToastOptions, ToastService, UI } from 'esanum-ui';

                  @Component({
                  selector: 'app-toast-test',
                  templateUrl: './toast-test.component.html',
                  styleUrls: ['./toast-test.component.scss']
                  })

                  export class ToastTestComponent {
                  ui = UI;

                  constructor(private toastService: ToastService) {
                  }

                  showToast() {
                  const options = new ToastOptions({]]>
                  <ng-container *ngIf="titleControl.value">
                  <![CDATA[title: 'Praesent lobortis', ]]>
                  </ng-container>
                  <![CDATA[message: 'Praesent lobortis nisi cursus tortor tristique tincidunt.', ]]>
                  <ng-container *ngIf="iconControl.value">
                  <![CDATA[icon: ui.icons.rocket, ]]>
                  </ng-container>
                  <ng-container *ngIf="closeControl.value">
                  <![CDATA[closeDelay: 5000, ]]>
                  </ng-container>
                  <![CDATA[scheme: ui.scheme.]]>{{ schemeControl.value }}<![CDATA[,
                  size: ui.size.]]>{{ sizeControl.value }}<![CDATA[,
                  closeDelay: ]]>{{ closeControl.value }}
                  <![CDATA[});

                  this.toastService.show(options);
                  }
                  }]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="toast-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[<sn-button [snToast]="{]]>
                <ng-container *ngIf="!contentControl.value">
                <![CDATA[ message: 'Lorem ipsum dolor sit amet.',]]>
                </ng-container>
                <ng-container *ngIf="titleControl.value">
                <![CDATA[ title: 'Lorem ipsum',]]>
                </ng-container>
                <ng-container *ngIf="iconControl.value">
                <![CDATA[ icon: ui.icons.rocket,]]>
                </ng-container>
                <ng-container *ngIf="contentControl.value">
                <![CDATA[ content: contentTemplate,]]>
                </ng-container>
                <![CDATA[ scheme: ui.scheme.]]>{{ schemeControl.value }}<![CDATA[,]]>
                <ng-container *ngIf="!contentControl.value">
                <![CDATA[ size: ui.size.]]>{{ sizeControl.value }}<![CDATA[,]]>
                </ng-container>
                <![CDATA[ closeDelay: ]]>{{ closeControl.value }}<![CDATA[},]]>
                <![CDATA[ text="Click me">
                </sn-button>
                ]]>
                <ng-container *ngIf="contentControl.value">
                <![CDATA[
                <ng-template #contentTemplate>
                  <div>Custom content</div>
                </ng-template>
                ]]>
                </ng-container>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
