@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/icon/icon';
@import 'layout/spinner/spinner';

@mixin input-size($size, $wrapper) {
  & {
    min-height: map-get($size, height);
    height: map-get($size, height);

    &[data-sn-features*='multiline'] {
      height: auto;
    }
  }

  #{$wrapper} [data-content] {
    padding: map-get($size, padding);

    input, textarea {
      font-size: map-get($size, font-size);
    }
  }
  #{$wrapper} [data-spinner] {
    @include sn-spinner((
      size: map-get($size, state-icon)
    ), '&');
  }
  #{$wrapper} [data-warning],
  #{$wrapper} [data-checked],
  #{$wrapper} [data-reset] [data-sn-icon],
  #{$wrapper} [data-copy] [data-sn-icon],
  #{$wrapper} [data-view] [data-sn-icon] {
    [data-sn-icon] {
      @include sn-icon((
        size: map-get($size, state-icon)
      ), '&');
    }
  }
}

@mixin sn-input($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    width: null,
    border-color: null,
    hover: (
      border-color: null
    ),
    focus: (
      border-color: null,
      shadow: null
    ),
    sizes: (
      small: (
        font-size: $sn-font-size-small,
        height: 32px,
        icon: 24px,
        chevron: 10px,
        state-icon: 24px,
        padding: $sn-gutter-tiny $sn-gutter-normal
      ),
      normal: (
        font-size: $sn-font-size-base,
        height: 40px,
        icon: 24px,
        chevron: 10px,
        state-icon: 24px,
        padding: $sn-gutter-small $sn-gutter-normal
      ),
      large: (
        font-size: $sn-font-size-normal,
        height: 48px,
        icon: 24px,
        chevron: 10px,
        state-icon: 24px,
        padding: $sn-gutter-normal $sn-gutter-normal
      )
    ),
    scheme: (
      normal: (
        border-color: $sn-control-border-color,
        hover: (
          border-color: $sn-secondary-color
        ),
        focus: (
          border-color: $sn-secondary-color,
          shadow: $sn-outline-shadow-normal $sn-secondary-light-10-color
        ),
      ),
      success: (
        border-color: $sn-success-color,
        hover: (
          border-color: $sn-success-color
        ),
        focus: (
          border-color: $sn-success-color,
          shadow: $sn-outline-shadow-normal rgba($sn-success-color, .5)
        )
      ),
      failed: (
        border-color: $sn-fail-color,
        hover: (
          border-color: $sn-fail-color
        ),
        focus: (
          border-color: $sn-fail-color,
          shadow: $sn-outline-shadow-normal rgba($sn-fail-color, .5)
        )
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-input-host)} {
    @if $declare {
      display: inline-flex;
      background-color: $sn-control-background;
      color: $sn-primary-text-color;
      border-radius: $sn-corner-base;
      border-width: 1px;
      border-style: solid;
      line-height: 1;
      box-sizing: border-box;
      overflow: hidden;
      transition: border-color .3s;

      &[data-sn-width='fluid'] {
        display: flex;
        flex: 1;
      }

      &:focus {
        outline: 0;
      }

      &[data-sn-with-icon='true'] {
        #{$wrapper} [data-content] {
          padding: $sn-gutter-small;
        }
      }
    }

    width: map-get($vars, width);

    @if map-has-key($vars, scheme) {
      $schemes: map-get($vars, scheme);
      @each $scheme, $map in $schemes {
        &[data-sn-scheme='#{$scheme}'] {
          border-color: map-get($map, border-color);
          @if map-has-key($map, hover) {
            $hover: map-get($map, hover);
            &:hover {
              border-color: map-get($hover, border-color);
            }
          }
          @if map-has-key($map, focus) {
            $focus: map-get($map, focus);
            &[data-sn-focused='true'] {
              box-shadow: map-get($focus, shadow);
              border-color: map-get($focus, border-color);
              outline: 0;
            }
          }
        }
      }
    }

    &[data-sn-scheme] {
      border-color: map-get($vars, border-color);
      @if map-has-key($vars, hover) {
        $hover: map-get($vars, hover);
        &:hover {
          border-color: map-get($hover, border-color);
        }
      }
      @if map-has-key($vars, focus) {
        $focus: map-get($vars, focus);
        &[data-sn-focused='true'] {
          box-shadow: map-get($focus, shadow);
          border-color: map-get($focus, border-color);
          outline: 0;
        }
      }
    }

    @if map-has-key($vars, sizes) {
      $sizes: map-get($vars, sizes);
      @each $size, $map in $sizes {
        &[data-sn-size = '#{$size}'] {
          @include input-size($map, $wrapper);

          #{$wrapper} [data-label-icon] {
            @include sn-icon((
              size: map-get($map, icon),
            ), '&');
          }

          #{$wrapper} [data-arrows] [data-sn-icon] {
            @include sn-icon((
              size: map-get($map, chevron)
            ), '&');
          }

        }
      }
    }

    &[data-sn-textAlign='right'] {
      #{$wrapper} input, #{$wrapper} textarea {
        @if $declare {
          text-align: right;
        }
      }
    }

    &[data-sn-textAlign='left'] {
      #{$wrapper} input, #{$wrapper} textarea {
        @if $declare {
          text-align: left;
        }
      }
    }

    &[data-sn-state='loading'] {
      &,
      #{$wrapper} [data-content] input,
      #{$wrapper} [data-content] textarea {
        @if $declare {
          background-color: $sn-control-disabled-background;
          color: $sn-control-disabled-label-color;
          pointer-events: none;
        }
      }
    }

    &[data-sn-disabled='true'] {
      border-color: $sn-control-disabled-border-color;
      background-color: $sn-control-disabled-background;
      pointer-events: none;

      [data-content] {
        input, textarea {
          color: $sn-control-disabled-label-color;
          background-color: $sn-control-disabled-background;
          pointer-events: none;
        }
      }

      [data-arrows] {
        button {
          cursor: default;
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-label] {
    @if $declare {
      background-color: $sn-control-field-label-background;
      padding: $sn-control-field-label-padding;
      display: flex;
      align-items: center;
      color: $sn-control-field-label-color;
      white-space: nowrap;
    }
  }

  #{$context} #{$wrapper} [data-content] {
    @if $declare {
      flex: 1;
      max-width: 100%;
      box-sizing: border-box;
    }

    [data-label-icon] {
      @include sn-icon((color: $sn-primary-text-light-color), '&');
    }

    input, textarea {
      @if $declare {
        color: $sn-primary-text-color;
        background-color: $sn-control-background;
        border: 0;
        padding: 0;
        font-family: inherit;
        resize: none;
        position: relative;
        display: inline-block;
        width: 100%;
        min-width: 0;
      }

      &[type='number']::-webkit-outer-spin-button,
      &[type='number']::-webkit-inner-spin-button {
        @if $declare {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      &[type='number'] {
        @if $declare {
          -moz-appearance: textfield;
        }
      }

      &:focus {
        @if $declare {
          outline: 0;
        }
      }

      &[readonly='true'] {
        @if $declare {
          pointer-events: none;
        }
      }
    }

    [data-warning] {
      @if $declare {
        [data-sn-icon] {
          @include sn-icon((color: $sn-fail-color), '&');
        }
      }
    }

    [data-checked] {
      @if $declare {
        [data-sn-icon] {
          @include sn-icon((color: $sn-success-color), '&');
        }
      }
    }

    [data-loading] {
      @if $declare {
        [data-spinner] {
          @include sn-spinner((color: $sn-primary-text-light-color), '&');
        }
      }
    }

    [data-view], [data-reset], [data-copy] {
      @if $declare {
        border: 0;
        background-color: transparent;
        color: $sn-primary-text-light-color;
        cursor: pointer;
        padding: 0;
        line-height: 1;
        display: flex;
      }

      &:focus {
        @if $declare {
          outline: 0;
        }
      }

      [data-sn-icon] {
        @include sn-icon((color: $sn-primary-text-light-color), '&');
      }

      &:hover {
        [data-sn-icon] {
          @include sn-icon((color: $sn-primary-text-dark-color), '&');
        }
      }
    }
  }

  [data-arrows] {
    @if $declare {
      height: 100%;
      margin-left: $sn-gutter-small;
    }

    button {
      @if $declare {
        padding: 0;
        margin: 0;
        min-height: 50%;
        border: 0;
        border-radius: $sn-corner-small;
        cursor: pointer;
        background-color: transparent;
        color: $sn-primary-text-light-color;
        display: flex;

        [data-sn-icon] {
          @include sn-icon((color: $sn-primary-text-light-color), '&');
        }

        &:focus {
          outline: 0;
        }

        &:hover {
          [data-sn-icon] {
            @include sn-icon((color: $sn-primary-text-dark-color), '&');
          }
        }

        &:first-child {
          align-items: flex-start;
        }

        &:last-child {
          align-items: flex-end;
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'input compiled';
}
