<ng-container [formGroup]="form">
  <div _in data-label *ngIf="!!label">{{label}}</div>
  <sn-stack _in #layoutRef data-content [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.small" [align]="ui.align.center">
    <sn-icon _in data-label-icon *ngIf="!!icon && !label && !(features | includes : ui.feature.multiline)"
              [icon]="icon">
    </sn-icon>

    <input _in #maskedRef *ngIf="!!mask || transform === textTransform.ranks; else inputTemplate"
           formControlName="formatted"
           type="tel"
           [name]="name"
           (focusin)="focused = true"
           (focusout)="focused = false"
           [placeholder]="mask"
           [readonly]="readonly ? readonly : null"
           [autocomplete]="autocomplete"
           (paste)="pasteMask($event)"
           (keydown)="keydownMask($event)">

    <ng-template #inputTemplate>
      <textarea _in *ngIf="features | includes: ui.feature.multiline; else singleLineTemplate"
                #valueRef
                formControlName="input"
                [name]="name"
                [placeholder]="placeholder"
                [attr.rows]="rows"
                [readonly]="readonly ? readonly : null"
                (focusin)="focused = true"
                (focusout)="focused = false"
                (keyup)="keyup()">
      </textarea>
      <ng-template #singleLineTemplate>
        <input _in #valueRef
               formControlName="input"
               [name]="name"
               [type]="type === ui.input.type.password && view.password.display ? ui.input.type.text : type"
               [placeholder]="placeholder"
               [readonly]="readonly ? readonly : null"
               [autocomplete]="autocomplete"
               [min]="min"
               [max]="max"
               (focusin)="focused = true"
               (focusout)="focused = false"
               (keydown)="keydown($event)"
               (keyup)="keyup()">
      </ng-template>
    </ng-template>

    <div _in data-loading *ngIf="state === ui.state.loading">
      <sn-spinner _in data-spinner></sn-spinner>
    </div>

    <div _in data-warning *ngIf="state === ui.state.warning">
      <sn-icon _in [icon]="ui.icons.warning"></sn-icon>
    </div>

    <div _in data-checked *ngIf="state === ui.state.checked">
      <sn-icon _in [icon]="ui.icons.checked"></sn-icon>
    </div>

    <button _in data-view *ngIf="type === ui.input.type.password"
            type="button"
            (click)="view.password.display = !view.password.display" tabindex="-1">
      <sn-icon _in [icon]="view.password.display ? ui.icons.viewHide : ui.icons.view"></sn-icon>
    </button>

    <button _in data-copy *ngIf="features | includes: ui.feature.copy" tabindex="-1"
            type="button"
            [snClipboard]="inputControl.value || formattedControl.value"
            (onSuccess)="copy()">
      <sn-icon _in [icon]="copied ? ui.icons.animated.success : ui.icons.copy"></sn-icon>
    </button>

    <button _in data-reset *ngIf="features | includes: ui.feature.allowEmpty" tabindex="-1"
            type="button"
            (click)="clear($event)">
      <sn-icon _in [icon]="ui.icons.closeSmall"></sn-icon>
    </button>

    <div _in data-arrows *ngIf="type === ui.input.type.number">
      <button _in type="button" [disabled]="inputControl.disabled" (click)="setNumber(step || 1)" tabindex="-1">
        <sn-icon _in [icon]="ui.icons.smallUp"></sn-icon>
      </button>
      <button _in type="button" [disabled]="inputControl.disabled" (click)="setNumber(-step || -1)" tabindex="-1">
        <sn-icon _in [icon]="ui.icons.smallDown"></sn-icon>
      </button>
    </div>
  </sn-stack>
</ng-container>
