<sn-container>

  <sn-app-page-header [icon]="localUi.icons.avatar"
                      title="Avatar"
                      i18n-title="@@label.avatar"
                      [teaser]="handbook.elements.components.avatar.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>
          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document let-width="width" let-height="height">
                <sn-row>
                  <sn-col [desktop]="3" [tablet]="12" [mobile]="12">
                    <sn-block title="Elon Musk"
                              i18n-title="@@label.elon_musk"
                              [padding]="ui.gutter.normal"
                              [width]="ui.width.fluid">
                      <sn-stack [align]="ui.align.center">
                        <sn-avatar [size]="sizeControl.value"
                                   [shape]="shapeControl.value"
                                   [icon]="sketchControl.value === sketches.icon ? ui.icons.user : null"
                                   [name]="sketchControl.value === sketches.initials ? 'Elon' : null"
                                   [surname]="sketchControl.value === sketches.initials ? 'Mask' : null"
                                   [image]="sketchControl.value === sketches.image ? 'assets/images/elon.jpeg' : null"
                                   [attributes]="attributesControl.value ? {'test': 'assets/images/elon.jpeg'} : null">
                          <sn-dot *ngIf="dotControl.value"
                                  [color]="ui.color.secondary"></sn-dot>
                        </sn-avatar>
                      </sn-stack>
                    </sn-block>
                  </sn-col>

                  <sn-col [desktop]="6" [tablet]="12" [mobile]="12">
                    <sn-block title="Inventors"
                              i18n-title="@@label.inventors"
                              [padding]="ui.gutter.normal"
                              [width]="ui.width.fluid">
                      <sn-stack [align]="ui.align.center">
                        <sn-avatars-list [size]="sizeControl.value"
                                         [max]="maxControl.value">
                          <sn-avatar [icon]="sketchControl.value === sketches.icon ? ui.icons.user : null"
                                     [name]="sketchControl.value === sketches.initials ? 'Mark' : null"
                                     [surname]="sketchControl.value === sketches.initials ? 'Zuckerberg' : null"
                                     [image]="sketchControl.value === sketches.image ? 'assets/images/mark.jpeg' : null"
                                     [attributes]="attributesControl ? {'test': 'assets/images/mark.jpeg'} : null">
                          </sn-avatar>
                          <sn-avatar [icon]="sketchControl.value === sketches.icon ? ui.icons.user : null"
                                     [name]="sketchControl.value === sketches.initials ? 'Bill' : null"
                                     [surname]="sketchControl.value === sketches.initials ? 'Gates' : null"
                                     [image]="sketchControl.value === sketches.image ? 'assets/images/bill.jpeg' : null"
                                     [attributes]="attributesControl ? {'test': 'assets/images/bill.jpeg'} : null">
                          </sn-avatar>
                          <sn-avatar [icon]="sketchControl.value === sketches.icon ? ui.icons.user : null"
                                     [name]="sketchControl.value === sketches.initials ? 'Steve' : null"
                                     [surname]="sketchControl.value === sketches.initials ? 'Jobs' : null"
                                     [image]="sketchControl.value === sketches.image ? 'assets/images/steve.jpeg' : null"
                                     [attributes]="attributesControl ? {'test': 'assets/images/steve.jpeg'} : null">
                          </sn-avatar>
                          <sn-avatar [icon]="sketchControl.value === sketches.icon ? ui.icons.user : null"
                                     [name]="sketchControl.value === sketches.initials ? 'Elon' : null"
                                     [surname]="sketchControl.value === sketches.initials ? 'Mask' : null"
                                     [image]="sketchControl.value === sketches.image ? 'assets/images/elon.jpeg' : null"
                                     [attributes]="attributesControl ? {'test': 'assets/images/elon.jpeg'} : null">
                          </sn-avatar>
                        </sn-avatars-list>
                      </sn-stack>
                    </sn-block>
                  </sn-col>

                  <sn-col [desktop]="3" [tablet]="12" [mobile]="12">
                    <sn-block title="Inventors"
                              i18n-title="@@label.inventors"
                              [padding]="ui.gutter.normal"
                              [width]="ui.width.fluid">
                      <sn-stack [align]="ui.align.center">
                        <sn-avatars-group [size]="sizeControl.value"
                                          [total]="totalControl.value">
                          <sn-avatar [icon]="sketchControl.value === sketches.icon ? ui.icons.user : null"
                                     [name]="sketchControl.value === sketches.initials ? 'Mark' : null"
                                     [surname]="sketchControl.value === sketches.initials ? 'Zuckerberg' : null"
                                     [image]="sketchControl.value === sketches.image ? 'assets/images/mark.jpeg' : null"
                                     [attributes]="attributesControl ? {'test': 'assets/images/mark.jpeg'} : null">
                          </sn-avatar>
                          <sn-avatar [icon]="sketchControl.value === sketches.icon ? ui.icons.user : null"
                                     [name]="sketchControl.value === sketches.initials ? 'Bill' : null"
                                     [surname]="sketchControl.value === sketches.initials ? 'Gates' : null"
                                     [image]="sketchControl.value === sketches.image ? 'assets/images/bill.jpeg' : null"
                                     [attributes]="attributesControl ? {'test': 'assets/images/bill.jpeg'} : null">
                          </sn-avatar>
                          <sn-avatar [icon]="sketchControl.value === sketches.icon ? ui.icons.user : null"
                                     [name]="sketchControl.value === sketches.initials ? 'Steve' : null"
                                     [surname]="sketchControl.value === sketches.initials ? 'Jobs' : null"
                                     [image]="sketchControl.value === sketches.image ? 'assets/images/steve.jpeg' : null"
                                     [attributes]="attributesControl ? {'test': 'assets/images/steve.jpeg'} : null">
                          </sn-avatar>
                          <sn-avatar [icon]="sketchControl.value === sketches.icon ? ui.icons.user : null"
                                     [name]="sketchControl.value === sketches.initials ? 'Elon' : null"
                                     [surname]="sketchControl.value === sketches.initials ? 'Mask' : null"
                                     [image]="sketchControl.value === sketches.image ? 'assets/images/elon.jpeg' : null"
                                     [attributes]="attributesControl ? {'test': 'assets/images/elon.jpeg'} : null">
                          </sn-avatar>
                        </sn-avatars-group>
                      </sn-stack>
                    </sn-block>
                  </sn-col>

                </sn-row>
              </ng-template>
            </app-browser-preview>
          </sn-col>
          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="size"
                                 i18n="@@label.size">Size
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="size"
                               placeholder="Normal"
                               i18n-placeholder="@@label.normal"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Tiny"
                                        i18n-label="@@label.tiny"
                                        [icon]="localUi.icons.tiny"
                                        [key]="ui.size.tiny"></sn-select-option>
                      <sn-select-option label="Small"
                                        i18n-label="@@label.small"
                                        [icon]="localUi.icons.small"
                                        [key]="ui.size.small"></sn-select-option>
                      <sn-select-option label="Normal"
                                        i18n-label="@@label.normall"
                                        [icon]="localUi.icons.normal"
                                        [key]="ui.size.normal"></sn-select-option>
                      <sn-select-option label="Large"
                                        i18n-label="@@label.large"
                                        [icon]="localUi.icons.large"
                                        [key]="ui.size.large"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="shape"
                                 i18n="@@label.shape">Shape
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="shape"
                               placeholder="Circle"
                               i18n-placeholder="@@label.circle"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Circle"
                                        i18n-label="@@label.circle"
                                        [icon]="localUi.icons.circle"
                                        [key]="ui.shape.circle"></sn-select-option>
                      <sn-select-option label="Square"
                                        i18n-label="@@label.square"
                                        [icon]="localUi.icons.square"
                                        [key]="ui.shape.square"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label i18n="@@label.features">Features
                  </sn-form-label>
                  <sn-switcher formControlName="sketch">
                    <sn-switcher-option label="Icon"
                                        i18n-label="@@label.icon"
                                        [value]="sketches.icon"></sn-switcher-option>
                    <sn-switcher-option label="Initials"
                                        i18n-label="@@label.initials"
                                        [value]="sketches.initials"></sn-switcher-option>
                    <sn-switcher-option label="Image"
                                        i18n-label="@@label.image"
                                        [value]="sketches.image"></sn-switcher-option>
                  </sn-switcher>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="dot"
                                   label="Dot"
                                   i18n-label="@@label.dot"></sn-checkbox>
                    </sn-col>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="attributes" label="Attributes"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="max"
                                 i18n="@@label.avatars_in_list">Avatars in list
                  </sn-form-label>
                  <sn-form-control>
                    <sn-input formControlName="max"
                              [min]="1"
                              [max]="4"
                              [type]="ui.input.type.number">
                    </sn-input>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="total"
                                 i18n="@@label.avatars_in_group">Avatars in group
                  </sn-form-label>
                  <sn-form-control>
                    <sn-input formControlName="total"
                              [min]="4"
                              [max]="99"
                              [type]="ui.input.type.number">
                    </sn-input>
                  </sn-form-control>
                </sn-form-item>
              </sn-stack>
            </sn-form>
          </sn-col>
        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'avatar-test', type: 'AvatarTestComponent'}"
                scss="elements/avatar"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Avatar component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="avatar-test.component.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-avatar
                  ]]>
                  <ng-container *ngIf="sizeControl.value">
                    <![CDATA[
                    [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="shapeControl.value">
                    <![CDATA[
                    [shape]="ui.shape.]]>{{shapeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container [ngSwitch]="sketchControl.value">
                    <ng-container *ngSwitchCase="sketches.icon">
                      <![CDATA[
                      [icon]="ui.icons.user"]]>
                    </ng-container>
                    <ng-container *ngSwitchCase="sketches.initials">
                      <![CDATA[
                      name="Name"
                      surname="Surname"
                      ]]>
                    </ng-container>
                    <ng-container *ngSwitchCase="sketches.image">
                      <![CDATA[
                      image="assets/images/bob.jpeg"]]>
                    </ng-container>
                    <ng-container *ngIf="attributesControl.value">
                      <![CDATA[
                      [attributes]="{'srcset': 'assets/images/bob.jpeg'}"]]>
                    </ng-container>
                  </ng-container>

                  <![CDATA[>]]>
                  <ng-container *ngIf="dotControl.value">
                    <![CDATA[
                    <sn-dot [color]="ui.color.green"></sn-dot>
                    ]]>
                  </ng-container>
                  <![CDATA[
                </sn-avatar>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>

          </sn-accordion-section>
          <sn-accordion-section title="Avatars list component template"
                                i18n-title="@@label.avatars_list_component">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="avatar-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-avatars-list
                  ]]>
                  <ng-container *ngIf="sizeControl.value">
                    <![CDATA[
                    [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="maxControl.value">
                    <![CDATA[
                    [max]="]]>{{maxControl.value}}<![CDATA["]]>
                  </ng-container>
                  <![CDATA[>]]>
                  <ng-container *ngFor="let av of 4 | mockArray">
                    <![CDATA[
                    <sn-avatar
                      ]]>
                      <ng-container [ngSwitch]="sketchControl.value">
                        <ng-container *ngSwitchCase="sketches.icon">
                          <![CDATA[
                          [icon]="ui.icons.user"]]>
                        </ng-container>
                        <ng-container *ngSwitchCase="sketches.initials">
                          <![CDATA[
                          name="Name"
                          surname="Surname"
                          ]]>
                        </ng-container>
                        <ng-container *ngSwitchCase="sketches.image">
                          <![CDATA[
                          image="assets/images/bob.jpeg"]]>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="attributesControl.value">
                        <![CDATA[
                        [attributes]="{'srcset': 'assets/images/bob.jpeg'}"]]>
                      </ng-container>
                      <![CDATA[>
                    </sn-avatar>
                    ]]>
                  </ng-container>
                  <![CDATA[
                </sn-avatars-list>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>

          </sn-accordion-section>
          <sn-accordion-section title="Avatars group component template"
                                i18n-title="@@label.avatars_group_component">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="avatar-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-avatars-group
                  ]]>
                  <ng-container *ngIf="sizeControl.value">
                    <![CDATA[
                    [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                  </ng-container>
                  <ng-container *ngIf="totalControl.value">
                    <![CDATA[
                    [total]="]]>{{totalControl.value}}<![CDATA["]]>
                  </ng-container>
                  <![CDATA[>]]>
                  <ng-container *ngFor="let av of 5 | mockArray">
                    <![CDATA[
                    <sn-avatar
                      ]]>
                      <ng-container [ngSwitch]="sketchControl.value">
                        <ng-container *ngSwitchCase="sketches.icon">
                          <![CDATA[
                          [icon]="ui.icons.user"]]>
                        </ng-container>
                        <ng-container *ngSwitchCase="sketches.initials">
                          <![CDATA[
                          name="Name"
                          surname="Surname"
                          ]]>
                        </ng-container>
                        <ng-container *ngSwitchCase="sketches.image">
                          <![CDATA[
                          image="assets/images/bob.jpeg"]]>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="attributesControl.value">
                        <![CDATA[
                        [attributes]="{'srcset': 'assets/images/bob.jpeg'}"]]>
                      </ng-container>
                      <![CDATA[>
                    </sn-avatar>
                    ]]>
                  </ng-container>
                  <![CDATA[
                </sn-avatars-group>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-avatar"
                             [api]="api.avatar">
          </app-component-api>
          <app-component-api selector="sn-avatars-list"
                             [api]="api.avatarsList">
          </app-component-api>
          <app-component-api selector="sn-avatars-group"
                             [api]="api.avatarsGroup">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>

  </sn-tabs>

</sn-container>
