<div _pi *ngIf="loading" data-loading>
  <sn-spinner _pi></sn-spinner>
</div>
<ng-template #iconTemplate>
  <sn-icon _pi [icon]="icon"></sn-icon>
</ng-template>
<ng-template *ngTemplateOutlet="pictureCopyrightTemplate"></ng-template>

<ng-container *ngIf="!!gravityPoint; else defaultTemplate">

  <div _pi data-wrapper *ngIf="features | includes : feature.debug; else noDebugTemplate"
       [style.transform]="'translate(' + x + 'px,' + y + 'px)'">

    <img _pi *ngIf="!!url; else iconTemplate"
         [src]="url"
         [alt]="alt"
         [title]="title"
         [snBinding]="{attributes: attributes}">

    <div _pi data-gravity-point
         [ngStyle]="{'top.%': gravityPoint.y, 'left.%': gravityPoint.x}"></div>
  </div>

  <ng-template #noDebugTemplate>
    <img _pi *ngIf="!!url; else iconTemplate"
         [src]="url"
         [alt]="alt"
         [title]="title"
         [snBinding]="{attributes: attributes}"
         [style.transform]="'translate(' + x + 'px,' + y + 'px)'">
  </ng-template>

</ng-container>

<ng-template #defaultTemplate>
  <img _pi #imageRef *ngIf="!!src else iconTemplate"
       [src]="src"
       [alt]="alt"
       [title]="title"
       [snBinding]="{attributes: attributes}">
</ng-template>

