<ng-container [formGroup]="form">
  <sn-stack _ta [align]="ui.align.stretch" [gutter]="ui.gutter.none">
    <ng-container *snMinFor="ui.breakpoint.desktop">
      <sn-stack _ta data-feature
                *ngIf="(features | includes : [ui.feature.reload, ui.feature.search]) || !!actionsTemplate"
                [attr.data-has-filters]="!!filtersTemplate"
                [orientation]="ui.orientation.horizontal"
                [align]="ui.align.center"
                [justify]="ui.justify.between">
        <sn-stack _ta *ngIf="(features | includes : ui.feature.reload) || !!actionsTemplate"
                  [orientation]="ui.orientation.horizontal"
                  [align]="ui.align.center">
          <sn-button _ta data-button *ngIf="features | includes : ui.feature.reload"
                     [text]="'action.reload' | translate"
                     [icon]="progress.loading ? ui.icons.animated.reload : ui.icons.reload"
                     [outline]="ui.outline.transparent"
                     [disabled]="progress.loading"
                     (click)="load(); reloaded.emit()">
          </sn-button>
          <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
        </sn-stack>
        <sn-input _ta data-search *ngIf="features | includes : ui.feature.search"
                  formControlName="q"
                  [size]="ui.size.small"
                  [icon]="ui.icons.search"
                  [features]="[ui.feature.allowEmpty]"
                  [placeholder]="'label.search' | translate">
        </sn-input>
      </sn-stack>

      <div _ta data-filters *ngIf="!!filtersTemplate">
        <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
      </div>
    </ng-container>

    <sn-stack _ta [align]="ui.align.stretch">
      <div _ta *snMinFor="ui.breakpoint.desktop" data-table>
        <table _ta>
          <div _ta data-spinner *ngIf="source.length && progress.loading">
            <sn-spinner _ta [size]="ui.size.large"></sn-spinner>
          </div>

          <thead _ta>
          <tr _ta>
            <th _ta data-actions *ngIf="!!rowActionsTemplate"></th>
            <th _ta *ngFor="let column of columns"
                [attr.data-sortable]="!!column.orderBy"
                [style.text-align]="column.align"
                [style.width]="column.width"
                (click)="column.orderBy ? sorting(column.orderBy) : null">
              <span _ta>
                {{column.title}}
                <i _ta *ngIf="!!orderByControl.value && (orderByControl.value === '-' + column.orderBy
                    || orderByControl.value === column.orderBy)"
                   [innerHTML]="(orderByControl.value === column.orderBy) ? '&#8593;' : '&#8595;'"></i>
              </span>
            </th>
          </tr>
          </thead>

          <tbody _ta>
          <ng-container *ngIf="source.length; else noDataTemplate">
            <tr _ta *ngFor="let row of source; let i = index" [class.even]="!(i % 2)">
              <td _ta *ngIf="!!rowActionsTemplate" data-actions>
                <sn-button _ta data-trigger
                           [outline]="ui.outline.transparent"
                           [icon]="ui.icons.actions"
                           (attached)="popover = $event"
                           [snPopover]="{
                              context: 'table-row-action',
                              contentTemplate: dropdownTemplate,
                              behaviour: ui.behaviour.dropdown,
                              trigger: ui.trigger.click,
                              padding: ui.gutter.small,
                              minWidth: '150px'
                            }">
                </sn-button>
                <ng-template #dropdownTemplate>
                  <ng-container *ngTemplateOutlet="rowActionsTemplate;
                    context: {row: row, hide: hideActions.bind(this)}">
                  </ng-container>
                </ng-template>
              </td>
              <td _ta *ngFor="let column of columns">
                <ng-container *ngTemplateOutlet="column.tableCellTemplate; context: row"></ng-container>
              </td>
            </tr>
          </ng-container>
          <ng-template #noDataTemplate>
            <ng-container *ngIf="!progress.loading; else skeletonTemplate">
              <tr _ta data-nodata>
                <td _ta [attr.colspan]="(columns?.length || 1) + !!rowActionsTemplate">
                  <sn-icon _ta [icon]="ui.icons.neutral"></sn-icon>
                </td>
              </tr>
            </ng-container>
            <ng-template #skeletonTemplate>
              <tr _ta data-loading>
                <td _ta [attr.colspan]="(columns?.length || 1) + !!rowActionsTemplate">
                  <sn-skeleton _ta [lines]="4"></sn-skeleton>
                </td>
              </tr>
            </ng-template>
          </ng-template>
          </tbody>
        </table>
      </div>

      <sn-stack _ta *snMaxFor="ui.breakpoint.tablet" [align]="ui.align.stretch">
        <sn-stack _ta data-feature [align]="ui.align.stretch">
          <sn-stack _ta *ngIf="(features | includes : ui.feature.reload) || !!actionsTemplate"
                    [orientation]="ui.orientation.horizontal" [wrap]="ui.wrap.wrap">
            <sn-button _ta data-button *ngIf="features | includes : ui.feature.reload"
                       [text]="'action.reload' | translate"
                       [icon]="progress.loading ? ui.icons.animated.reload : ui.icons.reload"
                       [outline]="ui.outline.transparent"
                       [disabled]="progress.loading"
                       (click)="load(); reloaded.emit()">
            </sn-button>
            <sn-stack _ta *ngIf="!!actionsTemplate" [orientation]="ui.orientation.horizontal" [wrap]="ui.wrap.wrap">
              <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
            </sn-stack>
          </sn-stack>
          <sn-input _ta data-search *ngIf="features | includes : ui.feature.search"
                    formControlName="q"
                    [icon]="ui.icons.search"
                    [features]="[ui.feature.allowEmpty]"
                    [placeholder]="'label.search' | translate">
          </sn-input>
          <ng-container *ngIf="!!filtersTemplate">
            <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
          </ng-container>
        </sn-stack>
        <ng-template #noDataCardTemplate>
          <sn-stack _ta *ngIf="!progress.loading; else skeletonCardTemplate" [align]="ui.align.center">
            <sn-icon _ta data-nodata [icon]="ui.icons.neutral"></sn-icon>
          </sn-stack>
          <ng-template #skeletonCardTemplate>
            <ng-container *ngFor="let card of 5 | mockArray">
              <sn-skeleton _ta [type]="ui.skeleton.type.card"></sn-skeleton>
            </ng-container>
          </ng-template>
        </ng-template>
        <div _ta data-spinner *ngIf="source.length && progress.loading">
          <sn-spinner _ta [size]="ui.size.large"></sn-spinner>
        </div>
        <ng-container *ngIf="source.length; else noDataCardTemplate">
          <sn-card _ta *ngFor="let row of source; let i = index">
            <table _ta data-line cellpadding="0" cellspacing="0">
              <ng-container *ngFor="let column of columns">
                <tr _ta *ngIf="!!column.tableCellTemplate">
                  <td _ta>
                    <b _ta *ngIf="!!column.title">{{column.title}}</b>
                  </td>
                  <td _ta>
                    <ng-container *ngTemplateOutlet="column.tableCellTemplate; context: row"></ng-container>
                  </td>
                </tr>
              </ng-container>
            </table>
            <ng-template *ngIf="!!rowActionsTemplate" #cardActionsTemplate let-hide="hide">
              <ng-container *ngTemplateOutlet="rowActionsTemplate;
                    context: {row: row, hide: hideActions.bind(this)}">
              </ng-container>
            </ng-template>
          </sn-card>
        </ng-container>
      </sn-stack>

      <ng-container *ngIf="!!count">
        <div _ta data-pagination>
          <sn-pager _ta data-pages formControlName="offset"
                    [count]="count" [pageSize]="firstControl.value">
          </sn-pager>
          <sn-select _ta *snMinFor="ui.breakpoint.desktop" formControlName="first" [size]="ui.size.small">
            <sn-select-option _ta label="10" key="10"></sn-select-option>
            <sn-select-option _ta label="20" key="20"></sn-select-option>
            <sn-select-option _ta label="30" key="30"></sn-select-option>
          </sn-select>
        </div>
      </ng-container>
    </sn-stack>
  </sn-stack>
</ng-container>
