@import 'sn-variables';
@import 'sn-hosts';
@import 'sn-functions';
@import 'sn-utils';
@import 'forms/button/button';
@import 'forms/input/input';
@import 'layout/responsive/responsive';
@import 'layout/card/card';
@import 'elements/icon/icon';

@mixin sn-table($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    min-height: 200px,
    min-width: 400px
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-table-host)} {
    @if $declare {
      @include reset-default();
      display: block;
      padding: 0 $sn-gutter-normal $sn-gutter-normal $sn-gutter-normal;
    }

    @include min-for-desktop() {
      min-width: map-get($vars, min-width);
    }

    @include sn-button((
      sizes: (
        schemes: (
          secondary: (
            inverse-color: $sn-gray-light-50-color
          )
        ),
        normal: (
          padding: 0 $sn-gutter-small,
        )
      )
    ), '&');

    @include sn-card((border: 1px solid $sn-gray-light-2-color));

  }

  #{$wrapper} #{$context} [data-feature] {
    background-color: $sn-secondary-background;
    margin-left: -$sn-gutter-normal;
    margin-right: -$sn-gutter-normal;
    padding: $sn-gutter-small $sn-gutter-normal;

    &[data-has-filters='false'] {
      background-color: $sn-primary-background;
    }
  }

  #{$wrapper} #{$context} [data-filters] {
    padding: $sn-gutter-normal 0;
  }

  #{$wrapper} #{$context} [data-table] {
    @if $declare {
      margin-left: -$sn-gutter-normal;
      margin-right: -$sn-gutter-normal;
    }
  }

  #{$wrapper} #{$context} [data-search] {
    @include min-for-desktop() {
      @include sn-input((width: 400px), '&');
    }
  }

  #{$wrapper} #{$context} [data-nodata] {
    @if $declare {
      @include sn-icon((color: $sn-muted-color, size: 80px), '&');
    }
  }

  #{$wrapper} #{$context} [data-line] {
    @if $declare {
      tr {
        td {
          vertical-align: top;
          padding: $sn-gutter-normal $sn-gutter-small;
        }

        &:not(:last-child) {
          td {
            border-bottom: 1px solid $sn-muted-color;
          }
        }

        &:first-child {
          td {
            padding-top: 0;
          }
        }

        &:last-child {
          td {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  #{$wrapper} #{$context} [data-spinner] {
    @if $declare {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($sn-secondary-background, .6);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      z-index: 1;
    }

    [data-sn-icon] {
      @if $declare {
        color: $sn-primary-text-light-color;
      }
    }
  }

  #{$wrapper} #{$context} table {
    @if $declare {
      width: 100%;
      border-collapse: collapse;
      position: relative;
    }

    thead {
      @if $declare {
        background-color: $sn-secondary-background;

        th {
          &[data-actions] {
            width: 72px;
          }

          &[data-sortable=true] {
            cursor: pointer;
          }
        }
      }
    }

    tbody tr {
      @if $declare {
        border-bottom: 1px solid $sn-muted-color;
        transition: all .3s;
        &:nth-child(even) {
          td {
            background-color: $sn-gray-light-2-color;
          }
        }
      }

      &[data-nodata] {
        height: map-get($vars, min-height);
        @if $declare {
          pointer-events: none;
          border-bottom: 0;
        }

        td {
          @if $declare {
            vertical-align: middle;
            text-align: center;

            [data-sn-icon] {
              @include sn-icon((color: $sn-muted-color, size: 80px), '&');
            }
          }
        }
      }

      &[data-loading] {
        height: map-get($vars, min-height);
        @if $declare {
          pointer-events: none;
          border-bottom: 0;
        }
      }

      &:hover {
        @if $declare {
          background-color: $sn-secondary-background;
        }
      }

      td {
        @if $declare {
          background-color: $sn-primary-background;
          color: $sn-primary-text-color;
          &[data-actions] {
            text-align: center;

            [data-trigger] {
              @include sn-button((
                sizes: (
                  normal: (
                    padding: 0 $sn-gutter-normal
                  )
                )
              ), '&');
            }
          }
        }
      }
    }

    th {
      @if $declare {
        padding: $sn-gutter-normal;
        box-sizing: border-box;
      }
    }

    td {
      @if $declare {
        padding: $sn-gutter-small $sn-gutter-normal;
        box-sizing: border-box;
      }
    }
  }

  #{$wrapper} #{$context} [data-pagination] {
    @if $declare {
      display: flex;
      justify-content: center;
      align-items: center;

      [data-pages] {
        flex: 1;
      }
    }
  }
}

@if $sn-debug {
  @debug 'table compiled';
}
