@import 'sn-variables';

:host-context([theme='dark']) {
  table th {
    background-color: $sn-gray-color;
  }
}

:host-context([theme='esanum']) {
  table th {
    background-color: #E5F6F7;
  }
}

:host {
  display: block;
  overflow-x: auto;
}

table[api] {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Oxygen Mono', monospace;

  td, th {
    padding: $sn-gutter-small;
    border: 1px solid $sn-gray-light-2-color;
  }

  th {
    background-color: $sn-secondary-background;
  }

  td:nth-child(1) {
    width: 20%;
  }

  td:nth-child(4) {
    width: 20%;
  }

  td:nth-child(3) {
    width: 40%;
  }
}
