<ng-template #tag let-property="property" let-method="method" let-content="content">
  <app-code-highlight [language]="language.html">
    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="selectorType.Component">
        <span [innerText]="'<' + selector"></span>
        <ng-container *ngIf="property">
          <span> [property]="value"</span>
        </ng-container>

        <ng-container *ngIf="method">
          <span> #{{selector}}</span>
        </ng-container>
        <span [innerText]="'>'"></span>

        <ng-container *ngIf="content">
          <span [innerText]="'...</' + selector + '>'"></span>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="selectorType.Directive">
        <span [innerText]="'<tag [' + selector + ']'"></span>
        <ng-container *ngIf="property">
          <span>="value"</span>
        </ng-container>
        <span [innerText]="'>'"></span>
      </ng-container>

      <ng-container *ngSwitchCase="selectorType.StructuralDirective">
        <span [innerText]="'<tag *' + selector"></span>
        <ng-container *ngIf="property">
          <span>="value"</span>
        </ng-container>
        <span [innerText]="'>'"></span>
      </ng-container>
    </ng-container>
  </app-code-highlight>
</ng-template>

<sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.small">
  <h3>
    <ng-container *ngTemplateOutlet="tag"></ng-container>
  </h3>
  <div *ngIf="(api?.properties || properties) | keyvalue as variables">
    <ng-container *ngTemplateOutlet="tag;context:{property: true}"></ng-container>
    <table api>
      <thead>
      <tr>
        <th i18n="@@label.property">Property</th>
        <th i18n="@@label.type_value">Type / Value</th>
        <th i18n="@@label.description">Description</th>
        <th i18n="@@label.default">Default</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let variable of variables">
        <ng-container *ngIf="variable.value as property">
          <td>
            [{{property.name || variable.key}}]
          </td>
          <td>
            <span *ngIf="property.type">{{property.type}}</span>
            <span *ngIf="property.path">{{property.path}}.</span>
            <ul>
              <li *ngFor="let option of property.options">
                {{option}}
              </li>
            </ul>
          </td>
          <td>
            {{property.description | empty}}
          </td>
          <td>
            {{property.default | empty}}
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="(api?.methods || methods) | keyvalue as variables">
    <ng-container *ngTemplateOutlet="tag;context:{method: true}"></ng-container>

    <table api>
      <thead>
      <tr>
        <th i18n="@@label.method">Method</th>
        <th i18n="@@label.description">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let variable of variables">
        <td>
          {{variable.key}}()
        </td>
        <ng-container *ngIf="variable.value as method">
          <td>
            {{method.description | empty}}
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="(api?.content || content) | keyvalue as variables">
    <ng-container *ngTemplateOutlet="tag;context:{content: true}"></ng-container>

    <table api>
      <thead>
      <tr>
        <th i18n="@@label.selector">Selector</th>
        <th i18n="@@label.description">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let variable of variables">
        <ng-container *ngIf="variable.value as content">
          <td>
            {{content.selector}}
          </td>
          <td>
            {{content.description | empty}}
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</sn-stack>
