<ng-template #menuTemplate let-menu="menu" let-orientation="orientation" let-spacing="spacing">
  <div _lh data-menu *ngIf="!!menu">
    <sn-menu _lh [orientation]="orientation"
              [gutter]="spacing"
              (selected)="hide()">
      <sn-menu-item _lh *ngFor="let item of menu.items"
                     [title]="item.title"
                     [icon]="item.icon"
                     [matching]="item.matching"
                     [target]="item.target"
                     [link]="item.link"
                     [fragment]="item.fragment"
                     [disabled]="item.disabled">
      </sn-menu-item>
    </sn-menu>
  </div>
</ng-template>

<ng-container *snMinFor="ui.breakpoint.desktop">
  <sn-container _lh data-container data-desktop>
    <div _lh data-logo *ngIf="headerLogoTemplate">
      <ng-container *ngTemplateOutlet="headerLogoTemplate"></ng-container>
    </div>

    <ng-container *ngTemplateOutlet="menuTemplate;
      context:{menu: menu, orientation: ui.orientation.horizontal, spacing: ui.gutter.normal}">
    </ng-container>

    <sn-stack _lh *ngIf="!!contentTemplate || !!headerActionsTemplate || !!headerUserbarTemplate"
               data-actions
               [orientation]="ui.orientation.horizontal"
               [gutter]="ui.gutter.small"
               [align]="ui.align.stretch">
      <div _lh data-content *ngIf="contentTemplate">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </div>
      <ng-container *ngTemplateOutlet="headerActionsTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="headerUserbarTemplate"></ng-container>
    </sn-stack>
  </sn-container>
</ng-container>

<ng-container *snFor="ui.breakpoint.tablet">
  <sn-container _lh data-container data-desktop>
    <div _lh data-logo *ngIf="headerLogoTemplate">
      <ng-container *ngTemplateOutlet="headerLogoTemplate"></ng-container>
    </div>

    <ng-container *ngTemplateOutlet="menuTemplate;
    context: {menu: menu, orientation: ui.orientation.horizontal, spacing: ui.gutter.normal}">
    </ng-container>

    <sn-stack _lh data-actions
               [orientation]="ui.orientation.horizontal"
               [gutter]="ui.gutter.small"
               [align]="ui.align.stretch">
      <ng-container *ngTemplateOutlet="headerActionsTemplate"></ng-container>
      <sn-button _lh data-burger
                  *ngIf="!!headerUserbarTemplate || !!contentTemplate"
                  [icon]="!!reference.popover ? ui.icons.closeSmall : ui.icons.menu"
                  [outline]="ui.outline.transparent"
                  [snPopover]="{
                  contentTemplate: dropdownTemplate,
                  trigger: ui.trigger.click,
                  placement: ui.placement.fixed
                }"
                  (attached)="reference.popover = $event; cd.detectChanges()"
                  (removed)="reference.popover = null; cd.detectChanges()">
      </sn-button>
      <ng-template #dropdownTemplate>
        <sn-stack _lh [align]="ui.align.stretch" [gutter]="ui.gutter.small">
          <ng-container *ngIf="!!headerUserbarTemplate">
            <ng-container *ngTemplateOutlet="headerUserbarTemplate;
            context: {hide: this.hide.bind(this)}">
            </ng-container>
            <hr _lh *ngIf="!!contentTemplate">
          </ng-container>
          <div _lh data-content *ngIf="!!contentTemplate">
            <ng-container *ngTemplateOutlet="contentTemplate;
            context: {hide: this.hide.bind(this)}">
            </ng-container>
          </div>
        </sn-stack>
      </ng-template>
    </sn-stack>
  </sn-container>
</ng-container>

<ng-container *snFor="ui.breakpoint.mobile">
  <sn-container _lh data-container data-mobile>
    <div _lh data-logo *ngIf="headerLogoTemplate">
      <ng-container *ngTemplateOutlet="headerLogoTemplate"></ng-container>
    </div>
    <sn-stack _lh data-actions
               [orientation]="ui.orientation.horizontal"
               [gutter]="ui.gutter.small"
               [align]="ui.align.stretch">
      <ng-container *ngTemplateOutlet="headerActionsTemplate"></ng-container>
      <sn-button _lh data-burger
                  [icon]="!!reference.popover ? ui.icons.closeSmall : ui.icons.menu"
                  [outline]="ui.outline.transparent"
                  [snPopover]="{
                    contentTemplate: dropdownTemplate,
                    trigger: ui.trigger.click
                  }"
                  (attached)="reference.popover = $event; cd.detectChanges()"
                  (removed)="reference.popover = null; cd.detectChanges()">
      </sn-button>
      <ng-template #dropdownTemplate>
        <sn-stack _lh [align]="ui.align.stretch">
          <ng-container *ngTemplateOutlet="headerUserbarTemplate;
            context: {hide: this.hide.bind(this)}">
          </ng-container>
          <ng-container *ngTemplateOutlet="menuTemplate;
            context: {menu: menu, orientation: ui.orientation.vertical, spacing: ui.gutter.small}">
          </ng-container>
          <div _lh data-content *ngIf="!!contentTemplate">
            <ng-container *ngTemplateOutlet="contentTemplate;
              context: {hide: this.hide.bind(this)}">
            </ng-container>
          </div>
        </sn-stack>
      </ng-template>
    </sn-stack>
  </sn-container>
</ng-container>


