@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'elements/badge/badge';
@import 'elements/icon/icon';

$tab-marker-height: 4px;

@mixin sn-link($passed: (), $context: null, $strategy: 'changes') {
  $defs: (
    corner: $sn-corner-small,
    font-size: $sn-font-size-normal,
    font-weight: null,
    text-transform: null,
    text-decoration: none,
    line-height: null,
    text-align: null,
    padding: null,
    padding-without-badge: null,
    overflow: false,
    pointer-events: null,
    height: null,
    border: null,
    color: $sn-gray-light-75-color,
    background: null,
    inverse-color: $sn-white-color,
    hover-color: $sn-gray-color,
    focus: (
      outline: 1px solid $sn-primary-light-75-color,
      outline-offset: 3px,
      shadow: null
    ),
    toggle: (
      toggle: true,
      margin-left: $sn-gutter-small,
      color: $sn-primary-text-color,
      open-color: $sn-primary-text-color
    ),
    icon: (
      spacing: $sn-gutter-tiny,
      color: null,
      size: 18px
    ),
    badge: (
      margin-left: $sn-gutter-small,
      color: null,
      background: null
    ),
    outlines: (
      'transparent': (
        padding: 0,
        color: null,
        hover: (
          color: null,
          background-color: null,
          border-color: null,
          text-decoration: none
        ),
        active: (
          underline: true,
          background-color: null,
          color: null,
          underline-color: $sn-gray-light-75-color,
          shadow: null,
          divider: (
            display: false,
            divider-width: null,
            divider-height: 100%,
            divider-corner: null,
            divider-color: null
          ),
          badge: (
            color: null,
            background: null
          )
        ),
        orphan: (
          color: $sn-primary-text-light-color,
          hover: (
            color: $sn-primary-text-dark-color,
            background-color: null
          )
        )
      ),
      ghost: (
        padding: $sn-gutter-tiny $sn-gutter-small
      ),
      fill: (
        padding: $sn-gutter-tiny $sn-gutter-small
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-link-host)} {
    @if $declare {
      display: inline-block;
      box-sizing: border-box;
      max-width: 100%;
      transition: transform .15s ease;
      &[data-sn-disabled='true'] {
        [data-link] {
          opacity: .65;
          pointer-events: none;
          cursor: default;
        }
      }
      &[data-sn-orphan='true']:not([data-sn-features*='clickable']) {
        [data-link] {
          cursor: default;
        }
      }
      &[data-sn-with-title='false'] {
        [data-link] [data-sn-icon] {
          margin-right: 0 !important;
        }
      }
      #{$wrapper} [data-link] {
        text-decoration: none;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        position: relative;
        letter-spacing: 0.005em;

        &:focus:not(:focus-visible) {
          outline: 0;
        }

        [data-title] {
          [data-sn-icon], span {
            transition: color .2s;
          }
        }

        [data-empty] {
          width: 30px;
          height: 10px;
          background-color: $sn-primary-text-light-color;
        }
      }

      &[data-sn-context='text'] {
        #{$wrapper} [data-link] {
          display: inline-block;
        }
      }

      &[data-sn-context='box'], &[data-sn-context='menu'] {
        #{$wrapper} [data-link] {
          display: flex;
          align-items: center;
          width: 100%;

          [data-title] {
            display: flex;
            align-items: center;

            [data-sn-icon] {
              line-height: 1;
            }
          }
        }
      }

      &[data-sn-context='menu'][data-sn-outline='transparent'] {
        [data-link][data-active=true], [data-link][data-sn-orphan='false'].active {
          [data-title] span {
            border-bottom: none;
          }

          [data-line] {
            display: block !important;
          }
        }
      }
    }

    @if map-has-key($vars, icon) {
      $icon: map-get($vars, icon);
      &[data-sn-position='left'] {
        [data-sn-icon] {
          margin-right: map-get($icon, spacing);
        }
      }
      &[data-sn-position='right'] {
        [data-sn-icon] {
          margin-left: map-get($icon, spacing);
        }
      }
    }


    &[data-sn-outline='#{$sn-outline-fill-name}'] {
      #{$wrapper} [data-link] {
        color: map-get($vars, inverse-color);
        background-color: map-get($vars, color);

        [data-sn-icon] {
          @include sn-icon((color: map-get($vars, inverse-color)), '&');
        }

        &:hover {
          background-color: map-get($vars, hover-color);
        }

        &:focus {
          box-shadow: 0 1px 5px map-get($vars, color);
        }

        [data-badge] {
          @include sn-badge((
            background: if(map-get($vars, inverse-color), map-get($vars, inverse-color) !important, null),
            color: if(map-get($vars, color), map-get($vars, color) !important, null)
          ), '&');
        }
      }
    }

    &[data-sn-outline='#{$sn-outline-ghost-name}'] {
      #{$wrapper} [data-link] {
        color: map-get($vars, color);
        background-color: transparent;
        border: 1px solid map-get($vars, color);

        [data-sn-icon] {
          @include sn-icon((color: map-get($vars, color)), '&');
        }

        &:hover {
          background-color: map-get($vars, color);
          color: map-get($vars, inverse-color);

          [data-sn-icon] {
            @include sn-icon((color: map-get($vars, inverse-color)), '&');
          }

          [data-badge] {
            @include sn-badge((
              background: if(map-get($vars, inverse-color), map-get($vars, inverse-color) !important, null),
              color: if(map-get($vars, color), map-get($vars, color) !important, null)
            ), '&');
          }

          &[data-active='true'], &.active[data-sn-orphan='false'] {
            [data-title] {
              span {
                border-bottom: 1px solid map-get($vars, inverse-color);
              }
            }
          }
        }

        &:focus {
          box-shadow: 0 1px 5px #{map-get($vars, color)};
        }

        &[data-active='true'], &.active[data-sn-orphan='false'] {
          [data-title] {
            span {
              border-bottom: 1px solid map-get($vars, color);
            }
          }
        }

        [data-badge] {
          @include sn-badge((
            background: if(map-get($vars, color), map-get($vars, color) !important, null),
            color: if(map-get($vars, inverse-color), map-get($vars, inverse-color) !important, null)
          ), '&');
        }
      }
    }

    &[data-sn-outline='#{$sn-outline-transparent-name}'] {
      #{$wrapper} [data-link] {
        color: map-get($vars, color);

        [data-sn-icon] {
          @include sn-icon((color: map-get($vars, color)), '&');
        }

        &:hover {
          color: map-get($vars, hover-color);

          [data-sn-icon] {
            @include sn-icon((color: map-get($vars, hover-color)), '&');
          }
        }

        &:focus-visible {
          @if map-has-key($vars, focus) {
            $focus: map-get($vars, focus);
            @if map-get($focus, outline) != null {
              outline: map-get($focus, outline);
              outline-offset: map-get($focus, outline-offset);
            }
            @if map-get($focus, shadow) != null {
              outline: 0;
              box-shadow: map-get($focus, shadow);
            }
          }
        }

        &[data-active='true'] [data-title], &[data-sn-orphan='false'].active [data-title] {
          @if map-has-key($vars, active) {
            $active: map-get($vars, active);
            span {
              @if map-get($active, underline) == true {
                border-bottom: 1px solid map-get($active, underline-color);
              }
              @if map-get($active, underline) == false {
                border: none;
              }
            }
          }
        }
      }
    }

    @if map-has-key($vars, outlines) {
      @each $outline, $map in map-get($vars, outlines) {
        &[data-sn-outline='#{"" + $outline}'] {
          &[data-sn-orphan='true'] {
            @if map-has-key($map, orphan) {
              $orphan: map-get($map, orphan);
              #{$wrapper} [data-link] {
                color: map-get($orphan, color);

                [data-sn-icon] {
                  @include sn-icon((color: map-get($orphan, color)), '&');
                }

                &:hover {
                  @if map-has-key($orphan, hover) {
                    $hover: map-get($orphan, hover);
                    color: map-get($hover, color);
                    background-color: map-get($hover, background-color);

                    [data-sn-icon] {
                      @include sn-icon((color: map-get($hover, color)), '&');
                    }
                  }
                }
              }
            }
          }

          #{$wrapper} [data-link] {
            padding: map-get($map, padding);
            color: map-get($map, color);
          }

          @if map-has-key($map, hover) {
            $hover: map-get($map, hover);
            #{$wrapper} [data-link][data-active='false']:not(.active), [data-link][data-sn-orphan='true'][data-active='false'] {
              &:hover {
                color: map-get($hover, color);
                background-color: map-get($hover, background-color);
                text-decoration: map-get($hover, text-decoration);

                [data-sn-icon] {
                  @include sn-icon((color: map-get($hover, color)), '&');
                }
              }
            }
          }

          @if map-has-key($map, active) {
            $active: map-get($map, active);
            @if map-has-key($active, divider) {
              $divider: map-get($active, divider);
              @if map-get($divider, display) == true {
                #{$wrapper} [data-link] {
                  &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: map-get($divider, divider-width);
                    border-radius: map-get($divider, divider-corner);
                    background-color: map-get($divider, divider-color);
                    height: map-get($divider, divider-height);
                    display: none;
                  }
                }
              }
            }
            #{$wrapper} [data-link][data-active='true'], [data-link][data-sn-orphan='false'].active {
              background-color: map-get($active, background-color);
              box-shadow: map-get($active, shadow);

              @if map-has-key($active, divider) {
                $divider: map-get($active, divider);
                @if map-get($divider, display) == true {
                  &:after {
                    display: block;
                  }
                }
              }

              [data-title] {
                color: map-get($active, color);

                [data-sn-icon] {
                  @include sn-icon((color: map-get($active, color)), '&');
                }

                span {
                  @if map-get($active, underline) == true {
                    border-bottom: 1px solid map-get($active, underline-color);
                  }
                  @if map-get($active, underline) == false {
                    border: none;
                  }
                }
              }

              @if map-has-key($active, badge) {
                $badge: map-get($active, badge);
                [data-badge] {
                  @include sn-badge((
                    background: map-get($badge, background),
                    color: map-get($badge, color)
                  ), '&');
                }
              }
            }
          }
        }
      }
    }

    &[data-sn-has-badge='false'] {
      [data-link] {
        padding: if(map-get($vars, padding-without-badge), map-get($vars, padding-without-badge) !important, null);
      }
    }
  }

  #{$context} #{$wrapper} [data-link] {
    @if map-has-key($vars, toggle) {
      $toggle: map-get($vars, toggle);
      @if map-get($toggle, toggle) == false {
        [data-toggle] {
          display: none;
        }
      }
      [data-toggle] {
        margin-left: map-get($toggle, margin-left);
        margin-right: 0;
        @include sn-icon((color: map-get($toggle, color)), '&');

        &[data-opened=true] {
          @include sn-icon((color: map-get($toggle, open-color)), '&');
        }
      }
    }

    [data-badge][data-collapsed='true'] {
      @include sn-badge((size: 16px, font-size: 10px, positions: (rightTop: (right: $sn-gutter-tiny, top: $sn-gutter-tiny, transform: none))), '&');
    }

    border-radius: map-get($vars, corner);
    padding: if(map-get($vars, padding), map-get($vars, padding) !important, null);
    height: map-get($vars, height);
    font-size: map-get($vars, font-size);
    font-weight: map-get($vars, font-weight);
    text-transform: map-get($vars, text-transform);
    text-align: map-get($vars, text-align);
    background: map-get($vars, background);
    pointer-events: map-get($vars, pointer-events);
    line-height: map-get($vars, line-height);
    border: if(map-get($vars, border), map-get($vars, border) !important, null);

    &[data-active='false']:not(.active), &[data-sn-orphan='true'][data-active='false'] {
      text-decoration: map-get($vars, text-decoration);
    }

    [data-title] {
      @if $declare {
        margin-right: auto;
      }
      @if map-has-key($vars, icon) {
        $icon: map-get($vars, icon);
        [data-sn-icon] {
          @include sn-icon((
            color: map-get($icon, color),
            sizes: (
              auto: (
                size: map-get($icon, size)
              )
            )
          ), '&');

        }
      }
      @if map-get($vars, overflow) == true {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
      }
      @if map-get($vars, overflow) == false {
        word-break: break-word;
        white-space: normal;
      }
    }

    @if map-has-key($vars, badge) {
      $badge: map-get($vars, badge);
      [data-badge] {
        margin-left: map-get($badge, margin-left);
        @include sn-badge((
          color: if(map-get($badge, color), map-get($badge, color) !important, null),
          background: if(map-get($badge, background), map-get($badge, background) !important, null)), '&');
      }
    }

    [data-line] {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $tab-marker-height;
      border-radius: 5px;
      background-color: $sn-primary-light-75-color;
      display: none;
    }
  }
}

@if $sn-debug {
  @debug 'link compiled';
}
