<ng-container *ngIf="external; else internalLinkTemplate">
  <ng-container>
    <a _li data-link [href]="source"
       [target]="'_' + target"
       [attr.data-active]="active"
       [attr.download]="(features | includes : ui.feature.download) ? '' : null"
       [snBinding]="{attributes: attributes}">
      <ng-container *ngTemplateOutlet="linkTemplate"></ng-container>
    </a>
  </ng-container>
</ng-container>

<ng-template #internalOrphanTemplate>
  <a _li data-link fakeLink [attr.data-active]="active"
     [attr.data-sn-orphan]="true"
     [attr.download]="(features | includes : ui.feature.download) ? '' : null"
     [snBinding]="{attributes: attributes}">
    <ng-container *ngTemplateOutlet="linkTemplate"></ng-container>
  </a>
</ng-template>

<ng-template #internalLinkTemplate>
  <a _li data-link *ngIf="!!source;else internalOrphanTemplate"
     routerLinkActive="active"
     [target]="'_' + target"
     [attr.data-active]="active"
     [attr.data-sn-orphan]="false"
     [attr.download]="(features | includes : ui.feature.download) ? '' : null"
     [routerLink]="source"
     [routerLinkActiveOptions]="{exact: matching === ui.matching.fullMatch}"
     [queryParams]="queryParams"
     [fragment]="fragment"
     [state]="state"
     [snBinding]="{attributes: attributes}">
    <ng-container *ngTemplateOutlet="linkTemplate"></ng-container>
  </a>
</ng-template>

<ng-template #defaultTitleTemplate>
  <span _li *ngIf="!!title" [innerHTML]="title | sanitizeHtml"></span>
</ng-template>

<ng-template #linkTemplate>
  <span _li data-title *ngIf="!!icon || !!title || !!contentTemplate">
    <sn-icon _li *ngIf="!!icon && icon.position === ui.position.left" [icon]="icon?.icon"></sn-icon>
    <span _li *ngIf="!!contentTemplate; else defaultTitleTemplate">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </span>
    <sn-icon _li *ngIf="!!icon && icon.position === ui.position.right" [icon]="icon?.icon"></sn-icon>
  </span>
  <div _li data-empty *ngIf="collapsed && !icon"></div>
  <ng-container *ngIf="badges.length> 0">
    <sn-badge _li data-badge *ngFor="let badge of badges"
              [attr.data-collapsed]="collapsed"
              [color]="badge.color"
              [value]="badge.value"
              [text]="badge.text"
              [overflow]="badge.overflow"
              [features]="badge.features"
              [position]="collapsed ? ui.position.rightTop : ui.position.inline">
    </sn-badge>
  </ng-container>
  <sn-icon _li *ngIf="(features | includes : ui.feature.dropdown) && !collapsed"
           [@rotate]="opened ? 'opened' : 'closed'"
           [attr.data-opened]="opened"
           [icon]="ui.icons.selectClose" data-toggle>
  </sn-icon>
  <div _li data-line></div>
</ng-template>
