<sn-container>

  <sn-app-page-header [icon]="localUi.icons.responsive"
                      title="Responsive"
                      i18n-title="@@label.responsive"
                      [teaser]="handbook.layout.components.responsive.teaser">

    <ng-template #headerActionsTemplate>
      <sn-link [icon]="ui.icons.gitlab"
               [outline]="ui.outline.ghost"
               [source]="gitlab"
               target="_blank" title="GitLab"
               i18n-title="@@action.gitlab">
      </sn-link>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <app-browser-preview preview>
          <ng-template #document let-width="width" let-height="height">
            <p [ngSwitch]="locale">
              <ng-container *ngSwitchDefault>
                Please change you device width in
              </ng-container>
              <ng-container *ngSwitchCase="language.ru">
                Пожалуйста, измените ширину своего устройства в
              </ng-container>
              <sn-link [outline]="ui.outline.ghost"
                       title="developers tools"
                       i18n-title="@@label.developer_tools"
                       [icon]="ui.icons.chevronDown"
                       [snPopover]="{
                          contentTemplate: youtubeTemplate,
                          trigger: ui.trigger.click
                        }">
              </sn-link>
            </p>
            <ng-template #youtubeTemplate>
              <iframe src="https://www.youtube.com/embed/lzUCoq-Tf3c" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen video></iframe>
            </ng-template>

            <ng-container *snFor="ui.breakpoint.mobile">
              <sn-icon [icon]="localUi.icons.mobile"></sn-icon>
            </ng-container>

            <ng-container *snFor="ui.breakpoint.tablet">
              <sn-icon [icon]="localUi.icons.tablet"></sn-icon>
            </ng-container>

            <ng-container *snFor="ui.breakpoint.desktop">
              <sn-icon [icon]="localUi.icons.desktop"></sn-icon>
            </ng-container>

            <ng-container *snFor="ui.breakpoint.wide">
              <sn-icon [icon]="localUi.icons.wide"></sn-icon>
            </ng-container>
          </ng-template>
        </app-browser-preview>
      </ng-template>
    </sn-tab>

    <sn-tab #code title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use [test]="{selector:'responsive-test', type: 'ResponsiveTestComponent'}"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="responsive-test.component.html">
                <!-- @formatter:off-->
<![CDATA[
<ng-container *snFor="ui.breakpoint.mobile">
  <p>Only for mobile.</p>
</ng-container>

<ng-container *snFor="ui.breakpoint.tablet">
  <p>Only min for tablet.</p>
</ng-container>

<ng-container *snFor="ui.breakpoint.desktop">
  <p>Min for desktop.</p>
</ng-container>

<ng-container *snFor="ui.breakpoint.wide">
  <p>Only for wide.</p>
</ng-container>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="snFor"
                             [type]="selectorType.StructuralDirective"
                             [api]="api.for">
          </app-component-api>
          <app-component-api selector="snMinFor"
                             [type]="selectorType.StructuralDirective"
                             [api]="api.minFor">
          </app-component-api>
          <app-component-api selector="snMaxFor"
                             [type]="selectorType.StructuralDirective"
                             [api]="api.maxFor">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>
  </sn-tabs>

</sn-container>
