@import 'sn-variables';
@import 'elements/icon';
$sn-ng-deep: true;

:host-context([theme='dark']) {
  [block] {
    background-color: $sn-gray-color;
  }

  [data-thumbnail] {
    background-color: $sn-gray-color;
  }
}

:host-context([theme='esanum']) {
  [block] {
    border-color: #005461;
    color: #005461;
  }
}

:host {
  display: block;
}

h1 {
  display: flex;
  align-items: center;
}

[data-thumbnail] {
  display: inline-flex;
  background: $sn-white-color;
  border-radius: $sn-corner-normal;
  padding: $sn-gutter-small $sn-gutter-normal;
  margin-right: $sn-gutter-normal;

  [data-sn-icon] {
    @include sn-icon((
      size: 30px
    ), '&');
  }
}

[giphy] {
  border-radius: $sn-corner-normal;
  pointer-events: none;
  border: 2px solid $sn-secondary-background;
  max-width: 100%;
  box-sizing: border-box;
}

//
//[teaser] {
//  color: $sn-primary-text-light-color;
//}

[block] {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $sn-primary-color;
  font-weight: bold;
  background-color: $sn-primary-background;
  box-sizing: border-box;
  border: 2px solid $sn-primary-color;
  border-radius: $sn-corner-normal;
}

[preview] {
  width: 100%;
}
