@import 'sn-variables';
@import 'sn-utils';
@import 'sn-hosts';

@mixin sn-in-paint($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
  );

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-in-paint-host)} {
    @if $declare {
      @include reset-default();
      display: block;
      position: relative;
      width: fit-content;
    }
  }

  #{$context} canvas {
    margin-bottom: $sn-gutter-normal;
  }

  #{$context} [data-painting-canvas] {
    position: absolute;
    top: 0;
    left: 0;
  }

  #{$context} [data-close] {
    position: absolute;
    top: -$sn-gutter-large;
    right: -$sn-gutter-large;
    z-index: 1;
  }

  #{$context} [data-open-file] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 2px dashed $sn-gray-light-50-color;
    background-color: $sn-gray-light-10-color;
    border-radius: $sn-corner-large;

    input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 1;
    }
  }
}
