<ng-container [ngSwitch]="view">

  <ng-container *ngSwitchCase="paintView.draw">
    <canvas _ip #pictureCanvasRef height="500"></canvas>
    <canvas _ip #paintingCanvasRef data-painting-canvas></canvas>

    <sn-stack _ip [align]="ui.align.stretch">
      <sn-stack _ip [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.small" [align]="ui.align.stretch">
        <sn-button _ip text="Clear"
                   [scheme]="ui.scheme.secondary"
                   [outline]="ui.outline.ghost"
                   [width]="ui.width.fluid"
                   [icon]="ui.icons.closeSmall"
                   (click)="clear()"></sn-button>
        <sn-button _ip text="Undo"
                   [scheme]="ui.scheme.secondary"
                   [outline]="ui.outline.ghost"
                   [width]="ui.width.fluid"
                   [icon]="ui.icons.undo"
                   (click)="undo()"></sn-button>
        <sn-button _ip text="Save"
                   [scheme]="ui.scheme.secondary"
                   [width]="ui.width.fluid"
                   (click)="save()"></sn-button>
      </sn-stack>

      <sn-form _ip [formGroup]="form">
        <sn-stack _ip [align]="ui.align.stretch">
          <sn-form-item _ip>
            <sn-form-label _ip>Brush size</sn-form-label>
            <sn-form-control _ip>
              <sn-slider _ip formControlName="size" [min]="min" [max]="max" [step]="step"></sn-slider>
            </sn-form-control>
          </sn-form-item>

          <sn-form-item _ip>
            <sn-form-control _ip>
              <sn-switcher _ip formControlName="mode">
                <sn-switcher-option _ip label="Brash" [value]="mode.brash"></sn-switcher-option>
                <sn-switcher-option _ip label="Eraser" [value]="mode.eraser"></sn-switcher-option>
              </sn-switcher>
            </sn-form-control>
          </sn-form-item>
        </sn-stack>
      </sn-form>
    </sn-stack>

    <sn-button _ip data-close
               [icon]="ui.icons.close"
               [outline]="ui.outline.transparent"
               [size]="ui.size.tiny"
               (click)="view = paintView.chooseFile">
    </sn-button>

    <ng-template #modalTemplate>
      <img _ip [src]="src">
    </ng-template>
  </ng-container>

  <div _ip *ngSwitchCase="paintView.chooseFile" data-open-file>
    <input _ip type="file" (change)="load($event)">
    <sn-stack _ip [align]="ui.align.center" [justify]="ui.justify.center" [gutter]="ui.gutter.small">

      <ng-container *ngIf="loading; else contentTemplate">
        <sn-spinner _ip [size]="ui.size.large"></sn-spinner>
      </ng-container>

      <ng-template #contentTemplate>
        <sn-icon _ip [icon]="ui.icons.image"
                 size="64px"
                 [color]="ui.color.secondary"
                 [stroke]="ui.stroke.bold"></sn-icon>
        <div _ip>Choose an image</div>
      </ng-template>
    </sn-stack>
  </div>

</ng-container>
