@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@keyframes sn-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($sn-primary-color, .5);
  }
  70% {
    box-shadow: 0 0 0 20px rgba($sn-primary-color, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($sn-primary-color, 0);
  }
}

@mixin sn-dot($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    size: 12px
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-dot-host)} {
    @if $declare {
      display: inline-block;
      border-radius: 50%;
    }
    min-width: map-get($vars, size);
    min-height: map-get($vars, size);
    width: map-get($vars, size);
    height: map-get($vars, size);

    &[data-sn-features*='pulse'] {
      animation: sn-pulse 1.5s infinite;
    }

    &[data-sn-color='primary'] {
      background-color: $sn-primary-color;
    }

    &[data-sn-color='secondary'] {
      background-color: $sn-secondary-color;
    }
  }
}

@if $sn-debug {
  @debug 'dot compiled';
}
