@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'layout/app/variables';
@import 'navigation/link/link';
@import 'navigation/menu/menu';

@mixin sn-lp-footer($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    background: $sn-white-color,
    height: $lp-footer-height,
    padding: 0 $sn-gutter-big,
    menu: (
      top: (
        item: (
          corner: $sn-corner-small,
          color: $sn-primary-text-color,
          active: (
            color: $sn-primary-light-75-color,
            underline: false,
            underline-color: $sn-primary-light-75-color,
            background-color: transparent,
            shadow: none
          ),
          icon: (
            color: $sn-primary-color
          ),
          padding: $sn-gutter-small,
          hover: (
            color: $sn-primary-color,
            background-color: $sn-highlight-background
          )
        )
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-lp-footer-host)} {
    @if $declare {
      display: block;
      box-sizing: border-box;
    }
    background-color: map-get($vars, background);
    min-height: map-get($vars, height);
    padding: map-get($vars, padding);

    @include sn-link((color: $sn-primary-text-color, icon: (color: $sn-primary-text-color)));

    @if map-has-key($vars, menu) {
      @include sn-menu((
        map-get($vars, menu)
      ));
    }
  }
}

@if $sn-debug {
  @debug 'lp-footer compiled';
}

