<sn-container>

  <sn-app-page-header [icon]="localUi.icons.selectable"
                      title="Selectable"
                      i18n-title="@@label.selectable"
                      [teaser]="handbook.forms.components.selectable.teaser">

    <ng-template #headerActionsTemplate>
      <sn-link [icon]="ui.icons.gitlab"
               [outline]="ui.outline.ghost"
               [source]="gitlab"
               target="_blank" title="GitLab"
               i18n-title="@@action.gitlab">
      </sn-link>
    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">
    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-row>

          <sn-col [tablet]="8">
            <app-browser-preview preview>
              <ng-template #document>
                <form [formGroup]="selectableForm">
                  <sn-stack [align]="ui.align.center">
                    <sn-stack [orientation]="ui.orientation.horizontal">
                      <sn-card data-hero *ngFor="let hero of heroes"
                               formControlName="selectable"
                               [snSelectable]="{
                                  value: hero.id,
                                  mode: modeControl.value,
                                  enabled: !disabledControl.value,
                                  features: allowEmptyControl.value ? [ui.feature.allowEmpty] : []
                                }">
                        <div>{{hero.name}}</div>
                      </sn-card>
                    </sn-stack>
                    <ng-template #multipleTemplate>
                      <sn-stack [orientation]="ui.orientation.horizontal"
                                [align]="ui.align.center"
                                [justify]="ui.justify.between">
                        <ng-template #emptyTemplate>
                          <sn-avatar [size]="ui.size.large" [icon]="ui.icons.question"></sn-avatar>
                        </ng-template>
                        <sn-avatars-list *ngIf="selectableControl.value?.length > 0; else emptyTemplate"
                                         [size]="ui.size.large">
                          <sn-avatar *ngIf="selectableControl.value | includes:hero.spiderman"
                                     image="assets/images/heroes/spiderman.svg"></sn-avatar>
                          <sn-avatar *ngIf="selectableControl.value | includes:hero.ironman"
                                     image="assets/images/heroes/ironman.svg"></sn-avatar>
                          <sn-avatar *ngIf="selectableControl.value | includes:hero.captainAmerica"
                                     image="assets/images/heroes/captain.svg"></sn-avatar>
                        </sn-avatars-list>
                      </sn-stack>
                    </ng-template>
                    <ng-container *ngIf="modeControl.value === ui.select.mode.single; else multipleTemplate"
                                  [ngSwitch]="selectableControl.value">
                      <sn-avatar *ngSwitchCase="hero.spiderman"
                                 [size]="ui.size.large"
                                 image="assets/images/heroes/spiderman.svg"></sn-avatar>
                      <sn-avatar *ngSwitchCase="hero.ironman"
                                 [size]="ui.size.large"
                                 image="assets/images/heroes/ironman.svg"></sn-avatar>
                      <sn-avatar *ngSwitchCase="hero.captainAmerica"
                                 [size]="ui.size.large"
                                 image="assets/images/heroes/captain.svg"></sn-avatar>
                      <sn-avatar *ngSwitchDefault [size]="ui.size.large"
                                 [icon]="ui.icons.question"></sn-avatar>
                    </ng-container>
                  </sn-stack>
                </form>
              </ng-template>
            </app-browser-preview>
          </sn-col>

          <sn-col [tablet]="4">
            <sn-form [formGroup]="builder">
              <sn-stack [align]="ui.align.stretch">

                <sn-form-item>
                  <sn-form-label for="mode"
                                 i18n="@@label.mode">Mode
                  </sn-form-label>
                  <sn-form-control>
                    <sn-select formControlName="mode"
                               placeholder="Single"
                               i18n-placeholder="@@label.single"
                               [features]="[ui.feature.allowEmpty]">
                      <sn-select-option label="Single"
                                        i18n-label="@@label.single"
                                        [icon]="localUi.icons.single"
                                        [key]="ui.select.mode.single"></sn-select-option>
                      <sn-select-option label="Multiple"
                                        i18n-label="@@label.multiple"
                                        [icon]="localUi.icons.multiple"
                                        [key]="ui.select.mode.multiple"></sn-select-option>
                    </sn-select>
                  </sn-form-control>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type" i18n="@@label.features">Features</sn-form-label>
                  <sn-row>
                    <sn-col [span]="6">
                      <sn-checkbox formControlName="allowEmpty"
                                   label="Allow empty"
                                   i18n-label="@@label.allow_empty"></sn-checkbox>
                    </sn-col>
                  </sn-row>
                </sn-form-item>

                <sn-form-item>
                  <sn-form-label for="type"
                                 i18n="@@label.state">State
                  </sn-form-label>
                  <sn-checkbox formControlName="disabled"
                               label="Disabled"
                               i18n-label="@@label.disabled"></sn-checkbox>
                </sn-form-item>

              </sn-stack>
            </sn-form>
          </sn-col>

        </sn-row>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use [test]="{selector:'selectable-test', type: 'SelectableTestComponent'}">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
<![CDATA[
import { Component, OnInit } from '@angular/core';
import { FormBuilder } from '@angular/forms';
import { UI } from '@esanum/ui';

@Component({
  selector: 'app-selectable-test',
  templateUrl: './selectable-test.component.html',
  styleUrls: ['./selectable-test.component.scss']
})

export class SelectableTestComponent implements OnInit {

  ui = UI;

  selectableControl = this.fb.control(null);

  selectableForm = this.fb.group({
    selectable: this.selectableControl
  });

  constructor(private fb: FormBuilder) {
  }
}
]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="selectable-test.component.html" [language]="language.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-block [snSelectable]="{
    mode: modeControl.value,
    enabled: !disabledControl.value,
    features: allowEmptyControl.value ? [ui.feature.allowEmpty] : []
  }" ]]>
<![CDATA[[allowEmpty]="]]>{{allowEmptyControl.value}}<![CDATA["]]>
<ng-container *ngIf="modeControl.value">
  <![CDATA[[mode]="selectMode.]]>{{modeControl.value}}<![CDATA["]]>
</ng-container>
  <![CDATA[>]]>
  <![CDATA[
</sn-block>
]]>
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="snSelectable"
                           [type]="selectorType.Directive"
                           [api]="api.selectable">
        </app-component-api>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
