@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'forms/button/button';
@import 'layout/responsive';

@mixin sn-button-group($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    corner: $sn-corner-base
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-button-group-host)} {
    @if $declare {
      display: inline-flex;
      &[data-sn-width='fluid'] {
        display: flex;
        flex: 1;

        #{$wrapper} [data-button] {
          flex: 1;
        }
      }
    }

    @include for-mobile() {
      &[data-sn-features*='adapted'] {
        flex-direction: column;

        [data-button] {
          &:first-child {
            @include sn-button((
              corners: (
                top: (
                  left: map-get($vars, corner),
                  right: map-get($vars, corner)
                ),
                bottom: (
                  left: 0
                )
              )
            ), '&');
          }

          &:last-child {
            @include sn-button((
              corners: (
                top: (
                  right: 0
                ),
                bottom: (
                  right: map-get($vars, corner),
                  left: map-get($vars, corner)
                )
              )
            ), '&');
          }

          &:not(:last-child) {
            @include sn-button((borders: (bottom: 0)), '&');
          }
        }
      }

      &:not([data-sn-features*='adapted']) {
        [data-button] {
          &:first-child {
            @include sn-button((borders: (right: 0)), '&');
          }

          &:last-child {
            @include sn-button((borders: (left: 0)), '&');
          }
        }
      }
    }

    @include min-for-tablet() {
      [data-button] {
        &:first-child {
          @include sn-button((borders: (right: 0)), '&');
        }

        &:last-child {
          @include sn-button((borders: (left: 0)), '&');
        }
      }
    }
  }

  #{$context} #{$wrapper} [data-button] {
    @if $declare {
      @include sn-button((
        padding: 0 $sn-gutter-normal,
        corner: 0,
        without-text-corner: 0
      ), '&');
    }


    &:first-child {
      @include sn-button((
        corners: (
          top: (
            left: map-get($vars, corner)
          ),
          bottom: (
            left: map-get($vars, corner)
          )
        )
      ), '&');
    }

    &:last-child {
      @include sn-button((
        corners: (
          top: (
            right: map-get($vars, corner)
          ),
          bottom: (
            right: map-get($vars, corner)
          )
        )
      ), '&');
    }
  }
}

@if $sn-debug {
  @debug 'button-group compiled';
}
