<sn-form [formGroup]="form">
  <sn-stack [align]="ui.align.stretch">
    <sn-form-item>
      <sn-form-control>
        <sn-select formControlName="color"
                    [optionTemplate]="colorOptionTemplate">
          <ng-container *ngFor="let i of ui.color | keyvalue">
            <sn-select-option [label]="i.key | titlecase" [key]="i.value" [value]="i">
            </sn-select-option>
          </ng-container>
        </sn-select>
        <ng-template #colorOptionTemplate let-color="value">
          <sn-stack [orientation]="ui.orientation.horizontal"
                     [align]="ui.align.center">
            <sn-dot class="dot" [color]="color.value"></sn-dot>
            {{color.key | titlecase}}
          </sn-stack>
        </ng-template>
      </sn-form-control>
    </sn-form-item>
  </sn-stack>
</sn-form>
