$app-header-height: 70px !default;
$app-footer-height: 50px !default;
$app-aside-width: 270px !default;
$app-aside-burger-width: 40px !default;
$app-aside-burger-height: 40px !default;
$app-aside-collapsed-width: 86px !default;
$lp-header-height: 150px !default;
$lp-footer-height: 100px !default;
$lp-header-height-mobile: 100px !default;
