<div _ha data-label
     [snPopover]="{
       contentTemplate: actionContent,
       trigger: ui.trigger.hover,
       placement: ui.placement.fixed,
       maxHeight: '500px',
       minWidth: '200px'
     }">
  <ng-container *ngTemplateOutlet="actionLabelTemplate"></ng-container>
</div>

<ng-template #actionContent>
  <ng-container *ngTemplateOutlet="actionContentTemplate"></ng-container>
</ng-template>
