@import '../../component';
@import "sn-variables";
@import "elements/icon";
$sn-ng-deep: true;

[data-content] {
  color: $sn-white-color;
  font-size: $sn-font-size-large;
  [data-icon] {
    @include sn-icon((size: 32px, color: $sn-success-color), '&');
  }
}
