<sn-container>

  <sn-app-page-header [icon]="localUi.icons.informer"
                      title="Informer"
                      i18n-title="@@label.informer"
                      [teaser]="handbook.layout.components.informer.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">
    <sn-tabs #tabs [features]="[ui.feature.adapted]">
      <sn-tab title="Preview"
              i18n-title="@@label.preview"
              [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <sn-row>
            <sn-col [tablet]="8">
              <app-browser-preview>
                <ng-template #document let-height="height">
                  <sn-block [width]="ui.width.fluid" [style.height.px]="height">
                    <ng-template #errorsTemplate>
                      <sn-informer *ngIf="!!errors.length"
                                   [context]="ui.context.block"
                                   [placement]="placementControl.value"
                                   [outer]="outerControl.value"
                                   [backdrop]="backdrop"
                                   [icon]="iconControl.value ? ui.icons.like : null"
                                   (ok)="errors = []">
                        <sn-informer-message *ngFor="let error of errors" [message]="error"></sn-informer-message>
                      </sn-informer>
                    </ng-template>
                    <ng-container *ngIf="contentControl.value; else errorsTemplate">
                      <sn-informer *ngIf="state.ok"
                                   [context]="ui.context.block"
                                   [placement]="placementControl.value"
                                   [outer]="outerControl.value"
                                   [backdrop]="backdrop">
                        <ng-template #informerContentTemplate>
                          <sn-stack data-content [align]="ui.align.center">
                            <sn-icon data-icon [icon]="ui.icons.checked"></sn-icon>
                            <div>Your request is approved</div>
                            <sn-button text="Ok"
                                       i18n-text="@@action.ok"
                                       [scheme]="ui.scheme.success"
                                       (click)="state.ok = false"></sn-button>
                          </sn-stack>
                        </ng-template>
                      </sn-informer>
                    </ng-container>
                    <sn-container #page>
                      <ng-template #defaultButton>
                        <sn-button (click)="add()"
                                   i18n-text="@@action.add_error"
                                   text="Add error"></sn-button>
                      </ng-template>
                      <sn-button *ngIf="contentControl.value; else defaultButton"
                                 text="Show info"
                                 i18n-text="@@action.show_info"
                                 (click)="state.ok = true"></sn-button>
                    </sn-container>
                  </sn-block>
                </ng-template>
              </app-browser-preview>
            </sn-col>
            <sn-col [tablet]="4">
              <sn-form [formGroup]="builder">
                <sn-stack [align]="ui.align.stretch">
                  <sn-form-item>
                    <sn-form-label for="placement"
                                   i18n="@@label.placement">Placement
                    </sn-form-label>
                    <sn-switcher formControlName="placement" [features]="[ui.feature.allowEmpty]">
                      <sn-switcher-option label="Fixed"
                                          i18n-label="@@label.fixed"
                                          [value]="ui.placement.fixed"></sn-switcher-option>
                      <sn-switcher-option label="Absolute"
                                          i18n-label="@@label.absolute"
                                          [value]="ui.placement.absolute"></sn-switcher-option>
                    </sn-switcher>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="outer"
                                   i18n="@@label.outer">Outer
                    </sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="outer"
                                 placeholder="None"
                                 i18n-placeholder="@@label.none"
                                 [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="None"
                                          i18n-label="@@label.none"
                                          [key]="ui.gutter.none"></sn-select-option>
                        <sn-select-option label="Tiny"
                                          i18n-label="@@label.tiny"
                                          [icon]="localUi.icons.gutter.tiny"
                                          [key]="ui.gutter.tiny"></sn-select-option>
                        <sn-select-option label="Small"
                                          i18n-label="@@label.small"
                                          [icon]="localUi.icons.gutter.small"
                                          [key]="ui.gutter.small"></sn-select-option>
                        <sn-select-option label="Normal"
                                          i18n-label="@@label.normal"
                                          [icon]="localUi.icons.gutter.normal"
                                          [key]="ui.gutter.normal"></sn-select-option>
                        <sn-select-option label="Big"
                                          i18n-label="@@label.big"
                                          [icon]="localUi.icons.gutter.big"
                                          [key]="ui.gutter.big"></sn-select-option>
                        <sn-select-option label="Large"
                                          i18n-label="@@label.large"
                                          [icon]="localUi.icons.gutter.large"
                                          [key]="ui.gutter.large"></sn-select-option>
                        <sn-select-option label="Huge"
                                          i18n-label="@@label.huge"
                                          [icon]="localUi.icons.gutter.huge"
                                          [key]="ui.gutter.huge"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label i18n="@@label.feature">Features
                    </sn-form-label>
                    <sn-row>
                      <sn-col [span]="6">
                        <sn-checkbox formControlName="content"
                                     i18n-label="@@label.custom_content"
                                     label="Custom content"></sn-checkbox>
                      </sn-col>
                      <sn-col [span]="6">
                        <sn-checkbox formControlName="icon"
                                     i18n-label="@@label.custom_icon"
                                     label="Custom icon"></sn-checkbox>
                      </sn-col>
                    </sn-row>
                  </sn-form-item>
                </sn-stack>
              </sn-form>
            </sn-col>
          </sn-row>
        </ng-template>
      </sn-tab>

      <sn-tab title="Code"
              i18n-title="@@label.code"
              [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <sn-accordion [active]="[1]">
            <sn-accordion-section title="How to start"
                                  i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'informer-test', type: 'InformerTestComponent'}"
                  scss="layout/informer"></app-how-to-use>
              </ng-template>
            </sn-accordion-section>
            <sn-accordion-section title="Component template"
                                  i18n-title="@@label.component_template">
              <ng-template #accordionContentTemplate>
                <app-code-highlight [language]="language.typescript" file="informer-test.component.html">
                  <![CDATA[
                  import { ViewChild } from '@angular/core';

                  @ViewChild('page', {read: ElementRef, static: false})
                  backdrop: ElementRef
                  <HTMLElement>;]]>
                </app-code-highlight>
                <app-code-highlight file="informer-test.template.html">
                  <!-- @formatter:off-->
                  <ng-container *ngIf="contentControl.value">
                    <![CDATA[
                    <sn-informer *ngIf="state.ok" [context]="ui.context.block" [backdrop]="backdrop" ]]>
                      <ng-container *ngIf="placementControl.value">
                        <![CDATA[ [placement]="ui.placement.]]>{{placementControl.value}}<![CDATA["]]>
                      </ng-container>
                      <ng-container *ngIf="outerControl.value">
                        <![CDATA[ [outer]="ui.gutter.]]>{{outerControl.value}}<![CDATA["]]>
                      </ng-container>
                      <![CDATA[>
                      <ng-template #informerContentTemplate>
                        <sn-stack data-content [align]="ui.align.center">
                          <sn-icon data-icon [icon]="ui.icons.checked"></sn-icon>
                          <div>Your request is approved</div>
                          <sn-button text="Ok"
                                      [scheme]="ui.scheme.success"
                                      (click)="state.ok = false"></sn-button>
                        </sn-stack>
                      </ng-template>
                    </sn-informer>
                    ]]>
                  </ng-container>
                  <ng-container *ngIf="!contentControl.value">
                    <![CDATA[
                    <sn-informer *ngIf="!!errors.length" [context]="ui.context.block" [backdrop]="backdrop" ]]>
                      <ng-container *ngIf="placementControl.value">
                        <![CDATA[ [placement]="ui.placement.]]>{{placementControl.value}}<![CDATA["]]>
                      </ng-container>
                      <ng-container *ngIf="outerControl.value">
                        <![CDATA[ [outer]="ui.gutter.]]>{{outerControl.value}}<![CDATA["]]>
                      </ng-container>
                      <ng-container *ngIf="iconControl.value">
                        <![CDATA[ [icon]="ui.icons.like"]]>
                      </ng-container>
                      <![CDATA[ (ok)="errors = []">
                      <sn-informer-message *ngFor="let error of errors" [message]="error"></sn-informer-message>
                    </sn-informer>
                    ]]>
                  </ng-container>
                  <!-- @formatter:on-->
                </app-code-highlight>
              </ng-template>
            </sn-accordion-section>
          </sn-accordion>
        </ng-template>
      </sn-tab>

      <sn-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <app-component-api selector="sn-informer"
                             [api]="api.informer">
          </app-component-api>
        </ng-template>
      </sn-tab>

    </sn-tabs>

  </sn-stack>

</sn-container>
