<sn-stack _tl *ngIf="!!items?.length"
          [align]="ui.align.stretch">
  <sn-stack _tl data-lines *ngFor="let item of items; let i = index"
            [align]="ui.align.stretch"
            [gutter]="ui.gutter.none">
    <sn-stack _tl [orientation]="ui.orientation.horizontal"
              [align]="ui.align.center">
      <div _tl data-mark>
        <div _tl data-circle [attr.data-color]="item.color"
             [style.background-color]="(['primary', 'secondary'] | includes:item.color) ? null : item.color"
             [style.color]="item.color | textBrightness">
          <sn-icon _tl *ngIf="!!item?.icon; else defaultTemplate" [icon]="item.icon"
                   [color]="item.color | textBrightness"></sn-icon>
          <ng-template #defaultTemplate>
            <span _tl>{{i + 1}}</span>
          </ng-template>
        </div>
      </div>
      <div _tl data-title
           [snBinding]="{attributes: item.attributes}"
           [innerHTML]="item.title | sanitizeHtml"></div>
    </sn-stack>
    <sn-stack _tl [orientation]="ui.orientation.horizontal"
              [align]="ui.align.stretch">
      <div _tl data-line>
        <div _tl></div>
      </div>
      <div _tl data-content>
        <ng-container [ngTemplateOutlet]="item.contentTemplate"></ng-container>
      </div>
    </sn-stack>
  </sn-stack>
</sn-stack>


