<div _bl *ngIf="state === ui.state.loading" data-state>
  <sn-spinner _bl [size]="ui.size.large"></sn-spinner>
</div>
<div _bl *ngIf="state === ui.state.error" data-state>
  <sn-icon _bl [icon]="ui.icons.sad"></sn-icon>
</div>
<div _bl *ngIf="states.success" [@success]="states.success" data-state>
  <sn-icon _bl [icon]="ui.icons.animated.success"></sn-icon>
</div>

<div _bl data-help *ngIf="!!blockHelpTemplate"
     [snPopover]="{
        contentTemplate: blockHelpTemplate,
        trigger: ui.trigger.click,
        position: !(ui.breakpoint.mobile | breakpoint)
          ? ui.position.right : ui.position.bottom
     }">
  <sn-icon _bl [icon]="ui.icons.question"></sn-icon>
</div>

<sn-stack _bl data-block [align]="ui.align.stretch" [gutter]="spacing">
  <div _bl *ngIf="!!title && !blockHeaderTemplate" data-title>
    {{title}}
  </div>

  <ng-container *ngIf="!!blockHeaderTemplate">
    <ng-container *ngTemplateOutlet="blockHeaderTemplate"></ng-container>
  </ng-container>

  <div _bl data-body>
    <ng-content></ng-content>
  </div>

  <div _bl *ngIf="!!blockFooterTemplate" data-footer>
    <ng-container *ngTemplateOutlet="blockFooterTemplate"></ng-container>
  </div>
</sn-stack>

