<div _aa data-drawer [attr.data-collapsed]="collapsed">
  <sn-button _aa *snMaxFor="ui.breakpoint.tablet"
              [scheme]="ui.scheme.secondary"
              [icon]="ui.icons.menu"
              (click)="toggle()" data-burger>
  </sn-button>

  <div _aa data-scroll [attr.data-windows]="device.platform.windows">
    <button _aa type="button" (click)="collapsed = !collapsed">
      <sn-stack _aa [orientation]="ui.orientation.horizontal" [align]="ui.align.center" [justify]="collapsed ? ui.justify.center : ui.justify.start">
        <sn-icon _aa data-icon [icon]="collapsed ? ui.icons.arrowRight: ui.icons.arrowLeft"></sn-icon>
        <span _aa *ngIf="!collapsed">{{'action.hide_sidebar' | translate}}</span>
      </sn-stack>
    </button>
    <sn-stack _aa [align]="ui.align.stretch">
      <ng-container *ngIf="!!headerTemplate">
        <ng-container *ngTemplateOutlet="headerTemplate;
        context: {
          collapsed: collapsed,
          toggle: toggle.bind(this)
        }">
        </ng-container>
      </ng-container>
      <sn-menu _aa data-menu *ngIf="!!menu"
                context="popover-aside-sub-menu"
                [orientation]="ui.orientation.vertical"
                [collapsed]="collapsed"
                [placement]="ui.placement.fixed"
                [gutter]="menu.gutter"
                (selected)="toggle()">
        <sn-menu-item _aa *ngFor="let item of menu.items"
                       [title]="item.title"
                       [disabled]="item.disabled"
                       [link]="item.link"
                       [icon]="item.icon"
                       [matching]="item.matching"
                       [target]="item.target">
          <sn-badge _aa *ngFor="let badge of item.badges"
                     [value]="badge.value"
                     [text]="badge.text"
                     [position]="ui.position.inline"
                     [color]="badge.color">
          </sn-badge>
          <sn-sub-menu _aa *ngIf="!!item.submenu">
            <sn-sub-menu-item _aa *ngFor="let subitem of item?.submenu.items"
                               [title]="subitem.title"
                               [disabled]="subitem.disabled"
                               [link]="subitem.link"
                               [icon]="subitem.icon"
                               [matching]="subitem.matching"
                               [target]="subitem.target">
              <sn-badge _aa *ngFor="let badge of subitem.badges"
                         [value]="badge.value"
                         [text]="badge.text"
                         [position]="ui.position.inline"
                         [color]="badge.color">
              </sn-badge>
            </sn-sub-menu-item>
          </sn-sub-menu>
        </sn-menu-item>
      </sn-menu>
      <ng-container *ngIf="!!footerTemplate">
        <ng-container *ngTemplateOutlet="footerTemplate;
        context: {
          collapsed: collapsed,
          toggle: toggle.bind(this)
        }">
        </ng-container>
      </ng-container>
    </sn-stack>
  </div>
</div>
<div _aa data-overlay (click)="opened = false"></div>
