@import 'sn-variables';
@import 'layout/app/variables';
@import 'sn-utils';
@import 'sn-hosts';
@import 'navigation/menu/menu';
@import 'layout/responsive/responsive';
@import 'forms/button/button';
@import 'elements/icon/icon';

@mixin sn-app-aside($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    display-burger: true,
    padding: $app-header-height 0 0 0,
    position: absolute,
    background: $sn-primary-background,
    menu: (
      item: (
        color: $sn-primary-text-light-color,
        active: (
          background-color: $sn-secondary-background
        ),
        icon: (
          color: $sn-primary-text-light-color,
        )
      ),
      sub: (
        background-color: $sn-primary-background
      )
    )
  );

  $vars: $passed;
  $declare: false;
  $wrapper: null;

  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-app-aside-host)} {
    @if $declare {
      display: block;
      box-sizing: border-box;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 2;

      @include max-for-tablet() {
        &[data-sn-opened='true'] {
          width: 100%;

          #{$wrapper} [data-overlay] {
            width: 100%;
            height: 100%;
            opacity: 1;
          }

          #{$wrapper} [data-drawer] {
            transform: translate3d(0, 0, 0);
          }
        }

        &[data-sn-opened='false'] {
          width: 0;

          #{$wrapper} [data-overlay] {
            opacity: 0;
          }

          #{$wrapper} [data-drawer] {
            transform: translate3d(-100%, 0, 0);
            transition: none;
          }
        }
      }
    }
    position: map-get($vars, position);
  }

  #{$context} #{$wrapper} [data-menu] {
    @if $declare {
      @include sn-menu((
        top: (
          item: (
            corner: 16px,
            height: 52px,
            orphan: (
              color: $sn-primary-text-light-color,
              hover-color: $sn-primary-text-dark-color
            ),
            hover: (
              color: $sn-primary-text-light-color,
            ),
            active: (
              underline: false,
              color: $sn-primary-color
            ),
            icon: (
              spacing: $sn-gutter-normal
            ),
            padding: 0 $sn-gutter-normal,
            spacing: 0 $sn-gutter-normal,
            toggle: (
              toggle: false
            ),
            focus: (
              outline: null,
              shadow: inset $sn-outline-shadow-small $sn-primary-light-75-color
            )
          )
        ),
        sub: (
          collapsed: (
            item: (
              padding: 0 $sn-gutter-normal
            )
          ),
          item: (
            color: $sn-primary-text-light-color,
            padding: 0 $sn-gutter-normal 0 50px !important,
            active: (
              underline: false,
              background-color: $sn-secondary-background,
              color: $sn-primary-color
            ),
            focus: (
              outline: null,
              shadow: inset $sn-outline-shadow-small $sn-primary-light-75-color
            ),
            hover: (
              color: $sn-primary-text-color
            ),
            icon: (
              color: $sn-primary-text-light-color,
              spacing: $sn-gutter-small
            ),
            height: 50px
          )
        )
      ), '&');
    }

    @if map-has-key($vars, menu) {
      $menu: map-get($vars, menu);
      @if map-has-key($menu, item) {
        $item: map-get($menu, item);
        @include sn-menu((
          top: (
            item: (
              color: map-get($item, color)
            )
          )
        ), '&');

        @if map-has-key($item, icon) {
          $icon: map-get($item, icon);
          @include sn-menu((top: (item: (icon: (color: map-get($icon, color))))), '&');
        }

        @if map-has-key($item, active) {
          $active: map-get($item, active);
          @include sn-menu((
            top: (
              item: (
                active: (
                  background-color: map-get($active, background-color)
                )
              )
            )
          ), '&');
        }
      }
      @if map-has-key($menu, sub) {
        $sub: map-get($menu, sub);
        @include sn-menu((
          sub: (
            background-color: map-get($sub, background-color)
          )
        ), '&');
      }
    }
  }

  @include sn-menu((
    sub: (
      collapsed: (
        item: (
          padding: 0 $sn-gutter-normal
        )
      ),
      item: (
        color: $sn-primary-text-light-color,
        padding: 0 $sn-gutter-normal 0 50px,
        active: (
          underline: false,
          background-color: $sn-secondary-background,
          color: $sn-primary-color
        ),
        focus: (
          outline: null,
          shadow: inset $sn-outline-shadow-small $sn-primary-light-75-color
        ),
        icon: (
          color: $sn-primary-text-light-color
        ),
        height: 50px
      )
    )
  ), '[context=popover-aside-sub-menu]');

  #{$context} #{$wrapper} button {
    background-color: map-get($vars, background);
    @if $declare {
      display: block;
      width: 100%;
      border: 0;
      border-bottom: 1px solid $sn-muted-color;
      color: $sn-primary-text-light-color;
      font-size: $sn-font-size-base;
      height: 52px;
      padding: 0 $sn-gutter-large;
      cursor: pointer;
      white-space: nowrap;
      border-radius: 0;
      margin-bottom: $sn-gutter-normal;

      &:focus {
        outline: 0;
      }

      &:hover {
        color: $sn-primary-text-light-color;
        background-color: $sn-secondary-background;
      }
    }

    span {
      @if $declare {
        text-overflow: clip;
      }
    }

    [data-icon] {
      @include sn-icon((color: $sn-primary-text-light-color, size: 20px), '&');
    }

    @include max-for-tablet() {
      @if $declare {
        display: none;
      }
    }
  }

  #{$context} #{$wrapper} [data-overlay] {
    @if $declare {
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      z-index: 1;
    }
  }

  #{$context} #{$wrapper} [data-drawer] {
    position: map-get($vars, position);
    padding: map-get($vars, padding);
    background-color: map-get($vars, background);
    @if $declare {
      top: 0;
      left: 0;
      z-index: 2;
      height: 100%;
      box-shadow: $sn-shadow-normal;
      box-sizing: border-box;
      transform: translate3d(0, 0, 0);
      transition: transform .3s linear, width .3s linear;
    }

    [data-burger] {
      @if $declare {
        position: absolute;
        left: 100%;
        @include sn-button((
          without-text-corner: 0 $sn-corner-small $sn-corner-small 0,
          shadow: 4px 2px 4px 0px rgba($sn-black-color, 0.25),
          schemes: (
            secondary: (
              color: $sn-primary-background,
              inverse-color: $sn-primary-text-color,
              hover-color: $sn-primary-background,
              focus: (
                shadow: 4px 2px 4px 0px rgba($sn-black-color, 0.25)
              )
            )
          )
        ), '&');
      }
    }

    [data-scroll] {
      @if $declare {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        &[data-windows='true'] {
          @include sn-scrollbar();
        }
      }
    }

    &[data-collapsed='true'] {
      @if $declare {
        width: $app-aside-collapsed-width;
      }
    }

    &[data-collapsed='false'] {
      @if $declare {
        width: $app-aside-width;
      }
    }
  }
}

@if $sn-debug {
  @debug 'app-aside compiled';
}
