@import "sn-variables";

@mixin for-mobile() {
  @media screen and (max-width: $sn-tablet-breakpoint) {
    @content;
  }
}

@mixin for-tablet() {
  @media screen and (min-width: calc(#{$sn-tablet-breakpoint} + 1px)) and (max-width: $sn-desktop-breakpoint) {
    @content;
  }
}

@mixin for-desktop() {
  @media screen and (min-width: calc(#{$sn-desktop-breakpoint} + 1px)) and (max-width: $sn-wide-breakpoint) {
    @content;
  }
}

@mixin for-wide() {
  @media screen and (min-width: calc(#{$sn-wide-breakpoint} + 1px)) {
    @content;
  }
}

@mixin min-for-tablet() {
  @media screen and (min-width: calc(#{$sn-tablet-breakpoint} + 1px)) {
    @content;
  }
}

@mixin min-for-desktop() {
  @media screen and (min-width: calc(#{$sn-desktop-breakpoint} + 1px)) {
    @content;
  }
}

@mixin max-for-tablet() {
  @media screen and (max-width: $sn-desktop-breakpoint) {
    @content;
  }
}

@mixin max-for-desktop() {
  @media screen and (max-width: $sn-wide-breakpoint) {
    @content;
  }
}

@if $sn-debug {
  @debug 'responsive compiled';
}
