<sn-container>

  <sn-app-page-header [icon]="localUi.icons.picture"
                      title="In paint"
                      i18n-title="@@label.in_paint"
                      [teaser]="handbook.dynamic_data.components.inPaint.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <app-browser-preview preview>
          <ng-template #document>
            <sn-in-paint></sn-in-paint>
          </ng-template>
        </app-browser-preview>
      </ng-template>
    </sn-tab>
    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'in-paint-test', type: 'InPaintTestComponent'}"
                scss="dynamic/in-paint"></app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="in-paint-test.template.html">
                <!-- @formatter:off-->
                <![CDATA[
                <sn-in-paint></sn-in-paint>
                ]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>
  </sn-tabs>
</sn-container>
