<sn-container>
  <sn-stack [align]="ui.align.stretch"
             [gutter]="ui.gutter.huge">
    <sn-stack [orientation]="ui.orientation.horizontal">
      <sn-card data-card [features]="[ui.feature.clickable]"
                [width]="ui.width.fluid"
                (selected)="router.navigate(['/handbook/home'], {relativeTo: route})">
        <ng-template #cardTitleTemplate>
          <sn-stack [orientation]="ui.orientation.horizontal"
                     [align]="ui.align.center">
            <sn-icon [icon]="localUi.icons.home"></sn-icon>
            <span data-name i18n-title="@@label.home">Home</span>
          </sn-stack>
        </ng-template>
        <span>Home page teaser</span>
      </sn-card>
      <sn-card data-card [features]="[ui.feature.clickable]"
                [width]="ui.width.fluid"
                (selected)="router.navigate(['/handbook/theming'], {relativeTo: route})">
        <ng-template #cardTitleTemplate>
          <sn-stack [orientation]="ui.orientation.horizontal"
                     [align]="ui.align.center">
            <sn-icon [icon]="localUi.icons.theming"></sn-icon>
            <span data-name i18n-title="@@label.theming">Theming</span>
          </sn-stack>
        </ng-template>
        <span>Theming page teaser</span>
      </sn-card>
      <sn-card data-card [features]="[ui.feature.clickable]"
                [width]="ui.width.fluid"
                (selected)="router.navigate(['/handbook/typography'], {relativeTo: route})">
        <ng-template #cardTitleTemplate>
          <sn-stack [orientation]="ui.orientation.horizontal"
                     [align]="ui.align.center">
            <sn-icon [icon]="localUi.icons.typography"></sn-icon>
            <span data-name i18n-title="@@label.typography">Typography</span>
          </sn-stack>
        </ng-template>
        <span>Typography page teaser</span>
      </sn-card>
    </sn-stack>
    <ng-container *ngFor="let section of handbook | keyvalue: originalOrder">
        <h2>
          <span data-thumbnail>
            <sn-icon [icon]="section.value.icon"></sn-icon>
          </span>
          <span>{{section.value.name}}</span>
        </h2>
      <app-section [section]="section.value"></app-section>
    </ng-container>
  </sn-stack>
</sn-container>
