@import 'sn-variables';
@import 'sn-common';

body {
  font-family: $sn-font-family-base;

  &[data-busy] {
    cursor: progress;
  }
}

code {
  font-family: 'Space Mono', monospace;
  color: $sn-red-dark-color;
}
