<sn-stack _an [align]="ui.align.stretch"
          [gutter]="outline === ui.outline.ghost ? ui.gutter.none : ui.gutter.tiny">
  <ng-container *ngFor="let section of sections; let i = index;">
    <a _an data-section
       tabindex="0"
       (click)="setActive(i, $event)">
      <div _an data-title
           [attr.data-with-template]="!!section.accordionTitleTemplate"
           [attr.active]="active | includes: i">
        <ng-container *ngIf="!!section.accordionTitleTemplate; else defaultTemplate">
          <ng-container *ngTemplateOutlet="section.accordionTitleTemplate"></ng-container>
        </ng-container>

        <ng-template #defaultTemplate>
          <sn-stack _an [orientation]="ui.orientation.horizontal"
                    [align]="ui.align.center"
                    [gutter]="ui.gutter.small">
            <sn-icon _an *ngIf="!!section.icon"
                     [icon]="section.icon"></sn-icon>
            <span _an [innerHTML]="section.title | sanitizeHtml"></span>
          </sn-stack>
        </ng-template>

        <sn-stack _an data-state
                  [orientation]="ui.orientation.horizontal"
                  [align]="ui.align.center">
          <sn-spinner _an *ngIf="section.state === ui.state.loading"
                      data-loading></sn-spinner>
          <sn-icon _an *ngIf="section.state === ui.state.warning"
                   data-warning
                   [icon]="ui.icons.warning"></sn-icon>
          <sn-icon _an data-toggle
                   [icon]="ui.icons.selectClose"
                   [@rotate]="(active | includes: i) ? 'open' : 'close'"></sn-icon>
        </sn-stack>
      </div>
    </a>
    <div _an *ngIf="(active | includes: i)"
         data-wrapper
         [@collapse]=animate>
      <div _an data-content>
        <ng-container *ngTemplateOutlet="section.accordionContentTemplate"></ng-container>
      </div>
    </div>
  </ng-container>
</sn-stack>

