<sn-stack _sw data-wrapper
          [orientation]="ui.orientation.horizontal"
          [gutter]="ui.gutter.small"
          [align]="align">
  <div _sw data-form>
    <form _sw [formGroup]="form">
      <input _sw type="checkbox"
             formControlName="switch"
             (focusin)="focused = true"
             (focusout)="focused = false">
      <sn-stack _sw data-switch [orientation]="ui.orientation.horizontal"
                [gutter]="style === styles.hipster ? (size === ui.size.tiny || size === ui.size.small ? ui.gutter.small : ui.gutter.normal) : ui.gutter.tiny"
                [align]="ui.align.center"
                [justify]="ui.justify.center">
        <ng-container *ngIf="style === styles.default; else hipsterOnTemplate">
          <span _sw data-on *ngIf="tags?.on">{{tags.on}}</span>
        </ng-container>

        <ng-template #hipsterOnTemplate>
          <sn-icon _sw *ngIf="onIcon" [icon]="onIcon"></sn-icon>
        </ng-template>

        <div _sw data-slider>
          <sn-icon _sw *ngIf="onIcon && checked"
                   [icon]="onIcon"></sn-icon>
          <sn-icon _sw *ngIf="offIcon && !checked"
                   [icon]="offIcon"></sn-icon>
        </div>

        <ng-container *ngIf="style === styles.default; else hipsterOffTemplate">
          <span _sw data-off *ngIf="tags?.off">{{tags.off}}</span>
        </ng-container>

        <ng-template #hipsterOffTemplate>
          <sn-icon _sw *ngIf="offIcon" [icon]="offIcon"></sn-icon>
        </ng-template>
      </sn-stack>
    </form>
  </div>
  <label _sw>
    <ng-container *ngTemplateOutlet="!!labelTemplate ? labelTemplate : labelDefaultTemplate"></ng-container>
  </label>

  <ng-template #labelDefaultTemplate>
    <ng-container *ngIf="label">{{label}}</ng-container>
  </ng-template>
</sn-stack>
