@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';

@mixin vertical_line {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: '';
  border-left: 1px dotted silver;
}

@mixin horizontal_line {
  position: absolute;
  content: '';
  border-top: 1px dotted silver;
}

@mixin col-spacing($gutter) {
  & {
    margin-top: -$gutter;

    > :not(router-outlet) {
      margin-top: $gutter;
    }

    &[data-sn-features*='lines'] {
      margin-top: -$gutter * 2;

      > :not(router-outlet) {
        margin-top: $gutter * 2;
      }
    }

    &[data-sn-features*='lines'] > :not(router-outlet) {
      @media screen and (min-width: $sn-mobile-breakpoint) and (max-width: $sn-tablet-breakpoint - 1) {
        &[data-sn-mobile-first-in-line=false]:after {
          @include vertical_line;
        }

        &[data-sn-mobile-last-line=false]:before {
          @include horizontal_line;
          bottom: -$gutter;
        }
      }

      @media screen and (min-width: $sn-tablet-breakpoint) and (max-width: $sn-desktop-breakpoint - 1) {
        &[data-sn-tablet-first-in-line=false]:after {
          @include vertical_line;
        }

        &[data-sn-tablet-last-line=false]:before {
          @include horizontal_line;
          bottom: -$gutter;
        }
      }

      @media screen and (min-width: $sn-desktop-breakpoint) and (max-width: $sn-wide-breakpoint - 1) {
        &[data-sn-desktop-first-in-line=false]:after {
          @include vertical_line;
        }

        &[data-sn-desktop-last-line=false]:before {
          @include horizontal_line;
          bottom: -$gutter;
        }
      }

      @media screen and (min-width: $sn-wide-breakpoint) {
        &[data-sn-wide-first-in-line=false]:after {
          @include vertical_line;
        }

        &[data-sn-wide-last-line=false]:before {
          @include horizontal_line;
          bottom: -$gutter;
        }
      }
    }

  }
}

@mixin sn-grid-row($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    gutters: (
      tiny: $sn-gutter-tiny,
      small: $sn-gutter-small,
      normal: $sn-gutter-normal,
      big: $sn-gutter-big,
      large: $sn-gutter-large,
      huge: $sn-gutter-huge
    )
  );

  $vars: $passed;
  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  #{if($context, $context, $sn-row-host)} {
    @if $declare {
      display: flex;
      text-align: left;
      flex-wrap: wrap;

      &[data-sn-align='start'] {
        align-items: flex-start;
      }
      &[data-sn-align='center'] {
        align-items: center;
      }
      &[data-sn-align='end'] {
        align-items: flex-end;
      }
      &[data-sn-align='stretch'] {
        align-items: stretch;
      }

      &[data-sn-justify='start'] {
        justify-content: flex-start;
      }
      &[data-sn-justify='center'] {
        justify-content: center;
      }
      &[data-sn-justify='end'] {
        justify-content: flex-end;
      }
      &[data-sn-justify='between'] {
        justify-content: space-between;
      }
      &[data-sn-justify='around'] {
        justify-content: space-around;
      }
      &[data-sn-justify='evenly'] {
        justify-content: space-evenly;
      }
    }

    @if map-has-key($vars, gutters) {
      $gutters: map-get($vars, gutters);
      @each $gutter, $map in $gutters {
        &[data-sn-spacing = '#{$gutter}'] {
          @include col-spacing($map);
        }
        &[data-sn-gutter = '#{$gutter}'] {
          margin-left: -$map;
          margin-right: -$map;

          > * {
            padding-left: $map;
            padding-right: $map;
          }

          &[data-sn-features*='lines'] > :not(router-outlet) {
            @media screen and (min-width: $sn-mobile-breakpoint) and (max-width: $sn-tablet-breakpoint - 1) {
              &[data-sn-mobile-first-in-line=true]:before {
                left: $map;
              }

              &[data-sn-mobile-last-in-line=true]:before {
                right: $map;
              }

              &[data-sn-mobile-first-in-line=false]:before {
                left: 0;
              }

              &[data-sn-mobile-last-in-line=false]:before {
                right: 0;
              }
            }

            @media screen and (min-width: $sn-tablet-breakpoint) and (max-width: $sn-desktop-breakpoint - 1) {
              &[data-sn-tablet-first-in-line=true]:before {
                left: $map;
              }

              &[data-sn-tablet-last-in-line=true]:before {
                right: $map;
              }

              &[data-sn-tablet-first-in-line=false]:before {
                left: 0;
              }

              &[data-sn-tablet-last-in-line=false]:before {
                right: 0;
              }
            }

            @media screen and (min-width: $sn-desktop-breakpoint) and (max-width: $sn-wide-breakpoint - 1) {
              &[data-sn-desktop-first-in-line=true]:before {
                left: $map;
              }

              &[data-sn-desktop-last-in-line=true]:before {
                right: $map;
              }

              &[data-sn-desktop-first-in-line=false]:before {
                left: 0;
              }

              &[data-sn-desktop-last-in-line=false]:before {
                right: 0;
              }
            }

            @media screen and (min-width: $sn-wide-breakpoint) {
              &[data-sn-wide-first-in-line=true]:before {
                left: $map;
              }

              &[data-sn-wide-last-in-line=true]:before {
                right: $map;
              }

              &[data-sn-wide-first-in-line=false]:before {
                left: 0;
              }

              &[data-sn-wide-last-in-line=false]:before {
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@if $sn-debug {
  @debug 'row compiled';
}
