<sn-container>
  <sn-app-page-header [icon]="section.icon"
                       title="Navigation"
                       i18n-title="@@label.navigation"></sn-app-page-header>
  <app-section [section]="section"></app-section>
</sn-container>
