<sn-container>

  <sn-app-page-header [icon]="localUi.icons.table"
                      title="Table"
                      i18n-title="@@label.table"
                      [teaser]="handbook.collections.components.table.teaser">

    <ng-template #headerActionsTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-link [icon]="ui.icons.gitlab"
                 [outline]="ui.outline.ghost"
                 [source]="gitlab"
                 target="_blank" title="GitLab"
                 i18n-title="@@action.gitlab">
        </sn-link>
        <sn-link [icon]="ui.icons.figma"
                 [outline]="ui.outline.ghost"
                 [source]="figma"
                 target="_blank" title="Figma"
                 i18n-title="@@action.figma">
        </sn-link>
      </sn-stack>

    </ng-template>
  </sn-app-page-header>

  <sn-tabs #tabs [features]="[ui.feature.adapted]">

    <sn-tab title="Preview"
            i18n-title="@@label.preview"
            [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch">
          <sn-form [formGroup]="builder">
            <sn-form-item>
              <sn-form-label i18n="@@label.features">Features
              </sn-form-label>
              <sn-row>
                <sn-col [tablet]="2" [mobile]="6">
                  <sn-checkbox formControlName="search"
                               label="Search"
                               i18n-label="@@label.search"></sn-checkbox>
                </sn-col>
                <sn-col [tablet]="2" [mobile]="6">
                  <sn-checkbox formControlName="reload"
                               label="Reload"
                               i18n-label="@@label.reload"></sn-checkbox>
                </sn-col>
                <sn-col [tablet]="2" [mobile]="6">
                  <sn-checkbox formControlName="filter"
                               label="Filter"
                               i18n-label="@@label.filter"></sn-checkbox>
                </sn-col>
                <sn-col [tablet]="2" [mobile]="6">
                  <sn-checkbox formControlName="actions"
                               label="Actions"
                               i18n-label="@@label.actions"></sn-checkbox>
                </sn-col>
                <sn-col [tablet]="2" [mobile]="6">
                  <sn-checkbox formControlName="rowActions"
                               label="Row actions"
                               i18n-label="@@label.rowActions"></sn-checkbox>
                </sn-col>
              </sn-row>
            </sn-form-item>
          </sn-form>

          <app-browser-preview preview>
            <ng-template #document let-width="width" let-height="height">
              <app-table-data [state]="state"
                              (filtered)="save($event)"
                              [sections]="[
                                actionsControl.value ? sections.actions : null,
                                rowActionsControl.value ? sections.rowActions : null,
                                reloadControl.value ? sections.reload : null,
                                searchControl.value ? sections.search : null,
                                filterControl.value ? sections.filter : null
                              ]">
              </app-table-data>
            </ng-template>
          </app-browser-preview>

        </sn-stack>
      </ng-template>
    </sn-tab>

    <sn-tab title="Code"
            i18n-title="@@label.code"
            [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <sn-accordion [active]="[1]">
          <sn-accordion-section title="How to start"
                                i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'table-test', type: 'TableTestComponent'}"
                scss="collections/table">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
<![CDATA[
  import { Component, OnInit } from '@angular/core';
  import {UI} from "@esanum/ui";

  @Component({
    selector: 'app-table-test',
    templateUrl: './table-test.component.html',
    styleUrls: ['./table-test.component.scss']
  })


  export class TableTestComponent implements OnInit {

    ui = UI;

    jobs = [
      {
        id: 0,
        person: 'Ilon Mask',
        job: 'director'
      },
      {
        id: 1,
        person: 'Tony Smith',
        job: 'developer'
      }
    ];

    constructor() { }

    ngOnInit(): void {
    }

  } ]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </sn-accordion-section>
          <sn-accordion-section title="Component template"
                                i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="table-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<sn-block [width]="ui.width.fluid" [padding]="ui.gutter.none">
  <sn-form>
    <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.normal">
      <sn-table #table formControlName="table" ]]>
        <![CDATA[[features]="[]]>
          <ng-container *ngIf="searchControl.value">ui.feature.search</ng-container>
          <ng-container *ngIf="searchControl.value && reloadControl.value">, </ng-container>
          <ng-container *ngIf="reloadControl.value">ui.feature.reload</ng-container>
        <![CDATA[]"]]>
        <![CDATA[>
        <sn-table-column title="#" sort="id">
          <ng-template #tableCellTemplate let-id="id">
            ]]>
            {{<![CDATA[id]]>}}
            <![CDATA[
          </ng-template>
        </sn-table-column>
        ]]>

        <![CDATA[
        <sn-table-column title="Person"
                          sort="person">
          <ng-template #tableCellTemplate let-person="person">
            ]]>
            {{<![CDATA[person]]>}}
            <![CDATA[
          </ng-template>
        </sn-table-column>
        <sn-table-column title="Job"
                          sort="job">
          <ng-template #tableCellTemplate let-job="job">
            ]]>
            {{<![CDATA[job]]>}}
            <![CDATA[
          </ng-template>
        </sn-table-column>
        ]]>
        <ng-container *ngIf="actionsControl.value">
          <![CDATA[
          <ng-template #tableRowActionsTemplate let-row="row" let-hide="hide">
            <sn-menu [orientation]="ui.orientation.vertical" [gutter]="ui.size.small">
              <sn-menu-item title="Edit" (click)="hide()"></sn-menu-item>
              <sn-menu-item title="Delete" (click)="hide()"></sn-menu-item>
            </sn-menu>
          </ng-template>
          ]]>
        </ng-container>

        <ng-container *ngIf="filterControl.value">
          <![CDATA[
          <ng-template #tableFiltersTemplate>
            <sn-select formControlName="job"
                        placeholder="Select job">
              <sn-select-option *ngFor="let job of jobs" [label]="job" [key]="job"></sn-select-option>
            </sn-select>
          </ng-template>
          ]]>
        </ng-container>
        <![CDATA[
      </sn-table>
    </sn-stack>
  </sn-form>
</sn-block>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </sn-accordion-section>
        </sn-accordion>
      </ng-template>
    </sn-tab>

    <sn-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
          <app-component-api selector="sn-table"
                             [api]="api.table">
          </app-component-api>
          <app-component-api selector="sn-table-column"
                             [api]="api.column">
          </app-component-api>
        </sn-stack>
      </ng-template>
    </sn-tab>

  </sn-tabs>
</sn-container>

