@import 'sn-variables';
@import 'sn-functions';
@import 'sn-hosts';
@import 'forms/image-cropper';

@mixin sn-image-uploader($passed: (), $context: null, $strategy: 'changes') {

  $defs: (
    cropper: (
      min-height: 300px,
      min-width: 200px
    )
  );

  $vars: $passed;
  $declare: false;

  $wrapper: null;
  @if $sn-ng-deep {
    $wrapper: '::ng-deep';
  }

  @if $passed == () or $strategy == 'merge' {
    $vars: recursive-map-merge($defs, $passed);
    $declare: true;
  }

  :host {
    @if $declare {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border: 1px solid $sn-control-border-color;
      box-sizing: border-box;
      padding: $sn-gutter-normal;
      border-radius: $sn-corner-small;
      background: $sn-control-background;
    }
  }

  [data-picture] {
    flex: 1;
  }

  [data-select-file] {
    @if $declare {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
      width: 100%;
      opacity: 0;
      z-index: 1;
    }
  }

  [data-cropper] {
    @if $declare {
      flex: 1;
    }
  }

  #{if($context, $context, $sn-image-uploader-host)} {
    $cropper: map-get($vars, cropper);
    @include sn-image-cropper((
      min-height: map-get($cropper, min-height),
      min-width: map-get($cropper, min-width)
    ), '&');
  }
}
