$sn-theme-type: 'dark';

$sn-white-color: white;
$sn-gray-100: #F5F5F5;
$sn-gray-200: #F7F7F7;
$sn-gray-300: #F0F0F0;
$sn-gray-400: #E9E9E9;
$sn-gray-500: #F3F4FC;
$sn-gray-600: #C4C4C4;
$sn-gray-700: #D0D0D0;
$sn-gray-800: #828282;
$sn-gray-900: #4F4F4F;
$sn-gray-dark: #262626;
$sn-purple-color: #3949AB;
$sn-purple-light-color: #6F74DD;

$sn-gray-dark-100: #121212;

$sn-muted-color: $sn-gray-800;

$sn-primary-text-color: $sn-gray-200;
$sn-primary-text-dark-color: $sn-gray-100;
$sn-primary-text-light-color: $sn-gray-600;

$sn-primary-background: $sn-gray-dark;
$sn-secondary-background: $sn-gray-dark-100;
$sn-page-background: $sn-gray-dark-100;
$sn-highlight-background: #353535;

$sn-primary-400-color: #407f89;

$sn-control-border-color: $sn-gray-900;

$sn-control-field-label-color: $sn-primary-text-light-color;
$sn-control-field-label-border-color: $sn-gray-900;

$sn-control-disabled-indicator-icon-color: $sn-gray-600;
$sn-control-disabled-border-color: $sn-gray-900;
$sn-control-disabled-background: #343434;
$sn-control-disabled-label-color: $sn-gray-900;

$sn-shadow-light: 0px 4px 10px rgba($sn-white-color, 0.15);
$sn-shadow-normal: 0px 2px 8px rgba($sn-white-color, 0.25);

$sn-body-color: $sn-primary-text-color;

@import 'sn-variables';

[theme='dark'] {
  @import 'sn-all';
  @import 'highlight/gml';
}

@if $sn-debug {
  @debug 'dark theme is compiled';
}
