@import 'sn-variables';
@import 'sn-hosts';

@mixin sn-app-header-actions($passed: (), $context: null, $strategy: 'changes') {

  $declare: false;

  @if $passed == () or $strategy == 'merge' {
    $declare: true;
  }

  #{if($context, $context, $sn-app-header-actions-host)} {
    @if $declare {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: stretch;
    }
  }
}

@if $sn-debug {
  @debug 'app-header-actions compiled';
}
