<form [formGroup]="form">
  <sn-select formControlName="lang"
             [size]="ui.size.small"
             [width]="ui.width.fluid"
             [placement]="ui.placement.fixed">
    <sn-select-option [icon]="ui.icons.unitedStatesOfAmerica"
                      label="EN"
                      i18n-label="@@label.en"
                      [key]="langs.en"></sn-select-option>
    <sn-select-option [icon]="ui.icons.russia"
                      label="RU"
                      i18n-label="@@label.ru"
                      [key]="langs.ru"></sn-select-option>
  </sn-select>
</form>
