<sn-stack [orientation]="ui.orientation.horizontal">
  <sn-link *ngIf="gitlab"
            [appAnalytics]="{ type: analyticsType.goal, goal: 'GitLab' }"
            [icon]="ui.icons.gitlab"
            [outline]="ui.outline.ghost"
            [source]="gitlab"
            target="_blank" title="GitLab">
  </sn-link>
  <sn-link *ngIf="figma"
            [appAnalytics]="{ type: analyticsType.goal, goal: 'Figma' }"
            [icon]="ui.icons.figma"
            [outline]="ui.outline.ghost"
            [source]="figma"
            target="_blank" title="Figma">
  </sn-link>
</sn-stack>
