@import 'sn-variables';
@import 'layout/responsive';

:host {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  @include for-mobile() {
    position: relative;
    margin-bottom: $sn-gutter-normal;
  }
}
