<sn-container>

  <sn-app-page-header [icon]="localUi.icons.grid"
                       title="Grid"
                       i18n-title="@@label.grid"
                       [teaser]="handbook.layout.components.grid.teaser">

    <ng-template #headerActionsTemplate>
      <sn-link [icon]="ui.icons.gitlab"
                [outline]="ui.outline.ghost"
                [source]="gitlab"
                target="_blank" title="GitLab"
                i18n-title="@@action.gitlab">
      </sn-link>

    </ng-template>
  </sn-app-page-header>

  <sn-stack [align]="ui.align.stretch">

    <div teaser [ngSwitch]="locale">
      <ng-container *ngSwitchDefault>
        <p>Grid is a modern and flexible approach to display elements depending on device width.</p>
        <p>Please, use <b>rows</b> and <b>cols</b> to organize elements.</p>
      </ng-container>
      <ng-container *ngSwitchCase="language.ru">
        <p> Grid - это современный и гибкий подход к отображению элементов в зависимости от ширины устройства. </p>
        <p> Используйте <b> rows </b> и <b> cols </b> для организации элементов. </p>
      </ng-container>
    </div>

    <sn-tabs #tabs [features]="[ui.feature.adapted]">
      <sn-tab title="Preview"
               i18n-title="@@label.preview"
               [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <sn-row>
            <sn-col [tablet]="8">
              <app-browser-preview [padding]="ui.gutter.none">
                <ng-template #document let-height="height">
                  <sn-container>
                    <sn-row [align]="alignControl.value"
                            [justify]="justifyControl.value"
                            [gutter]="gutterControl.value"
                            [spacing]="spacingControl.value"
                            [features]="linesControl.value ? [ui.feature.lines] : []">
                      <sn-col *ngFor="let block of countControl.value | mockArray"
                               [span]="spanControl.value">
                        <div block
                             [style.height.px]="alignControl.value !== ui.align.stretch || (block + 1) % (12 / (spanControl.value || 1)) === 0 ? 40 + 20 * (block % (12 / (spanControl.value || 1))) : null">
                          {{block + 1}}
                        </div>
                      </sn-col>
                    </sn-row>
                  </sn-container>
                </ng-template>
              </app-browser-preview>
            </sn-col>
            <sn-col [tablet]="4">
              <sn-form [formGroup]="builder">
                <sn-stack [align]="ui.align.stretch">

                  <sn-form-item>
                    <sn-form-label for="count">Column count</sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="count">
                        <sn-select-option *ngFor="let count of 24 | mockArray: 1"
                                           [label]="count"
                                           [key]="count"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="span"
                                    i18n="@@label.column_span">Column span</sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="span">
                        <sn-select-option *ngFor="let count of 12 | mockArray: 1"
                                           [label]="count"
                                           [key]="count"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="spacing"
                                    i18n="@@label.spacing">Spacing</sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="spacing"
                                  placeholder="Normal"
                                  i18n-placeholder="@@label.normal"
                                  [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="None"
                                           i18n-label="@@label.none"
                                           [key]="ui.gutter.none"></sn-select-option>
                        <sn-select-option label="Tiny"
                                           i18n-label="@@label.tiny"
                                           [icon]="localUi.icons.gutter.tiny"
                                           [key]="ui.gutter.tiny"></sn-select-option>
                        <sn-select-option label="Small"
                                           i18n-label="@@label.small"
                                           [icon]="localUi.icons.gutter.small"
                                           [key]="ui.gutter.small"></sn-select-option>
                        <sn-select-option label="Normal"
                                           i18n-label="@@label.normal"
                                           [icon]="localUi.icons.gutter.normal"
                                           [key]="ui.gutter.normal"></sn-select-option>
                        <sn-select-option label="Big"
                                           i18n-label="@@label.big"
                                           [icon]="localUi.icons.gutter.big"
                                           [key]="ui.gutter.big"></sn-select-option>
                        <sn-select-option label="Large"
                                           i18n-label="@@label.large"
                                           [icon]="localUi.icons.gutter.large"
                                           [key]="ui.gutter.large"></sn-select-option>
                        <sn-select-option label="Huge"
                                           i18n-label="@@label.huge"
                                           [icon]="localUi.icons.gutter.huge"
                                           [key]="ui.gutter.huge"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="align"
                                    i18n="@@label.align">Align</sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="align"
                                  placeholder="Start"
                                  i18n-placeholder="@@label.start"
                                  [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="Start"
                                           i18n-label="@@label.start"
                                           [icon]="localUi.icons.start"
                                           [key]="ui.align.start"></sn-select-option>
                        <sn-select-option label="Center"
                                           i18n-label="@@label.center"
                                           [icon]="localUi.icons.center"
                                           [key]="ui.align.center"></sn-select-option>
                        <sn-select-option label="End"
                                           i18n-label="@@label.end"
                                           [icon]="localUi.icons.end"
                                           [key]="ui.align.end"></sn-select-option>
                        <sn-select-option label="Stretch"
                                           i18n-label="@@label.scretch"
                                           [icon]="localUi.icons.stretch"
                                           [key]="ui.align.stretch"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="justify"
                                    i18n="@@label.justify">Justify</sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="justify"
                                  placeholder="Start"
                                  i18n-placeholder="@@label.start"
                                  [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="Start"
                                           i18n-label="@@label.start"
                                           [icon]="localUi.icons.start"
                                           [key]="ui.justify.start"></sn-select-option>
                        <sn-select-option label="Center"
                                           i18n-label="@@label.center"
                                           [icon]="localUi.icons.center"
                                           [key]="ui.justify.center"></sn-select-option>
                        <sn-select-option label="End"
                                           i18n-label="@@label.end"
                                           [icon]="localUi.icons.end"
                                           [key]="ui.justify.end"></sn-select-option>
                        <sn-select-option label="Between"
                                           i18n-label="@@label.between"
                                           [icon]="localUi.icons.between"
                                           [key]="ui.justify.between"></sn-select-option>
                        <sn-select-option label="Around"
                                           i18n-label="@@label.around"
                                           [icon]="localUi.icons.around"
                                           [key]="ui.justify.around"></sn-select-option>
                        <sn-select-option label="Evenly"
                                           i18n-label="@@label.evenly"
                                           [icon]="localUi.icons.evenly"
                                           [key]="ui.justify.evenly"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-form-label for="gutter"
                                    i18n="@@label.column_padding">Gutter</sn-form-label>
                    <sn-form-control>
                      <sn-select formControlName="gutter"
                                  placeholder="Small"
                                  i18n-placeholder="@@label.small"
                                  [features]="[ui.feature.allowEmpty]">
                        <sn-select-option label="None"
                                           i18n-label="@@label.none"
                                           [key]="ui.gutter.none"></sn-select-option>
                        <sn-select-option label="Tiny"
                                           i18n-label="@@label.tiny"
                                           [icon]="localUi.icons.gutter.tiny"
                                           [key]="ui.gutter.tiny"></sn-select-option>
                        <sn-select-option label="Small"
                                           i18n-label="@@label.small"
                                           [icon]="localUi.icons.gutter.small"
                                           [key]="ui.gutter.small"></sn-select-option>
                        <sn-select-option label="Normal"
                                           i18n-label="@@label.normal"
                                           [icon]="localUi.icons.gutter.normal"
                                           [key]="ui.gutter.normal"></sn-select-option>
                        <sn-select-option label="Big"
                                           i18n-label="@@label.big"
                                           [icon]="localUi.icons.gutter.big"
                                           [key]="ui.gutter.big"></sn-select-option>
                        <sn-select-option label="Large"
                                           i18n-label="@@label.large"
                                           [icon]="localUi.icons.gutter.large"
                                           [key]="ui.gutter.large"></sn-select-option>
                        <sn-select-option label="Huge"
                                           i18n-label="@@label.huge"
                                           [icon]="localUi.icons.gutter.huge"
                                           [key]="ui.gutter.huge"></sn-select-option>
                      </sn-select>
                    </sn-form-control>
                  </sn-form-item>

                  <sn-form-item>
                    <sn-checkbox formControlName="lines"
                                 label="Lines"
                                 i18n-label="@@label.lines"></sn-checkbox>
                  </sn-form-item>

                </sn-stack>
              </sn-form>
            </sn-col>
          </sn-row>

        </ng-template>
      </sn-tab>

      <sn-tab title="Code"
             i18n-title="@@label.code"
             [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <sn-accordion [active]="[1]">
            <sn-accordion-section title="How to start"
                                   i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'grid-test', type: 'GridTestComponent'}"
                  scss="layout/grid"></app-how-to-use>
              </ng-template>
            </sn-accordion-section>
            <sn-accordion-section title="Component template"
                                   i18n-title="@@label.component_template">
              <ng-template #accordionContentTemplate>
                <app-code-highlight file="grid-test.template.html">
<!-- @formatter:off-->
<![CDATA[
<sn-container>
  <sn-row
  ]]>
  <ng-container *ngIf="spacingControl.value">
    <![CDATA[
    [spacing]="ui.gutter.]]>{{spacingControl.value}}<![CDATA["]]>
  </ng-container>
    <ng-container *ngIf="gutterControl.value">
      <![CDATA[
      [gutter]="ui.gutter.]]>{{gutterControl.value}}<![CDATA["]]>
    </ng-container>
  <ng-container *ngIf="alignControl.value">
    <![CDATA[
    [align]="ui.align.]]>{{alignControl.value}}<![CDATA["]]>
  </ng-container>
    <ng-container *ngIf="justifyControl.value">
      <![CDATA[
      [justify]="ui.justify.]]>{{justifyControl.value}}<![CDATA["]]>
    </ng-container>
  <![CDATA[>]]>
  <ng-container *ngFor="let i of countControl.value | mockArray">
    <![CDATA[
    <sn-col
    ]]>
      <ng-container *ngIf="spanControl.value">
        <![CDATA[
        [span]="]]>{{spanControl.value}}<![CDATA["]]>
      </ng-container>
      <![CDATA[>
      <div>]]>{{i + 1}}<![CDATA[</div>
    </sn-col>
      ]]>
  </ng-container>

  <![CDATA[
  </sn-row>
</sn-container>
]]>
                  <!-- @formatter:on-->
                </app-code-highlight>
              </ng-template>
            </sn-accordion-section>
          </sn-accordion>
        </ng-template>
      </sn-tab>

      <sn-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <sn-stack [align]="ui.align.stretch" [gutter]="ui.gutter.big">
            <app-component-api selector="sn-container"
                               [api]="api.container">
            </app-component-api>
            <app-component-api selector="sn-row"
                               [api]="api.row">
            </app-component-api>
            <app-component-api selector="sn-column"
                               [api]="api.column">
            </app-component-api>
          </sn-stack>
        </ng-template>
      </sn-tab>

    </sn-tabs>

  </sn-stack>
</sn-container>
